In [2]:
import pandas as pd

data = {
    'Дата': ['01.01.2024', '12.01.2024', '21.04.2024', '13.11.2023'],
    'Наименование товара': ['Плюшевый медведь', 'Конструктор Lego', 'Настольная игра', 'Игровая приставка'],
    'Количество': [12, 7, 11, 3],
    'Цена': [250, 780, 345, 5200]
}

df = pd.DataFrame(data=data)
df.head()

         Дата Наименование товара  Количество  Цена
0  01.01.2024    Плюшевый медведь          12   250
1  12.01.2024    Конструктор Lego           7   780
2  21.04.2024     Настольная игра          11   345
3  13.11.2023   Игровая приставка           3  5200

In [12]:
revenue = sum(df['Количество'] * df['Цена'])
most_popular = df.loc[df['Количество'].idxmax(), 'Наименование товара']

print(f'''Общая выручка за квартал : {revenue}. 
Наиболее продаваемый товар (по количеству проданных единиц) : {most_popular}.''')

Общая выручка за квартал : 27855.
Наиболее продаваемый товар (по количеству проданных единиц) : Плюшевый медведь.