# Визуализация прогресса выполнения кода

In [1698]:
# from tqdm.notebook import tqdm

# import numpy as np

# w, b = 2, 3

# basket = ['w']*w + ['b']*b

# # number of multiverse
# n = 10**5

# success = 0

# for _ in tqdm(range(n)):
#     s1, s2 = np.random.choice(w+b, size=2, replace=False)
#     if basket[s1]==basket[s2]:
#         success += 1

# print(success/n)

# 2.2 Команды print и input, переменные

In [1699]:
# my_list = list(input() for _ in range(3))
my_list = [i for i in ['Раз', 'Два', 'Три']]

my_list

['Раз', 'Два', 'Три']

In [1700]:
print(*(elem for elem in my_list), sep='\n')

Раз
Два
Три

In [1701]:
print(*(elem for elem in my_list[::-1]), sep='\n')

Три
Два
Раз

In [1702]:
a = 18
a = 5

print(('Не принадлежит', 'Принадлежит')[a > -1 and a < 17])

Принадлежит

In [1703]:
# a1, d, n = [int(input()) for _ in range(3)]

In [1704]:
# x = int(input())
x = 7

print(*[i* x for i in range (1, 6)], sep='---')

7---14---21---28---35

In [1705]:
a = 15 // (16 % 7)
b = 34 % a * 5 - 29 % 5 * 2
print(a + b)

29

In [1706]:
m = 150

print(f'{m} мин - это {m // 60} час {m % 60} минут.')

150 мин - это 2 час 30 минут.

In [1707]:
# Цифры в числе

n = 1612387

arr = [n % 10**(len(str(n)) - i) // 10**(len(str(n)) - 1 - i) for i in range(len(str(n)))]

print(*arr, sep='\n')

1
6
1
2
3
8
7

In [1708]:
n = 2412

a, b, c, d = [n % 10**(len(str(n)) - i) // 10**(len(str(n)) - 1 - i) for i in range(len(str(n)))]

print(f'''Цифра в позиции тысяч равна {a}
Цифра в позиции сотен равна {b}
Цифра в позиции десятков равна {c}
Цифра в позиции единиц равна {d}''')

Цифра в позиции тысяч равна 2
Цифра в позиции сотен равна 4
Цифра в позиции десятков равна 1
Цифра в позиции единиц равна 2

In [1709]:
# a, b, c = [int(input()) for _ in range(3)]

# a,b,c

# 4.2 Логические операции

In [1710]:
# age = int(input())
age = 24

get_status = lambda x: 'детство' if x <= 13 else 'молодость' if 13 < x <= 24 else 'зрелость' if 24 < x <= 59 else 'старость'
get_status(age)

'молодость'

In [1711]:
# Даны две различные клетки шахматной доски. Напишите программу, которая определяет, может ли ладья попасть с первой клетки на вторую одним ходом. 
# Программа получает на вход четыре числа, каждое, задающие номер столбца и номер строки сначала для первой клетки, потом для второй клетки. 
# Программа должна вывести «YES», если из первой клетки ходом ладьи можно попасть во вторую, или «NO» в противном случае.

# x1, y1, x2, y2 = [int(input()) for _ in range(4)]

def result(x1, y1, x2, y2):
    if ((x1 == x2) and (y1 == y2)) or not all( 1 <= item <= 8 for item in [x1, y1, x2, y2]):
        print('NO')
    else:
        if ((x1 == x2) or (y1 == y2)):
            print('YES')
        else:
            print('NO')

x1, y1, x2, y2 = 4, 4, 3, 4

result(x1, y1, x2, y2)

YES

In [1712]:
# Даны две различные клетки шахматной доски. Напишите программу, которая определяет, может ли король попасть с первой клетки на вторую одним ходом. 
# Программа получает на вход четыре числа, каждое, задающие номер столбца и номер строки сначала для первой клетки, потом для второй клетки. 
# Программа должна вывести «YES», если из первой клетки ходом короля можно попасть во вторую, или «NO» в противном случае.

def result(x1, y1, x2, y2):
    if ((x1 == x2) and (y1 == y2)) or not all( 1 <= item <= 8 for item in [x1, y1, x2, y2]):
        print('NO')
    else:
        if abs(x2 - x1) <= 1 and abs(y2 - y1) <= 1:
            print('YES')
        else:
            print('NO')

x1, y1, x2, y2 = 7, 1, 8, 2

result(x1, y1, x2, y2)

YES

# 4.3 Вложенные и каскадные условия

In [1713]:
# n, k = int(input()), int(input())
n, k = 20, 20

print("Don't know" if n == k else ('YES', 'NO')[n > k])

Don't know

In [1714]:
# a, b, c = [int(input()) for _ in range(3)]

def trg(a, b, c):
    if a == b == c:
        print('Равносторонний')
    elif a != b != c and b != c != a:
        print('Разносторонний')
    else:
        print('Равнобедренный')


trg(145, 145, 139)
trg(59, 59, 59)
trg(890, 199, 700)

Равнобедренный
Равносторонний
Разносторонний

In [1715]:
# arr = [int(input()) for _ in range(3)]

arr = [1, 2, 3]

for num in arr[0:3]:
    if (num != min(arr)) and (num != max(arr)):
        res = num
res

2

In [1716]:
num_days = [30 if i in [4, 6, 9, 11] else 28 if i == 2 else 31 for i in range(1, 13)]
months = range(1, 13)

months_days = {k: v for (k, v) in zip(months, num_days)}

# month_number = int(input())

month_number = 2

print(months_days[month_number])

28

In [1717]:
get_cat = lambda x: 'Легкий вес' if x < 60 else 'Первый полусредний вес' if x < 64 else 'Полусредний вес' if x < 69 else 'Неопределено'

m = 68

get_cat(m)

'Полусредний вес'

In [1718]:
# Калькулятор

def calc(a, b, op):
    if op == '+':
        return a + b
    elif op == '-':
        return a - b
    elif op == '*':
        return a * b
    elif op == '/':
        if b == 0:
            return f'На ноль делить нельзя!'
        return a / b
    return f'Неверная операция'

# a, b = int(input()), int(input())
# op = input()

a, b = 8, 4
op = '/'

calc(a, b, op)

2.0

In [1719]:
# если смешать красный и синий, то получится фиолетовый;
# если смешать красный и желтый, то получится оранжевый;
# если смешать синий и желтый, то получится зеленый.

my_dict = {'фиолетовый': {'красный', 'синий'},
           'оранжевый': {'красный', 'желтый'},
           'зеленый': {'синий', 'желтый'}}

# color_set = {input(), input()}

def get_color(colors):
    if all([item in ('красный', 'синий', 'желтый') for item in colors]):
        for key, val in my_dict.items():
            if val == colors:
                return key
            if len(colors) == 1:
                return list(colors)[0]
    return f'ошибка цвета'

color_set1 = {'красный', 'синий'}
color_set2 = {'желтый', 'красный'}
color_set3 = {'желтый', 'желтый'}
color_set4 = {'что-то', 'синий'}
color_set5 = {'красный', 'черный'}
color_set6 = {'желтый', 'синий'}
color_set7 = {'синий', 'желтый'}

color_sets = []

for color_set in [eval(f'color_set{i}') for i in range(1, 8)]:
    print(f'Смешиваем {list(color_set)} и получаем {get_color(color_set)}')

Смешиваем ['красный', 'синий'] и получаем фиолетовый
Смешиваем ['красный', 'желтый'] и получаем оранжевый
Смешиваем ['желтый'] и получаем желтый
Смешиваем ['что-то', 'синий'] и получаем ошибка цвета
Смешиваем ['красный', 'черный'] и получаем ошибка цвета
Смешиваем ['синий', 'желтый'] и получаем зеленый
Смешиваем ['синий', 'желтый'] и получаем зеленый

In [1720]:
# карман 0 зеленый;
# для карманов с 1 по 10 карманы с нечетным номером имеют красный цвет, карманы с четным номером – черный;
# для карманов с 11 по 18 карманы с нечетным номером имеют черный цвет, карманы с четным номером – красный;
# для карманов с 19 по 28 карманы с нечетным номером имеют красный цвет, карманы с четным номером – черный;
# для карманов с 29 по 36 карманы с нечетным номером имеют черный цвет, карманы с четным номером – красный.

rol_dict = {0: 'зеленый'}
rol_dict1 = {k: v for (k, v) in zip([i for i in range (1, 11)], [('красный', 'черный')[i % 2 == 0] for i in range (1, 11)])}
rol_dict2 = {k: v for (k, v) in zip([i for i in range (11, 19)], [('красный', 'черный')[i % 2 == 1] for i in range (11, 19)])}
rol_dict3 = {k: v for (k, v) in zip([i for i in range (19, 29)], [('красный', 'черный')[i % 2 == 0] for i in range (19, 29)])}
rol_dict4 = {k: v for (k, v) in zip([i for i in range (29, 37)], [('красный', 'черный')[i % 2 == 1] for i in range (29, 37)])}

rol_dict.update(rol_dict1)
rol_dict.update(rol_dict2)
rol_dict.update(rol_dict3)
rol_dict.update(rol_dict4)

# x = int(input())

x = 5

if x in range(0, 37):
    print(rol_dict[x])
else:
    print('ошибка ввода')

красный

In [1721]:
# На числовой прямой даны два отрезка: [a1; b1] и [a2; b2].
# Напишите программу, которая находит их пересечение.

# a1, b1, a2, b2 = [int(input()) for _ in range(4)]

a1, b1, a2, b2 = 4, 30, 22, 25

line_1 = set(range(a1, b1 + 1))
line_2 = set(range(a2, b2 + 1))

print(line_1, line_2)

intersection = sorted(list(line_1.intersection(line_2)))
if len(intersection) >= 2:
    print(intersection[0], intersection[-1])
elif len(intersection) == 1:
    print(intersection[0])
else:
    print('пустое множество')

{4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30} {24, 25, 22, 23}
22 25

In [1722]:
if min(b1, b2) < max(a1, a2): 
    print('пустое множество')
elif min(b1, b2) == max(a1, a2):
    print(min(b1, b2))
else:
    print(max(a1, a2), min(b1, b2))

22 25

# 6.1 Числовые типы данных: int, float

In [1723]:
# На вход программе подаётся число n – количество собачьих лет. Напишите программу, которая вычисляет возраст собаки в человеческих годах по следующему алгоритму: 
# в течение первых двух лет собачий год равен 10.5 человеческим годам, 
# после этого каждый год собаки равен 4 человеческим годам.

n = 3

if n > 2:
    print(2 * 10.5 + 4 * (n - 2))
else:
    print(10.5 * n)

print(min(2, n) * 10.5 + max(n - 2, 0) * 4)

25.0
25.0

In [1724]:
# Дано положительное действительное число. Выведите его первую цифру после десятичной точки.

# n = float(input())
n = 459933200.23

int(n * 10) - int(n) * 10

2

In [1725]:
# Назовём число интересным, если в нём разность максимальной и минимальной цифры равняется средней по величине цифре. 
# Напишите программу, которая определяет, интересное число или нет. 
# Если число интересное, следует вывести «Число интересное», иначе – «Число неинтересное».

n = 945

arr = sorted([int(i) for i in str(n)])

print(('Число неинтересное', 'Число интересное')[arr[2] - arr[0] == arr[1]])

Число интересное

# 6.2 Строковый тип данных

In [1726]:
# Даны названия трёх городов. Напишите программу, которая определяет самое короткое и самое длинное название города.
# keys = [input() for _ in range(3)]
keys = ['Париж', 'Марсель' , 'Лион']

cities_dict = {len(k): k for k in keys}
print(cities_dict.get(min(cities_dict)), cities_dict.get(max(cities_dict)), sep='\n')

Лион
Марсель

In [1727]:
# a, b, c = input(), input(), input()
a, b, c = ['Париж', 'Марсель' , 'Лион']

print(min(a, b, c, key=len ))
print(max(a, b, c, key=len ))

Лион
Марсель

In [1728]:
words = '''Без меня, ребятки Дома сидите, какие вам космосы Бабушка сказала бы Бездельники И вообще, 
         ракета летит по параболе Дома сидите, какие вам космосы Так бы и подумала И вообще, ракета летит по параболе Да это без разницы 
         Может по нормированным параметрам от множества систем принимается решение об изменении другого параметра Не об этом думать хочу в жизни есть более важные вещи, чем примеры'''
words = [word for word in words.replace(',', '').split() if len(word) > 5]

print(min(words, key=len))
print(max(words, key=len))

сидите
нормированным

In [1729]:
# words = [len(input()) for _ in range(3)]

words = [len(word) for word in ['abc', 'a', 'abcde']]

min_word = min(words)
max_word = max(words)
midle_word = sum(words) - max_word - min_word

print(('NO', 'YES')[max_word - midle_word == midle_word - min_word])

YES

In [1730]:
print(('NO', 'YES')['суббота' in (s := 'суббота - прекрасный день') or 'воскресенье' in s])

YES

# 6.3 Модуль math

In [1731]:
from math import sqrt, pow

a, b = 1.0, 2.0

print((a + b) / 2)
print(sqrt(a * b))
print(2 * a * b / (a + b))
print(sqrt((pow(a, 2) + pow(b, 2)) / 2))

1.5
1.4142135623730951
1.3333333333333333
1.5811388300841898

In [1732]:
sqrt((pow(a, 2) + pow(b, 2)) / 2)

1.5811388300841898

In [1733]:
from math import sin, cos, tan, pow, radians
x = 45.0
r = radians(x)

print(sin(r)+ cos(r) + pow(tan(r), 2))

2.414213562373095

In [1734]:
from math import floor, ceil

# n = float(input())
n = 5.5

print(floor(n) + ceil(n))

11

# 7.1 Цикл for

In [1735]:
# m - стартовое количество организмов,
# p - среднесуточное увеличение в %,
# n - количество дней для размножения

# m, p, n = [int(input() for _ in range(3))]
m, p, n = 120, 25, 4

for i in range(1, n + 1):
    print(i, m)
    m = m * (1 + p / 100)

1 120
2 150.0
3 187.5
4 234.375

In [1736]:
# Даны два целых числа m и n. Напишите программу, которая выводит все целые числа от m до n включительно в порядке возрастания, если m < n и наоборот.

# m, n = int(input()), int(input())
m = 7
n = 1

# list = [i for i in range((min(m, n)), max(m, n) + 1)]
print(*sorted([i for i in range((min(m, n)), max(m, n) + 1)], reverse=(m > n)), sep='\n')

7
6
5
4
3
2
1

In [1737]:
# m, n = int(input()), int(input())

m, n = 1, 20

for i in range(m, n + 1):
    if (i % 17 == 0) or (i // 10 == 9) or (i % 3 == 0 and i % 5 == 0):
        print(i)

15
17

In [1738]:
# a, b = int(input()), int(input())
from math import log

n = 10
total = 0

for i in range(1, n + 1):
    total += 1 / i
print(total - log(n))

0.6263831609742079

In [1739]:
# На вход программе подается натуральное число n, а затем n различных натуральных чисел последовательности, 
# каждое на отдельной строке. Напишите программу, которая выводит наибольшее и второе наибольшее число последовательности.

# n = int(input())
n = 4

mx_1, mx_2 = 0, 0

i = 0
for _ in range(n):
    nums = [124141243, 234, 1234124121235, 123312]
    # num = int(input())
    num = nums[i]

    if num > mx_2:
        if num > mx_1:
            mx_2, mx_1 = mx_1, num
        else:
            mx_2 = num
    i +=1

print(mx_1, mx_2, sep='\n')

1234124121235
124141243

In [1740]:
# n = int(input)
n = 3

# print(('NO', 'YES')[all([i % 2 == 0 for i in [int(input()) for _ in range(n)]])])

In [1741]:
# Фибоначи

# n = int(input())
n = 30

a2 = 0
fib = 1

for i in range(n):
    print(fib, end=' ')

    # fib, a2 = a2 + fib, fib

    a1 = a2
    a2 = fib
    fib = a1 + a2

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040

In [1742]:
# n = int(input())

n = 30
a = 1
b = 1

for i in range(n):
    print(a, end=' ')
    a, b = b, a + b

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040

# 7.4 Цикл while

In [1743]:
# n = int(input())
n = 12345

while n != 0:  # пока в числе есть цифры
    last_digit = n % 10  # получить последнюю цифру
    # код обработки последней цифры
    n = n // 10  # удалить последнюю цифру из числа
    print(last_digit, end=' ')

5 4 3 2 1

In [1744]:
# Всем известно, что ведьмак способен одолеть любых чудовищ, однако его услуги обойдутся недешево. К тому же ведьмак не принимает купюры, он принимает только чеканные монеты. 
# В мире ведьмака существуют монеты с номиналами 
# 1,5,10,25.
# Напишите программу, которая определяет, какое минимальное количество чеканных монет нужно заплатить ведьмаку.

# n = int(input())
n = 49
arr = [1, 5, 10, 25]
cnt = 0
print(f'Сумма равна {n}')
for i in arr[::-1]:
    while n >= i:
        print(n, end=' -> ')
        n -= i
        cnt += 1
print(f'Всего {cnt} монет')

Сумма равна 49
49 -> 24 -> 14 -> 4 -> 3 -> 2 -> 1 -> Всего 7 монет

In [1745]:
n = 23784

dmin = n % 10
dmax = dmin

while n != 0:
    if n % 10 > dmax:
        dmax = n % 10
    if n % 10 < dmin:
        dmin = n % 10
    n //= 10

print(f'''Максимальная цифра равна {dmax}
Минимальная цифра равна {dmin}''')

Максимальная цифра равна 8
Минимальная цифра равна 2

In [1746]:
# Дано натуральное число. Напишите программу, которая вычисляет:

# сумму его цифр;
# количество цифр в нем;
# произведение его цифр;
# среднее арифметическое его цифр;
# его первую цифру;
# сумму его первой и последней цифры.

n = 5678

total = 0
cnt = 0
pd = 1
ldigit = n % 10

while n > 0:
    fdigit = n % 10
    total += fdigit
    cnt += 1
    pd *= fdigit
    n //= 10
print(total)
print(cnt)
print(pd)
print(total / cnt)
print(fdigit)
print(fdigit + ldigit)

26
4
1680
6.5
5
13

In [1747]:
# Напишите программу, которая определяет его вторую (с начала) цифру.

n = 5678

while n > 10:
    digit = n % 10
    n //= 10
print(digit)

6

In [1748]:
# n = int(input())
n = 1231231

flag = True

while flag and n > 0:
    digit1 = n % 10
    digit2 = n % 100 - digit1
    if digit1 != digit2:
        flag = False
    n //= 10

print(('NO', 'YES')[flag])

NO

In [1749]:
# Напишите программу, которая определяет, состоит ли указанное число из одинаковых цифр.

# n = int(input())
n = 22222
flag = True
digit = n % 10

while flag and n > 0:
    if digit != n % 10:
        flag = False
    n //= 10
print(('NO', 'YES')[flag])

YES

In [1750]:
# Дано натуральное число. 
# Напишите программу, которая определяет, является ли последовательность его цифр при просмотре справа налево упорядоченной по неубыванию.

# n = int(input())
n = 276443

flag = True
last_digit = n % 10

while n > 0:
    if last_digit > n % 10:
        flag = False

    print(f'{last_digit} <= {n % 10} {flag}')
    
    last_digit = n % 10
    n //= 10
    

print(('NO', 'YES')[flag])

3 <= 3 True
3 <= 4 True
4 <= 4 True
4 <= 6 True
6 <= 7 True
7 <= 2 False
NO

# 7.6 break, continue и else

In [1751]:
# break - завершение цикла,
# continue - пропуск выполнения оставшегося кода цикла и переход к следующей итерации цикла

In [1752]:
n = 1231721

while n != 0:
    last = n % 10
    if last == 7:
        print('Число', n, 'содержит цифру 7')
        break
    n //= 10
else:
    print('Число', n, 'не содержит цифру 7')

Число 12317 содержит цифру 7

In [1753]:
# На вход программе подается число n > 1. 
# Напишите программу, которая выводит его наименьший отличный от 1 делитель.

n = 123415

for i in range(2, n + 1):
    if n % i == 0:
        print(i)
        break

5

In [1754]:
# На вход программе подается натуральное число n. Напишите программу, которая выводит числа от 1 до n за включительно за исключением:
# чисел от 5 до 9 включительно;
# чисел от 17 до 37 включительно;
# чисел от 78 до 87 включительно.

n = 80

for i in range(1, n + 1):
    if i not in range(5, 10) and i not in range(17, 38) and i not in range(78, 88):
        print(i, end=' ')

1 2 3 4 10 11 12 13 14 15 16 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77

In [1755]:
n = 80

for i in range(1, n + 1):
    if i in range(5, 10) or i in range(17, 38) or i in range(78, 88):
        continue
    print(i, end=' ')

1 2 3 4 10 11 12 13 14 15 16 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77

# 7.8  Вложенные циклы

In [1756]:
for hours in range(0, 1):
    for minutes in range(60):
        for seconds in range(60):
            print(hours, ':', minutes, ':', seconds)

0 : 0 : 0
0 : 0 : 1
0 : 0 : 2
0 : 0 : 3
0 : 0 : 4
0 : 0 : 5
0 : 0 : 6
0 : 0 : 7
0 : 0 : 8
0 : 0 : 9
0 : 0 : 10
0 : 0 : 11
0 : 0 : 12
0 : 0 : 13
0 : 0 : 14
0 : 0 : 15
0 : 0 : 16
0 : 0 : 17
0 : 0 : 18
0 : 0 : 19
0 : 0 : 20
0 : 0 : 21
0 : 0 : 22
0 : 0 : 23
0 : 0 : 24
0 : 0 : 25
0 : 0 : 26
0 : 0 : 27
0 : 0 : 28
0 : 0 : 29
0 : 0 : 30
0 : 0 : 31
0 : 0 : 32
0 : 0 : 33
0 : 0 : 34
0 : 0 : 35
0 : 0 : 36
0 : 0 : 37
0 : 0 : 38
0 : 0 : 39
0 : 0 : 40
0 : 0 : 41
0 : 0 : 42
0 : 0 : 43
0 : 0 : 44
0 : 0 : 45
0 : 0 : 46
0 : 0 : 47
0 : 0 : 48
0 : 0 : 49
0 : 0 : 50
0 : 0 : 51
0 : 0 : 52
0 : 0 : 53
0 : 0 : 54
0 : 0 : 55
0 : 0 : 56
0 : 0 : 57
0 : 0 : 58
0 : 0 : 59
0 : 1 : 0
0 : 1 : 1
0 : 1 : 2
0 : 1 : 3
0 : 1 : 4
0 : 1 : 5
0 : 1 : 6
0 : 1 : 7
0 : 1 : 8
0 : 1 : 9
0 : 1 : 10
0 : 1 : 11
0 : 1 : 12
0 : 1 : 13
0 : 1 : 14
0 : 1 : 15
0 : 1 : 16
0 : 1 : 17
0 : 1 : 18
0 : 1 : 19
0 : 1 : 20
0 : 1 : 21
0 : 1 : 22
0 : 1 : 23
0 : 1 : 24
0 : 1 : 25
0 : 1 : 26
0 : 1 : 27
0 : 1 : 28
0 : 1 : 29
0 : 1 : 30
0 : 1 : 31
0 : 1 : 32
0 : 1 : 33
0 : 1 : 34
0 : 1 : 35
0 : 1 : 36
0 : 1 : 37
0 : 1 : 38
0 : 1 : 39
0 : 1 : 40
0 : 1 : 41
0 : 1 : 42
0 : 1 : 43
0 : 1 : 44
0 : 1 : 45
0 : 1 : 46
0 : 1 : 47
0 : 1 : 48
0 : 1 : 49
0 : 1 : 50
0 : 1 : 51
0 : 1 : 52
0 : 1 : 53
0 : 1 : 54
0 : 1 : 55
0 : 1 : 56
0 : 1 : 57
0 : 1 : 58
0 : 1 : 59
0 : 2 : 0
0 : 2 : 1
0 : 2 : 2
0 : 2 : 3
0 : 2 : 4
0 : 2 : 5
0 : 2 : 6
0 : 2 : 7
0 : 2 : 8
0 : 2 : 9
0 : 2 : 10
0 : 2 : 11
0 : 2 : 12
0 : 2 : 13
0 : 2 : 14
0 : 2 : 15
0 : 2 : 16
0 : 2 : 17
0 : 2 : 18
0 : 2 : 19
0 : 2 : 20
0 : 2 : 21
0 : 2 : 22
0 : 2 : 23
0 : 2 : 24
0 : 2 : 25
0 : 2 : 26
0 : 2 : 27
0 : 2 : 28
0 : 2 : 29
0 : 2 : 30
0 : 2 : 31
0 : 2 : 32
0 : 2 : 33
0 : 2 : 34
0 : 2 : 35
0 : 2 : 36
0 : 2 : 37
0 : 2 : 38
0 : 2 : 39
0 : 2 : 40
0 : 2 : 41
0 : 2 : 42
0 : 2 : 43
0 : 2 : 44
0 : 2 : 45
0 : 2 : 46
0 : 2 : 47
0 : 2 : 48
0 : 2 : 49
0 : 2 : 50
0 : 2 : 51
0 : 2 : 52
0 : 2 : 53
0 : 2 : 54
0 : 2 : 55
0 : 2 : 56
0 : 2 : 57
0 : 2 : 58
0 : 2 : 59
0 : 3 : 0
0 : 3 : 1
0 : 3 : 2
0 : 3 : 3
0 : 3 : 4
0 : 3 : 5
0 : 3 : 6
0 : 3 : 7
0 : 3 : 8
0 : 3 : 9
0 : 3 : 10
0 : 3 : 11
0 : 3 : 12
0 : 3 : 13
0 : 3 : 14
0 : 3 : 15
0 : 3 : 16
0 : 3 : 17
0 : 3 : 18
0 : 3 : 19
0 : 3 : 20
0 : 3 : 21
0 : 3 : 22
0 : 3 : 23
0 : 3 : 24
0 : 3 : 25
0 : 3 : 26
0 : 3 : 27
0 : 3 : 28
0 : 3 : 29
0 : 3 : 30
0 : 3 : 31
0 : 3 : 32
0 : 3 : 33
0 : 3 : 34
0 : 3 : 35
0 : 3 : 36
0 : 3 : 37
0 : 3 : 38
0 : 3 : 39
0 : 3 : 40
0 : 3 : 41
0 : 3 : 42
0 : 3 : 43
0 : 3 : 44
0 : 3 : 45
0 : 3 : 46
0 : 3 : 47
0 : 3 : 48
0 : 3 : 49
0 : 3 : 50
0 : 3 : 51
0 : 3 : 52
0 : 3 : 53
0 : 3 : 54
0 : 3 : 55
0 : 3 : 56
0 : 3 : 57
0 : 3 : 58
0 : 3 : 59
0 : 4 : 0
0 : 4 : 1
0 : 4 : 2
0 : 4 : 3
0 : 4 : 4
0 : 4 : 5
0 : 4 : 6
0 : 4 : 7
0 : 4 : 8
0 : 4 : 9
0 : 4 : 10
0 : 4 : 11
0 : 4 : 12
0 : 4 : 13
0 : 4 : 14
0 : 4 : 15
0 : 4 : 16
0 : 4 : 17
0 : 4 : 18
0 : 4 : 19
0 : 4 : 20
0 : 4 : 21
0 : 4 : 22
0 : 4 : 23
0 : 4 : 24
0 : 4 : 25
0 : 4 : 26
0 : 4 : 27
0 : 4 : 28
0 : 4 : 29
0 : 4 : 30
0 : 4 : 31
0 : 4 : 32
0 : 4 : 33
0 : 4 : 34
0 : 4 : 35
0 : 4 : 36
0 : 4 : 37
0 : 4 : 38
0 : 4 : 39
0 : 4 : 40
0 : 4 : 41
0 : 4 : 42
0 : 4 : 43
0 : 4 : 44
0 : 4 : 45
0 : 4 : 46
0 : 4 : 47
0 : 4 : 48
0 : 4 : 49
0 : 4 : 50
0 : 4 : 51
0 : 4 : 52
0 : 4 : 53
0 : 4 : 54
0 : 4 : 55
0 : 4 : 56
0 : 4 : 57
0 : 4 : 58
0 : 4 : 59
0 : 5 : 0
0 : 5 : 1
0 : 5 : 2
0 : 5 : 3
0 : 5 : 4
0 : 5 : 5
0 : 5 : 6
0 : 5 : 7
0 : 5 : 8
0 : 5 : 9
0 : 5 : 10
0 : 5 : 11
0 : 5 : 12
0 : 5 : 13
0 : 5 : 14
0 : 5 : 15
0 : 5 : 16
0 : 5 : 17
0 : 5 : 18
0 : 5 : 19
0 : 5 : 20
0 : 5 : 21
0 : 5 : 22
0 : 5 : 23
0 : 5 : 24
0 : 5 : 25
0 : 5 : 26
0 : 5 : 27
0 : 5 : 28
0 : 5 : 29
0 : 5 : 30
0 : 5 : 31
0 : 5 : 32
0 : 5 : 33
0 : 5 : 34
0 : 5 : 35
0 : 5 : 36
0 : 5 : 37
0 : 5 : 38
0 : 5 : 39
0 : 5 : 40
0 : 5 : 41
0 : 5 : 42
0 : 5 : 43
0 : 5 : 44
0 : 5 : 45
0 : 5 : 46
0 : 5 : 47
0 : 5 : 48
0 : 5 : 49
0 : 5 : 50
0 : 5 : 51
0 : 5 : 52
0 : 5 : 53
0 : 5 : 54
0 : 5 : 55
0 : 5 : 56
0 : 5 : 57
0 : 5 : 58
0 : 5 : 59
0 : 6 : 0
0 : 6 : 1
0 : 6 : 2
0 : 6 : 3
0 : 6 : 4
0 : 6 : 5
0 : 6 : 6
0 : 6 : 7
0 : 6 : 8
0 : 6 : 9
0 : 6 : 10
0 : 6 : 11
0 : 6 : 12
0 : 6 : 13
0 : 6 : 14
0 : 6 : 15
0 : 6 : 16
0 : 6 : 17
0 : 6 : 18
0 : 6 : 19
0 : 6 : 20
0 : 6 : 21
0 : 6 : 22
0 : 6 : 23
0 : 6 : 24
0 : 6 : 25
0 : 6 : 26
0 : 6 : 27
0 : 6 : 28
0 : 6 : 29
0 : 6 : 30
0 : 6 : 31
0 : 6 : 32
0 : 6 : 33
0 : 6 : 34
0 : 6 : 35
0 : 6 : 36
0 : 6 : 37
0 : 6 : 38
0 : 6 : 39
0 : 6 : 40
0 : 6 : 41
0 : 6 : 42
0 : 6 : 43
0 : 6 : 44
0 : 6 : 45
0 : 6 : 46
0 : 6 : 47
0 : 6 : 48
0 : 6 : 49
0 : 6 : 50
0 : 6 : 51
0 : 6 : 52
0 : 6 : 53
0 : 6 : 54
0 : 6 : 55
0 : 6 : 56
0 : 6 : 57
0 : 6 : 58
0 : 6 : 59
0 : 7 : 0
0 : 7 : 1
0 : 7 : 2
0 : 7 : 3
0 : 7 : 4
0 : 7 : 5
0 : 7 : 6
0 : 7 : 7
0 : 7 : 8
0 : 7 : 9
0 : 7 : 10
0 : 7 : 11
0 : 7 : 12
0 : 7 : 13
0 : 7 : 14
0 : 7 : 15
0 : 7 : 16
0 : 7 : 17
0 : 7 : 18
0 : 7 : 19
0 : 7 : 20
0 : 7 : 21
0 : 7 : 22
0 : 7 : 23
0 : 7 : 24
0 : 7 : 25
0 : 7 : 26
0 : 7 : 27
0 : 7 : 28
0 : 7 : 29
0 : 7 : 30
0 : 7 : 31
0 : 7 : 32
0 : 7 : 33
0 : 7 : 34
0 : 7 : 35
0 : 7 : 36
0 : 7 : 37
0 : 7 : 38
0 : 7 : 39
0 : 7 : 40
0 : 7 : 41
0 : 7 : 42
0 : 7 : 43
0 : 7 : 44
0 : 7 : 45
0 : 7 : 46
0 : 7 : 47
0 : 7 : 48
0 : 7 : 49
0 : 7 : 50
0 : 7 : 51
0 : 7 : 52
0 : 7 : 53
0 : 7 : 54
0 : 7 : 55
0 : 7 : 56
0 : 7 : 57
0 : 7 : 58
0 : 7 : 59
0 : 8 : 0
0 : 8 : 1
0 : 8 : 2
0 : 8 : 3
0 : 8 : 4
0 : 8 : 5
0 : 8 : 6
0 : 8 : 7
0 : 8 : 8
0 : 8 : 9
0 : 8 : 10
0 : 8 : 11
0 : 8 : 12
0 : 8 : 13
0 : 8 : 14
0 : 8 : 15
0 : 8 : 16
0 : 8 : 17
0 : 8 : 18
0 : 8 : 19
0 : 8 : 20
0 : 8 : 21
0 : 8 : 22
0 : 8 : 23
0 : 8 : 24
0 : 8 : 25
0 : 8 : 26
0 : 8 : 27
0 : 8 : 28
0 : 8 : 29
0 : 8 : 30
0 : 8 : 31
0 : 8 : 32
0 : 8 : 33
0 : 8 : 34
0 : 8 : 35
0 : 8 : 36
0 : 8 : 37
0 : 8 : 38
0 : 8 : 39
0 : 8 : 40
0 : 8 : 41
0 : 8 : 42
0 : 8 : 43
0 : 8 : 44
0 : 8 : 45
0 : 8 : 46
0 : 8 : 47
0 : 8 : 48
0 : 8 : 49
0 : 8 : 50
0 : 8 : 51
0 : 8 : 52
0 : 8 : 53
0 : 8 : 54
0 : 8 : 55
0 : 8 : 56
0 : 8 : 57
0 : 8 : 58
0 : 8 : 59
0 : 9 : 0
0 : 9 : 1
0 : 9 : 2
0 : 9 : 3
0 : 9 : 4
0 : 9 : 5
0 : 9 : 6
0 : 9 : 7
0 : 9 : 8
0 : 9 : 9
0 : 9 : 10
0 : 9 : 11
0 : 9 : 12
0 : 9 : 13
0 : 9 : 14
0 : 9 : 15
0 : 9 : 16
0 : 9 : 17
0 : 9 : 18
0 : 9 : 19
0 : 9 : 20
0 : 9 : 21
0 : 9 : 22
0 : 9 : 23
0 : 9 : 24
0 : 9 : 25
0 : 9 : 26
0 : 9 : 27
0 : 9 : 28
0 : 9 : 29
0 : 9 : 30
0 : 9 : 31
0 : 9 : 32
0 : 9 : 33
0 : 9 : 34
0 : 9 : 35
0 : 9 : 36
0 : 9 : 37
0 : 9 : 38
0 : 9 : 39
0 : 9 : 40
0 : 9 : 41
0 : 9 : 42
0 : 9 : 43
0 : 9 : 44
0 : 9 : 45
0 : 9 : 46
0 : 9 : 47
0 : 9 : 48
0 : 9 : 49
0 : 9 : 50
0 : 9 : 51
0 : 9 : 52
0 : 9 : 53
0 : 9 : 54
0 : 9 : 55
0 : 9 : 56
0 : 9 : 57
0 : 9 : 58
0 : 9 : 59
0 : 10 : 0
0 : 10 : 1
0 : 10 : 2
0 : 10 : 3
0 : 10 : 4
0 : 10 : 5
0 : 10 : 6
0 : 10 : 7
0 : 10 : 8
0 : 10 : 9
0 : 10 : 10
0 : 10 : 11
0 : 10 : 12
0 : 10 : 13
0 : 10 : 14
0 : 10 : 15
0 : 10 : 16
0 : 10 : 17
0 : 10 : 18
0 : 10 : 19
0 : 10 : 20
0 : 10 : 21
0 : 10 : 22
0 : 10 : 23
0 : 10 : 24
0 : 10 : 25
0 : 10 : 26
0 : 10 : 27
0 : 10 : 28
0 : 10 : 29
0 : 10 : 30
0 : 10 : 31
0 : 10 : 32
0 : 10 : 33
0 : 10 : 34
0 : 10 : 35
0 : 10 : 36
0 : 10 : 37
0 : 10 : 38
0 : 10 : 39
0 : 10 : 40
0 : 10 : 41
0 : 10 : 42
0 : 10 : 43
0 : 10 : 44
0 : 10 : 45
0 : 10 : 46
0 : 10 : 47
0 : 10 : 48
0 : 10 : 49
0 : 10 : 50
0 : 10 : 51
0 : 10 : 52
0 : 10 : 53
0 : 10 : 54
0 : 10 : 55
0 : 10 : 56
0 : 10 : 57
0 : 10 : 58
0 : 10 : 59
0 : 11 : 0
0 : 11 : 1
0 : 11 : 2
0 : 11 : 3
0 : 11 : 4
0 : 11 : 5
0 : 11 : 6
0 : 11 : 7
0 : 11 : 8
0 : 11 : 9
0 : 11 : 10
0 : 11 : 11
0 : 11 : 12
0 : 11 : 13
0 : 11 : 14
0 : 11 : 15
0 : 11 : 16
0 : 11 : 17
0 : 11 : 18
0 : 11 : 19
0 : 11 : 20
0 : 11 : 21
0 : 11 : 22
0 : 11 : 23
0 : 11 : 24
0 : 11 : 25
0 : 11 : 26
0 : 11 : 27
0 : 11 : 28
0 : 11 : 29
0 : 11 : 30
0 : 11 : 31
0 : 11 : 32
0 : 11 : 33
0 : 11 : 34
0 : 11 : 35
0 : 11 : 36
0 : 11 : 37
0 : 11 : 38
0 : 11 : 39
0 : 11 : 40
0 : 11 : 41
0 : 11 : 42
0 : 11 : 43
0 : 11 : 44
0 : 11 : 45
0 : 11 : 46
0 : 11 : 47
0 : 11 : 48
0 : 11 : 49
0 : 11 : 50
0 : 11 : 51
0 : 11 : 52
0 : 11 : 53
0 : 11 : 54
0 : 11 : 55
0 : 11 : 56
0 : 11 : 57
0 : 11 : 58
0 : 11 : 59
0 : 12 : 0
0 : 12 : 1
0 : 12 : 2
0 : 12 : 3
0 : 12 : 4
0 : 12 : 5
0 : 12 : 6
0 : 12 : 7
0 : 12 : 8
0 : 12 : 9
0 : 12 : 10
0 : 12 : 11
0 : 12 : 12
0 : 12 : 13
0 : 12 : 14
0 : 12 : 15
0 : 12 : 16
0 : 12 : 17
0 : 12 : 18
0 : 12 : 19
0 : 12 : 20
0 : 12 : 21
0 : 12 : 22
0 : 12 : 23
0 : 12 : 24
0 : 12 : 25
0 : 12 : 26
0 : 12 : 27
0 : 12 : 28
0 : 12 : 29
0 : 12 : 30
0 : 12 : 31
0 : 12 : 32
0 : 12 : 33
0 : 12 : 34
0 : 12 : 35
0 : 12 : 36
0 : 12 : 37
0 : 12 : 38
0 : 12 : 39
0 : 12 : 40
0 : 12 : 41
0 : 12 : 42
0 : 12 : 43
0 : 12 : 44
0 : 12 : 45
0 : 12 : 46
0 : 12 : 47
0 : 12 : 48
0 : 12 : 49
0 : 12 : 50
0 : 12 : 51
0 : 12 : 52
0 : 12 : 53
0 : 12 : 54
0 : 12 : 55
0 : 12 : 56
0 : 12 : 57
0 : 12 : 58
0 : 12 : 59
0 : 13 : 0
0 : 13 : 1
0 : 13 : 2
0 : 13 : 3
0 : 13 : 4
0 : 13 : 5
0 : 13 : 6
0 : 13 : 7
0 : 13 : 8
0 : 13 : 9
0 : 13 : 10
0 : 13 : 11
0 : 13 : 12
0 : 13 : 13
0 : 13 : 14
0 : 13 : 15
0 : 13 : 16
0 : 13 : 17
0 : 13 : 18
0 : 13 : 19
0 : 13 : 20
0 : 13 : 21
0 : 13 : 22
0 : 13 : 23
0 : 13 : 24
0 : 13 : 25
0 : 13 : 26
0 : 13 : 27
0 : 13 : 28
0 : 13 : 29
0 : 13 : 30
0 : 13 : 31
0 : 13 : 32
0 : 13 : 33
0 : 13 : 34
0 : 13 : 35
0 : 13 : 36
0 : 13 : 37
0 : 13 : 38
0 : 13 : 39
0 : 13 : 40
0 : 13 : 41
0 : 13 : 42
0 : 13 : 43
0 : 13 : 44
0 : 13 : 45
0 : 13 : 46
0 : 13 : 47
0 : 13 : 48
0 : 13 : 49
0 : 13 : 50
0 : 13 : 51
0 : 13 : 52
0 : 13 : 53
0 : 13 : 54
0 : 13 : 55
0 : 13 : 56
0 : 13 : 57
0 : 13 : 58
0 : 13 : 59
0 : 14 : 0
0 : 14 : 1
0 : 14 : 2
0 : 14 : 3
0 : 14 : 4
0 : 14 : 5
0 : 14 : 6
0 : 14 : 7
0 : 14 : 8
0 : 14 : 9
0 : 14 : 10
0 : 14 : 11
0 : 14 : 12
0 : 14 : 13
0 : 14 : 14
0 : 14 : 15
0 : 14 : 16
0 : 14 : 17
0 : 14 : 18
0 : 14 : 19
0 : 14 : 20
0 : 14 : 21
0 : 14 : 22
0 : 14 : 23
0 : 14 : 24
0 : 14 : 25
0 : 14 : 26
0 : 14 : 27
0 : 14 : 28
0 : 14 : 29
0 : 14 : 30
0 : 14 : 31
0 : 14 : 32
0 : 14 : 33
0 : 14 : 34
0 : 14 : 35
0 : 14 : 36
0 : 14 : 37
0 : 14 : 38
0 : 14 : 39
0 : 14 : 40
0 : 14 : 41
0 : 14 : 42
0 : 14 : 43
0 : 14 : 44
0 : 14 : 45
0 : 14 : 46
0 : 14 : 47
0 : 14 : 48
0 : 14 : 49
0 : 14 : 50
0 : 14 : 51
0 : 14 : 52
0 : 14 : 53
0 : 14 : 54
0 : 14 : 55
0 : 14 : 56
0 : 14 : 57
0 : 14 : 58
0 : 14 : 59
0 : 15 : 0
0 : 15 : 1
0 : 15 : 2
0 : 15 : 3
0 : 15 : 4
0 : 15 : 5
0 : 15 : 6
0 : 15 : 7
0 : 15 : 8
0 : 15 : 9
0 : 15 : 10
0 : 15 : 11
0 : 15 : 12
0 : 15 : 13
0 : 15 : 14
0 : 15 : 15
0 : 15 : 16
0 : 15 : 17
0 : 15 : 18
0 : 15 : 19
0 : 15 : 20
0 : 15 : 21
0 : 15 : 22
0 : 15 : 23
0 : 15 : 24
0 : 15 : 25
0 : 15 : 26
0 : 15 : 27
0 : 15 : 28
0 : 15 : 29
0 : 15 : 30
0 : 15 : 31
0 : 15 : 32
0 : 15 : 33
0 : 15 : 34
0 : 15 : 35
0 : 15 : 36
0 : 15 : 37
0 : 15 : 38
0 : 15 : 39
0 : 15 : 40
0 : 15 : 41
0 : 15 : 42
0 : 15 : 43
0 : 15 : 44
0 : 15 : 45
0 : 15 : 46
0 : 15 : 47
0 : 15 : 48
0 : 15 : 49
0 : 15 : 50
0 : 15 : 51
0 : 15 : 52
0 : 15 : 53
0 : 15 : 54
0 : 15 : 55
0 : 15 : 56
0 : 15 : 57
0 : 15 : 58
0 : 15 : 59
0 : 16 : 0
0 : 16 : 1
0 : 16 : 2
0 : 16 : 3
0 : 16 : 4
0 : 16 : 5
0 : 16 : 6
0 : 16 : 7
0 : 16 : 8
0 : 16 : 9
0 : 16 : 10
0 : 16 : 11
0 : 16 : 12
0 : 16 : 13
0 : 16 : 14
0 : 16 : 15
0 : 16 : 16
0 : 16 : 17
0 : 16 : 18
0 : 16 : 19
0 : 16 : 20
0 : 16 : 21
0 : 16 : 22
0 : 16 : 23
0 : 16 : 24
0 : 16 : 25
0 : 16 : 26
0 : 16 : 27
0 : 16 : 28
0 : 16 : 29
0 : 16 : 30
0 : 16 : 31
0 : 16 : 32
0 : 16 : 33
0 : 16 : 34
0 : 16 : 35
0 : 16 : 36
0 : 16 : 37
0 : 16 : 38
0 : 16 : 39
0 : 16 : 40
0 : 16 : 41
0 : 16 : 42
0 : 16 : 43
0 : 16 : 44
0 : 16 : 45
0 : 16 : 46
0 : 16 : 47
0 : 16 : 48
0 : 16 : 49
0 : 16 : 50
0 : 16 : 51
0 : 16 : 52
0 : 16 : 53
0 : 16 : 54
0 : 16 : 55
0 : 16 : 56
0 : 16 : 57
0 : 16 : 58
0 : 16 : 59
0 : 17 : 0
0 : 17 : 1
0 : 17 : 2
0 : 17 : 3
0 : 17 : 4
0 : 17 : 5
0 : 17 : 6
0 : 17 : 7
0 : 17 : 8
0 : 17 : 9
0 : 17 : 10
0 : 17 : 11
0 : 17 : 12
0 : 17 : 13
0 : 17 : 14
0 : 17 : 15
0 : 17 : 16
0 : 17 : 17
0 : 17 : 18
0 : 17 : 19
0 : 17 : 20
0 : 17 : 21
0 : 17 : 22
0 : 17 : 23
0 : 17 : 24
0 : 17 : 25
0 : 17 : 26
0 : 17 : 27
0 : 17 : 28
0 : 17 : 29
0 : 17 : 30
0 : 17 : 31
0 : 17 : 32
0 : 17 : 33
0 : 17 : 34
0 : 17 : 35
0 : 17 : 36
0 : 17 : 37
0 : 17 : 38
0 : 17 : 39
0 : 17 : 40
0 : 17 : 41
0 : 17 : 42
0 : 17 : 43
0 : 17 : 44
0 : 17 : 45
0 : 17 : 46
0 : 17 : 47
0 : 17 : 48
0 : 17 : 49
0 : 17 : 50
0 : 17 : 51
0 : 17 : 52
0 : 17 : 53
0 : 17 : 54
0 : 17 : 55
0 : 17 : 56
0 : 17 : 57
0 : 17 : 58
0 : 17 : 59
0 : 18 : 0
0 : 18 : 1
0 : 18 : 2
0 : 18 : 3
0 : 18 : 4
0 : 18 : 5
0 : 18 : 6
0 : 18 : 7
0 : 18 : 8
0 : 18 : 9
0 : 18 : 10
0 : 18 : 11
0 : 18 : 12
0 : 18 : 13
0 : 18 : 14
0 : 18 : 15
0 : 18 : 16
0 : 18 : 17
0 : 18 : 18
0 : 18 : 19
0 : 18 : 20
0 : 18 : 21
0 : 18 : 22
0 : 18 : 23
0 : 18 : 24
0 : 18 : 25
0 : 18 : 26
0 : 18 : 27
0 : 18 : 28
0 : 18 : 29
0 : 18 : 30
0 : 18 : 31
0 : 18 : 32
0 : 18 : 33
0 : 18 : 34
0 : 18 : 35
0 : 18 : 36
0 : 18 : 37
0 : 18 : 38
0 : 18 : 39
0 : 18 : 40
0 : 18 : 41
0 : 18 : 42
0 : 18 : 43
0 : 18 : 44
0 : 18 : 45
0 : 18 : 46
0 : 18 : 47
0 : 18 : 48
0 : 18 : 49
0 : 18 : 50
0 : 18 : 51
0 : 18 : 52
0 : 18 : 53
0 : 18 : 54
0 : 18 : 55
0 : 18 : 56
0 : 18 : 57
0 : 18 : 58
0 : 18 : 59
0 : 19 : 0
0 : 19 : 1
0 : 19 : 2
0 : 19 : 3
0 : 19 : 4
0 : 19 : 5
0 : 19 : 6
0 : 19 : 7
0 : 19 : 8
0 : 19 : 9
0 : 19 : 10
0 : 19 : 11
0 : 19 : 12
0 : 19 : 13
0 : 19 : 14
0 : 19 : 15
0 : 19 : 16
0 : 19 : 17
0 : 19 : 18
0 : 19 : 19
0 : 19 : 20
0 : 19 : 21
0 : 19 : 22
0 : 19 : 23
0 : 19 : 24
0 : 19 : 25
0 : 19 : 26
0 : 19 : 27
0 : 19 : 28
0 : 19 : 29
0 : 19 : 30
0 : 19 : 31
0 : 19 : 32
0 : 19 : 33
0 : 19 : 34
0 : 19 : 35
0 : 19 : 36
0 : 19 : 37
0 : 19 : 38
0 : 19 : 39
0 : 19 : 40
0 : 19 : 41
0 : 19 : 42
0 : 19 : 43
0 : 19 : 44
0 : 19 : 45
0 : 19 : 46
0 : 19 : 47
0 : 19 : 48
0 : 19 : 49
0 : 19 : 50
0 : 19 : 51
0 : 19 : 52
0 : 19 : 53
0 : 19 : 54
0 : 19 : 55
0 : 19 : 56
0 : 19 : 57
0 : 19 : 58
0 : 19 : 59
0 : 20 : 0
0 : 20 : 1
0 : 20 : 2
0 : 20 : 3
0 : 20 : 4
0 : 20 : 5
0 : 20 : 6
0 : 20 : 7
0 : 20 : 8
0 : 20 : 9
0 : 20 : 10
0 : 20 : 11
0 : 20 : 12
0 : 20 : 13
0 : 20 : 14
0 : 20 : 15
0 : 20 : 16
0 : 20 : 17
0 : 20 : 18
0 : 20 : 19
0 : 20 : 20
0 : 20 : 21
0 : 20 : 22
0 : 20 : 23
0 : 20 : 24
0 : 20 : 25
0 : 20 : 26
0 : 20 : 27
0 : 20 : 28
0 : 20 : 29
0 : 20 : 30
0 : 20 : 31
0 : 20 : 32
0 : 20 : 33
0 : 20 : 34
0 : 20 : 35
0 : 20 : 36
0 : 20 : 37
0 : 20 : 38
0 : 20 : 39
0 : 20 : 40
0 : 20 : 41
0 : 20 : 42
0 : 20 : 43
0 : 20 : 44
0 : 20 : 45
0 : 20 : 46
0 : 20 : 47
0 : 20 : 48
0 : 20 : 49
0 : 20 : 50
0 : 20 : 51
0 : 20 : 52
0 : 20 : 53
0 : 20 : 54
0 : 20 : 55
0 : 20 : 56
0 : 20 : 57
0 : 20 : 58
0 : 20 : 59
0 : 21 : 0
0 : 21 : 1
0 : 21 : 2
0 : 21 : 3
0 : 21 : 4
0 : 21 : 5
0 : 21 : 6
0 : 21 : 7
0 : 21 : 8
0 : 21 : 9
0 : 21 : 10
0 : 21 : 11
0 : 21 : 12
0 : 21 : 13
0 : 21 : 14
0 : 21 : 15
0 : 21 : 16
0 : 21 : 17
0 : 21 : 18
0 : 21 : 19
0 : 21 : 20
0 : 21 : 21
0 : 21 : 22
0 : 21 : 23
0 : 21 : 24
0 : 21 : 25
0 : 21 : 26
0 : 21 : 27
0 : 21 : 28
0 : 21 : 29
0 : 21 : 30
0 : 21 : 31
0 : 21 : 32
0 : 21 : 33
0 : 21 : 34
0 : 21 : 35
0 : 21 : 36
0 : 21 : 37
0 : 21 : 38
0 : 21 : 39
0 : 21 : 40
0 : 21 : 41
0 : 21 : 42
0 : 21 : 43
0 : 21 : 44
0 : 21 : 45
0 : 21 : 46
0 : 21 : 47
0 : 21 : 48
0 : 21 : 49
0 : 21 : 50
0 : 21 : 51
0 : 21 : 52
0 : 21 : 53
0 : 21 : 54
0 : 21 : 55
0 : 21 : 56
0 : 21 : 57
0 : 21 : 58
0 : 21 : 59
0 : 22 : 0
0 : 22 : 1
0 : 22 : 2
0 : 22 : 3
0 : 22 : 4
0 : 22 : 5
0 : 22 : 6
0 : 22 : 7
0 : 22 : 8
0 : 22 : 9
0 : 22 : 10
0 : 22 : 11
0 : 22 : 12
0 : 22 : 13
0 : 22 : 14
0 : 22 : 15
0 : 22 : 16
0 : 22 : 17
0 : 22 : 18
0 : 22 : 19
0 : 22 : 20
0 : 22 : 21
0 : 22 : 22
0 : 22 : 23
0 : 22 : 24
0 : 22 : 25
0 : 22 : 26
0 : 22 : 27
0 : 22 : 28
0 : 22 : 29
0 : 22 : 30
0 : 22 : 31
0 : 22 : 32
0 : 22 : 33
0 : 22 : 34
0 : 22 : 35
0 : 22 : 36
0 : 22 : 37
0 : 22 : 38
0 : 22 : 39
0 : 22 : 40
0 : 22 : 41
0 : 22 : 42
0 : 22 : 43
0 : 22 : 44
0 : 22 : 45
0 : 22 : 46
0 : 22 : 47
0 : 22 : 48
0 : 22 : 49
0 : 22 : 50
0 : 22 : 51
0 : 22 : 52
0 : 22 : 53
0 : 22 : 54
0 : 22 : 55
0 : 22 : 56
0 : 22 : 57
0 : 22 : 58
0 : 22 : 59
0 : 23 : 0
0 : 23 : 1
0 : 23 : 2
0 : 23 : 3
0 : 23 : 4
0 : 23 : 5
0 : 23 : 6
0 : 23 : 7
0 : 23 : 8
0 : 23 : 9
0 : 23 : 10
0 : 23 : 11
0 : 23 : 12
0 : 23 : 13
0 : 23 : 14
0 : 23 : 15
0 : 23 : 16
0 : 23 : 17
0 : 23 : 18
0 : 23 : 19
0 : 23 : 20
0 : 23 : 21
0 : 23 : 22
0 : 23 : 23
0 : 23 : 24
0 : 23 : 25
0 : 23 : 26
0 : 23 : 27
0 : 23 : 28
0 : 23 : 29
0 : 23 : 30
0 : 23 : 31
0 : 23 : 32
0 : 23 : 33
0 : 23 : 34
0 : 23 : 35
0 : 23 : 36
0 : 23 : 37
0 : 23 : 38
0 : 23 : 39
0 : 23 : 40
0 : 23 : 41
0 : 23 : 42
0 : 23 : 43
0 : 23 : 44
0 : 23 : 45
0 : 23 : 46
0 : 23 : 47
0 : 23 : 48
0 : 23 : 49
0 : 23 : 50
0 : 23 : 51
0 : 23 : 52
0 : 23 : 53
0 : 23 : 54
0 : 23 : 55
0 : 23 : 56
0 : 23 : 57
0 : 23 : 58
0 : 23 : 59
0 : 24 : 0
0 : 24 : 1
0 : 24 : 2
0 : 24 : 3
0 : 24 : 4
0 : 24 : 5
0 : 24 : 6
0 : 24 : 7
0 : 24 : 8
0 : 24 : 9
0 : 24 : 10
0 : 24 : 11
0 : 24 : 12
0 : 24 : 13
0 : 24 : 14
0 : 24 : 15
0 : 24 : 16
0 : 24 : 17
0 : 24 : 18
0 : 24 : 19
0 : 24 : 20
0 : 24 : 21
0 : 24 : 22
0 : 24 : 23
0 : 24 : 24
0 : 24 : 25
0 : 24 : 26
0 : 24 : 27
0 : 24 : 28
0 : 24 : 29
0 : 24 : 30
0 : 24 : 31
0 : 24 : 32
0 : 24 : 33
0 : 24 : 34
0 : 24 : 35
0 : 24 : 36
0 : 24 : 37
0 : 24 : 38
0 : 24 : 39
0 : 24 : 40
0 : 24 : 41
0 : 24 : 42
0 : 24 : 43
0 : 24 : 44
0 : 24 : 45
0 : 24 : 46
0 : 24 : 47
0 : 24 : 48
0 : 24 : 49
0 : 24 : 50
0 : 24 : 51
0 : 24 : 52
0 : 24 : 53
0 : 24 : 54
0 : 24 : 55
0 : 24 : 56
0 : 24 : 57
0 : 24 : 58
0 : 24 : 59
0 : 25 : 0
0 : 25 : 1
0 : 25 : 2
0 : 25 : 3
0 : 25 : 4
0 : 25 : 5
0 : 25 : 6
0 : 25 : 7
0 : 25 : 8
0 : 25 : 9
0 : 25 : 10
0 : 25 : 11
0 : 25 : 12
0 : 25 : 13
0 : 25 : 14
0 : 25 : 15
0 : 25 : 16
0 : 25 : 17
0 : 25 : 18
0 : 25 : 19
0 : 25 : 20
0 : 25 : 21
0 : 25 : 22
0 : 25 : 23
0 : 25 : 24
0 : 25 : 25
0 : 25 : 26
0 : 25 : 27
0 : 25 : 28
0 : 25 : 29
0 : 25 : 30
0 : 25 : 31
0 : 25 : 32
0 : 25 : 33
0 : 25 : 34
0 : 25 : 35
0 : 25 : 36
0 : 25 : 37
0 : 25 : 38
0 : 25 : 39
0 : 25 : 40
0 : 25 : 41
0 : 25 : 42
0 : 25 : 43
0 : 25 : 44
0 : 25 : 45
0 : 25 : 46
0 : 25 : 47
0 : 25 : 48
0 : 25 : 49
0 : 25 : 50
0 : 25 : 51
0 : 25 : 52
0 : 25 : 53
0 : 25 : 54
0 : 25 : 55
0 : 25 : 56
0 : 25 : 57
0 : 25 : 58
0 : 25 : 59
0 : 26 : 0
0 : 26 : 1
0 : 26 : 2
0 : 26 : 3
0 : 26 : 4
0 : 26 : 5
0 : 26 : 6
0 : 26 : 7
0 : 26 : 8
0 : 26 : 9
0 : 26 : 10
0 : 26 : 11
0 : 26 : 12
0 : 26 : 13
0 : 26 : 14
0 : 26 : 15
0 : 26 : 16
0 : 26 : 17
0 : 26 : 18
0 : 26 : 19
0 : 26 : 20
0 : 26 : 21
0 : 26 : 22
0 : 26 : 23
0 : 26 : 24
0 : 26 : 25
0 : 26 : 26
0 : 26 : 27
0 : 26 : 28
0 : 26 : 29
0 : 26 : 30
0 : 26 : 31
0 : 26 : 32
0 : 26 : 33
0 : 26 : 34
0 : 26 : 35
0 : 26 : 36
0 : 26 : 37
0 : 26 : 38
0 : 26 : 39
0 : 26 : 40
0 : 26 : 41
0 : 26 : 42
0 : 26 : 43
0 : 26 : 44
0 : 26 : 45
0 : 26 : 46
0 : 26 : 47
0 : 26 : 48
0 : 26 : 49
0 : 26 : 50
0 : 26 : 51
0 : 26 : 52
0 : 26 : 53
0 : 26 : 54
0 : 26 : 55
0 : 26 : 56
0 : 26 : 57
0 : 26 : 58
0 : 26 : 59
0 : 27 : 0
0 : 27 : 1
0 : 27 : 2
0 : 27 : 3
0 : 27 : 4
0 : 27 : 5
0 : 27 : 6
0 : 27 : 7
0 : 27 : 8
0 : 27 : 9
0 : 27 : 10
0 : 27 : 11
0 : 27 : 12
0 : 27 : 13
0 : 27 : 14
0 : 27 : 15
0 : 27 : 16
0 : 27 : 17
0 : 27 : 18
0 : 27 : 19
0 : 27 : 20
0 : 27 : 21
0 : 27 : 22
0 : 27 : 23
0 : 27 : 24
0 : 27 : 25
0 : 27 : 26
0 : 27 : 27
0 : 27 : 28
0 : 27 : 29
0 : 27 : 30
0 : 27 : 31
0 : 27 : 32
0 : 27 : 33
0 : 27 : 34
0 : 27 : 35
0 : 27 : 36
0 : 27 : 37
0 : 27 : 38
0 : 27 : 39
0 : 27 : 40
0 : 27 : 41
0 : 27 : 42
0 : 27 : 43
0 : 27 : 44
0 : 27 : 45
0 : 27 : 46
0 : 27 : 47
0 : 27 : 48
0 : 27 : 49
0 : 27 : 50
0 : 27 : 51
0 : 27 : 52
0 : 27 : 53
0 : 27 : 54
0 : 27 : 55
0 : 27 : 56
0 : 27 : 57
0 : 27 : 58
0 : 27 : 59
0 : 28 : 0
0 : 28 : 1
0 : 28 : 2
0 : 28 : 3
0 : 28 : 4
0 : 28 : 5
0 : 28 : 6
0 : 28 : 7
0 : 28 : 8
0 : 28 : 9
0 : 28 : 10
0 : 28 : 11
0 : 28 : 12
0 : 28 : 13
0 : 28 : 14
0 : 28 : 15
0 : 28 : 16
0 : 28 : 17
0 : 28 : 18
0 : 28 : 19
0 : 28 : 20
0 : 28 : 21
0 : 28 : 22
0 : 28 : 23
0 : 28 : 24
0 : 28 : 25
0 : 28 : 26
0 : 28 : 27
0 : 28 : 28
0 : 28 : 29
0 : 28 : 30
0 : 28 : 31
0 : 28 : 32
0 : 28 : 33
0 : 28 : 34
0 : 28 : 35
0 : 28 : 36
0 : 28 : 37
0 : 28 : 38
0 : 28 : 39
0 : 28 : 40
0 : 28 : 41
0 : 28 : 42
0 : 28 : 43
0 : 28 : 44
0 : 28 : 45
0 : 28 : 46
0 : 28 : 47
0 : 28 : 48
0 : 28 : 49
0 : 28 : 50
0 : 28 : 51
0 : 28 : 52
0 : 28 : 53
0 : 28 : 54
0 : 28 : 55
0 : 28 : 56
0 : 28 : 57
0 : 28 : 58
0 : 28 : 59

In [1757]:
# Дано натуральное число n. Напишите программу, которая печатает численный треугольник с высотой, равной n

n = 5

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end='')
    for k in range(i - 1, 0, -1):
        print(k, end='')
    print()

1
121
12321
1234321
123454321

In [1758]:
n = 3

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end='')
        for k in range(j - 1, 0, -1):
            print(k, end='')
    print()

1
121
121321

In [1759]:
# Дано нечётное натуральное число n.
# Напишите программу, которая печатает равнобедренный звездный треугольник с основанием, равным n

# n = int(input())
n = 10

for i in range(1, n // 2 + 1):
    for j in range(1, i + 1):
        print('*', end='')
    print()
for i in range(n // 2 + 1, 0, -1):
    for j in range(1, i + 1):
        print('*', end='')
    print()

*
**
***
****
*****
******
*****
****
***
**
*

In [1760]:
s = '*'
n = 7

for i in range(n):
    for j in range(n):
        if i == n - j - 1 or i == j:
            print(s, end='')
        else:
            print(' ', end='')
    print()

*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [1761]:
# На вход программе подаются два натуральных числа a и b. 
# Напишите программу, которая находит натуральное число из отрезка [a;b] с максимальной суммой делителей. 
# Если чисел с максимальной суммой делителей несколько, то искомым числом является наибольшее из них. 
# Ваша программа должна выводить ответ в следующем формате:
# <число с максимальной суммой делителей> <сумма делителей этого числа>

a = 49
b = 56
total_max = 0
num = 0

for i in range(a, b + 1):
    total = 0
    for j in range(1, i + 1):
        if i % j == 0:
            total += j
    if total >= total_max and i > num:
        total_max = total
        num = i
print(num, total_max)

56 120

In [1762]:
# На вход программе подаётся натуральное число n. 
# Напишите программу, выводящую графическое изображение делимости чисел от 1 до n включительно. 
# В каждой строке надо напечатать очередное число и столько символов «+», сколько делителей у этого числа.

# n = int(input())
n = 5

for i in range(1, n + 1):
    total = 0
    print(i, end='')
    for j in range(1, i + 1):
        if i % j == 0:
            total += 1
    print('+' * total)

1+
2++
3++
4+++
5++

In [1763]:
# На вход программе подаётся натуральное число n. Напишите программу, которая находит цифровой корень данного числа. 
# Цифровой корень числа n получается следующим образом: если сложить все цифры этого числа, 
# затем все цифры найденной суммы и повторять этот процесс до тех пор, пока в результате не будет получено однозначное число (цифра), 
# которое и называется цифровым корнем первоначального числа n.

n = 952

while n > 9:
    total = 0
    while n > 0:
        last_digit = n % 10
        total += last_digit
        n //= 10
    else:
        n = total
else:
    print(n)

7

In [1764]:
# Сумма факториалов

n = 3
fact_sum = 0

for i in range(1, n + 1):
    fact = 1
    for j in range(1, i + 1):
        fact *= j
    fact_sum += fact
print(fact_sum)

9

In [1765]:
# На вход программе подается два натуральных числа a и b (a < b). 
# Напишите программу, которая находит все простые числа от a до b включительно.

a, b = 2, 9

for i in range(a, b + 1):
    count = 0
    for j in range(1, b + 1):
        if i % j == 0:
            count += 1
    if count == 2:
        print(i)

2
3
5
7

In [1766]:
a, b = 2, 9

for i in range(a, b + 1):
    if i == 1:
        continue
    
    for j in range(2, i):
        if i % j == 0:
            break
    else:
        print(i)

2
3
5
7

# Использование вложенных циклов при решении уравнений

In [1767]:
# Уравнение 12*x + 13*y = 777
# x <= 64, так как при x = 65 -> 12*65 > 777. Аналогично для y, y <= 59

total = 0
for x in range(1, 65):
    for y in range(1, 60):
        if 12 * x + 13 * y == 777:
            total += 1
            print('x =', x, 'y =', y)
print('Общее количество натуральных решений =', total)

x = 3 y = 57
x = 16 y = 45
x = 29 y = 33
x = 42 y = 21
x = 55 y = 9
Общее количество натуральных решений = 5

In [1768]:
# Найдите все решения уравнения (и их количество),  x**2 + y**2 + z**2 = 2020

total = 0
for x in range(1, 45):
    for y in range(1, 45):
        for z in range(1, 45):
            if x ** 2 + y ** 2 + z ** 2 == 2020:
                total += 1
                print('x =', x, 'y =', y, 'z =', z)
print('Общее количество натуральных решений =', total)

x = 18 y = 20 z = 36
x = 18 y = 36 z = 20
x = 20 y = 18 z = 36
x = 20 y = 36 z = 18
x = 36 y = 18 z = 20
x = 36 y = 20 z = 18
Общее количество натуральных решений = 6

In [1769]:
# Купить 90 предметов ровно на 100 рублей

for n in range(1, 100):
    for k in range(1, 100):
        for m in range(1, 100):
            if 10*n + 5*k + 0.5*m == 100 and n + k + m == 90:
                print(n, k, m)

2 8 80

# 9.1  Индексация

In [1770]:
s = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(s.find('w'))
print(s[39])
print(s[-10])

39
w
w

# 9.2 Срезы

In [1771]:
s = 'abcdefg'
print(s[::-3])

gda

In [1772]:
s = 'i LEARN Python LAnguaGE'
print(s.swapcase())

I learn pYTHON laNGUAge

# 9.3 Методы строк

In [1773]:
# На вход программе подаётся строка, состоящая из имени и фамилии человека, разделённых одним пробелом. 
# Напишите программу, которая проверяет, что имя и фамилия начинаются с заглавной буквы.

flag = True
words = 'Chris Alan'
for word in words.split():
    if word[0] != word[0].upper():
        flag = False
print(('NO', 'YES')[flag])

YES

In [1774]:
s = 'Chris Alan'

if s == s.title():
    print("YES")
else:
    print("NO")

YES

In [1775]:
# На вход программе подается строка. 
# Напишите программу, которая подсчитывает количество буквенных символов в нижнем регистре.

s = 'abcABCD12345'
cnt = 0

for el in s:
    if el != el.upper():
        cnt += 1
        
print(cnt)

3

In [1776]:
# Метод count()

s = 'foo goo moo'
print(s.count('oo'))
print(s.count('oo', 0, 8))

3
2

In [1777]:
# Метод startswith()

s = 'foobar'
print(s.startswith('foo'))
print(s.startswith('baz'))

True
False

In [1778]:
# Метод endswith()

s = 'foobar'
print(s.endswith('bar'))
print(s.endswith('baz'))

True
False

In [1779]:
# Методы find(), rfind()

s = 'foo bar foo baz foo qux'
print(s.find('foo'))
print(s.find('bar'))
print(s.find('qu'))
print(s.find('python'))
print()
print(s.rfind('foo')) # ищет справа-налево

0
4
20
-1

16

In [1780]:
# Методы index(), rindex()

# Метод index(<sub>, <start>, <end>) идентичен методу find(<sub>, <start>, <end>), за тем исключением, 
# что он вызывает ошибку ValueError: substring not found во время выполнения программы, если подстрока <sub> не найдена.

In [1781]:
# Метод strip(), lstrip() и rstrip()

s = '     foo bar foo baz foo qux      '
print(s.strip())
print(s.lstrip())
print(s.rstrip())

foo bar foo baz foo qux
foo bar foo baz foo qux
     foo bar foo baz foo qux

In [1782]:
# Метод replace()

s = 'foo bar foo baz foo qux'
print(s.replace('foo', 'grault', 2))

grault bar grault baz foo qux

In [1783]:
# Метод isalnum() - из букв и цифр
# Метод isalpha() - из букв
# Метод isdigit() - из цифр
# Метод islower() - все в нижнем регистре
# Метод isupper() - все в верхнем регистре
# Метод isspace() - только из пробельных символов

s = 'aabbAA111ccDDaa'
print(s.isalnum())
print(s.isalpha())
print(s.isdigit())

True
False
False

In [1784]:
s = 'aabb!@#$11cc'
print(s.islower())

True

In [1785]:
s = 'AAb!@#$11CC'
print(s.isupper())

False

In [1786]:
print('2024-05-19'.islower())
print('2024-05-19'.isupper())

False
False

In [1787]:
s = '    abbc    '
print(s.isspace())

s = '      '
print(s.isspace())

False
True

In [1788]:
'a' > 'A'

True

In [1789]:
'4' < '5'

True

In [1790]:
print(max(9, 10, 11))
print(max('9', '10', '11'))
print(min('9', '10', '11') + max('9', '10', '11'))

11
9
109

In [1791]:
# Нужно написать программу, которая выводит на экран сумму всех отрицательных чисел последовательности и максимальное отрицательное число в последовательности. 
# Если отрицательных чисел нет, требуется вывести на экран «NO» (без кавычек). Программист торопился и написал программу неправильно.

my_list = [3, -1, 4, -2]
mx = 0
s = 0

for x in my_list:
    if x < 0:
        s += x
        if mx == 0 or x > mx:
            mx = x
if s:            
    print(s)
    print(mx)
else:
    print('NO')

-3
-1

In [1792]:
fib = lambda x : 1 if x <= 2 else fib(x - 1) + fib(x - 2)
fib(31)

1346269

In [1793]:
for i in range(1, 4):
    for j in range(3, 5):
        print(i + j, end='')

455667

In [1794]:
s = 'asdas2d'

s.isalpha()

False

In [1795]:
# n = int(input())
n = 12445

max_digit = 0
while n > 0:
    digit = n % 10
    if digit % 3 == 0:
        if digit > max_digit:
            max_digit = digit
    n = n // 10
if max_digit == 0:
    print('NO')
else:
    print(max_digit)

NO

In [1796]:
# Элемент списка имеющий значение Green заменить на значение Зеленый, а элемент Violet на Фиолетовый. 
# Далее необходимо вывести полученный список.

rainbow = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet']
rainbow[rainbow.index('Green')] = 'Зеленый'
rainbow[rainbow.index('Violet')] = 'Фиолетовый'

print(rainbow)

['Red', 'Orange', 'Yellow', 'Зеленый', 'Blue', 'Indigo', 'Фиолетовый']

In [1797]:
rainbow = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet']
for i in range(len(rainbow)):
    if rainbow[i] == 'Green':
        rainbow[i] = 'Зеленый'
    if rainbow[i] == 'Violet':
        rainbow[i] = 'Фиолетовый'

rainbow

['Red', 'Orange', 'Yellow', 'Зеленый', 'Blue', 'Indigo', 'Фиолетовый']

In [1798]:
# Список в обратном порядке

languages = ['Chinese', 'Spanish', 'English', 'Hindi', 'Arabic', 'Bengali', 'Portuguese', 'Russian', 'Japanese', 'Lahnda']
print(languages[::-1])

['Lahnda', 'Japanese', 'Russian', 'Portuguese', 'Bengali', 'Arabic', 'Hindi', 'English', 'Spanish', 'Chinese']

In [1799]:
languages = ['Chinese', 'Spanish', 'English', 'Hindi', 'Arabic', 'Bengali', 'Portuguese', 'Russian', 'Japanese', 'Lahnda']
languages.reverse()
print(languages)

['Lahnda', 'Japanese', 'Russian', 'Portuguese', 'Bengali', 'Arabic', 'Hindi', 'English', 'Spanish', 'Chinese']

In [1800]:
numbers1 = [1, 2, 3]
numbers2 = [6]
numbers3 = [7, 8, 9, 10, 11, 12, 13]

print(numbers1 * 2 + numbers2 * 2 + numbers3)

[1, 2, 3, 1, 2, 3, 6, 6, 7, 8, 9, 10, 11, 12, 13]

In [1801]:
# Дополните приведенный код, чтобы он:

# Вывел длину списка;
# Вывел последний элемент списка;
# Вывел список в обратном порядке (вспоминаем срезы);
# Вывел YES, если список содержит числа 5 и 17, и NO в противном случае;
# Вывел список с удаленными первым и последним элементами.

numbers = [2, 6, 3, 14, 10, 4, 11, 16, 12, 5, 4, 16, 1, 0, 8, 16, 10, 10, 8, 5, 1, 11, 10, 10, 12, 0, 0, 6, 14, 8, 2, 12, 14, 5, 6, 12, 1, 2, 10, 14, 9, 1, 15, 1, 2, 14, 16, 6, 7, 5]

print(len(numbers))
print(numbers[-1])
print(numbers[::-1])
print(('NO','YES')[5 in numbers and 17 in numbers])
print(numbers[1:-1])

50
5
[5, 7, 6, 16, 14, 2, 1, 15, 1, 9, 14, 10, 2, 1, 12, 6, 5, 14, 12, 2, 8, 14, 6, 0, 0, 12, 10, 10, 11, 1, 5, 8, 10, 10, 16, 8, 0, 1, 16, 4, 5, 12, 16, 11, 4, 10, 14, 3, 6, 2]
NO
[6, 3, 14, 10, 4, 11, 16, 12, 5, 4, 16, 1, 0, 8, 16, 10, 10, 8, 5, 1, 11, 10, 10, 12, 0, 0, 6, 14, 8, 2, 12, 14, 5, 6, 12, 1, 2, 10, 14, 9, 1, 15, 1, 2, 14, 16, 6, 7]

In [1802]:
arr = []

for i in range(ord('a'), ord('z') + 1):
    arr.append(chr(i) * (i - ord('a') + 1))
    print(chr(i) * (i - ord('a') + 1))

print(arr)

a
bb
ccc
dddd
eeeee
ffffff
ggggggg
hhhhhhhh
iiiiiiiii
jjjjjjjjjj
kkkkkkkkkkk
llllllllllll
mmmmmmmmmmmmm
nnnnnnnnnnnnnn
ooooooooooooooo
pppppppppppppppp
qqqqqqqqqqqqqqqqq
rrrrrrrrrrrrrrrrrr
sssssssssssssssssss
tttttttttttttttttttt
uuuuuuuuuuuuuuuuuuuuu
vvvvvvvvvvvvvvvvvvvvvv
wwwwwwwwwwwwwwwwwwwwwww
xxxxxxxxxxxxxxxxxxxxxxxx
yyyyyyyyyyyyyyyyyyyyyyyyy
zzzzzzzzzzzzzzzzzzzzzzzzzz
['a', 'bb', 'ccc', 'dddd', 'eeeee', 'ffffff', 'ggggggg', 'hhhhhhhh', 'iiiiiiiii', 'jjjjjjjjjj', 'kkkkkkkkkkk', 'llllllllllll', 'mmmmmmmmmmmmm', 'nnnnnnnnnnnnnn', 'ooooooooooooooo', 'pppppppppppppppp', 'qqqqqqqqqqqqqqqqq', 'rrrrrrrrrrrrrrrrrr', 'sssssssssssssssssss', 'tttttttttttttttttttt', 'uuuuuuuuuuuuuuuuuuuuu', 'vvvvvvvvvvvvvvvvvvvvvv', 'wwwwwwwwwwwwwwwwwwwwwww', 'xxxxxxxxxxxxxxxxxxxxxxxx', 'yyyyyyyyyyyyyyyyyyyyyyyyy', 'zzzzzzzzzzzzzzzzzzzzzzzzzz']

In [1803]:
# На вход программе подается натуральное число n. 
# Напишите программу, которая создает список, состоящий из делителей введенного числа.

n = 25
arr = []

for i in range(1, n + 1):
    if n % i == 0:
        arr.append(i)
print(arr)

[1, 5, 25]

In [1804]:
n = 25
arr = []

for i in range(1, n // 2 + 1):
    if n % i == 0:
        arr.append(i)
arr.append(n)
print(arr)

[1, 5, 25]

In [1805]:
# Часы

s = 129700

h = n % (24 * 3600) // 3600
m = n // 60 % 60
s = n % 60 

print(h // 10, h % 10, ":" ,m // 10 , m % 10, ":" ,s // 10, s % 10, sep = '')

print(f'{str(h).rjust(2, "0")}:{str(m).rjust(2, "0")}:{str(s).rjust(2, "0")}')

print(f'{h:02}:{m:02}:{s:02}')

00:00:25
00:00:25
00:00:25

In [1806]:
# Вводятся два трёхзначных числа. Составить из них три двузначных числа по следующему принципу: первое число состоит из цифр сотен первого и второго числа, 
# второе - из цифр десятков, третье - из единиц. Затем найти сумму полученных чисел. На экран вывести квадратный корень из вычисленной суммы.

# Например, даны числа 123 и 456. Из них составляем числа 14, 25 и 36. Сумма этих чисел равна 14 + 25 + 36 = 75, квадратный корень из этого числа 8.660254037844387

# a, b = int(input()), int(input())
a, b = 123, 456

f_sum = ''
s_sum = ''
t_sum = ''

for n in [a, b]:
    t_sum += str(n % 10)
    s_sum += str(n % 100 // 10)
    f_sum += str(n % 1000 // 100)
    print(t_sum, s_sum, f_sum)
print((int(t_sum) + int(s_sum) + int(f_sum))**0.5)

3 2 1
36 25 14
8.660254037844387

In [1807]:
a = ''

for n in range(3):
    a += str(n)
a

'012'

In [1808]:
# a, b = int(input()), int(input())
a, b = 31, 21

if b > a:
    for i in range(a, b + 1):
        if i % 2:
            print(i, end=' ')
elif b < a:
    for i in range(a, b - 1, - 1):
        if i % 2:
            print(i, end=' ')

31 29 27 25 23 21

In [1809]:
line = 'asd'
line[::-1]

'dsa'

In [1810]:
# Времена года по месяцу

month = 5

seasons = {month in (1, 2, 12): 'Зима', 
           month in (3, 4, 5): 'Весна', 
           month in (6, 7, 8): 'Лето', 
           month in (9, 10, 11): 'Осень'}

print(seasons.get(True, 'Неверный номер месяца'))

Весна

In [1811]:
# С клавиатуры вводятся размеры кирпича A, B, C и сторона квадратного отверстия X (A, B, C, X - целые числа). 
# Определить, пройдёт ли кирпич в отверстие. Вывести ответ в формате Да/Нет.

# a, b, c, x = [int(input()) for _ in range(3)]

def kirpich(a, b, c, x):
    print(('Нет', 'Да')[a < x and b < x or b < x and c < x or a < x and c < x])

kirpich(8, 5, 5, 5)
kirpich(3, 2, 5, 4)

Нет
Да

In [1812]:
def kirpich(a, b, c, x):
    v = sorted([a, b, c])[:2]
    print(('Нет', 'Да')[v[0] < x and v[1] < x])

kirpich(8, 5, 5, 5)
kirpich(3, 2, 5, 4)

Нет
Да

In [1813]:
def is_strings_equal(line1, line2 = None):
    return sorted([ord(s) for s in line1]) == sorted([ord(s) for s in line2])

print(is_strings_equal("leto", "etol"))

True

In [1814]:
# Напишите функцию is_strings_equal, которая принимает две строки в качестве аргументов и сравнивает их между собой. 
# Строки считаются равными, если они имеют одинаковую длину и одинаковые символы в равном количестве вне зависимости от их расположения.

def is_strings_equal(line1, line2 = None):
    return sorted([ord(s) for s in line1]) == sorted([ord(s) for s in line2])

print(is_strings_equal("leto", "etol"))

def is_strings_equal_2(line1, line2 = None):
    return sorted(line1) == sorted(line2)

print(is_strings_equal_2("leto", "etol"))

def is_strings_equal_3(line1: str, line2: str):
    return {s:line1.count(s) for s in line1} == {s:line2.count(s) for s in line2}

print(is_strings_equal_3("leto", "etol"))

def is_strings_equal_4(line1: str, line2: str):
    for s in line1:
        if line1.count(s) != line2.count(s):
            return False
    return True

print(is_strings_equal_4("leto", "etol"))

True
True
True
True

In [1815]:
age = 31
height = 1.7
weight = 76

if age < 10 or height <= 0 or height > 3 or weight <= 0 or weight > 500:    
    print("Ошибочные входные данные")
else:
    bmi = weight / height ** 2  
    bmi = round(bmi, 2)
    if age < 45:
        if bmi < 18.5:
            description = "недостаточной массой тела."            
        elif bmi < 25:
            description = "нормальной массой тела."            
        elif bmi < 30:
            description = "избыточной массой тела."  
        else:          
            description = "ожирением."
    if age >= 45:
        if bmi < 22:
            description = "недостаточной массой тела."            
        elif bmi < 27:
            description = "нормальной массой тела."            
        elif bmi < 32:
            description = "избыточной массой тела."  
        else:          
            description = "ожирением."

    print("bmi=", bmi, "Вы относитесь к группе людей с", description)

bmi= 26.3 Вы относитесь к группе людей с избыточной массой тела.

In [1816]:
# В ящике лежат 4 белых и 2 черных носка (носки одного цвета полностью идентичны друг другу). 
# Вам было лень их раскладывать по парам и они лежат вперемешку.
# На следующий день утром вы засунули руку в ящик и наудачу вытащили три носка (три носка однозначно позволяют выбрать цвет носков, в которых вы пойдете на работу). 
# С какой вероятностью вы пойдете на работу в черных носках?

# import numpy as np

# n = 100000

# w = 4
# b = 2

# success = 0

# basket = 'w' * w + 'b' * b

# for _ in range(n):
#     s1, s2, s3 = np.random.choice(a = w + b, size=3, replace=False)
#     if (basket[s1] == 'b' and basket[s2] == 'b') or (basket[s2] == 'b' and basket[s3] == 'b') or (basket[s1] == 'b' and basket[s3] == 'b') \
#         or (basket[s1] == 'b' and basket[s2]  == 'b' and basket[s3] == 'b'):
#         success += 1
# print(success / n)


b1 = 2 / 6 # Вероятность вытащить черный носок при первом вытаскивании
b2 = 1 / 5 # Вероятность вытащить черный носок при втором вытаскивании

result = b1 * b2 * 3 # Три варианта вытащить два черных носка (при первом-втором, первом-третьем, втором-третьем)

print(result)

0.2

In [1817]:
# Какая картина чаще наблюдается в подземных переходах нашей страны:
# а) в шляпе бомжа из 4х монет две лежат орлом вверх,
# б) в шляпе уличного музыканта из 6 монет три лежат орлом вверх?
# Подсчитайте вероятность события из п. а) и п. б). В ответ напишите во сколько раз вероятность из п. а) больше вероятности из п. б)

# # Способ 1. Симуляция процесса.
# import numpy as np

# # Найти вероятность того, что половина монет будет лежать орлом вверх.
# # coins - число монет.
# # numbers - число испытаний.
# def prob(coins, numbers): 
#     success = 0 # Число успешных исходов.
#     for _ in range(numbers): # Делаем numbers испытаний.
#         s = np.random.choice([0, 1], size=coins) # Кидаем монеты (0 -решка, 1 - орел).
#         # Если половина монет лежит орлом вверх - увеличить число успешных исходов.
#         success += coins - s.sum() == coins // 2 
#     return success / numbers # Расчитать вероятность.

# probs = [prob(coins, 100000) for coins in (4, 6)]
# print(round(probs[0] / probs[1], 2))

In [1818]:
# Способ 2.
from math import factorial

def C_nk(n, k): # Число сочетаний из n по k
    return factorial(n) / (factorial(n - k) * factorial(k))

# Найти вероятность того, что половина монет будет лежать орлом вверх.
# coins - число монет.
def prob(coins):
    return C_nk(coins, coins // 2) / 2**coins

probs = [prob(coins) for coins in (4, 6)]
print(probs[0] / probs[1])

1.2

In [1819]:
# Напишите программу, которая определяет, оканчивается ли год с данным номером на два нуля. 
# Если год оканчивается, то выведите «YES», иначе выведите «NO».

# a, b, c, d = input()
# print(('NO', 'YES')[int(c) == 0 and int(d) == 0])

In [1820]:
# Заданы две клетки шахматной доски. Напишите программу, которая определяет, имеют ли указанные клетки один цвет или нет. 
# Если они покрашены в один цвет, то выведите слово «YES», а если в разные цвета, то «NO».

In [1821]:
my_dict = {k:v for (k, v) in zip(range(1, 11), ['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X'])}

# n = int(input()
n = 6
print(my_dict.get(n), 'ошибка')

VI ошибка

In [1822]:
# если число нечётное, то вывести «YES»;
# если число чётное в диапазоне от 2 до 5 (включительно), то вывести «NO»;
# если число чётное в диапазоне от 6 до 20 (включительно), то вывести «YES»;
# если число чётное и больше 20, то вывести «NO».

# n = int(input())
n  = 5

print('YES' if n % 2 else ('NO', 'YES', 'NO')[sum([n >= 2, n >= 6, n > 20]) - 1])

YES

In [1823]:
n = 21
('NO', 'YES', 'NO')[sum([n >= 2, n >= 6, n > 20]) - 1]

'NO'

In [1824]:
# Даны две различные клетки шахматной доски. Напишите программу, которая определяет, может ли слон попасть с первой клетки на вторую одним ходом. 
# Программа получает на вход четыре числа от 1 до 8 каждое, задающие номер столбца и номер строки сначала для первой клетки, потом для второй клетки. 
# Программа должна вывести «YES», если из первой клетки ходом слона можно попасть во вторую, или «NO» в противном случае.

# x1, y1, x2, y2 = [int(input()) for _ in range(4)]
x1, y1, x2, y2 = 3, 3, 1, 1

if abs(x2 - x1) == abs(y2 - y1):
    print('YES')
elif x2 == x1 or y2 == y1:
    print('YES')
else:
    print('NO')

YES

In [1825]:
import pandas as pd
x = [4, 5, 2, 3, 1]
y = [2, 1, 4, 3, 5]

df = pd.DataFrame({'x': x,
                   'y': y})

df.corr()

     x    y
x  1.0 -1.0
y -1.0  1.0

In [1826]:
n = 11

total = 0

for i in range(n):
    total += 6 ** i

print(total)

72559411

In [1827]:
total = 0
my_set1 = set()
my_set2= set()

for i in range(1, 7):
    total += i
for i in range(1, 7):
    if i < 5:
        my_set1.add(i)
    if i % 2:
        my_set2.add(i)
print(my_set1, my_set2)
print(my_set1.intersection(my_set2))
print(my_set1.union(my_set2))
print(my_set1.difference(my_set2))
print(sum(my_set1.intersection(my_set2)))
print(sum(my_set1.union(my_set2)))
print(sum(my_set1.difference(my_set2)))

{1, 2, 3, 4} {1, 3, 5}
{1, 3}
{1, 2, 3, 4, 5}
{2, 4}
4
15
6

In [1828]:
s = [5, 4, -1, 0, 3, 0, -9, -1, 3]    # вводим в список s указанное количество чисел

for i in range(3):    # запускаем 3 цикла
    for c in s:    # переменная c принимает по порядку значения чисел из списка s
        if (c < 0, c == 0, c > 0)[i]:    # условие срабатывает для отрицательных, затем нулей, затем положительных
            print(c)

-1
-9
-1
0
0
5
4
3
3

In [1829]:
from math import factorial

In [1830]:
n = 52
k = 6
C_kn = factorial(n) / (factorial(k) * factorial((n - k)))
C_kn

20358520.0

In [1831]:
n = 13
k = 3
C_kn1 = factorial(n) / (factorial(k) * factorial((n - k)))
print(C_kn1)

n = 13
k = 3
C_kn2 = factorial(n) / (factorial(k) * factorial((n - k)))
print(C_kn2)

C_kn = C_kn1 * C_kn2
print(C_kn)

n = 4
k = 2
f = factorial(n) / (factorial(k) * factorial((n - k)))
C_kn = C_kn * f
print(C_kn)

286.0
286.0
81796.0
490776.0

In [1832]:
n = 13
k = 3
C_kn = factorial(n) / (factorial(k) * factorial((n - k)))
C_kn * f

1716.0

In [1833]:
n = 13
k = 2
C_kn2 = factorial(n) / (factorial(k) * factorial((n - k)))
print(C_kn2)

n = 39
k = 4
f = factorial(n) / (factorial(k) * factorial((n - k)))
C_kn2 = C_kn2 * f
print(C_kn2)

78.0
6415578.0

In [1834]:
n = 13
k = 1
C_kn1 = factorial(n) / (factorial(k) * factorial((n - k)))
print(C_kn1)

n = 39
k = 5
f = factorial(n) / (factorial(k) * factorial((n - k)))
C_kn1 = C_kn1 * f
print(C_kn1)

13.0
7484841.0

In [1835]:
n = 13
k = 0
C_kn0 = factorial(n) / (factorial(k) * factorial((n - k)))
print(C_kn0)

n = 39
k = 6
f = factorial(n) / (factorial(k) * factorial((n - k)))
C_kn0 = C_kn0 * f
print(C_kn0)

1.0
3262623.0

In [1836]:
C_kn2 + C_kn1 + C_kn0

17163042.0

In [1837]:
n = 3
k = 2

factorial(n) / factorial(n - k)

6.0

In [1838]:
n = 6
k = 5
C_kn = factorial(n + k - 1) / (factorial(k) * factorial((n - k + k -1)))
C_kn

252.0

In [1839]:
# Сколько чисел от 1 до 9999 (включая 1 и 9999) не имеют в своей десятичной записи одинаковых подряд идущих цифр? (к примеру, не подходят 1488, 2259, 3233)

9 ** 4 + 9 ** 3 + 9 ** 2 + 9

# Однозначные числа (1-9):
# Все однозначные числа (1, 2, ..., 9) подходят. Итого: 9 чисел.

# Двузначные числа (10-99):
# Первую цифру можно выбрать из 1-9 (9 вариантов).
# Вторую цифру можно выбрать из 0-9, исключая первую (9 вариантов).
# Итого: 9×9=81 чисел.

# Трехзначные числа (100-999):
# Первую цифру можно выбрать из 1-9 (9 вариантов).
# Вторую цифру можно выбрать из 0-9, исключая первую (9 вариантов).
# Третью цифру можно выбрать из 0-9, исключая вторую (9 вариантов).
# Итого: 9×9×9=729 чисел.

# Четырехзначные числа (1000-9999):
# Первую цифру можно выбрать из 1-9 (9 вариантов).
# Вторую цифру можно выбрать из 0-9, исключая первую (9 вариантов).
# Третью цифру можно выбрать из 0-9, исключая вторую (9 вариантов).
# Четвертую цифру можно выбрать из 0-9, исключая третью (9 вариантов).

# Итого: 9×9×9×9=6561 чисел.

# Теперь суммируем все подходящие числа: 9+81+729+6561=7380

7380

In [1840]:
A = {1,2,3,4,5,6,7} 
B = {4,5,6,7,8,9,10}
C = {2,4,6,8,10}
U = {1,2,3,4,5,6,7,8,9,10}

A.union(B).intersection(U.difference(C))

{1, 3, 5, 7, 9}

In [1841]:
import numpy as np

# Создайте массив arr.

arr = np.arange(6).reshape(3, 2)

In [1842]:
np.expand_dims(arr, axis=0)

array([[[0, 1],
        [2, 3],
        [4, 5]]])

In [1843]:
# 3, 4, 2
arr = np.array([[[1, 2], [3, 4], [5, 6], [7, 8]],

                [[9, 10], [11, 12], [13, 14], [15, 16]],
                
                [[17, 18], [19, 20], [21, 22], [23, 24]]])
arr.shape

(3, 4, 2)

In [1844]:
# 3, 2

arr_new = np.array([[31, 32], [33, 34], [35, 36]])

print(arr_new.shape)
arr_new

(3, 2)

array([[31, 32],
       [33, 34],
       [35, 36]])

In [1845]:
arr_new = np.expand_dims(arr_new, axis=1)
print(arr_new.shape)
arr_new

(3, 1, 2)

array([[[31, 32]],

       [[33, 34]],

       [[35, 36]]])

In [1846]:
arr_sum = np.hstack([arr, arr_new])

print(arr_sum.shape)
arr_sum

(3, 5, 2)

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6],
        [ 7,  8],
        [31, 32]],

       [[ 9, 10],
        [11, 12],
        [13, 14],
        [15, 16],
        [33, 34]],

       [[17, 18],
        [19, 20],
        [21, 22],
        [23, 24],
        [35, 36]]])

In [1847]:
arr1, arr2, arr3 = np.array_split(arr_sum, 3, axis=0)
arr1.shape

(1, 5, 2)

In [1848]:
arr_new.shape

(3, 1, 2)

In [1849]:
arr = np.empty([256, 256, 3])
arr.shape

(256, 256, 3)

In [1850]:
arr1, arr2, arr3 = np.array_split(arr, 3, axis=2)
print(arr1.shape, arr2.shape, arr3.shape)

(256, 256, 1) (256, 256, 1) (256, 256, 1)

In [1851]:
arr1 = np.squeeze(arr1)
arr2 = np.squeeze(arr2)
arr3 = np.squeeze(arr3)

arr1 = np.expand_dims(arr1, axis=0)
arr2 = np.expand_dims(arr2, axis=0)
arr3 = np.expand_dims(arr3, axis=0)

In [1852]:
np.concatenate([arr1, arr2, arr3]).shape

(3, 256, 256)

In [1853]:
s1 = 'Ab4c1$#ddd'
s2 = 'a_b_c##DDD70'

s1 = [s.lower() for s in s1 if s.isalpha()]
s2 = [s.lower() for s in s2 if s.isalpha()]
s1 == s2

True

In [1854]:
n = 10
k = 4
A_nk1 = factorial(n) / factorial(n - k)
A_nk1

5040.0

In [1855]:
n = 4
k = 1
A_nk1 = factorial(n) / factorial(n - k)
A_nk1 * 3

12.0

In [1856]:
n = 8
k = 5
A_nk2 = factorial(n) / factorial(n - k)
A_nk2

6720.0

In [1857]:
A_nk1 * A_nk2

26880.0

In [1858]:
n = 12
k = 5
C_nk1 = factorial(n) / (factorial(k) * factorial(n - k))
C_nk1

792.0

In [1859]:
n = 10
k = 5
C_nk2 = factorial(n) / (factorial(k) * factorial(n - k))
C_nk2

252.0

In [1860]:
C_nk1 * C_nk2

199584.0

In [1861]:
password ='1221:101:22'

arr = password.split(':')
flag = True
if len(arr) == 3:
    if list(arr[0]) != list(arr[0])[::-1]:
        flag = False

    if int(arr[1]) <= 1 or any([int(arr[1]) % i == 0 for i in range(2, int(arr[1]) // 2 + 1)]):
        flag = False

    if int(arr[2]) % 2:
        flag = False
    
else:
    flag = False
flag

True

In [1862]:
n = 17

any([n % i == 0 for i in range(2, n // 2 + 1)])

False

In [1863]:
for i in range(1, 9):
    print(' ' * (8 - i) + '*' *(i +(i - 1)))

       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************

# Регулярное выражение

In [1864]:
import re

words = 'Milk is white and so is glue, Ghosts!!! Are white and they say BOO!'

words_new = re.sub(r'[.,;:-?-!]', '', words)

print(words_new)

Milk is white and so is glue Ghosts Are white and they say BOO

In [1865]:
sentence = '''My very photogenic mother died in a freak accident (picnic, lightning) when I was three, and, save for a pocket'''

set(s.strip(':,.!?();').lower() for s in sentence.split())

{'a',
 'accident',
 'and',
 'died',
 'for',
 'freak',
 'i',
 'in',
 'lightning',
 'mother',
 'my',
 'photogenic',
 'picnic',
 'pocket',
 'save',
 'three',
 'very',
 'was',
 'when'}

In [1866]:
from math import factorial
def cnk(n, k):
    return factorial(n) / (factorial(k) * factorial(n - k))

a = 5
total = 0

for i in range(a):
    sch = cnk(a, a - i)
    total += sch
    print(f'n = {a}, k = {a - i}, соч = {sch}')
total

n = 5, k = 5, соч = 1.0
n = 5, k = 4, соч = 5.0
n = 5, k = 3, соч = 10.0
n = 5, k = 2, соч = 10.0
n = 5, k = 1, соч = 5.0

31.0

In [1867]:
a = 30

m = 17
mf = 5
f = 10
fi = 4
i = 13
mi = 6
mfi= 3

mf1 = 22
fi1 = 19
mi1 = 24

In [1868]:
capitals = {'Россия': 'Москва', 'Франция': 'Париж', 'Чехия': 'Прага'}

for key, value in capitals.items():
    print(key, '-', value)

Россия - Москва
Франция - Париж
Чехия - Прага

In [1869]:
users = [{'name': 'Todd', 'phone': '551-1414', 'email': 'todd@gmail.com'},
         {'name': 'Helga', 'phone': '555-1618', 'email': 'helga@mail.net'},
         {'name': 'Olivia', 'phone': '449-3141', 'email': ''},
         {'name': 'LJ', 'phone': '555-2718', 'email': 'lj@gmail.net'},
         {'name': 'Ruslan', 'phone': '422-145-9098', 'email': 'rus-lan.cha@yandex.ru'},
         {'name': 'John', 'phone': '233-421-32', 'email': ''},
         {'name': 'Lara', 'phone': '+7998-676-2532', 'email': 'g.lara89@gmail.com'},
         {'name': 'Alina', 'phone': '+7948-799-2434', 'email': 'ali.ch.b@gmail.com'},
         {'name': 'Robert', 'phone': '420-2011', 'email': ''},
         {'name': 'Riyad', 'phone': '128-8890-128', 'email': 'r.mahrez@mail.net'},
         {'name': 'Khabib', 'phone': '+7995-600-9080', 'email': 'kh.nurmag@gmail.com'},
         {'name': 'Olga', 'phone': '6449-314-1213', 'email': ''},
         {'name': 'Roman', 'phone': '+7459-145-8059', 'email': 'roma988@mail.ru'},
         {'name': 'Maria', 'phone': '12-129-3148', 'email': 'm.sharapova@gmail.com'},
         {'name': 'Fedor', 'phone': '+7445-341-0545', 'email': ''},
         {'name': 'Tim', 'phone': '242-449-3141', 'email': 'timm.ggg@yandex.ru'}]

In [1870]:
arr = []

for some_dict in users:
    if some_dict['phone'][-1] == '8':
        arr.append(some_dict['name'])
print(*sorted(arr))

Helga LJ Maria Riyad Ruslan

In [1871]:
result = [user['name'] for user in users if not user.get('email')]

print(*sorted(result))

Fedor John Olga Olivia Robert

In [1872]:
dict1 = {'a': 100, 'z': 333, 'b': 200, 'c': 300, 'd': 45, 'e': 98, 't': 76, 'q': 34, 'f': 90, 'm': 230}
dict2 = {'a': 300, 'b': 200, 'd': 400, 't': 777, 'c': 12, 'p': 123, 'w': 111, 'z': 666}

result = dict2.copy()


for k in dict1:
    if k in dict2:
        result[k] = dict1[k] + dict2[k]
    else:
        result[k] = dict1[k]

print(result)

# {'a': 400, 'z': 999, 'b': 400, 'c': 312, 'd': 445, 'e': 98, 't': 853, 'q': 34, 'f': 90, 'm': 230, 'p': 123, 'w': 111}

{'a': 400, 'b': 400, 'd': 445, 't': 853, 'c': 312, 'p': 123, 'w': 111, 'z': 999, 'e': 98, 'q': 34, 'f': 90, 'm': 230}

In [1873]:
import random

def generate_ip():
    return '.'.join(list(str(random.randint(0, 255)) for _ in range(4)))
        
print(generate_ip())

114.56.4.18

In [1874]:
import random

n = 10**6       # количество испытаний
S0 = 4
k = 0

for _ in range(n):
    x = random.uniform(-1, 1)
    y = random.uniform(-1, 1)

    if x**2 + y**2 <= 1:
        k += 1

print((k / n) * S0)

3.139628

In [1875]:
from decimal import *
from math import *

num1 = Decimal('1.44')
num2 = Decimal('0.523')

sq = sqrt(num1)

print(sqrt(num1))
print(sin(num2))
print(log(num1 + num2))

1.2
0.4994813555186418
0.6744739152943241

In [1876]:
s = '9.73 8.84 8.92 9.60 9.32 8.97 8.53 1.26 6.62 9.85 1.85 1.80 0.83 6.75 9.74 9.11 9.14 5.03 5.03 1.34 3.52 8.09 7.89 8.24 8.23 5.22 0.30 2.59 1.25 6.24 2.14 7.54 5.72 2.75 2.32 2.69 9.32 8.11 4.53 0.80 0.08 9.36 5.22 4.08 3.86 5.56 1.43 8.36 6.29 5.13'

from decimal import *

arr = [Decimal(i) for i in s.split()]

print(sum(arr))
print(*sorted(arr, reverse=True)[:5])

279.12
9.85 9.74 9.73 9.60 9.36

In [1877]:
from decimal import Decimal as D

d = D('2.2')

res = D.exp(d) + D.ln(d) + D.log10(d) + D.sqrt(d)
res

Decimal('11.63913323803972992163917977')

In [1878]:
st1 = set('КАВАЛЕРИЯ')
st2 = set('МЕЛИОРАЦИЯ')
st3 = st1.intersection(st2)
''.join(st3)

'ЯАРЕЛИ'

In [1879]:
n = 100
arr = []

for i in range(101):
    if i % 5 and i % 7:
        arr.append(i)

print(len(arr))

68

In [1880]:
print(len([x for x in range(101) if x % 5 != 0 and x % 7 != 0]))

68

In [1881]:
from fractions import Fraction as F

s = '0.78 4.3 9.6 3.88 7.08 5.88 0.23 4.65 2.79 0.90 4.23 2.15 3.24 8.57 0.10 8.57 1.49 5.64 3.63 8.36 1.56 6.67 1.46 5.26 4.83 7.13 1.22 1.02 7.82 9.97 5.40 9.79 9.82 2.78 2.96 0.07 1.72 7.24 7.84 9.23 1.71 6.24 5.78 5.37 0.03 9.60 8.86 2.73 5.83 6.50 0.123 0.00021'

arr = [F(i) for i in s.split()]

print(min(arr) + max(arr))

997021/100000

In [1882]:
from fractions import Fraction as F

n = 4

print(sum(list(F(f'1/{i ** 2}') for i in range(1, n + 1))))

205/144

In [1883]:
factorial(3) / (factorial(3-1)* factorial(1))

3.0

In [1884]:
factorial(16) / (factorial(16-3)* factorial(3)) * 3

1680.0

In [1885]:
i = (-1) ** 0.5
z = 1 + i

z**3 + z**2 + z + 1

5j

In [1886]:
pets = [('Hatiko', 'Parker', 'Wilson', 50),
        ('Rusty', 'Josh', 'King', 25),
        ('Fido', 'John', 'Smith', 28),
        ('Butch', 'Jake', 'Smirnoff', 18),
        ('Odi', 'Emma', 'Wright', 18),
        ('Balto', 'Josh', 'King', 25),
        ('Barry', 'Josh', 'King', 25),
        ('Snape', 'Hannah', 'Taylor', 40),
        ('Horry', 'Martha', 'Robinson', 73),
        ('Giro', 'Alex', 'Martinez', 65),
        ('Zooma', 'Simon', 'Nevel', 32),
        ('Lassie', 'Josh', 'King', 25),
        ('Chase', 'Martha', 'Robinson', 73),
        ('Ace', 'Martha', 'Williams', 38),
        ('Rocky', 'Simon', 'Nevel', 32)]

result = {}

for line in pets:
    arr = []
    temp = (line[1], line[2], line[3])
    result.setdefault(temp, []).append(line[0])
print(result)

result = {}

for line in pets:
    temp = (line[1], line[2], line[3])
    result[temp] = result.get(temp, []) + [line[0]]

print(result)

{('Parker', 'Wilson', 50): ['Hatiko'], ('Josh', 'King', 25): ['Rusty', 'Balto', 'Barry', 'Lassie'], ('John', 'Smith', 28): ['Fido'], ('Jake', 'Smirnoff', 18): ['Butch'], ('Emma', 'Wright', 18): ['Odi'], ('Hannah', 'Taylor', 40): ['Snape'], ('Martha', 'Robinson', 73): ['Horry', 'Chase'], ('Alex', 'Martinez', 65): ['Giro'], ('Simon', 'Nevel', 32): ['Zooma', 'Rocky'], ('Martha', 'Williams', 38): ['Ace']}
{('Parker', 'Wilson', 50): ['Hatiko'], ('Josh', 'King', 25): ['Rusty', 'Balto', 'Barry', 'Lassie'], ('John', 'Smith', 28): ['Fido'], ('Jake', 'Smirnoff', 18): ['Butch'], ('Emma', 'Wright', 18): ['Odi'], ('Hannah', 'Taylor', 40): ['Snape'], ('Martha', 'Robinson', 73): ['Horry', 'Chase'], ('Alex', 'Martinez', 65): ['Giro'], ('Simon', 'Nevel', 32): ['Zooma', 'Rocky'], ('Martha', 'Williams', 38): ['Ace']}

In [1887]:
s = 'a b c a a d c'

result = {}

for c in s.split():
    result[c] = result.get(c, -1) + 1
    print((c, f'{c}_{result[c]}')[result[c] > 0], end=' ')

a b c a_1 a_2 d c_1

In [1888]:
s1 = 'reward'
s2 = 'drawer'

my_dict1 = {i: s1.count(i) for i in s1}
my_dict2 = {i: s2.count(i) for i in s2}

print(('NO', 'YES')[my_dict1 == my_dict2])

YES

In [1889]:
s1 = 'reward'
s2 = 'drawer'

dcts = ({}, {})
for d in dcts:
    for c in (s1, s2):
        d[c] = d.get(c, 0) + 1

print(('NO', 'YES')[dcts[0] == dcts[1]])

YES

In [1890]:
import re

words1 = 'William Shakespeare'
words2 = 'I am a weakish: speller,'

dcts = ({}, {})

for d in dcts:
    for c in (words1, words2):
        c = re.sub(r'[.,;:-?-!]', '', c.lower())
        d[c] = d.get(c, 0) + 1

print(('NO', 'YES')[dcts[0] == dcts[1]])

YES

In [1891]:
# n = int(input())

# dct = {i[0]: i[1:] for i in [(input().split()) for _ in range(n)]}

# m = int(input())

# for i in range(m):
#     s = input()
#     for k, v in dct.items():
#         if s in v:
#             print(k)

In [1892]:
# n = int(input())
# dct = {}

# for i in range(n):
#     k, v = input().split(':')
#     dct[k.lower()] = v.strip()

# m = int(input())

# for i in range(m):
#     s = input().lower()
#     print(dct.get(s, 'Не найдено'))

In [1893]:
s = '''London is the capital of Great Britain. More than six million people live in London. 
London lies on both banks of the river Thames. It is the largest city in Europe and one of 
the largest cities in the world. London is not only the capital of the country, it is also 
a very big port, one of the greatest commercial centres in the world, a university city, 
and the seat of the government of Great Britain!'''

arr = re.sub(r'[.,!?:;-]', '', s).lower().split()
arr = [word.strip('.,!?:;-') for word in s.lower().split()]
dct = {}

for i in arr:
    dct[i] = dct.get(i, 0) + 1

lst = [(value, key) for key, value in dct.items()]
lst.sort()
print(lst[0][1])

also

In [1894]:
# dct, word = {}, {}
# s = input()

# for c in s:
#     word[c] = word.get(c, 0) + 1

# n = int(input())

# for _ in range(n):
#     a, b = input().split(': ')
#     dct[int(b)] = a
# for c in s:
#     print(dct[word[c]], end='')

# Вложенные словари

In [1895]:
info = {'emp1': {'name': 'Timur', 'job': 'Teacher'},
        'emp2': {'name': 'Ruslan', 'job': 'Developer'},
        'emp3': {'name': 'Rustam', 'job': 'Tester'}}

info

{'emp1': {'name': 'Timur', 'job': 'Teacher'},
 'emp2': {'name': 'Ruslan', 'job': 'Developer'},
 'emp3': {'name': 'Rustam', 'job': 'Tester'}}

In [1896]:
info = dict(emp1 = {'name': 'Timur', 'job': 'Teacher'},
            emp2 = {'name': 'Ruslan', 'job': 'Developer'},
            emp3 = {'name': 'Rustam', 'job': 'Tester'})

info

{'emp1': {'name': 'Timur', 'job': 'Teacher'},
 'emp2': {'name': 'Ruslan', 'job': 'Developer'},
 'emp3': {'name': 'Rustam', 'job': 'Tester'}}

In [1897]:
ids = ['emp1', 'emp2', 'emp3']

emp_info = [{'name': 'Timur', 'job': 'Teacher'},
            {'name': 'Ruslan', 'job': 'Developer'},
            {'name': 'Rustam', 'job': 'Tester'}]

info = dict(zip(ids, emp_info))

info

{'emp1': {'name': 'Timur', 'job': 'Teacher'},
 'emp2': {'name': 'Ruslan', 'job': 'Developer'},
 'emp3': {'name': 'Rustam', 'job': 'Tester'}}

In [1898]:
print(info['emp1']['name'])
print(info['emp2']['job'])

Timur
Developer

In [1899]:
for emp in info:
    print('Employee ID:', emp)
    for key in info[emp]:
        print(key + ':', info[emp][key])
    print()

Employee ID: emp1
name: Timur
job: Teacher

Employee ID: emp2
name: Ruslan
job: Developer

Employee ID: emp3
name: Rustam
job: Tester

In [1900]:
for emp, inf in info.items():
    print('Employee ID:', emp)
    for key in inf:
        print(key + ':', inf[key])
    print()

Employee ID: emp1
name: Timur
job: Teacher

Employee ID: emp2
name: Ruslan
job: Developer

Employee ID: emp3
name: Rustam
job: Tester

In [1901]:
dict1 = {0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E', 5: 'F'}
selected_keys = [0, 2, 5]

dict2 = {k: dict1[k] for k in selected_keys}

print(dict2)

{0: 'A', 2: 'C', 5: 'F'}

# Генераторы вложенных словарей

In [1902]:
squares = {i: {j: j**2 for j in range(i + 1)} for i in range(5)}

for value in squares.values():
    print(value)

{0: 0}
{0: 0, 1: 1}
{0: 0, 1: 1, 2: 4}
{0: 0, 1: 1, 2: 4, 3: 9}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [1903]:
numbers = [34, 10, -4, 6]

result = {k: v**2 for (k, v) in zip(range(len(numbers)), numbers)}

result

{0: 1156, 1: 100, 2: 16, 3: 36}

In [1904]:
numbers = [34, 10, -4, 6]

result = {k: v**2 for k, v in enumerate(numbers)}

result

{0: 1156, 1: 100, 2: 16, 3: 36}

In [1905]:
numbers = [34, 10, -4, 6]

result = {i: numbers[i]**2 for i in range(len(numbers))}

result

{0: 1156, 1: 100, 2: 16, 3: 36}

In [1906]:
colors = {'c1': 'Red', 'c12': 'Gold', 'c13': None, 'c14': 'Amber', 'c17': 'Bronze', 'c18': None, 'c19': 'Lilac', 'c20': 'Pearl', 'c21': None, 'c22': 'Sand', 'c23': None}

result = {k: v for k, v in colors.items() if v}
result

{'c1': 'Red',
 'c12': 'Gold',
 'c14': 'Amber',
 'c17': 'Bronze',
 'c19': 'Lilac',
 'c20': 'Pearl',
 'c22': 'Sand'}

In [1907]:
s = '1:men 2:kind 90:number 0:sun 34:book 56:mountain'

result = {int(i[0]): i[1] for i in [c.split(':') for c in s.split()]}
result

{1: 'men', 2: 'kind', 90: 'number', 0: 'sun', 34: 'book', 56: 'mountain'}

In [1908]:
# Найти делители

numbers = [1, 6, 18]

# Должно получится : result = {1: [1], 6: [1, 2, 3, 6], 18: [1, 2, 3, 6, 9, 18]}

result = {k: v for (k, v) in zip(numbers, [[j for j in range(1, i + 1) if i % j == 0] for i in numbers])}
result

{1: [1], 6: [1, 2, 3, 6], 18: [1, 2, 3, 6, 9, 18]}

In [1909]:
words = ['yes', 'hello']

# result = {'yes': [121, 101, 115], 'hello': [104, 101, 108, 108, 111]}

result = {k: v for (k, v) in zip(words, [[ord(i) for i in word] for word in words])}

In [1910]:
words = ['yes', 'hello']
[[ord(i) for i in word] for word in words]

[[121, 101, 115], [104, 101, 108, 108, 111]]

In [1911]:
students = {'Timur': (170, 75), 'Ruslan': (180, 105), 'Soltan': (192, 68), 'Roman': (175, 70), 'Madlen': (160, 50), 'Stefani': (165, 70), 'Tom': (190, 90), 'Jerry': (180, 87), 'Anna': (172, 67), 'Scott': (168, 78), 'John': (186, 79), 'Alex': (195, 120), 'Max': (200, 110), 'Barak': (180, 89), 'Donald': (170, 80), 'Rustam': (186, 100), 'Alice': (159, 59), 'Rita': (170, 80), 'Mary': (175, 69), 'Jane': (190, 80)}

result = {k: v for k, v in students.items() if v[0] > 167 and v[1] < 75}
result

{'Soltan': (192, 68), 'Roman': (175, 70), 'Anna': (172, 67), 'Mary': (175, 69)}

In [1912]:
tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12), (13, 14, 15), (16, 17, 18), (19, 20, 21), (22, 23, 24), (25, 26, 27), (28, 29, 30), (31, 32, 33), (34, 35, 36)]

result = {i[0]: i[1:] for i in tuples}
result

{1: (2, 3),
 4: (5, 6),
 7: (8, 9),
 10: (11, 12),
 13: (14, 15),
 16: (17, 18),
 19: (20, 21),
 22: (23, 24),
 25: (26, 27),
 28: (29, 30),
 31: (32, 33),
 34: (35, 36)}

In [1913]:
student_ids = ['S001', 'S002', 'S003', 'S004', 'S005', 'S006', 'S007', 'S008', 'S009', 'S010', 'S011', 'S012', 'S013'] 
student_names = ['Camila Rodriguez', 'Juan Cruz', 'Dan Richards', 'Sam Boyle', 'Batista Cesare', 'Francesco Totti', 'Khalid Hussain', 'Ethan Hawke', 'David Bowman', 'James Milner', 'Michael Owen', 'Gary Oldman', 'Tom Hardy'] 
student_grades = [86, 98, 89, 92, 45, 67, 89, 90, 100, 98, 10, 96, 93]

result = [{k:{k1: v1}} for k, k1, v1 in zip(student_ids, student_names, student_grades)]
result

[{'S001': {'Camila Rodriguez': 86}},
 {'S002': {'Juan Cruz': 98}},
 {'S003': {'Dan Richards': 89}},
 {'S004': {'Sam Boyle': 92}},
 {'S005': {'Batista Cesare': 45}},
 {'S006': {'Francesco Totti': 67}},
 {'S007': {'Khalid Hussain': 89}},
 {'S008': {'Ethan Hawke': 90}},
 {'S009': {'David Bowman': 100}},
 {'S010': {'James Milner': 98}},
 {'S011': {'Michael Owen': 10}},
 {'S012': {'Gary Oldman': 96}},
 {'S013': {'Tom Hardy': 93}}]

In [1914]:
my_dict = {'C1': [10, 20, 30, 7, 6, 23, 90], 'C2': [20, 30, 40, 1, 2, 3, 90, 12], 'C3': [12, 34, 20, 21], 'C4': [22, 54, 209, 21, 7], 'C5': [2, 4, 29, 21, 19], 'C6': [4, 6, 7, 10, 55], 'C7': [4, 8, 12, 23, 42], 'C8': [3, 14, 15, 26, 48], 'C9': [2, 7, 18, 28, 18, 28]}

my_dict = {k: v for k, v in zip(my_dict.keys(), [[j for j in i if j <= 20] for i in my_dict.values()])}

my_dict

{'C1': [10, 20, 7, 6],
 'C2': [20, 1, 2, 3, 12],
 'C3': [12, 20],
 'C4': [7],
 'C5': [2, 4, 19],
 'C6': [4, 6, 7, 10],
 'C7': [4, 8, 12],
 'C8': [3, 14, 15],
 'C9': [2, 7, 18, 18]}

In [1915]:
emails = {'nosu.edu': ['timyr', 'joseph', 'svetlana.gaeva', 'larisa.mamuk'], 
          'gmail.com': ['ruslan.chaika', 'rustam.mini', 'stepik-best'], 
          'msu.edu': ['apple.fruit', 'beegeek', 'beegeek.school'], 
          'yandex.ru': ['surface', 'google'],
          'hse.edu': ['tomas-henders', 'cream.soda', 'zivert'],
          'mail.ru': ['angel.down', 'joanne', 'the.fame.moster']}

arr = []

for k, v in emails.items():
    for c in v:
        arr.append(c + '@' + k)

print(*sorted(arr), sep='\n')

angel.down@mail.ru
apple.fruit@msu.edu
beegeek.school@msu.edu
beegeek@msu.edu
cream.soda@hse.edu
google@yandex.ru
joanne@mail.ru
joseph@nosu.edu
larisa.mamuk@nosu.edu
ruslan.chaika@gmail.com
rustam.mini@gmail.com
stepik-best@gmail.com
surface@yandex.ru
svetlana.gaeva@nosu.edu
the.fame.moster@mail.ru
timyr@nosu.edu
tomas-henders@hse.edu
zivert@hse.edu

In [1916]:
d = {'A': 'U', 'C': 'G', 'G': 'C', 'T': 'A'}

s = 'ACTG'

print(''.join([d[c] for c in s]))

UGAC

In [1917]:
line = 'Привет что делаешь что нового что с работой как там с деньгами'.lower().split()

dct = {}

for s in line:
    dct[s] = dct.get(s, 0) + 1
    print(dct[s], end=' ')
dct

1 1 1 2 1 3 1 1 1 1 2 1

{'привет': 1,
 'что': 3,
 'делаешь': 1,
 'нового': 1,
 'с': 2,
 'работой': 1,
 'как': 1,
 'там': 1,
 'деньгами': 1}

In [1918]:
d = {
    1: "AEILNORSTU",
    2: "DG",
    3: "BCMP",
    4: "FHVWY",
    5: "K",
    8: "JX",
    10: "QZ"
}

line = 'FRESHENER'

total = 0

for s in line:
    for k, v in d.items():
        if s in v:
            total += k

total

15

In [1919]:
# transform = {'execute': 'X', 'write': 'W', 'read': 'R'}
# mydict = {}

# for _ in range(int(input())):
#     name, *operations = input().split()
#     mydict[name] = operations
    
# for _ in range(int(input())):
#     operation, name = input().split()
#     if transform[operation] in mydict[name]:
#         print('OK')
#     else:
#         print('Access denied')

In [1920]:
def build_query_string(params):
    s = '&'.join([str(i[0]) + '=' + str(i[1]) for i in sorted(params.items())])
    return s

print(build_query_string({"per": 14, "page": 7, "color": "red"}))

color=red&page=7&per=14

In [1921]:
# Объединение словарей

def merge(values):
    res = {}
    for d in values:
        for k, v in d.items():
            res.setdefault(k, set()).add(v)
    return res

result = merge([{'a': 1, 'b': 2}, {'b': 10, 'c': 100}, {'a': 1, 'b': 17, 'c': 50}, {'a': 5, 'd': 777}])

print(result)

{'a': {1, 5}, 'b': {17, 2, 10}, 'c': {50, 100}, 'd': {777}}

In [1922]:
dcts = [{'a': 1, 'b': 2}, {'b': 10, 'c': 100}, {'a': 1, 'b': 17, 'c': 50}, {'a': 5, 'd': 777}]

res = {}

for dct in dcts:
    for k, v in dct.items():
        res[k] = res.get(k, set()) | {v}

res

{'a': {1, 5}, 'b': {2, 10, 17}, 'c': {50, 100}, 'd': {777}}

# Заполнение многоуровневого словаря

In [1923]:
# n = int(input())
# dct = {}

# for i in range(n):
#     name, thing, amount = input().split()
#     dct[name][thing] = dct.setdefault(name, {}).get(thing, 0) + int(amount) 

# for name, things in sorted(dct.items()):
#     print(name + ':')
#     for thing, amount in sorted(things.items()):
#         print(thing, amount)

# Вложенные списки, Матрицы

In [1924]:
# Треугольник Паскаля

n = 7   # - количество строк

arr = [[0] * i for i in range(1, n + 1)]

for i in range(n):
    lst = []
    for j in range(i + 1):
        if i == j or j == 0:
            arr[i][j] = 1
        else:
            arr[i][j] = arr[i-1][j-1] + arr[i-1][j]

print(*arr, sep='\n')
print()

m = 4   # - вывод строки под номером m
print(arr[m - 1])

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]

[1, 3, 3, 1]

In [1925]:
# def pascal(n):
#     arr = [[0] * i for i in range(1, n + 1)]

#     for i in range(n):
#         lst = []
#         for j in range(i + 1):
#             if i == j or j == 0:
#                 arr[i][j] = 1
#             else:
#                 arr[i][j] = arr[i-1][j-1] + arr[i-1][j]
#     return arr[: (n - 1)]

# n = int(input()) + 1

# arr = pascal(n)

# for i in arr:
#     print(*i)

In [1926]:
# Упаковка дубликатов

s = 'a b b a b c'

user_input = s.split()
# Создайте список пустой result для записи конечного результата и список temp, в котором будут храниться элементы, которые в процессе будут добавляться в список result.
# Добавьте в список temp первый элемент из получившегося списка из input для сравнения с последующим элементом.
# Убедитесь, что в temp хранится именно список, а не строка.
result = []
temp = list(user_input[0])
# Создайте цикл от 1 до длины input'а.
for i in range(1, len(user_input)):
# Если элемент input'а по индексу i равно первому элементу списка temp, то в список temp добавляется этот элемент.
    if user_input[i] == temp[0]:
        temp.append(user_input[i])
# Иначе добавляем в список result переменную temp, в которой на этой итерации цикла уже скопились все одинаковые символы идущие подряд.
    else:
        result.append(temp)
        temp = list(user_input[i])
# Потом вне цикла добавляем в список result последний список повторяющихся символов из temp. Они не добавились, потому что условие, которое добавило бы их в итоговый список не удовлетворилось.
result.append(temp)
# И выводим конечный результат.
print(result)

[['a'], ['b', 'b'], ['a'], ['b'], ['c']]

In [1927]:
# Разбиение на списки по n элементов

line = '1 2 3 4 5 6'.split()
line.reverse()

n = 4
res = []

while len(line) != 0:
    arr = []
    for i in range(n):
        if len(line) != 0:
            arr.append(line.pop())
    res.append(arr)
res

[['1', '2', '3', '4'], ['5', '6']]

In [1928]:
line = '1 2 3 4 5 6'.split()
n = 4

res = [line[i: i + n] for i in range(0, len(line), n)] # срезы
res

[['1', '2', '3', '4'], ['5', '6']]

# Создание копии списка

In [1929]:
original_list = [[1, 2], [3, 4]]
copied_list = original_list.copy()

# изменяем первый элемент в скопированном списке
copied_list[0][0] = 5

print(original_list)  # выведет [[5, 2], [3, 4]]
print(copied_list)    # выведет [[5, 2], [3, 4]]

[[5, 2], [3, 4]]
[[5, 2], [3, 4]]

In [1930]:
import copy

original_list = [[1, 2], [3, 4]]
copied_list = copy.deepcopy(original_list)

# изменяем первый элемент в скопированном списке
copied_list[0][0] = 5

print(original_list)  # выведет [[1, 2], [3, 4]]
print(copied_list)    # выведет [[5, 2], [3, 4]]

[[1, 2], [3, 4]]
[[5, 2], [3, 4]]

# Матрицы

In [1931]:
rows, cols = 3, 4  # rows - количество строк, cols - количество столбцов

matrix  = [[2, 3, 1, 0],
           [9, 4, 6, 8],
           [4, 7, 2, 7]]

for i in range(cols):
    for j in range(rows):
        print(matrix[j][i], end=' ')
    print()

2 9 4
3 4 7
1 6 2
0 8 7

In [1932]:
print('a'.ljust(5, ' '))
print('ab'.ljust(5, ' '))
print('abc'.ljust(5, '*'))

a
ab
abc**

In [1933]:
print('a'.rjust(5, ' '))
print('ab'.rjust(5, ' '))
print('abc'.rjust(5, '*'))

    a
   ab
**abc

In [1934]:
rows, cols = 3, 4  # rows - количество строк, cols - количество столбцов

matrix  = [[277, -930, 11, 0],
           [9, 43, 6, 87],
           [4456, 8, 290, 7]]

for r in range(rows):
    for c in range(cols):
        print(str(matrix[r][c]).ljust(6), end='')
    print()

277   -930  11    0
9     43    6     87
4456  8     290   7

In [1935]:
# Квадратная матрица

n = 8
matrix = [[0]*n for _ in range(n)]    # создаем квадратную матрицу размером 8×8

for i in range(n):                    # заполняем главную диагональ единицами, а побочную двойками
    matrix[i][i] = 1
    matrix[i][n-i-1] = 2

for r in range(n):                    # выводим матрицу
    for c in range(n):
        print(matrix[r][c], end=' ')
    print()

1 0 0 0 0 0 0 2
0 1 0 0 0 0 2 0
0 0 1 0 0 2 0 0
0 0 0 1 2 0 0 0
0 0 0 2 1 0 0 0
0 0 2 0 0 1 0 0
0 2 0 0 0 0 1 0
2 0 0 0 0 0 0 1

In [1936]:
# Индексы i и j элементов на главной диагонали связаны соотношением i = j. 
# Индексы i и j элементов на побочной диагонали связаны соотношением i + j + 1 = n (или  j = n - i - 1), где n — размерность матрицы.

# Заметим также, что:

# если элемент находится выше главной диагонали, то i < j, если ниже - i > j.
# если элемент находится выше побочной диагонали, то i + j + 1 < n, если ниже - i + j + 1 > n.

In [1937]:
# Используйте функцию print_matrix() для вывода квадратной матрицы размерности n:

def print_matrix(matrix, n, width=1):
    for r in range(n):
        for c in range(n):
            print(str(matrix[r][c]).ljust(width), end=' ')
        print()

In [1938]:
# Для считывания матрицы из n строк, заполненной числами:

# n = int(input())
# matrix = []
# for i in range(n):
#     temp = [int(num) for num in input().split()]
#     matrix.append(temp)

In [1939]:
# Заполнение матрицы по одному элементу
 
#  n, m = int(input()), int(input())
# matrix = [[input() for _ in range(m)] for _ in range(n)]

# for row in matrix:
#     print(*row)

In [1940]:
# Поменять местами строки и столбцы

# n, m = int(input()), int(input())
# matrix = [[input() for _ in range(m)] for _ in range(n)]

# for i in range(n):
#     for j in range(m):
#         print(matrix[i][j], end=' ')
#     print()

# print()

# for i in range(m):
#     for j in range(n):
#         print(matrix[j][i], end=' ')
#     print()

In [1941]:
# Сумма матриц

n = 3
m = 3

A = [[i] * 3 for i in range(1, 4)]
B = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
C = []

for i in range(n):
    temp = []
    for j in range(m):
        temp.append(A[i][j] + B[i][j])
    C.append(temp)

print(*C, sep='\n')

[2, 3, 4]
[6, 7, 8]
[10, 11, 12]

In [1942]:
# Умножение матрицы на число

n = 3
k = 3

B = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
C = []

for i in range(n):
    temp = []
    for j in range(n):
        temp.append(k * B[i][j])
    C.append(temp)

print(*C, sep='\n')

[3, 6, 9]
[12, 15, 18]
[21, 24, 27]

In [1943]:
# Произведение матриц

A = [[i] * 3 for i in range(1, 4)]
B = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

def matrixmult (A, B):
    rows_A = len(A)
    cols_A = len(A[0])
    rows_B = len(B)
    cols_B = len(B[0])

    if cols_A != rows_B:
      print("Cannot multiply the two matrices. Incorrect dimensions.")

    # Create the result matrix
    # Dimensions would be rows_A x cols_B
    C = [[0 for row in range(cols_B)] for col in range(rows_A)]

    for i in range(rows_A):
        for j in range(cols_B):
            for k in range(cols_A):
                C[i][j] += A[i][k] * B[k][j]
    return C

C = matrixmult(A, B)

print(*C, sep='\n')

[12, 15, 18]
[24, 30, 36]
[36, 45, 54]

In [1944]:
A = [[1, -1, 0],
     [3, -4, 2]]
B = [[1, 2],
     [3, 4],
     [5, 6]]

def matrixmult (A, B):
    rows_A = len(A)
    cols_A = len(A[0])
    rows_B = len(B)
    cols_B = len(B[0])

    if cols_A != rows_B:
      print("Cannot multiply the two matrices. Incorrect dimensions.")

    # Create the result matrix
    # Dimensions would be rows_A x cols_B
    C = [[0 for row in range(cols_B)] for col in range(rows_A)]

    for i in range(rows_A):
        for j in range(cols_B):
            for k in range(cols_A):
                C[i][j] += A[i][k] * B[k][j]
    return C

C = matrixmult(A, B)

print(*C, sep='\n')

[-2, -2]
[1, 2]

In [1945]:
# Сумма матриц

# n, m  = list(map(int, input().split()))

# A = [[int(i) for i in input().split()] for _ in range(n)]
# input()
# B = [[int(i) for i in input().split()] for _ in range(n)]
# C = []

# for i in range(n):
#     temp = []
#     for j in range(m):
#         temp.append(A[i][j] + B[i][j])
#     C.append(temp)

# for i in C:
#     print(*i, sep=' ')

In [1946]:
# Возведение матрицы в степень

# n = int(input())

# A = [[int(i) for i in input().split()] for j in range(n)]
# B = A
# x = int(input())
# for _ in range(x - 1):
#     matrix = [[0] * n for j in range(n)]
#     for i in range(n):
#         for q in range(n):
#             for k in range(n):
#                 matrix[i][q] += A[i][k] * B[k][q]
#     A = matrix

# for x in matrix:
#     print(*x)

In [1947]:
# Таблица умножения

n = 4
m = 6

mult = [[0] * m for _ in range(n)]

for i in range(n):
    for j in range(m):
        mult[i][j] = i * j
        
for i in range(n):
    for j in range(m):
        print(str(mult[i][j]).ljust(3), end=' ')
    print()

0   0   0   0   0   0
0   1   2   3   4   5
0   2   4   6   8   10
0   3   6   9   12  15

In [1948]:
# На вход программе подаются два натуральных числа n и m – количество строк и столбцов в матрице, 
# затем n строк по m целых чисел в каждой, отделенных символом пробела.
# Напишите программу, которая находит индексы (строку и столбец) первого вхождения максимального элемента.

n = 4
m = 3

matrix = [[1, 2, 1], [1, 4, 2], [3, 5, 5], [3, 5, 4]]

for row in matrix:
    print(row)

print()

mx = max(max(matrix, key=max))
cnt = 0

for i in range(n):
    for j in range(m):
        if cnt < 1:
            if matrix[i][j] == mx:
                print('Индекс максимального элемента в матрице:', i, j)
                cnt += 1
                break

[1, 2, 1]
[1, 4, 2]
[3, 5, 5]
[3, 5, 4]

Индекс максимального элемента в матрице: 2 1

In [1949]:
n = 4
m = 3

matrix = [[1, 2, 1], [1, 4, 2], [3, 5, 5], [3, 5, 4]]

row, col = 0, 0
    
for i in range(n):
    for j in range(m):
        if matrix[i][j] > matrix[row][col]:
            row, col = i, j
            
print(row, col)

2 1

In [1950]:
# На вход программе на разных строках подаются два натуральных числа n и m – количество строк и столбцов в матрице, 
# затем элементы матрицы построчно через пробел, затем натуральные числа i и j – номера столбцов, подлежащих обмену.
# Напишите программу, которая меняет местами столбцы в матрице.

n = 4
m = 3

matrix = [[1, 2, 1], [1, 4, 2], [3, 5, 5], [3, 5, 4]]

for row in matrix:
    print(row)

print()

i, j = 0, 1
    
for row in matrix:
    row[i], row[j] = row[j], row[i]

for row in matrix:
    print(row)

[1, 2, 1]
[1, 4, 2]
[3, 5, 5]
[3, 5, 4]

[2, 1, 1]
[4, 1, 2]
[5, 3, 5]
[5, 3, 4]

In [1951]:
# Напишите программу, которая проверяет симметричность квадратной матрицы относительно главной диагонали.

n = 3
matrix = [[0, 1, 2], [1, 2, 3], [2, 3, 4]]

# n = int(input())
# matrix = [list(map(int, input().split())) for _ in range(n)]

flag = 'YES'

for row in matrix:
    print(row)

for i in range(n):
    for j in range(i + 1, n):
        if matrix[i][j] != matrix[j][i]:
            flag = 'NO'
            break
    if flag == 'NO':
        break
        
print(flag)

[0, 1, 2]
[1, 2, 3]
[2, 3, 4]
YES

In [1952]:
# Дана квадратная матрица чисел. Напишите программу, которая меняет местами элементы, стоящие на главной и побочной диагонали, 
# при этом каждый элемент должен остаться в том же столбце (то есть в каждом столбце нужно поменять местами элемент на главной диагонали и на побочной диагонали).

n = 3
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# n = int(input())
# matrix = [list(map(int, input().split())) for _ in range(n)]

for row in matrix:
    print(*row)

print()

for i in range(n):
    for j in range(n):
        if i == j:
            matrix[i][i], matrix[n - i - 1][i] = matrix[n - i - 1][i], matrix[i][i]
        
for row in matrix:
    print(*row)

1 2 3
4 5 6
7 8 9

7 2 9
4 5 6
1 8 3

In [1953]:
# Дана квадратная матрица чисел. Напишите программу, которая зеркально отображает её элементы относительно горизонтальной оси симметрии.

n = 3
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# n = int(input())
# matrix = [list(map(int, input().split())) for _ in range(n)]

for row in matrix:
    print(*row)

print()

for i in range(n):
    for j in range(n):
            print(matrix[- i - 1][j], end=' ')
    print()

1 2 3
4 5 6
7 8 9

7 8 9
4 5 6
1 2 3

In [1954]:
n = 3
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for i in range(n // 2):
    matrix[i], matrix[n - i - 1] = matrix[n - i - 1], matrix[i]

for row in matrix:
    print(*row)

7 8 9
4 5 6
1 2 3

In [1955]:
# Напишите программу, которая поворачивает квадратную матрицу чисел на 90° по часовой стрелке.

n = 3
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# n = int(input())
# matrix = [list(map(int, input().split())) for _ in range(n)]

for row in matrix:
    print(*row)

print()

for i in range(n // 2):
    matrix[i], matrix[n - i - 1] = matrix[n - i - 1], matrix[i]

for i in range(n):
    for j in range(n):
            print(matrix[j][i], end=' ')
    print()

1 2 3
4 5 6
7 8 9

7 4 1
8 5 2
9 6 3

In [1956]:
# На вход программе подаются два натуральных числа n и m. 
# Напишите программу для создания матрицы размером n×m, заполнив ее символами . и * в шахматном порядке. 
# В левом верхнем углу должна стоять точка. 
# Выведите полученную матрицу на экран, разделяя элементы пробелами.

n = 4
m = 6

matrix = [[0] * m for _ in range(n)]

for i in range(n):
    for j in range(m):
        if (i + j) % 2 != 0:
            matrix[i][j] = '*'
        else:
            matrix[i][j] = '.'

for row in matrix:
    print(*row)

. * . * . *
* . * . * .
. * . * . *
* . * . * .

In [1957]:
n = 4
m = 6

matrix = [['.'] * m for _ in range(n)]

for i in range(n):
    for j in range(1 - i % 2, m, 2):
        matrix[i][j] = '*'
        
for row in matrix:
    print(*row)

. * . * . *
* . * . * .
. * . * . *
* . * . * .

In [1958]:
# числа на побочной диагонали равны 1;
# числа, стоящие выше этой диагонали, равны 0;
# числа, стоящие ниже этой диагонали, равны 2.

n = 4

matrix = [[0] * n for _ in range(n)]

for i in range(n):
    for j in range(n):
        if i == n - 1 - j:
            matrix[i][j] = 1
        if i > n - 1 -j:
            matrix[i][j] = 2

for row in matrix:
    print(*row)

0 0 0 1
0 0 1 2
0 1 2 2
1 2 2 2

In [1959]:
# Заполнение числами от 1 до n * m построчно

n, m = (3, 4)

matrix = np.arange(1, n * m + 1).reshape(n, m).tolist()

for i in range(n):
    for j in range(m):
        print(str(matrix[i][j]).ljust(3), end=' ')
    print()

1   2   3   4
5   6   7   8
9   10  11  12

In [1960]:
matrix = [[0] * m for _ in range(n)]

for i in range(n):
    for j in range(m):
        matrix[i][j] = i * m + j + 1

for i in range(n):
    for j in range(m):
        print(str(matrix[i][j]).ljust(3), end=' ')
    print()

1   2   3   4
5   6   7   8
9   10  11  12

In [1961]:
matrix = [list(range(m*i + 1, m*i + 1 + m)) for i in range(n)]

for i in range(n):
    for j in range(m):
        print(str(matrix[i][j]).ljust(3), end=' ')
    print()

1   2   3   4
5   6   7   8
9   10  11  12

In [1962]:
# Заполнение числами от 1 до n * m по столбцам

matrix = [[0] * m for _ in range(n)]

for i in range(n):
    for j in range(m):
        matrix[i][j] = j * n + i + 1

for i in range(n):
    for j in range(m):
        print(str(matrix[i][j]).ljust(3), end=' ')
    print()

1   4   7   10
2   5   8   11
3   6   9   12

In [1963]:
# Главная и побочная дивагональ - единицы

n = 5

matrix = [[0] * n for _ in range(n)]

for i in range(n):
    for j in range(n):
        if i == n - 1 - j or i == j:
            matrix[i][j] = 1

for row in matrix:
    print(*row)

1 0 0 0 1
0 1 0 1 0
0 0 1 0 0
0 1 0 1 0
1 0 0 0 1

In [1964]:
for i in range(n):
    for j in range(n):
        print(str(matrix[i][j]).ljust(4), end=' ')
    print()

1    0    0    0    1
0    1    0    1    0
0    0    1    0    0
0    1    0    1    0
1    0    0    0    1

In [1965]:
# Главная и побочная дивагональ - единицы, выше и ниже - единицы

n = 5

matrix = [[0] * n for _ in range(n)]

for i in range(n):
    for j in range(n):
        if i == n - 1 - j or i == j or i < j and i < n - 1 - j or i > j and i > n - 1 - j:
            matrix[i][j] = 1

for row in matrix:
    print(*row)

1 1 1 1 1
0 1 1 1 0
0 0 1 0 0
0 1 1 1 0
1 1 1 1 1

In [1966]:
print(x2, y2)

1 1

In [1967]:
# Шахматы. Ходы коня

xy = 'b6'

x = 'abcdefgh'.index(xy[0])
y = '87654321'.index(xy[1])


n = 8
matrix = [['.'] * n for _ in range(n)]

for i in range(n):
    for j in range(n):
        if i == y and j == x:
            matrix[i][j] = 'N'
            x2 = j
            y2 = i
            
for i in range(n):
    for j in range(n):
        if (abs(x2 - j) == 2 and abs(y2 - i) == 1) or (abs(x2 - j) == 1 and abs(y2 - i) == 2):
            matrix[i][j] = '*'

for row in matrix:
    print(*row)

* . * . . . . .
. . . * . . . .
. N . . . . . .
. . . * . . . .
* . * . . . . .
. . . . . . . .
. . . . . . . .
. . . . . . . .

In [1968]:
# Шахматы. Ходы слона

xy = 'd5'

x = 'abcdefgh'.index(xy[0])
y = '87654321'.index(xy[1])


n = 8
matrix = [['-'] * n for _ in range(n)]

for i in range(n):
    for j in range(n):
        if i == y and j == x:
            matrix[i][j] = 'S'
            x2 = j
            y2 = i
            
for i in range(n):
    for j in range(n):
        if abs(x2 - j) == abs(y2 - i) and not matrix[i][j] == 'S':
            matrix[i][j] = '*'

for row in matrix:
    print(*row)

* - - - - - * -
- * - - - * - -
- - * - * - - -
- - - S - - - -
- - * - * - - -
- * - - - * - -
* - - - - - * -
- - - - - - - *

In [1969]:
# Шахматы. Ходы слона

xy = 'd5'

x = 'abcdefgh'.index(xy[0])
y = '87654321'.index(xy[1])


n = 8
matrix = [['-'] * n for _ in range(n)]

for i in range(n):
    for j in range(n):
        if i == y and j == x:
            matrix[i][j] = 'S'
            x2 = j
            y2 = i
            
for i in range(n):
    for j in range(n):
        if abs(x2 - j) == abs(y2 - i) and not matrix[i][j] == 'S':
            matrix[i][j] = '*'

for row in matrix:
    print(*row)

* - - - - - * -
- * - - - * - -
- - * - * - - -
- - - S - - - -
- - * - * - - -
- * - - - * - -
* - - - - - * -
- - - - - - - *

In [1970]:
# Шахматы. Ходы ладьи

xy = 'd5'

x = 'abcdefgh'.index(xy[0])
y = '87654321'.index(xy[1])


n = 8
matrix = [['-'] * n for _ in range(n)]

for i in range(n):
    for j in range(n):
        if i == y and j == x:
            matrix[i][j] = 'T'
            x2 = j
            y2 = i
            
for i in range(n):
    for j in range(n):
        if (x2 == j or y2 == i) and not matrix[i][j] == 'T':
            matrix[i][j] = '+'

for row in matrix:
    print(*row)

- - - + - - - -
- - - + - - - -
- - - + - - - -
+ + + T + + + +
- - - + - - - -
- - - + - - - -
- - - + - - - -
- - - + - - - -

In [1971]:
# Шахматы. Ходы ферзя

xy = 'd5'

x = 'abcdefgh'.index(xy[0])
y = '87654321'.index(xy[1])


n = 8
matrix = [['-'] * n for _ in range(n)]

for i in range(n):
    for j in range(n):
        if i == y and j == x:
            matrix[i][j] = 'F'
            x2 = j
            y2 = i
            
for i in range(n):
    for j in range(n):
        if ((x2 == j or y2 == i) or abs(x2 - j) == abs(y2 - i)) and not matrix[i][j] == 'F':
            matrix[i][j] = '+'

for row in matrix:
    print(*row)

+ - - + - - + -
- + - + - + - -
- - + + + - - -
+ + + F + + + +
- - + + + - - -
- + - + - + - -
+ - - + - - + -
- - - + - - - +

In [1972]:
# Заполнение спиралью

n, m = 4, 5

matrix = [[0] * m for i in range(n)]
i, j, di, dj = 0, 0, 0, 1

for k in range(n * m):
    matrix[i][j] = k + 1
    if matrix[(i + di) % n][(j + dj) % m]:
        di, dj = dj, -di
    i, j = i + di, j + dj

for i in range(n):
    for j in range(m):
        print(str(matrix[i][j]).ljust(3), end=' ')
    print()

1   2   3   4   5
14  15  16  17  6
13  20  19  18  7
12  11  10  9   8

In [1973]:
# Заполнение матрицы по диагоналям, параллельным побочной диагонали, с приращением на от 1 до n * m

n, m = 4, 5
nm = 0

matrix = [[0] * m for i in range(n)]

for q in range(n*m):
    for i in range(n):
        for j in range(m):
            if i + j == q:
                nm += 1
                matrix[i][j] = nm

for i in range(n):
    for j in range(m):
        print(str(matrix[i][j]).ljust(3), end='')
    print()

1  2  4  7  11
3  5  8  12 15
6  9  13 16 18
10 14 17 19 20

In [1974]:
# Заполнение матрицы по диагоналям, параллельным побочной диагонали, одинаковыми цифрами на диагоналях с приращением на 1 в диапазоне от 1 до m

n, m = 4, 5

matrix = [[0] * m for i in range(n)]

for i in range(n):
    for j in range(m):
            matrix[i][j] = (i  + j) % m + 1

for i in range(n):
    for j in range(m):
        print(str(matrix[i][j]).ljust(3), end='')
    print()

1  2  3  4  5
2  3  4  5  1
3  4  5  1  2
4  5  1  2  3

In [1975]:
# Разбиение списка на n групп
# На вход программе подается строка текста, содержащая символы и число n. 
# Из данной строки формируется список. Напишите программу, которая разделяет список на вложенные подсписки так, 
# что  n последовательных элементов принадлежат разным подспискам.

arr = '1 2 3 4 5 6 7 8 9'.split()
n = 4
res = []

for i in range(n):
    res.append(arr[i::n])
    
print(res)

[['1', '5', '9'], ['2', '6'], ['3', '7'], ['4', '8']]

In [1976]:
# Напишите программу, которая выводит максимальный элемент матрицы ниже ил на побочной диагонали.

# n = int(input())
# matrix = [list(map(int, input().split())) for _ in range(n)]

n = 3
matrix = [[9, 2, 3], [4, 5, 6], [7, 8, 6]]


mx = matrix[n - 1][n - 1]
    
for i in range(n):
    for j in range(n):
        if i >= n - 1 - j and matrix[i][j] > mx:
            mx = matrix[i][j]
            
print(mx)

8

In [1977]:
# Напишите программу, которая транспонирует квадратную матрицу.

n = 3
matrix = [[9, 2, 3], [4, 5, 6], [7, 8, 6]]

for i in range(n):
    for j in range(n):
        print(matrix[j][i], end=' ')
    print()

9 4 7
2 5 8
3 6 6

In [1978]:
# Снежинка

n = 7
matrix = [['.'] * n for _ in range(n)]

    
for i in range(n):
    for j in range(n):
        if (i == j or i == n - 1 - j) or (i == n // 2 or j == n // 2):
            matrix[i][j] = '*'

for row in matrix:
    print(*row)

* . . * . . *
. * . * . * .
. . * * * . .
* * * * * * *
. . * * * . .
. * . * . * .
* . . * . . *

In [1979]:
# Напишите программу, которая проверяет симметричность квадратной матрицы относительно побочной диагонали.

n = 3
matrix = [[0, 1, 2], [1, 2, 3], [2, 3, 4]]

# n = int(input())
# matrix = [list(map(int, input().split())) for _ in range(n)]

flag = 'YES'

for row in matrix:
    print(row)

for i in range(n):
    for j in range(n):
        if matrix[i][j] != matrix[n-1-j][n-1-i]:
            flag = 'NO'
            break
    if flag == 'NO':
        break
        
print(flag)

[0, 1, 2]
[1, 2, 3]
[2, 3, 4]
NO

In [1980]:
# На вход программе подается натуральное число n. 
# Напишите программу, которая создает матрицу размером n×n и заполняет её по следующему правилу:

# на главной диагонали на месте каждого элемента должно стоять число 0;
# на двух диагоналях, прилегающих к главной, – число 1;
# на следующих двух диагоналях – число 2, и т.д.

n = 8
matrix = [[0]*n for _ in range(n)]

for i in range(n):
    for j in range(n):
        matrix[i][j] = abs(i - j)

for i in range(n):
    for j in range(n):
        print(str(matrix[i][j]).ljust(3), end=' ')
    print()

0   1   2   3   4   5   6   7
1   0   1   2   3   4   5   6
2   1   0   1   2   3   4   5
3   2   1   0   1   2   3   4
4   3   2   1   0   1   2   3
5   4   3   2   1   0   1   2
6   5   4   3   2   1   0   1
7   6   5   4   3   2   1   0

In [1981]:
# Латинский квадрат
# Латинским квадратом порядка n называется квадратная матрица размером n×n, 
# каждая строка и каждый столбец которой содержат все числа от 1 до n. 
# Напишите программу, которая проверяет, является ли заданная квадратная матрица латинским квадратом.

n = 3
matrix = [[1, 2, 3], [3, 1, 2], [2, 3, 1]]

# n = int(input())
# matrix = [list(map(int, input().split())) for _ in range(n)]

for row in matrix:
    print(*row)

flag = 'YES'

lst = list(range(1, n + 1))

for row in matrix:
    if sorted(row) != lst:
        flag = 'NO'

matrix = np.transpose(matrix)
for row in matrix:
    if sorted(row) != lst:
        flag = 'NO'
        
print(flag)

1 2 3
3 1 2
2 3 1
YES

# Функции

In [1982]:
def matrix(n=1, m=None, v=0):
    if m == None:
        m = n
    return [[v for _ in range(m)] for _ in range(n)]

print(matrix())         # матрица 1 × 1 из 0
print(matrix(3))        # матрица 3 × 3 из 0
print(matrix(2, 5))     # матрица 2 × 5 из 0
print(matrix(3, 4, 9))  # матрица 3 × 4 из 9

[[0]]
[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
[[9, 9, 9, 9], [9, 9, 9, 9], [9, 9, 9, 9]]

In [1983]:
s = 'asd 123 2354 12 123'.split()
a, *b = s
print(a, b)

asd ['123', '2354', '12', '123']

# Функции с переменным количеством аргументов

In [1984]:
def my_func(num, *args):
    print(args)
    print(num)

my_func(17, 'Python', 2, 'C#')
print()
my_func(17)

('Python', 2, 'C#')
17

()
17

In [1985]:
# sum1 = sum(1, 2, 3, 4)        
# print(sum1) - ошибка

def my_sum(*args):
    print(type(args))
    return sum(args)

print(my_sum(1, 2, 3, 4))
print(my_sum(1, 2, *[3, 4, 5], *(7, 8, 9), 10))

<class 'tuple'>
10
<class 'tuple'>
49

In [1986]:
def my_func(**kwargs):
    print(type(kwargs))
    print(kwargs)

my_func()
my_func(a=1, b=2)
my_func(name='Timur', job='Teacher')

<class 'dict'>
{}
<class 'dict'>
{'a': 1, 'b': 2}
<class 'dict'>
{'name': 'Timur', 'job': 'Teacher'}

In [1987]:
def my_func(a, b, *args, name='Gvido', age=17, **kwargs):
    print(a, b)
    print(args)
    print(name, age)
    print(kwargs)

my_func(1, 2, 3, 4, name='Timur', age=28, job='Teacher', language='Python')
print()
my_func(1, 2, name='Timur', age=28, job='Teacher', language='Python')
print()
my_func(1, 2, 3, 4, job='Teacher', language='Python')

1 2
(3, 4)
Timur 28
{'job': 'Teacher', 'language': 'Python'}

1 2
()
Timur 28
{'job': 'Teacher', 'language': 'Python'}

1 2
(3, 4)
Gvido 17
{'job': 'Teacher', 'language': 'Python'}

In [1988]:
def my_func(**kwargs):
    print(type(kwargs))
    print(kwargs)

info = {'name':'Timur', 'age':'28', 'job':'teacher'}

my_func(**info)

<class 'dict'>
{'name': 'Timur', 'age': '28', 'job': 'teacher'}

In [1989]:
def print_info(name, surname, age, city, *children, **additional_info):
    print('Имя:', name)
    print('Фамилия:', surname)
    print('Возраст:', age)
    print('Город проживания:', city)
    if len(children) > 0:
        print('Дети:', ', '.join(children))
    if len(additional_info) > 0:
        print(additional_info)

children = ['Бодхи Рансом Грин', 'Ноа Шэннон Грин', 'Джорни Ривер Грин']
additional_info = {'height':163, 'job':'actress'}

print_info('Меган', 'Фокс', 34, 'Ок-Ридж', *children, **additional_info)

Имя: Меган
Фамилия: Фокс
Возраст: 34
Город проживания: Ок-Ридж
Дети: Бодхи Рансом Грин, Ноа Шэннон Грин, Джорни Ривер Грин
{'height': 163, 'job': 'actress'}

In [1990]:
# Keyword-only аргументы
def make_circle(x, y, radius, *, line_width=1, fill=True):
    print(x, y, radius, line_width, fill)

make_circle(10, 20, 5)                                     # x=10, y=20, radius=5,  line_width=1, fill=True
make_circle(x=10, y=20, radius=7)                          # x=10, y=20, radius=7,  line_width=1, fill=True
make_circle(10, 20, radius=10, line_width=2, fill=False)   # x=10, y=20, radius=10, line_width=2, fill=False
make_circle(x=10, y=20, radius=17, line_width=3)           # x=10, y=20, radius=17, line_width=3, fill=True

# То есть аргументы x, y и radius могут быть переданы в качестве как позиционных, так и именованных аргументов. 
# При этом аргументы line_width и fill могут быть переданы только как именованные аргументы.

10 20 5 1 True
10 20 7 1 True
10 20 10 2 False
10 20 17 3 True

In [1991]:
def mean(*args):
    arr = [i for i in args if type(i) in [int, float]]
    if len(arr) > 0:
        return sum(arr) / len(arr)
    return 0

mean(1.5, True, ['stepik'], 'beegeek', 2.5, (1, 2))

2.0

In [1992]:
def mean(*args):
    a = [i for i in args if type(i) in (int, float)]
    return sum(a) / len(a) if a else 0

mean(1.5, True, ['stepik'], 'beegeek', 2.5, (1, 2))

2.0

In [1993]:
random_list = [1, 'a', 0, False, True, '0', 7, '']
filtered_list = list(filter(None, random_list))
print(filtered_list)

[1, 'a', True, '0', 7]

In [1994]:
from operator import add

result = list(map(add, 'abc', '1234'))
print(result)

['a1', 'b2', 'c3']

In [1995]:
list1 = [[1, 7, 8], [9, 7, 102], [102, 106, 105], [100, 99, 98, 103], [1, 2, 3]]
total = 0
counter = 0

print(sum([sum(lst) for lst in list1]) / sum([len(lst) for lst in list1]))

53.3125

In [1996]:
list2 = []
for lst in list1:
    list2.extend(lst)

print(sum(list2) / len(list2))

53.3125

# 15.4 Функции как объекты

In [2147]:
def hello():
    print('Hello from function')


func = hello     #  присваиваем переменной func функцию hello
func()           #  вызываем функцию

Hello from function

In [2148]:
def start():
    # тело функции start
    print('1')

def stop():
    # тело функции stop
    print('2')

def pause():
    # тело функции pause
    print('3')

commands = {'start': start, 'stop': stop, 'pause': pause}  # словарь соответствия команда → функция

command = 'pause'  # считываем название команды

commands[command]()  # вызываем нужную функцию через словарь по ключу

3

In [2151]:
# Функции в качестве возвращаемых значений других функций

def generator():
    def hello():
        print('Hello from function!')
    return hello

func = generator()
func()

Hello from function!

In [2152]:
def generator_square_polynom(a, b, c):
    def square_polynom(x):
        return a * x**2 + b * x + c

    return square_polynom

f = generator_square_polynom(a=1, b=2, c=1)
g = generator_square_polynom(a=2, b=0, c=-3)
h = generator_square_polynom(a=-3, b=-10, c=50)

print(f(1))
print(g(2))
print(h(-1))

4
5
57

In [2150]:
# Сортировка по второму элементу

def second_element(x):
    return x[1]

tpl_list = [(3, 2), (9, 1), (5, 1), (1, 3)]

sorted(tpl_list, key=second_element)

[(9, 1), (5, 1), (3, 2), (1, 3)]

In [2161]:
# Дан список numbers, содержащий кортежи чисел. 
# Напишите программу, которая с помощью встроенных функций min() и max() выводит те кортежи (каждый на отдельной строке), 
# которые имеют минимальное и максимальное среднее арифметическое значение элементов.

numbers = [(10, 10, 10), (30, 45, 56), (81, 39), (1, 2, 3), (12,), (-2, -4, 100), (1, 2, 99), (89, 9, 34), \
           (10, 20, 30, -2), (50, 40, 50), (34, 78, 65), (-5, 90, -1, -5), (1, 2, 3, 4, 5, 6), (-9, 8, 4), (90, 1, -45, -21)]

def mean_tuple(tpl):
    return sum(tpl) / len(tpl)

print(min(numbers, key=mean_tuple))
print(max(numbers, key=mean_tuple))

(-9, 8, 4)
(81, 39)

In [2162]:
print(*(func(numbers, key=mean_tuple) for func in (min, max)), sep='\n')

(-9, 8, 4)
(81, 39)

In [2164]:
# Напишите программу, которая сортирует список points координат точек плоскости в соответствии с расстоянием 
# от начала координат (точки (0;0)). 
# Программа должна вывести отсортированный список.

points = [(-1, 1), (5, 6), (12, 0), (4, 3), (0, 1), (-3, 2), (0, 0), (-1, 3), (2, 0), (3, 0), (-9, 1), (3, 6), (8, 8)]

def dist(tpl):
    return (tpl[0] ** 2 + tpl[1] ** 2) ** 0.5
points = sorted(points, key=dist)

print(points)

[(0, 0), (0, 1), (-1, 1), (2, 0), (3, 0), (-1, 3), (-3, 2), (4, 3), (3, 6), (5, 6), (-9, 1), (8, 8), (12, 0)]

In [2166]:
# Дан список numbers, содержащий кортежи чисел. 
# Напишите программу, которая сортирует и выводит список numbers 
# в соответствии с суммой минимального и максимального элемента кортежа.

numbers = [(10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3), (12, 45, 67), (-2, -4, 100), (1, 2, 99), (89, 90, 34), (10, 20, 30), (50, 40, 50), (34, 78, 65), (-5, 90, -1)]

def tpl_sum(tpl):
    return min(tpl) + max(tpl)

numbers = sorted(numbers, key=tpl_sum)

print(numbers)

[(1, 2, 3), (10, 10, 10), (10, 20, 30), (12, 45, 67), (-5, 90, -1), (30, 45, 56), (50, 40, 50), (-2, -4, 100), (1, 2, 99), (34, 78, 65), (81, 80, 39), (89, 90, 34)]

In [2178]:
# Список athletes содержит сведения о спортсменах в виде кортежей: (имя, возраст, рост, вес).
# Напишите программу сортировки списка спортсменов по указанному полю:

# 1: по имени;
# 2: по возрасту;
# 3: по росту;
# 4: по весу.

athletes = [('Дима', 10, 130, 35), ('Тимур', 11, 135, 39), ('Руслан', 9, 140, 33), ('Рустам', 10, 128, 30), \
            ('Амир', 16, 170, 70), ('Рома', 16, 188, 100), ('Матвей', 17, 168, 68), ('Петя', 15, 190, 90)]

n = 3

def sorted_tpl(arg):
    def comparator(tpl):
        return tpl[arg - 1]
    return comparator

for line in sorted(athletes, key=sorted_tpl(n)):
    print(*line)

Рустам 10 128 30
Дима 10 130 35
Тимур 11 135 39
Руслан 9 140 33
Матвей 17 168 68
Амир 16 170 70
Рома 16 188 100
Петя 15 190 90

In [2189]:
# Напишите программу, которая принимает число и название функции, а выводит результат применения функции к данному числу.

# Список возможных функций:

# квадрат: функция принимает число и возвращает его квадрат;
# куб: функция принимает число и возвращает его куб;
# корень: функция принимает число и возвращает корень квадратный из этого числа;
# модуль: функция принимает число и возвращает его модуль;
# синус: функция принимает число (в радианах) и возвращает синус этого числа.

n = 5
function = 'куб'

def square(n):
    return n * n

def cube(n):
    return n * n * n

commands = {'квадрат': square, 'куб': cube, 'корень': sqrt, 'модуль': abs, 'синус': sin}

commands[function](n)

125

In [2196]:
from math import sqrt, sin

n = 5
function = 'куб'

def pwr(p):
  def numpower(n):
    return n**p
  return numpower

commands = {'квадрат': pwr(2), 'куб': pwr(3), 'корень': pwr(0.5), 'модуль': abs, 'синус': sin}

print(commands[function](n))

125

In [2177]:
athletes = [('Дима', 10, 130, 35), ('Тимур', 11, 135, 39), ('Руслан', 9, 140, 33), ('Рустам', 10, 128, 30), \
            ('Амир', 16, 170, 70), ('Рома', 16, 188, 100), ('Матвей', 17, 168, 68), ('Петя', 15, 190, 90)]

n = 3

def comparator_i(i):
    def comparator(pair):
        return pair[n-1]
    return comparator

for i in sorted(athletes, key=comparator_i(n)): 
    print(*i, end='\n')

Рустам 10 128 30
Дима 10 130 35
Тимур 11 135 39
Руслан 9 140 33
Матвей 17 168 68
Амир 16 170 70
Рома 16 188 100
Петя 15 190 90

In [2202]:
# На вход программе подается строка натуральных чисел. 
# Из элементов строки формируется список чисел.

# Напишите программу сортировки списка чисел в порядке неубывания суммы их цифр. П
# ри этом, если два числа имеют одинаковую сумму цифр, следует сохранить их взаиморасположение в начальном списке.

s = '10 11 12 13 14 15 16 17 18 19 20 21 22 23'.split()

def sort_num(num):
    return sum([int(i) for i in num])
print(*sorted(s, key=sort_num))

10 11 20 12 21 13 22 14 23 15 16 17 18 19

In [2208]:
# На вход программе подается строка натуральных чисел. 
# Из элементов строки формируется список чисел.

# Напишите программу сортировки списка чисел в порядке неубывания суммы их цифр. 
# При этом, если у двух чисел одинаковая сумма цифр, их следует вывести в порядке неубывания.

s = '111 14 79 7 4 123 90 45 12 171'.split()

def sort_num(num):
    return (sum([int(i) for i in num]), int(num))
print(*sorted(s, key=sort_num))

12 111 4 14 123 7 45 90 171 79

# Функции any(), all(), zip(), enumerate()

In [1997]:
# all

print(all([1, 2, 3]))   
print(all([1, 2, 3, 0, 5]))
print(all([True, 0, 1]))
print(all(('', 'red', 'green')))
print(all({0j, 3+4j}))

True
False
False
False
False

In [1998]:
dict1 = {0: 'Zero', 1: 'One', 2: 'Two'}
dict2 = {'Zero': 0, 'One': 1, 'Two': 2}

print(all(dict1))
print(all(dict2))

False
True

In [1999]:
print(all([]))          #  передаем пустой список
print(all(()))          #  передаем пустой кортеж
print(all(''))          #  передаем пустую строку
print(all([[], []]))    #  передаем список, содержащий пустые списки

True
True
True
False

In [2000]:
# any

print(any([0, 0, 0]))
print(any([0, 1, 0]))
print(any([False, 0, 1]))
print(any(['', [], 'green']))
print(any({0j, 3+4j, 0.0}))

False
True
True
True
True

In [2001]:
numbers = [1, 2, 5, 3, 4]
numbers.sort(key=lambda x: -x)
print(numbers)

[5, 4, 3, 2, 1]

In [2002]:
# Связка с map

numbers = [17, 90, 78, 56, 231, 45, 5, 89, 91, 11, 19]

result = all(map(lambda x: True if x > 10 else False, numbers))

if result:
    print('Все числа больше 10')
else:
    print('Хотя бы одно число меньше или равно 10')

Хотя бы одно число меньше или равно 10

In [2003]:
# Хотя бы один элемент списка четное число

numbers = [17, 91, 78, 55, 231, 45, 5, 89, 99, 11, 19]

result = any(map(lambda x: x % 2 == 0, numbers))

if result:
    print('Хотя бы одно число четное')
else:
    print('Все числа нечетные')

Хотя бы одно число четное

In [2004]:
# Функция enumerate()

# Встроенная функция enumerate() возвращает кортеж из индекса элемента
# и самого элемента переданной ей последовательности (итерируемого объекта).

colors = ['red', 'green', 'blue']

for pair in enumerate(colors):
    print(pair)

print()

colors = ['red', 'green', 'blue']

for pair in enumerate(colors, start=100):
    print(pair)

# Функция enumerate() возвращает не список, а специальный объект, который называется итератором. 
# Такой объект похож на список тем, что его можно перебирать циклом for, то есть итерировать. 
# Итератор можно преобразовать в список с помощью функции list().

print()
print(type(enumerate(colors)))
print(enumerate(colors))
print(list(enumerate(colors)))

(0, 'red')
(1, 'green')
(2, 'blue')

(100, 'red')
(101, 'green')
(102, 'blue')

<class 'enumerate'>
<enumerate object at 0x000001BCBF8244F0>
[(0, 'red'), (1, 'green'), (2, 'blue')]

In [2005]:
colors = ['red', 'green', 'blue']
for index, item in enumerate(colors):
    print(index, item)

0 red
1 green
2 blue

In [2006]:
# Функция zip()
# Встроенная функция zip() объединяет отдельные элементы из каждой переданной ей последовательности (итерируемого объекта) в кортежи.

numbers = [1, 2, 3]
words = ['one', 'two', 'three']

for pair in zip(numbers, words):
    print(pair)

(1, 'one')
(2, 'two')
(3, 'three')

In [2007]:
numbers = [1, 2, 3]
words = ['one', 'two', 'three']

result = zip(numbers, words)

print(result)
print(list(result))

<zip object at 0x000001BCC36F7F00>
[(1, 'one'), (2, 'two'), (3, 'three')]

In [2008]:
numbers = [1, 2, 3]
words = ['one', 'two', 'three']
romans = ['I', 'II', 'III']

result = zip(numbers, words, romans)
print(list(result))

[(1, 'one', 'I'), (2, 'two', 'II'), (3, 'three', 'III')]

In [2009]:
keys = ['name', 'age', 'gender']
values = ['Timur', 28, 'male']

info = dict(zip(keys, values))
print(info)

{'name': 'Timur', 'age': 28, 'gender': 'male'}

In [2010]:
def all(iterable):
    for item in iterable:
       if not item:
           return False
    return True

def any(iterable):
    for item in iterable:
        if item:
            return True
    return False

In [2011]:
list1 = ['a1', 'a2', 'a3']
list2 = ['b1', 'b2', 'b3']

for index, (item1, item2) in enumerate(zip(list1, list2)):
    print(index, item1, item2)

0 a1 b1
1 a2 b2
2 a3 b3

In [2012]:
numbers = [10, 30, 20, 50, 40, 60, 70, 80]

total = 0
for index, number in enumerate(numbers, 1):
    if index % 2 == 0:
        total += number

print(total)

220

In [2013]:
words1 = ['яблоко', 'ананас', 'апельсин', 'хурма', 'гранат', 'мандарин', 'айва']
words2 = ['林檎', 'パイナップル', 'オレンジ', '柿']
words3 = ['apple', 'pineapple', 'orange', 'persimmon', 'pomegranate']

print(list(zip(words1, words2, words3)))
print(len(list(zip(words1, words2, words3))))

[('яблоко', '林檎', 'apple'), ('ананас', 'パイナップル', 'pineapple'), ('апельсин', 'オレンジ', 'orange'), ('хурма', '柿', 'persimmon')]
4

# Анонимные функции (Лямбда - функции)

# Работа с файлами

In [2014]:
# Функция open()

# файловая_переменная = open(имя_файла, режим_доступа)

# 'r'	    Read (чтение)       - Открыть файл только для чтения. Такой файл не может быть изменен.
# 'w'	    Write (запись)      - Открыть файл для записи. Если файл уже существует, стереть его содержимое. Если файл не существует, он будет создан.
# 'a'	    Append (добавление) - Открыть файл для записи. Данные будут добавлены в конец файла. Если файл не существует, он будет создан.
# 'r+'	    Read + Write        - Открыть файл для чтения и записи. В этом режиме происходит частичная перезапись содержимого файла.
# 'x'	    Create (создание)   - Создать новый файл. Если файл существует, произойдет ошибка.

# 't'	Текстовый режим (значение по умолчанию)	Работа с текстовым файлом
# 'b'	Бинарный режим	Работа с бинарными файлами (картинки, звук и т.д.)

# file = open('file.dat', 'rb')
# file = open('file.dat', 'rt')

# Кодировка
# file = open('info.txt', 'r', encoding='utf-8')  cp1252, utf-8



# Метод close()

# file.close() - закрываем файл после окончания работы

# Работа с текстовыми файлами

In [2015]:
# read()        – читает все содержимое файла;
# readline()    – читает одну строку из файла;
# readlines()   – читает все содержимое файла и возвращает список строк.

In [2016]:
# На вход программе подается строка с именем текстового файла. 
# Напишите программу, которая выводит на экран его содержимое.

# path = input()
# file = open(path)
# content = file.read()

# print(content)

# file.close()

In [2017]:
# На вход программе подается строка с именем текстового файла. 
# Напишите программу, которая выводит на экран его последнюю строку.

path = 'data/lines.txt'
file = open(path)
content = file.readlines()

print(content[-1])

file.close()

Иногда среднее тире называют коротким тире

In [2018]:
# Вам доступен текстовый файл lines.txt из нескольких строк. 
# Напишите программу, которая выводит на экран случайную строку из этого файла.

from random import choice

path = 'data/lines.txt'
file = open(path)
content = file.readlines()

print(choice(content))

file.close()

Open a File

In [2019]:
# Вам доступен текстовый файл numbers.txt из двух строк, на каждой из них записано целое число. 
# Напишите программу, выводящую на экран сумму этих чисел.

path = 'data/numbers1.txt'
file = open(path)

a, b = map(int, (file.readlines()))

print(a + b)

file.close()

491000626

In [2020]:
# Вам доступен текстовый файл nums.txt. В файле записано два целых числа, они могут быть разделены символами пробела и конца строки. 
# Напишите программу, выводящую на экран сумму этих чисел.

path = 'data/nums.txt'
file = open(path)

s = file.read()
print(s.split())

a, b = map(int, s.split())

print(a + b)

file.close()

['453459384', '32242']
453491626

In [2021]:
# Вам доступен текстовый файл prices.txt с информацией о заказе из интернет-магазина. 
# В нем каждая строка с помощью символа табуляции (\t) разделена на три колонки:

# наименование товара;
# количество товара (целое число);
# цена (в рублях) товара за 1 шт (целое число).

# Напишите программу, выводящую на экран общую стоимость заказа.

path = 'data/prices.txt'
file = open(path)
s = file.readlines()

total = 0

for line in s:
    line = line.split()
    total += (int(line[1])) * int(line[2])

file.close()

print(total)

1286800

In [2022]:
file = open('data/prices.txt')
lines = map(str.split, file)

total = sum(map(lambda line: int(line[1]) * int(line[2]), lines))

print(total)

file.close()

1286800

In [2023]:
file = open('data/prices.txt')

line1 = file.readline()
line2 = file.readline()
remaining_lines = file.read()    # считывание начинается с 3 строки до конца файла

file.close()

print(f'Первая строка : \n{line1}')
print(f'Вторая строка : \n{line2}')
print(f'Оставшиеся строки : \n{remaining_lines}')

Первая строка :
телефон	4	12500

Вторая строка :
бургер	1	500

Оставшиеся строки :
курс	1	1400
подписка	40	9500
наушники	2	22450
телефон	2	2500
ноутбук	5	155000
диван	100	300

In [2024]:
# seek(0) - задаёт позицию курсора в байтах от начала файла

file = open('data/prices.txt')
line1 = file.readline()
file.seek(0)                # переход в начало
line2 = file.readline()
remaining_lines = file.read()    # считывание начинается с 3 строки до конца файла

file.close()

print(f'Первая строка : \n{line1}')
print(f'Вторая строка : \n{line2}')

Первая строка :
телефон	4	12500

Вторая строка :
телефон	4	12500

In [2025]:
# tell(0) - получает позицию курсора в байтах от начала файла

file = open('data/prices.txt')
print(file.tell())
line1 = file.readline()
print(file.tell())

file.close()

0
24

# Менеджер контекста

In [2026]:
# По выходу из контекста ресурс автоматически освобождается, даже если при выполнении блока возникло исключение.
# Как только закончится код, оформленный с отступами в with (аналогичные отступы в циклах или функциях), 
# это будет означать, что контекст закончился, и Python автоматически закроет файл.

with open('data/prices.txt', 'r', encoding='utf-8') as file:
    for line in file:
        print(line)
                          # автоматическое закрытие файла
print('Файл закрыт')

телефон	4	12500

бургер	1	500

курс	1	1400

подписка	40	9500

наушники	2	22450

телефон	2	2500

ноутбук	5	155000

диван	100	300

Файл закрыт

In [2027]:
# Вам доступен текстовый файл data.txt, в котором записаны строки текста. 
# Напишите программу, выводящую все строки данного файла в обратном порядке: 
# сначала последнюю, затем предпоследнюю и так далее.

with open('data/data.txt') as f:
    arr = [s for s in f.readlines()]
    arr.reverse()
    print(*arr, sep='')

Complex is better than complicated.
Simple is better than complex.
Explicit is better than implicit.
Beautiful is better than ugly.

In [2028]:
with open('data/data.txt', encoding='utf-8') as file:
    print(*file.readlines()[::-1], sep='')

Complex is better than complicated.
Simple is better than complex.
Explicit is better than implicit.
Beautiful is better than ugly.

In [2029]:
# Вам доступен текстовый файл lines.txt, в котором записаны строки текста. 
# Напишите программу, которая выводит наибольшую длину строки из файла.

with open('data/lines.txt', 'r', encoding='utf-8') as f:
    mx = 0
    arr = f.readlines()
    for s in arr:
        len_row = len(s.strip())
        if len_row > mx:
            mx = len_row
    print(mx)

136

In [2030]:
# Вам доступен текстовый файл lines.txt, в котором записаны строки текста. 
# Напишите программу, которая выводит все строки наибольшей длины из файла, не меняя их порядок.

with open('data\lines.txt', 'r', encoding='utf-8') as f:
    mx = 0
    arr = [i.strip() for i in f.readlines()]
    for s in arr:
        len_row = len(s)
        if len_row > mx:
            mx = len_row
    print(*[i for i in arr if len(i) == mx], sep='\n')

Python provides a wide range of built-in functions for file handling. It makes it really easy to create, update, read, and delete files.

In [2031]:
# Вам доступен текстовый файл numbers.txt, каждая строка которого может содержать одно или несколько целых чисел, разделенных одним или несколькими пробелами.
# Напишите программу, которая вычисляет сумму чисел в каждой строке и выводит эту сумму на экран (для каждой строки выводится сумма чисел в этой строке).

with open(r'data\numbers.txt', 'r', encoding='utf-8') as f:
    for line in f.readlines():
        print(sum([int(i) for i in line.split()]))

256
78
114
15
1089

In [2032]:
# Вам доступен текстовый файл nums.txt. В файле могут быть записаны целые неотрицательные числа и все что угодно. 
# Числом назовем последовательность одной и более цифр, идущих подряд (число всегда неотрицательно).
# Напишите программу, которая вычисляет сумму всех чисел, записанных в файле.

with open(r'data\nums1.txt', 'r', encoding='utf-8') as f:
    print(f.read())
    for line in f.readlines():
        print(sum([int(i) for i in line.split() if i.isdigit()]))

 123
aaa456
1x2y3 4 5 6
sfsd 0 dfgfd  dfgdfg100 90 dddd
1 2 3 4 5 6 7 8
 a2 bb45 67b12
123456 hhhhh hjop 2

In [2033]:
import re

with open(r'data\nums1.txt', 'r', encoding='utf-8') as f:
    total = 0
    arr = [re.findall(r'\d+', line) for line in f.readlines()]
    for n in arr:
        for i in n:
            total += int(i)
    print(total)

124410

In [2034]:
# Вам доступен текстовый файл file.txt, набранный латиницей. 
# Напишите программу, которая выводит количество букв латинского алфавита, слов и строк. 
# Выведите три найденных числа в формате, приведенном в примере.

with open(r'data\file.txt', 'r', encoding='utf-8') as f:
    lines = f.readlines()

    words = []
    for line in lines:
        words.extend(line.split())

    letters = []
    for word in words:
        letters.extend([i for i in word if i.isalpha()])
        
    print('Input file contains:')
    print(f'{len(letters)} letters')
    print(f'{len(words)} words')
    print(f'{len(lines)} lines')

Input file contains:
1069 letters
229 words
12 lines

In [2035]:
with open(r'data\file.txt', 'r', encoding='utf-8') as f:
    linecount = 0
    wordcount = 0
    lettercount = 0

    for line in f:
        linecount += 1
        wordcount += len(line.split())
        lettercount += len([c for c in line if c.isalpha()])

print('Input file contains:')
print(lettercount,'letters')
print(wordcount,'words')
print(linecount,'lines')

Input file contains:
1069 letters
229 words
12 lines

In [2036]:
with open('data/file.txt') as f:
    f = f.read()
    
    print('Input file contains:')
    print(sum(map(str.isalpha, f)), 'letters')
    print(len(f.split()), 'words')
    print(f.count('\n') + 1, 'lines')

Input file contains:
1069 letters
229 words
12 lines

In [2037]:
with open('data/file.txt') as f:
    
    print('Input file contains:')
    print(len(list(filter(lambda x: x.isalpha(), f.read()))), 'letters')
    f.seek(0)
    print(len(f.read().split()), 'words')
    f.seek(0)
    print(len(list(f.readlines())), 'lines')

Input file contains:
1069 letters
229 words
12 lines

In [2038]:
# Random name and surname 🎲
# Вам доступны два текстовых файла first_names.txt и last_names.txt, один с именами, другой с фамилиями.

# Напишите программу, которая c помощью модуля random создает 3 случайные пары имя + фамилия, а затем выводит их, каждую на отдельной строке.

import random

with open('data/first_names.txt') as names, open('data/last_names.txt') as surnames:
    names_arr = list(map(str.strip, names.readlines()))
    surnames_arr = list(map(str.strip, surnames.readlines()))
    [print(f'{random.choice(names_arr)} {random.choice(surnames_arr)}') for _ in range(3)]

Emmitt Torrez
Freddie Toth
Enrique Trammell

In [2039]:
# Вам доступен текстовый файл population.txt с названиями стран и численностью их населения, разделенными символом табуляции \t.
# Напишите программу, выводящую все страны, название которых начинается с буквы G, 
# численность населения которых больше чем 500000 человек, не меняя их порядок.

with open('data/population.txt') as f:
    
    population = [(line.strip().split('\t')[0], int(line.strip().split('\t')[1])) for line in f.readlines() 
             if line.strip().split('\t')[0].startswith('G') and int(line.strip().split('\t')[1]) > 500000]
    [print(i[0]) for i in population]

Germany
Ghana
Guatemala
Greece
Guinea
Georgia
Guinea-Bissau
Gabon
Guyana

In [2040]:
with open('data\population.txt') as f:
    for line in f:
        n, p = line.split('\t')
        if n.startswith('G') and int(p) > 500000:
            print(n)

Germany
Ghana
Guatemala
Greece
Guinea
Georgia
Guinea-Bissau
Gabon
Guyana

In [2041]:
# Вам доступен CSV-файл data.csv, содержащий информацию в csv формате. 
# Напишите функцию read_csv() для чтения данных из этого файла. 
# Она должна возвращать список словарей, интерпретируя первую строку как имена ключей, а каждую последующую строку как значения этих ключей.

def read_csv():
    with open('data/datagp.csv') as f:
        lst = [x.replace('\n', '').split(',') for x in f.readlines()]
        arr = []
        for i in range(1, len(lst)):
            d = {k: v for k, v in zip(lst[0], lst[i])}
            arr.append(d)
    return arr

print(*read_csv(), sep='\n')

{'policyID': '119736', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '498960', 'hu_site_limit': '498960', 'fl_site_limit': '498960', 'fr_site_limit': '498960', 'tiv_2011': '498960', 'tiv_2012': '792148.9', 'eq_site_deductible': '0', 'hu_site_deductible': '9979.2', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.102261', 'point_longitude': '-81.711777', 'line': 'Residential', 'construction': 'Masonry', 'point_granularity': '1'}
{'policyID': '448094', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '1322376.3', 'hu_site_limit': '1322376.3', 'fl_site_limit': '1322376.3', 'fr_site_limit': '1322376.3', 'tiv_2011': '1322376.3', 'tiv_2012': '1438163.57', 'eq_site_deductible': '0', 'hu_site_deductible': '0', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.063936', 'point_longitude': '-81.707664', 'line': 'Residential', 'construction': 'Masonry', 'point_granularity': '3'}
{'policyID': '206893', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '190724.4', 'hu_site_limit': '190724.4', 'fl_site_limit': '190724.4', 'fr_site_limit': '190724.4', 'tiv_2011': '190724.4', 'tiv_2012': '192476.78', 'eq_site_deductible': '0', 'hu_site_deductible': '0', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.089579', 'point_longitude': '-81.700455', 'line': 'Residential', 'construction': 'Wood', 'point_granularity': '1'}
{'policyID': '333743', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '0', 'hu_site_limit': '79520.76', 'fl_site_limit': '0', 'fr_site_limit': '0', 'tiv_2011': '79520.76', 'tiv_2012': '86854.48', 'eq_site_deductible': '0', 'hu_site_deductible': '0', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.063236', 'point_longitude': '-81.707703', 'line': 'Residential', 'construction': 'Wood', 'point_granularity': '3'}
{'policyID': '172534', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '0', 'hu_site_limit': '254281.5', 'fl_site_limit': '0', 'fr_site_limit': '254281.5', 'tiv_2011': '254281.5', 'tiv_2012': '246144.49', 'eq_site_deductible': '0', 'hu_site_deductible': '0', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.060614', 'point_longitude': '-81.702675', 'line': 'Residential', 'construction': 'Wood', 'point_granularity': '1'}
{'policyID': '785275', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '0', 'hu_site_limit': '515035.62', 'fl_site_limit': '0', 'fr_site_limit': '0', 'tiv_2011': '515035.62', 'tiv_2012': '884419.17', 'eq_site_deductible': '0', 'hu_site_deductible': '0', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.063236', 'point_longitude': '-81.707703', 'line': 'Residential', 'construction': 'Masonry', 'point_granularity': '3'}
{'policyID': '995932', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '0', 'hu_site_limit': '19260000', 'fl_site_limit': '0', 'fr_site_limit': '0', 'tiv_2011': '19260000', 'tiv_2012': '20610000', 'eq_site_deductible': '0', 'hu_site_deductible': '0', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.102226', 'point_longitude': '-81.713882', 'line': 'Commercial', 'construction': 'Reinforced Concrete', 'point_granularity': '1'}
{'policyID': '223488', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '328500', 'hu_site_limit': '328500', 'fl_site_limit': '328500', 'fr_site_limit': '328500', 'tiv_2011': '328500', 'tiv_2012': '348374.25', 'eq_site_deductible': '0', 'hu_site_deductible': '16425', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.102217', 'point_longitude': '-81.707146', 'line': 'Residential', 'construction': 'Wood', 'point_granularity': '1'}
{'policyID': '433512', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '315000', 'hu_site_limit': '315000', 'fl_site_limit': '315000', 'fr_site_limit': '315000', 'tiv_2011': '315000', 'tiv_2012': '265821.57', 'eq_site_deductible': '0', 'hu_site_deductible': '15750', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.118774', 'point_longitude': '-81.704613', 'line': 'Residential', 'construction': 'Wood', 'point_granularity': '1'}
{'policyID': '142071', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '705600', 'hu_site_limit': '705600', 'fl_site_limit': '705600', 'fr_site_limit': '705600', 'tiv_2011': '705600', 'tiv_2012': '1010842.56', 'eq_site_deductible': '14112', 'hu_site_deductible': '35280', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.100628', 'point_longitude': '-81.703751', 'line': 'Residential', 'construction': 'Masonry', 'point_granularity': '1'}

In [2042]:
def read_csv():
    with open('data/datagp.csv') as file:
        keys = file.readline().strip().split(',')
        return [dict(zip(keys, line.strip().split(','))) for line in file]
    

print(*read_csv(), sep='\n')

{'policyID': '119736', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '498960', 'hu_site_limit': '498960', 'fl_site_limit': '498960', 'fr_site_limit': '498960', 'tiv_2011': '498960', 'tiv_2012': '792148.9', 'eq_site_deductible': '0', 'hu_site_deductible': '9979.2', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.102261', 'point_longitude': '-81.711777', 'line': 'Residential', 'construction': 'Masonry', 'point_granularity': '1'}
{'policyID': '448094', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '1322376.3', 'hu_site_limit': '1322376.3', 'fl_site_limit': '1322376.3', 'fr_site_limit': '1322376.3', 'tiv_2011': '1322376.3', 'tiv_2012': '1438163.57', 'eq_site_deductible': '0', 'hu_site_deductible': '0', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.063936', 'point_longitude': '-81.707664', 'line': 'Residential', 'construction': 'Masonry', 'point_granularity': '3'}
{'policyID': '206893', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '190724.4', 'hu_site_limit': '190724.4', 'fl_site_limit': '190724.4', 'fr_site_limit': '190724.4', 'tiv_2011': '190724.4', 'tiv_2012': '192476.78', 'eq_site_deductible': '0', 'hu_site_deductible': '0', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.089579', 'point_longitude': '-81.700455', 'line': 'Residential', 'construction': 'Wood', 'point_granularity': '1'}
{'policyID': '333743', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '0', 'hu_site_limit': '79520.76', 'fl_site_limit': '0', 'fr_site_limit': '0', 'tiv_2011': '79520.76', 'tiv_2012': '86854.48', 'eq_site_deductible': '0', 'hu_site_deductible': '0', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.063236', 'point_longitude': '-81.707703', 'line': 'Residential', 'construction': 'Wood', 'point_granularity': '3'}
{'policyID': '172534', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '0', 'hu_site_limit': '254281.5', 'fl_site_limit': '0', 'fr_site_limit': '254281.5', 'tiv_2011': '254281.5', 'tiv_2012': '246144.49', 'eq_site_deductible': '0', 'hu_site_deductible': '0', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.060614', 'point_longitude': '-81.702675', 'line': 'Residential', 'construction': 'Wood', 'point_granularity': '1'}
{'policyID': '785275', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '0', 'hu_site_limit': '515035.62', 'fl_site_limit': '0', 'fr_site_limit': '0', 'tiv_2011': '515035.62', 'tiv_2012': '884419.17', 'eq_site_deductible': '0', 'hu_site_deductible': '0', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.063236', 'point_longitude': '-81.707703', 'line': 'Residential', 'construction': 'Masonry', 'point_granularity': '3'}
{'policyID': '995932', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '0', 'hu_site_limit': '19260000', 'fl_site_limit': '0', 'fr_site_limit': '0', 'tiv_2011': '19260000', 'tiv_2012': '20610000', 'eq_site_deductible': '0', 'hu_site_deductible': '0', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.102226', 'point_longitude': '-81.713882', 'line': 'Commercial', 'construction': 'Reinforced Concrete', 'point_granularity': '1'}
{'policyID': '223488', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '328500', 'hu_site_limit': '328500', 'fl_site_limit': '328500', 'fr_site_limit': '328500', 'tiv_2011': '328500', 'tiv_2012': '348374.25', 'eq_site_deductible': '0', 'hu_site_deductible': '16425', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.102217', 'point_longitude': '-81.707146', 'line': 'Residential', 'construction': 'Wood', 'point_granularity': '1'}
{'policyID': '433512', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '315000', 'hu_site_limit': '315000', 'fl_site_limit': '315000', 'fr_site_limit': '315000', 'tiv_2011': '315000', 'tiv_2012': '265821.57', 'eq_site_deductible': '0', 'hu_site_deductible': '15750', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.118774', 'point_longitude': '-81.704613', 'line': 'Residential', 'construction': 'Wood', 'point_granularity': '1'}
{'policyID': '142071', 'statecode': 'FL', 'county': 'CLAY COUNTY', 'eq_site_limit': '705600', 'hu_site_limit': '705600', 'fl_site_limit': '705600', 'fr_site_limit': '705600', 'tiv_2011': '705600', 'tiv_2012': '1010842.56', 'eq_site_deductible': '14112', 'hu_site_deductible': '35280', 'fl_site_deductible': '0', 'fr_site_deductible': '0', 'point_latitude': '30.100628', 'point_longitude': '-81.703751', 'line': 'Residential', 'construction': 'Masonry', 'point_granularity': '1'}

# Запись данных в файл

In [2043]:
# Файловые методы write() и writelines()

# write()       – записывает переданную строку в файл
# writelines()  – записывает переданный список строк в файл

# 'r'	    Read (чтение)       Открыть файл только для чтения. Такой файл не может быть изменен.
# 'w'	    Write (запись)	    Открыть файл для записи. Если файл уже существует, то стереть его содержимое. Если файл не существует, он будет создан.
# 'a'	    Append (добавление)	Открыть файл для записи. Все записываемые в файл данные будут добавлены в его конец. Если файл не существует, то он будет создан.
# 'r+'	    Read + Write	    Открыть файл для чтения и записи. В этом режиме происходит частичная перезапись содержимого файла с самого начала.
# 'x'	    Create (создание)	Создать новый файл. Если файл уже существует, произойдет ошибка.

In [2044]:
# Timur
# Roman
# Ruslan
# Oleg

# with open('names.txt', 'a') as file:
#     file.write('\n')
#     file.write('Michael\n')
#     file.write('Alexander')

# Timur
# Roman
# Ruslan
# Oleg
# Michael
# Alexander

In [2045]:
# python c#
# c++
# pascal

# with open('words.txt', 'w') as file:
#     file.write('delphi+')
#     file.write('java')

# delphi+java

In [2046]:
# John Lennon
# Bob Dylan
# Stevie Wonder

# with open('artists.txt', 'r+') as file:
#     file.write('Mick Jagger\n')
#     file.write('Ace Canon\n')

# Mick Jagger
# Ace Canon
# Stevie Wonder

In [2047]:
# with open('words.txt', 'w') as output:
#     print('stepik', 'beegeek', 'iq-option', sep='*', end='+\n', file=output)
#     print('python', file=output)

# stepik*beegeek*iq-option+
# python

In [2048]:
# with open('beegeek.txt', 'w') as file:
#     file.writelines(['Добро пожаловать в Beegeek!\n', 'Наши курсы самые лучшие! '])
#     file.write('Позвоните нам: (916) 928-92xx')

# Добро пожаловать в Beegeek!
# Наши курсы самые лучшие! Позвоните нам: (916) 928-92xx

In [2049]:
# Напишите программу, которая считывает строку текста и записывает её в текстовый файл output.txt.

# with open('output.txt', 'w') as out:
#     out.write(input())

In [2050]:
# Напишите программу, записывающую в текстовый файл random.txt 
# 25 случайных чисел в диапазоне от 111 до 777 (включительно), каждое с новой строки.

# import random

# with open('random.txt', 'w') as out:
#     arr = list(random.randint(111, 778) for i in range(25))
#     out.writelines(str(s) + '\n' for s in arr)


# with open('random.txt','w') as out:
#     print(*[random.randint(111, 778) for _ in range(25)], sep='\n',file=out)

In [2051]:
# Вам доступен текстовый файл input.txt, состоящий из нескольких строк. 
# Напишите программу для записи содержимого этого файла в файл output.txt в виде нумерованного списка, 
# где перед каждой строкой стоит ее номер, символ ) и пробел. Нумерация строк должна начинаться с 1.

with open('data/input.txt', 'r', encoding='utf-8') as file, open('data/output.txt', 'w', encoding='utf-8') as out:
    for ind, val in enumerate(file.readlines(), start=1):
        print(f'{ind}) {val}', end='', file=out)

In [2052]:
# Вам доступен текстовый файл class_scores.txt с оценками за итоговый тест на строках вида: 
# фамилия оценка (фамилия и оценка разделены пробелом). Оценка - целое число от 0 до 100 включительно.
# Напишите программу для добавления 5 баллов к каждому результату теста 
# и вывода фамилий и новых результатов тестов в файл new_scores.txt.

with open('data/class_scores.txt', 'r', encoding='utf-8') as file, open('data/new_scores.txt', 'w', encoding='utf-8') as out:
    for line in file:
        names, scores = map(lambda x: x.strip(), line.split(' '))
        print(names, min(100, int(scores) + 5), file=out)

In [2054]:
with open('data/class_scores.txt', 'r', encoding='utf-8') as file:
    for line in file:
        names, scores = map(lambda x: x.strip(), line.split(' '))
        print(names, min(100, int(scores) + 5))

Гуев 100
Маргиев 100
Чаниев 100
Тепсикоев 99
Левитский 85
Габолаев 5
Хлюстова 15
Гергиева 90

In [2075]:
with open('data/goats.txt', 'r', encoding='utf-8') as file , open('data/answer.txt', 'w', encoding='utf-8') as out:
    a, b = file.read().split('\nGOATS\n')
    a = a.strip('COLOURS\n').split('\n')
    b = b.split('\n')
    d = {}
    for i in a:
        d[i] = b.count(i)
    for i in d:
        if d[i] * 100  > 7 * sum(d.values()):
            print(i, file=out)

In [2071]:
# with open('data/goats.txt') as file, open('data/answer.txt', 'w') as out:
#     cont = file.read().split('\n')
#     colors, goats = cont[1:cont.index('GOATS')], cont[cont.index('GOATS')+1:]
#     print(*sorted(filter(lambda x: goats.count(x) / len(goats) > 0.07, colors)), sep='\n', file=out)

{'Pink goat': 72,
 'Green goat': 2,
 'Black goat': 5,
 'White goat': 8,
 'Orange goat': 7,
 'Red goat': 6}

In [2080]:
# Вам доступен текстовый файл ledger.txt с данными о продажах фирмы за месяц. 
# На каждой строке файла указано, сколько клиент заплатил за товар, в долларах (целое число):

with open('data/ledger.txt', 'r', encoding='utf-8') as file:
    total = 0
    for line in file:
        price = int(line.strip('$'))
        total += price
    print(f'{total}$')

26127$

In [2085]:
# Вам доступен текстовый файл grades.txt, содержащий оценки студента за три теста в каждом из триместров. 
# Строки файла имеют вид: фамилия оценка_1 оценка_2 оценка_3.

# Напишите программу для подсчета количества студентов, сдавших все три теста. 
# Тест считается сданным, если количество баллов по нему не меньше 65.

with open('data/grades.txt', 'r', encoding='utf-8') as file:
    cnt = 0
    for line in file:
        name, test1, test2, test3 = line.split()
        if int(test1) >= 65 and int(test2) >= 65 and int(test3) >= 65:
            cnt += 1
    
    print(cnt)

19

In [2093]:
# Вам доступен текстовый файл words.txt со словами, разделенными пробелом. 
# Напишите программу, которая находит и выводит самые длинные слова этого файла, не меняя порядка их следования.

with open('data\words.txt', 'r', encoding='utf-8') as f:
    # print(f.read())
    mx = 0
    arr = [i.strip() for i in f.read().split()]
    for s in arr:
        len_word = len(s)
        if len_word > mx:
            mx = len_word
    print(*[i for i in arr if len(i) == mx], sep='\n')

responsibility
administration
recommendation
transportation

In [2102]:
# На вход программе подается строка текста с именем текстового файла. 
# Напишите программу, выводящую на экран последние 10 строк данного файла.

with open('data\ledger.txt', 'r', encoding='utf-8') as f:
    arr = f.read().split('\n')
    print(*arr[-10:])

$652 $574 $143 $710 $146 $235 $390 $385 $439 $484

In [2113]:
# Вам доступен текстовый файл cyrillic.txt, содержащий текст. 
# Напишите программу для транслитерации этого файла, то есть замены кириллических символов на латинские в соответствии с предложенной таблицей. 
# Все остальные символы надо оставить без изменений. Результат транслитерации требуется записать в файл transliteration.txt.

with open('data/cyrillic.txt', 'r', encoding='utf-8') as file , open('data/transliteration.txt', 'w', encoding='utf-8') as out:
    d = {
    'а': 'a', 'к': 'k', 'х': 'h', 'б': 'b', 'л': 'l', 'ц': 'c', 'в': 'v', 'м': 'm', 'ч': 'ch',
    'г': 'g', 'н': 'n', 'ш': 'sh', 'д': 'd', 'о': 'o', 'щ': 'shh', 'е': 'e', 'п': 'p', 'ъ': '*',
    'ё': 'jo', 'р': 'r', 'ы': 'y', 'ж': 'zh', 'с': 's', 'ь': "'", 'з': 'z', 'т': 't', 'э': 'je',
    'и': 'i', 'у': 'u', 'ю': 'ju', 'й': 'j', 'ф': 'f', 'я': 'ya'
    }
    
    for s in file.read():
        res = d.get(s.lower(), s)
        out.write(res if s.islower() else res.capitalize())

In [2134]:
with open('data/func_comments.txt', 'r', encoding='utf-8') as f:
    s = f.readlines()
    a = []
    for i in range(len(s)):
        if s[i].startswith('def') and (i == 0 or not s[i-1].startswith('#')):
            a.append(s[i][4:s[i].index('(')])
    if len(a) == 0:
        print('Best Programming Team')
    else:
        print(*a, sep='\n')

powers
matrix
mean
greet

In [2146]:
# На вход программе подается строка текста с именем текстового файла. Напишите программу, выводящую на экран содержимое этого файла, 
# но с заменой всех запрещенных слов звездочками * (количество звездочек равно количеству букв в слове).
# Запрещенные слова, разделенные символом пробела, хранятся в текстовом файле forbidden_words.txt. 
# Гарантируется, что все слова в этом файле записаны в нижнем регистре.
# Ваша программа прогоняется на трех файлах data.txt, stepik.txt и beegeek.txt.

with open('data/forbidden_words.txt') as f:
    forbidden_words = {word: '*' * len(word) for word in f.read().split()}
with open('data/forbidden_words.txt') as f:
    s = f.read()
    s_lower = s.lower()
for forbidden_word in forbidden_words:
    s_lower = s_lower.replace(forbidden_word, forbidden_words[forbidden_word])
print(*map((lambda c1, c2: '*' if c2 == '*' else c1), s, s_lower), sep='')

******* ******** ********* ********** ********* ******** *** ************** ********** *********** *********** ********** *********** **** ******* ********* *********** *********** ******** ******* ****** ******* ********** ************* ******* *********** ******** ************* ****** ************ ************ ************** *********** ******* ******* ****** ****** ******* *********** *********** ********* *********** ********* ************ ***** ******* ****** *********** ************ ******* ******** ************ ************ *********** ********* ********* ******** *********** ******** ****** ****** *********** ******* ******** ****** ***** *********** ******** ******** ************** ************ ********* ************ ********* ******* *********** *********** ******* ****** ********* ******* ******* *********** *********** ******** ******** ****** ****** *********** *********** ************* *********** ************ ****** ************* ********* ****** ********** ******* ********* ******ering *********** ***** *********** ********* ****** ******* ************** *********** ******* *********** ************ *********** **** *********** ******** ********** ********** ******** *********** ************ *********** ************ **** ****** ****** ******* ******** ******** ****** ****** ******** ******* ****** ************ ********* *** ********** ***** ***** ****** **** ***

In [2210]:
with open('data/people_names.txt', encoding='utf-8') as names:
    print(names.read())

Вася
Маша
Настя
Вера
Гриша
Артём
Миша
Валера
Костя
Виталя
Толян

In [2211]:
# Чтение первых трех символов

with open('data/people_names.txt', encoding='utf-8') as names:
    print(names.read(3))

Вас

In [2218]:
# Обработка ошибок

try:
    file = open('data/people_names.txt')
    try:
        s1 = file.readline()
        s2 = file.readline()
        s3 = file.readline()
        print(s3)
    finally:
        file.close()
except FileNotFoundError:
    print('Невозможно открыть файл')
except:
    print('Ошибка при работе с файлом')

try:
    file = open('people_names.txt')
    try:
        s1 = file.readline()
        s2 = file.readline()
        s3 = file.readline()
        print(s3)
    finally:
        file.close()
except FileNotFoundError:
    print('Невозможно открыть файл')
except:
    print('Ошибка при работе с файлом')

Настя

Невозможно открыть файл

In [2224]:
try:
    with open('data/people_names.txt') as file:
        s = file.readline()
        print(int(s))           # невозможно преобразовать, идем в блок с отловом всех исключений
except FileNotFoundError:
    print('Невозможно открыть файл')
except:
    print('Ошибка при работе с файлом')
finally:
    print(file.closed)          # выводим состояние файла (открыт/закрыт)

Ошибка при работе с файлом
True

In [2229]:
# Бинарный режим работы (запись)

import pickle

books = [
    ('Евгений Онегин', 'Пушкин А.С.', 200),
    ('Муму', 'Тургенев И.С', 250),
    ('Мастер и Маргарита', 'Булгаков М.А.', 500),
    ('Мертвые души', 'Гоголь Н.В.', 190)
]

file = open('data/binbooks.bin', 'wb')
pickle.dump(books, file)                        # Первый аргумент: что записываем, второй аргумент: куда записываем  
file.close()

In [2230]:
# Бинарный режим работы (чтение)

file = open('data/binbooks.bin', 'rb')
bs = pickle.load(file)
file.close()

print(bs)

[('Евгений Онегин', 'Пушкин А.С.', 200), ('Муму', 'Тургенев И.С', 250), ('Мастер и Маргарита', 'Булгаков М.А.', 500), ('Мертвые души', 'Гоголь Н.В.', 190)]

In [2233]:
# Бинарный режим работы (запись)

book1 = ['Евгений Онегин', 'Пушкин А.С.', 200]
book2 = ['Муму', 'Тургенев И.С', 250]
book3 = ['Мастер и Маргарита', 'Булгаков М.А.', 500]
book4 = ['Мертвые души', 'Гоголь Н.В.', 190]

try:
    with open('data/binbooks2.bin', 'wb') as file:
        pickle.dump(book1, file)
        pickle.dump(book2, file)
        pickle.dump(book3, file)
        pickle.dump(book4, file)
except:
    print('Ошибка при работе с файлом')

In [2238]:
with open('data/binbooks2.bin', 'rb') as file:
    b1 = pickle.load(file)
    b2 = pickle.load(file)
    b3 = pickle.load(file)
    b4 = pickle.load(file)

print(b1, b2, b3, b4, sep='\n')

['Евгений Онегин', 'Пушкин А.С.', 200]
['Муму', 'Тургенев И.С', 250]
['Мастер и Маргарита', 'Булгаков М.А.', 500]
['Мертвые души', 'Гоголь Н.В.', 190]

In [2242]:
from math import prod

n = 6

print(prod(range(1, n + 1)))

720