In [1]:
import pandas as pd
import numpy as np

# 1.1 Структура данных Series

In [2]:
shares = {'ММК': 52.50, 'Северсталь': 1386.20, 'НЛМК': 214.20} 

ser = pd.Series(shares, index=['ММК', 'Северсталь'])

ser

ММК             52.5
Северсталь    1386.2
dtype: float64

In [3]:
ser = pd.Series(data=0, index=range(5))

ser

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [4]:
from string import ascii_lowercase

ser = pd.Series(range(1, 8), list(ascii_lowercase[0:7]))

print(ser)

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [5]:
[chr(c) for c in range(ord('a'), ord('g') + 1)]

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [6]:
d = {"Moody's": "США", "Standard & Poor's": "США", "Fitch Ratings": "США",
     "АКРА": "Россия", "Эксперт РА": "Россия", "НРА": "Россия"}
srs = pd.Series(d)
# Продолжите написание кода здесь

srs[::2]

Moody's             США
Fitch Ratings       США
Эксперт РА       Россия
dtype: object

In [7]:
d = {'BANE': 'ПАО АНК "Башнефть"', 'LKOH': 'ПАО "ЛУКОЙЛ"', 
     'NVTK': 'ПАО "НОВАТЭК"', 'ROSN': 'ПАО "НК "Роснефть"',
     'TATN': 'ПАО "Татнефть" им. В.Д.Шашина', 'TRNFL': 'ПАО "Транснефть"'}
srs = pd.Series(d)
# Продолжите написание кода здесь

tickers = ['GAZP', 'SIBN', 'SNGS']
stocks = ['ПАО "Газпром"', 'ПАО "Газпром нефть"', 'ПАО "Сургутнефтегаз"']

for i in range(len(tickers)):
    srs[tickers[i]] = stocks[i]

srs

BANE                ПАО АНК "Башнефть"
LKOH                      ПАО "ЛУКОЙЛ"
NVTK                     ПАО "НОВАТЭК"
ROSN                ПАО "НК "Роснефть"
TATN     ПАО "Татнефть" им. В.Д.Шашина
TRNFL                 ПАО "Транснефть"
GAZP                     ПАО "Газпром"
SIBN               ПАО "Газпром нефть"
SNGS              ПАО "Сургутнефтегаз"
dtype: object

In [8]:
d.update({'GAZP': 'ПАО "Газпром"', 'SIBN': 'ПАО "Газпром нефть"', 'SNGS': 'ПАО "Сургутнефтегаз"'})
srs = pd.Series(d)
srs

BANE                ПАО АНК "Башнефть"
LKOH                      ПАО "ЛУКОЙЛ"
NVTK                     ПАО "НОВАТЭК"
ROSN                ПАО "НК "Роснефть"
TATN     ПАО "Татнефть" им. В.Д.Шашина
TRNFL                 ПАО "Транснефть"
GAZP                     ПАО "Газпром"
SIBN               ПАО "Газпром нефть"
SNGS              ПАО "Сургутнефтегаз"
dtype: object

In [9]:
# Поменяйте местами колонки индексов и значений.
d = {'BSPB': 'ПАО "Банк "Санкт-Петербург"', 'CBOM': 'ПАО "МОСКОВСКИЙ КРЕДИТНЫЙ БАНК"', 
     'ROSB': 'ПАО РОСБАНК', 'SBER': 'ПАО Сбербанк',
     'USBN': 'ПАО "БАНК УРАЛСИБ"', 'VTBR': 'Банк ВТБ (ПАО)'}
srs = pd.Series(d)
srs

BSPB        ПАО "Банк "Санкт-Петербург"
CBOM    ПАО "МОСКОВСКИЙ КРЕДИТНЫЙ БАНК"
ROSB                        ПАО РОСБАНК
SBER                       ПАО Сбербанк
USBN                 ПАО "БАНК УРАЛСИБ"
VTBR                     Банк ВТБ (ПАО)
dtype: object

In [10]:
pd.Series(srs.index.values, index=srs)

ПАО "Банк "Санкт-Петербург"        BSPB
ПАО "МОСКОВСКИЙ КРЕДИТНЫЙ БАНК"    CBOM
ПАО РОСБАНК                        ROSB
ПАО Сбербанк                       SBER
ПАО "БАНК УРАЛСИБ"                 USBN
Банк ВТБ (ПАО)                     VTBR
dtype: object

In [11]:
# Удалите из серии каждое чётное значение.
d = {'AMEZ': 'ПАО "Ашинский метзавод"', 'CHMF': 'ПАО "Северсталь"', 
     'CHMK': 'ПАО "ЧМК"', 'GMKN': 'ПАО "ГМК "Норильский никель"',
     'MAGN': 'ПАО "ММК"', 'MTLR': 'ПАО "Мечел"',
     'NLMK': 'ПАО "НЛМК"', 'RUAL': 'МКПАО "ОК РУСАЛ"',
     'TRMK': 'ПАО "ТМК"'}
srs = pd.Series(d)
srs

AMEZ         ПАО "Ашинский метзавод"
CHMF                ПАО "Северсталь"
CHMK                       ПАО "ЧМК"
GMKN    ПАО "ГМК "Норильский никель"
MAGN                       ПАО "ММК"
MTLR                     ПАО "Мечел"
NLMK                      ПАО "НЛМК"
RUAL                МКПАО "ОК РУСАЛ"
TRMK                       ПАО "ТМК"
dtype: object

In [12]:
print(srs.drop(srs[1::2].index))
print(srs.drop(srs.index[1::2]))

AMEZ    ПАО "Ашинский метзавод"
CHMK                  ПАО "ЧМК"
MAGN                  ПАО "ММК"
NLMK                 ПАО "НЛМК"
TRMK                  ПАО "ТМК"
dtype: object
AMEZ    ПАО "Ашинский метзавод"
CHMK                  ПАО "ЧМК"
MAGN                  ПАО "ММК"
NLMK                 ПАО "НЛМК"
TRMK                  ПАО "ТМК"
dtype: object

In [13]:
d1 = {'2022': 1184477, '2021': 1316948, '2020': 1116969}
srs1 = pd.Series(d1, name='Выручка, в млн рублей')
d2 = {'2022': 426329, '2021': 372728, '2020': 324308}
srs2 = pd.Series(d2, name='Себестоимость реализованных металлов, в млн рублей')
d3 = {'2022': 56137, '2021': 54862, '2020': 40482}
srs3 = pd.Series(d3, name='Себестоимость прочей реализации, в млн рублей')
# Продолжите написание кода здесь
srs = pd.Series(srs1.sub(srs2 + srs3), name = 'Валовая прибыль, в млн рублей')
srs

2022    702011
2021    889358
2020    752179
Name: Валовая прибыль, в млн рублей, dtype: int64

In [14]:
# P/E = Капитализация / Чистая прибыль

# P/E является самым популярным мультипликатором, который сравнивает стоимость компании с главным итогом деятельности - чистой прибылью. 
# В классическом варианте для сравнения берутся капитализация за последний торговый день года и чистая прибыль за этот год.
# По сути, отношений цены к чистой прибыли показывает сумму в рублях, которую инвестор может инвестировать в компанию, чтобы получить один рубль прибыли этой компании.
# При сравнении двух компаний P/E показывает, насколько рубль чистой прибыли одной компании оценивается инвесторами выше, чем рубль чистой прибыли другой. 
# При прочих равных условиях интереснее та компания, у которой значение P/E меньше, а значит есть вероятность того, что она недооценена и ее акции могут расти быстрее.

In [15]:

d1 = {'ПАО "Россети"': 54_210_000_000, 'ПАО "РусГидро"': 19_325_000_000, 
      'ПАО "Юнипро"': 21_267_722_000}
srs1 = pd.Series(d1, name='Чистая прибыль за 2022 год, руб.')
d2 = {'ПАО "Россети"': 110_844_896_493.56, 'ПАО "РусГидро"': 333_200_635_086.47, 
      'ПАО "Юнипро"': 84_863_558_471.17}
srs2 = pd.Series(d2, name='Капитализация на конец 2022 года, в млн рублей')
# Продолжите написание кода здесь

srs = pd.Series(srs2.div(srs1).round(1), name='P/E 2022 год')

print(srs1, srs2, srs, sep='\n\n')

ПАО "Россети"     54210000000
ПАО "РусГидро"    19325000000
ПАО "Юнипро"      21267722000
Name: Чистая прибыль за 2022 год, руб., dtype: int64

ПАО "Россети"     1.108449e+11
ПАО "РусГидро"    3.332006e+11
ПАО "Юнипро"      8.486356e+10
Name: Капитализация на конец 2022 года, в млн рублей, dtype: float64

ПАО "Россети"      2.0
ПАО "РусГидро"    17.2
ПАО "Юнипро"       4.0
Name: P/E 2022 год, dtype: float64

In [16]:
amounts = [300_000, 200_000, 500_000, 700_000, 1_000_000]
days = [30, 60, 90, 120, 180]
rates = [10, 11, 11, 12, 14]
amounts = pd.Series(amounts, name='Сумма депозита')
days = pd.Series(days, name='Дни')
rates = pd.Series(rates, name='Ставки')
# Продолжите написание кода здесь

ser = pd.Series(amounts * (days / 365) * rates * 0.01 + amounts)
ser

0    3.024658e+05
1    2.036164e+05
2    5.135616e+05
3    7.276164e+05
4    1.069041e+06
dtype: float64

In [17]:
lst1 = ['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
        '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01',]
srs1 = pd.Series(lst1)
srs2 = pd.Series('2020-01-01', index=range(8))
# Продолжите написание кода здесь

srs1 = srs1.astype('datetime64[ns]')
srs2 = srs2.astype('datetime64[ns]')

pd.Series(srs1 - srs2, dtype='timedelta64[ns]')

0   1096 days
1   1127 days
2   1155 days
3   1186 days
4   1216 days
5   1247 days
6   1277 days
7   1308 days
dtype: timedelta64[ns]

In [18]:
# Трейдер выставил биржевые заявки на покупку акций по ценам, представленным в серии srs1. 
# Некоторые из этих заявок исполнились, и в серии srs2 находятся данные по количеству купленных ценных бумаг.

d1 = {'ПАО "Газпром"': 162.5, 'Банк ВТБ (ПАО)': 0.024, 'ПАО "Аэрофлот"': 36.5, 
      'ПАО "Магнит"': 6200, 'ПАО "Газпром нефть"': 830}
d2 = {'ПАО "Аэрофлот"': 10_000, 'Банк ВТБ (ПАО)': 10_000_000, 'ПАО "Газпром"': 1_000}
srs1 = pd.Series(d1, name='Цена в заявке на покупку, руб.')
srs2 = pd.Series(d2, name='Количество купленных акций, шт.')
# Продолжите написание кода здесь

ser1 = pd.Series(srs1 * srs2)
ser2 = pd.Series(srs1.mul(srs2, fill_value=0))

print(srs1)
print()
print(srs2)
print()
print(ser1)
print()
print(ser2)

ПАО "Газпром"           162.500
Банк ВТБ (ПАО)            0.024
ПАО "Аэрофлот"           36.500
ПАО "Магнит"           6200.000
ПАО "Газпром нефть"     830.000
Name: Цена в заявке на покупку, руб., dtype: float64

ПАО "Аэрофлот"       10000
Банк ВТБ (ПАО)    10000000
ПАО "Газпром"         1000
Name: Количество купленных акций, шт., dtype: int64

Банк ВТБ (ПАО)         240000.0
ПАО "Аэрофлот"         365000.0
ПАО "Газпром нефть"         NaN
ПАО "Газпром"          162500.0
ПАО "Магнит"                NaN
dtype: float64

Банк ВТБ (ПАО)         240000.0
ПАО "Аэрофлот"         365000.0
ПАО "Газпром нефть"         0.0
ПАО "Газпром"          162500.0
ПАО "Магнит"                0.0
dtype: float64

In [19]:
# На вход подается строка, содержащая шесть натуральных чисел, разделенных пробелами.

# На основе этих чисел создайте объект Series.
# Затем возведите в степень значения этой серии таким образом, чтобы первое значение возвелось в первую степень, 
# второе значение - во вторую степень, третье - в третью, четвертое - в четвертую, пятое - в пятую и шестое значение - в шестую степень.
# Выведите полученный объект Series на печать.

# numbers = list(map(int, input().split()))
numbers = [4, 6, 3, 5, 3, 4]

ser = pd.Series(numbers)

print(ser)
print()
print(ser ** (np.arange(len(numbers)) + 1))

0    4
1    6
2    3
3    5
4    3
5    4
dtype: int64

0       4
1      36
2      27
3     625
4     243
5    4096
dtype: int64

# 2.1 Структура данных DataFrame

In [20]:
srs1 = pd.Series([15, 20, 50], name='Количество')
srs2 = pd.Series([200, 450.5, 1800], name='Цена')
print(srs1, srs2, sep='\n\n')

df = pd.DataFrame([srs1, srs2])

display(df)

df = df.T

display(df)

0    15
1    20
2    50
Name: Количество, dtype: int64

0     200.0
1     450.5
2    1800.0
Name: Цена, dtype: float64

                0      1       2
Количество   15.0   20.0    50.0
Цена        200.0  450.5  1800.0

   Количество    Цена
0        15.0   200.0
1        20.0   450.5
2        50.0  1800.0

In [21]:
nda = np.array([[15, 200], [20, 450.5], [50, 1800]])

print(nda)

[[  15.   200. ]
 [  20.   450.5]
 [  50.  1800. ]]

In [22]:
df = pd.DataFrame(nda, columns=['Количество', 'Цена'])

display(df)

   Количество    Цена
0        15.0   200.0
1        20.0   450.5
2        50.0  1800.0

In [23]:
car_sales_values = [['TOYOTA', 'VOLKSWAGEN GROUP', 'GENERAL MOTORS', 'STELLANTIS', 'FORD', 'HONDA', 
              'NISSAN', 'BMW', 'MERCEDES', 'TESLA'],
             [10_483_000, 8_300_000, 5_900_000, 5_800_000, 4_231_000, 4_074_000, 3_225_549,
              2_399_636, 2_043_900, 1_310_000],
             [1_940_000, 3_200_000, 2_300_000, 94_000, 495_000, 1_579_000, 1_045_197,
              791_985, 751_700, 439_770],
             [18.51, 38.55, 38.98, 1.62, 11.7, 38.76, 32.4, 33.0, 36.78, 33.57]]
car_sales_columns = ['Автопроизводитель', 'Продано по всему миру в 1 полугодии 2023', 'Продано в Китае', '%']
car_sales = pd.DataFrame(car_sales_values)
display(car_sales)

,0,1,2,3,4,5,6,7,8,9
0,TOYOTA,VOLKSWAGEN GROUP,GENERAL MOTORS,STELLANTIS,FORD,HONDA,NISSAN,BMW,MERCEDES,TESLA
1,10483000,8300000,5900000,5800000,4231000,4074000,3225549,2399636,2043900,1310000
2,1940000,3200000,2300000,94000,495000,1579000,1045197,791985,751700,439770
3,18.51,38.55,38.98,1.62,11.7,38.76,32.4,33.0,36.78,33.57

In [24]:
moscow_exchange_values = [['2023-03-01', 2279.65, 2258.89, 2287.48, 2255.45, 1.18],
       ['2023-03-02', 2254.3, 2284.87, 2286.27, 2235.43, -1.11],
       ['2023-03-03', 2272.2, 2250.12, 2273.52, 2249.81, 0.79],
       ['2023-03-06', 2294.12, 2286.2, 2297.86, 2283.4, 0.96],
       ['2023-03-07', 2295.6, 2294.32, 2298.93, 2281.46, 0.06],
       ['2023-03-09', 2290.14, 2295.03, 2302.1, 2278.95, -0.24],
       ['2023-03-10', 2276.25, 2272.61, 2283.18, 2266.33, -0.61]]
moscow_exchange_columns = ['Дата', 'Цена', 'Откр.', 'Макс.', 'Мин.', 'Изм. %']
moex = pd.DataFrame(moscow_exchange_values, columns=moscow_exchange_columns)  
# Продолжите написание кода здесь

moex.columns = list(i.lower() for i in moex.columns)

In [25]:
# Добавление нового столбца в датафрейм

brent_values = [['20231002', 92.47, 90.48], ['20231003', 90.48, 91.1],
                ['20231004', 91.1, 86.09], ['20231005', 86.09, 84.18],
                ['20231006', 84.18, 84.47], ['20231008', 84.43, 87.37],
                ['20231009', 87.38, 88.25], ['20231010', 88.25, 87.72],
                ['20231011', 87.72, 85.54], ['20231012', 85.54, 86.26],
                ['20231013', 86.26, 90.94]]
brent_columns = ['date', 'open', 'close']
brent = pd.DataFrame(brent_values, columns=brent_columns)

# Данные для нового
brent_low = pd.Series([90.35, 89.5, 85.75, 83.84, 83.44, 84.43, 86.42, 86.91, 85.21, 85.18, 86.26])

brent['date'] = brent['date'].astype('datetime64[ns]')

display(brent)

         date   open  close
0  2023-10-02  92.47  90.48
1  2023-10-03  90.48  91.10
2  2023-10-04  91.10  86.09
3  2023-10-05  86.09  84.18
4  2023-10-06  84.18  84.47
5  2023-10-08  84.43  87.37
6  2023-10-09  87.38  88.25
7  2023-10-10  88.25  87.72
8  2023-10-11  87.72  85.54
9  2023-10-12  85.54  86.26
10 2023-10-13  86.26  90.94

In [26]:
# Вставка колонки по индексу
brent.insert(loc=1, column='low', value=brent_low)

display(brent)

         date    low   open  close
0  2023-10-02  90.35  92.47  90.48
1  2023-10-03  89.50  90.48  91.10
2  2023-10-04  85.75  91.10  86.09
3  2023-10-05  83.84  86.09  84.18
4  2023-10-06  83.44  84.18  84.47
5  2023-10-08  84.43  84.43  87.37
6  2023-10-09  86.42  87.38  88.25
7  2023-10-10  86.91  88.25  87.72
8  2023-10-11  85.21  87.72  85.54
9  2023-10-12  85.18  85.54  86.26
10 2023-10-13  86.26  86.26  90.94

In [27]:
# Изменить порядок расположения элементов датафрейма на противоположный:
brent = brent[::-1]
display(brent)

         date    low   open  close
10 2023-10-13  86.26  86.26  90.94
9  2023-10-12  85.18  85.54  86.26
8  2023-10-11  85.21  87.72  85.54
7  2023-10-10  86.91  88.25  87.72
6  2023-10-09  86.42  87.38  88.25
5  2023-10-08  84.43  84.43  87.37
4  2023-10-06  83.44  84.18  84.47
3  2023-10-05  83.84  86.09  84.18
2  2023-10-04  85.75  91.10  86.09
1  2023-10-03  89.50  90.48  91.10
0  2023-10-02  90.35  92.47  90.48

In [28]:
brent.reset_index(drop=True, inplace=True)

display(brent)

         date    low   open  close
0  2023-10-13  86.26  86.26  90.94
1  2023-10-12  85.18  85.54  86.26
2  2023-10-11  85.21  87.72  85.54
3  2023-10-10  86.91  88.25  87.72
4  2023-10-09  86.42  87.38  88.25
5  2023-10-08  84.43  84.43  87.37
6  2023-10-06  83.44  84.18  84.47
7  2023-10-05  83.84  86.09  84.18
8  2023-10-04  85.75  91.10  86.09
9  2023-10-03  89.50  90.48  91.10
10 2023-10-02  90.35  92.47  90.48

In [29]:
# Изменить порядок столбцов
brent = brent[brent.columns[::-1]]
brent

    close   open    low       date
0   90.94  86.26  86.26 2023-10-13
1   86.26  85.54  85.18 2023-10-12
2   85.54  87.72  85.21 2023-10-11
3   87.72  88.25  86.91 2023-10-10
4   88.25  87.38  86.42 2023-10-09
5   87.37  84.43  84.43 2023-10-08
6   84.47  84.18  83.44 2023-10-06
7   84.18  86.09  83.84 2023-10-05
8   86.09  91.10  85.75 2023-10-04
9   91.10  90.48  89.50 2023-10-03
10  90.48  92.47  90.35 2023-10-02

In [30]:
# Параметр mapper метода rename()

brent_values = [['20231002', 92.47, 90.48], ['20231003', 90.48, 91.1],
                ['20231004', 91.1, 86.09], ['20231005', 86.09, 84.18],
                ['20231006', 84.18, 84.47], ['20231008', 84.43, 87.37],
                ['20231009', 87.38, 88.25], ['20231010', 88.25, 87.72],
                ['20231011', 87.72, 85.54], ['20231012', 85.54, 86.26],
                ['20231013', 86.26, 90.94]]
brent_columns = ['date', 'open', 'close']
brent = pd.DataFrame(brent_values, columns=brent_columns)

# Данные для нового
brent_low = pd.Series([90.35, 89.5, 85.75, 83.84, 83.44, 84.43, 86.42, 86.91, 85.21, 85.18, 86.26])

brent['date'] = brent['date'].astype('datetime64[ns]')

display(brent)

         date   open  close
0  2023-10-02  92.47  90.48
1  2023-10-03  90.48  91.10
2  2023-10-04  91.10  86.09
3  2023-10-05  86.09  84.18
4  2023-10-06  84.18  84.47
5  2023-10-08  84.43  87.37
6  2023-10-09  87.38  88.25
7  2023-10-10  88.25  87.72
8  2023-10-11  87.72  85.54
9  2023-10-12  85.54  86.26
10 2023-10-13  86.26  90.94

In [31]:
brent.rename(str.lower, axis='columns', inplace=True)
brent

         date   open  close
0  2023-10-02  92.47  90.48
1  2023-10-03  90.48  91.10
2  2023-10-04  91.10  86.09
3  2023-10-05  86.09  84.18
4  2023-10-06  84.18  84.47
5  2023-10-08  84.43  87.37
6  2023-10-09  87.38  88.25
7  2023-10-10  88.25  87.72
8  2023-10-11  87.72  85.54
9  2023-10-12  85.54  86.26
10 2023-10-13  86.26  90.94

In [32]:
brent.rename(mapper=str.upper, axis=1, inplace=True)
brent

         DATE   OPEN  CLOSE
0  2023-10-02  92.47  90.48
1  2023-10-03  90.48  91.10
2  2023-10-04  91.10  86.09
3  2023-10-05  86.09  84.18
4  2023-10-06  84.18  84.47
5  2023-10-08  84.43  87.37
6  2023-10-09  87.38  88.25
7  2023-10-10  88.25  87.72
8  2023-10-11  87.72  85.54
9  2023-10-12  85.54  86.26
10 2023-10-13  86.26  90.94

In [33]:
brent.rename(lambda x: x+21, axis=0, inplace=True)

display(brent)

         DATE   OPEN  CLOSE
21 2023-10-02  92.47  90.48
22 2023-10-03  90.48  91.10
23 2023-10-04  91.10  86.09
24 2023-10-05  86.09  84.18
25 2023-10-06  84.18  84.47
26 2023-10-08  84.43  87.37
27 2023-10-09  87.38  88.25
28 2023-10-10  88.25  87.72
29 2023-10-11  87.72  85.54
30 2023-10-12  85.54  86.26
31 2023-10-13  86.26  90.94

# Методы add_prefix() и add_suffix()

In [34]:
brent_values = [['20231002', 92.47, 90.48], ['20231003', 90.48, 91.1],
                ['20231004', 91.1, 86.09], ['20231005', 86.09, 84.18],
                ['20231006', 84.18, 84.47], ['20231008', 84.43, 87.37],
                ['20231009', 87.38, 88.25], ['20231010', 88.25, 87.72],
                ['20231011', 87.72, 85.54], ['20231012', 85.54, 86.26],
                ['20231013', 86.26, 90.94]]
brent_columns = ['date', 'open', 'close']
brent = pd.DataFrame(brent_values, columns=brent_columns)

# Данные для нового
brent_low = pd.Series([90.35, 89.5, 85.75, 83.84, 83.44, 84.43, 86.42, 86.91, 85.21, 85.18, 86.26])

brent['date'] = brent['date'].astype('datetime64[ns]')

display(brent)

         date   open  close
0  2023-10-02  92.47  90.48
1  2023-10-03  90.48  91.10
2  2023-10-04  91.10  86.09
3  2023-10-05  86.09  84.18
4  2023-10-06  84.18  84.47
5  2023-10-08  84.43  87.37
6  2023-10-09  87.38  88.25
7  2023-10-10  88.25  87.72
8  2023-10-11  87.72  85.54
9  2023-10-12  85.54  86.26
10 2023-10-13  86.26  90.94

In [35]:
brent.add_prefix('brent_')

   brent_date  brent_open  brent_close
0  2023-10-02       92.47        90.48
1  2023-10-03       90.48        91.10
2  2023-10-04       91.10        86.09
3  2023-10-05       86.09        84.18
4  2023-10-06       84.18        84.47
5  2023-10-08       84.43        87.37
6  2023-10-09       87.38        88.25
7  2023-10-10       88.25        87.72
8  2023-10-11       87.72        85.54
9  2023-10-12       85.54        86.26
10 2023-10-13       86.26        90.94

In [36]:
brent.add_suffix('_brent')

   date_brent  open_brent  close_brent
0  2023-10-02       92.47        90.48
1  2023-10-03       90.48        91.10
2  2023-10-04       91.10        86.09
3  2023-10-05       86.09        84.18
4  2023-10-06       84.18        84.47
5  2023-10-08       84.43        87.37
6  2023-10-09       87.38        88.25
7  2023-10-10       88.25        87.72
8  2023-10-11       87.72        85.54
9  2023-10-12       85.54        86.26
10 2023-10-13       86.26        90.94

In [37]:
brent.add_prefix('asd_', axis=0)

             date   open  close
asd_0  2023-10-02  92.47  90.48
asd_1  2023-10-03  90.48  91.10
asd_2  2023-10-04  91.10  86.09
asd_3  2023-10-05  86.09  84.18
asd_4  2023-10-06  84.18  84.47
asd_5  2023-10-08  84.43  87.37
asd_6  2023-10-09  87.38  88.25
asd_7  2023-10-10  88.25  87.72
asd_8  2023-10-11  87.72  85.54
asd_9  2023-10-12  85.54  86.26
asd_10 2023-10-13  86.26  90.94

In [38]:
brent = brent.set_index('date')

brent.T

date,2023-10-02,2023-10-03,2023-10-04,2023-10-05,2023-10-06,2023-10-08,2023-10-09,2023-10-10,2023-10-11,2023-10-12,2023-10-13
open,92.47,90.48,91.10,86.09,84.18,84.43,87.38,88.25,87.72,85.54,86.26
close,90.48,91.10,86.09,84.18,84.47,87.37,88.25,87.72,85.54,86.26,90.94

# 2.3 Доступ к данным

In [39]:
data = [['2023-06-01',122.820000,124.419998,122.620003,123.720001],
['2023-06-02',123.989998,126.150002,123.760002,124.669998],
['2023-06-05',124.010002,127.430000,123.839996,126.010002],
['2023-06-06',126.010002,128.289993,125.360001,127.309998],
['2023-06-07',126.970001,129.039993,122.120003,122.500000],
['2023-06-08',122.230003,123.230003,121.239998,122.139999],
['2023-06-09',122.250000,123.760002,121.910004,122.230003],
['2023-06-12',122.790001,124.050003,121.660004,123.639999],
['2023-06-13',124.980003,125.160004,123.180000,123.830002],
['2023-06-14',123.099998,124.050003,121.449997,123.669998],
['2023-06-15',123.139999,125.459999,122.400002,125.089996],
['2023-06-16',125.930000,126.110001,123.279999,123.529999]]
col = ['date','open','high','low','close']

google = pd.DataFrame(data, columns=col)
google['date'] = pd.to_datetime(google['date'])

google

         date        open        high         low       close
0  2023-06-01  122.820000  124.419998  122.620003  123.720001
1  2023-06-02  123.989998  126.150002  123.760002  124.669998
2  2023-06-05  124.010002  127.430000  123.839996  126.010002
3  2023-06-06  126.010002  128.289993  125.360001  127.309998
4  2023-06-07  126.970001  129.039993  122.120003  122.500000
5  2023-06-08  122.230003  123.230003  121.239998  122.139999
6  2023-06-09  122.250000  123.760002  121.910004  122.230003
7  2023-06-12  122.790001  124.050003  121.660004  123.639999
8  2023-06-13  124.980003  125.160004  123.180000  123.830002
9  2023-06-14  123.099998  124.050003  121.449997  123.669998
10 2023-06-15  123.139999  125.459999  122.400002  125.089996
11 2023-06-16  125.930000  126.110001  123.279999  123.529999

In [40]:
gold_values = [['J2TX.ALLFUTGOLD', 'M', '20220101', 0, 1830.1, 1854.2, 1778.8, 1800.0, 3141758],
               ['J2TX.ALLFUTGOLD', 'M', '20220201', 0, 1800.1, 1976.5, 1788.5, 1907.3, 3667293],
               ['J2TX.ALLFUTGOLD', 'M', '20220301', 0, 1907.3, 2078.8, 1888.3, 1943.1, 3779219],
               ['J2TX.ALLFUTGOLD', 'M', '20220401', 0, 1943.0, 2003.0, 1870.9, 1896.9, 2922701],
               ['J2TX.ALLFUTGOLD', 'M', '20220501', 0, 1896.2, 1910.7, 1785.0, 1839.0, 2807625],
               ['J2TX.ALLFUTGOLD', 'M', '20220601', 0, 1838.9, 1882.5, 1801.1, 1801.5, 3045238],
               ['J2TX.ALLFUTGOLD', 'M', '20220701', 0, 1801.5, 1815.2, 1678.4, 1778.0, 2814156],
               ['J2TX.ALLFUTGOLD', 'M', '20220801', 0, 1777.9, 1824.6, 1713.0, 1715.2, 3019818],
               ['J2TX.ALLFUTGOLD', 'M', '20220901', 0, 1715.4, 1746.4, 1622.2, 1668.3, 3896802],
               ['J2TX.ALLFUTGOLD', 'M', '20221001', 0, 1670.5, 1738.7, 1621.1, 1640.4, 3449294],
               ['J2TX.ALLFUTGOLD', 'M', '20221101', 0, 1640.5, 1793.8, 1618.3, 1793.4, 3360941],
               ['J2TX.ALLFUTGOLD', 'M', '20221201', 0, 1793.3, 1841.9, 1778.1, 1830.1, 2841688],
               ['J2TX.ALLFUTGOLD', 'M', '20230101', 0, 1831.8, 1949.8, 1829.9, 1941.4, 3160947]]
gold_columns = ['<TICKER>', '<PER>', '<DATE>', '<TIME>', '<OPEN>', '<HIGH>', '<LOW>', '<CLOSE>', '<VOL>']
gold = pd.DataFrame(gold_values, columns=gold_columns)
# Продолжите написание кода здесь

print(gold[['<DATE>', '<CLOSE>']])

      <DATE>  <CLOSE>
0   20220101   1800.0
1   20220201   1907.3
2   20220301   1943.1
3   20220401   1896.9
4   20220501   1839.0
5   20220601   1801.5
6   20220701   1778.0
7   20220801   1715.2
8   20220901   1668.3
9   20221001   1640.4
10  20221101   1793.4
11  20221201   1830.1
12  20230101   1941.4

In [41]:
moscow_exchange_values = [['2023-03-10', 2276.25, 2272.61, 2283.18, 2266.33, -0.61],
       ['2023-03-09', 2290.14, 2295.03, 2302.1, 2278.95, -0.24],
       ['2023-03-07', 2295.6, 2294.32, 2298.93, 2281.46, 0.06],
       ['2023-03-06', 2294.12, 2286.2, 2297.86, 2283.4, 0.96],
       ['2023-03-03', 2272.2, 2250.12, 2273.52, 2249.81, 0.79],
       ['2023-03-02', 2254.3, 2284.87, 2286.27, 2235.43, -1.11],
       ['2023-03-01', 2279.65, 2258.89, 2287.48, 2255.45, 1.18]]
moscow_exchange_columns = ['Дата', 'Цена', 'Откр.', 'Макс.', 'Мин.', 'Изм. %']
moex = pd.DataFrame(moscow_exchange_values, columns=moscow_exchange_columns)  
# Продолжите написание кода здесь

moex = moex[::-1].reset_index().drop('index', axis=1)
moex

         Дата     Цена    Откр.    Макс.     Мин.  Изм. %
0  2023-03-01  2279.65  2258.89  2287.48  2255.45    1.18
1  2023-03-02  2254.30  2284.87  2286.27  2235.43   -1.11
2  2023-03-03  2272.20  2250.12  2273.52  2249.81    0.79
3  2023-03-06  2294.12  2286.20  2297.86  2283.40    0.96
4  2023-03-07  2295.60  2294.32  2298.93  2281.46    0.06
5  2023-03-09  2290.14  2295.03  2302.10  2278.95   -0.24
6  2023-03-10  2276.25  2272.61  2283.18  2266.33   -0.61

# 2.4 loc

In [42]:
# Сделайте столбец 'Дата' индексом.
# Транспонируйте датафрейм.
# Выведите на печать данные из столбца '2023-03-01' в виде объекта Series.
# Распечатайте пустую строку. 
# Выведите на печать данные по двум столбцам '2023-03-01' и '2023-03-06'.

moscow_exchange_values = [['2023-03-01', 2279.65, 2258.89, 2287.48, 2255.45, 1.18],
       ['2023-03-02', 2254.3, 2284.87, 2286.27, 2235.43, -1.11],
       ['2023-03-03', 2272.2, 2250.12, 2273.52, 2249.81, 0.79],
       ['2023-03-06', 2294.12, 2286.2, 2297.86, 2283.4, 0.96],
       ['2023-03-07', 2295.6, 2294.32, 2298.93, 2281.46, 0.06],
       ['2023-03-09', 2290.14, 2295.03, 2302.1, 2278.95, -0.24],
       ['2023-03-10', 2276.25, 2272.61, 2283.18, 2266.33, -0.61]]
moscow_exchange_columns = ['Дата', 'Цена', 'Откр.', 'Макс.', 'Мин.', 'Изм. %']
moex = pd.DataFrame(moscow_exchange_values, columns=moscow_exchange_columns)  
# Продолжите написание кода здесь

moex = moex.set_index('Дата').T
print(moex['2023-03-01'])
print()
print(moex.loc[:,['2023-03-01', '2023-03-06']])

Цена      2279.65
Откр.     2258.89
Макс.     2287.48
Мин.      2255.45
Изм. %       1.18
Name: 2023-03-01, dtype: float64

Дата    2023-03-01  2023-03-06
Цена       2279.65     2294.12
Откр.      2258.89     2286.20
Макс.      2287.48     2297.86
Мин.       2255.45     2283.40
Изм. %        1.18        0.96

In [43]:
# Создайте датафрейм, содержащий показатели за 2022 год, и в котором будут только два столбца - 'Дата выпуска' и 'Факт.'.
# "Переверните" датафрейм, чтобы показатели начинались с января 2022 г.
# Индексация должна идти с нуля.
# Выведите итоговый датафрейм на печать.

pmi_services_germany_values = [['05.07.2023 (июнь)', 54.1, 54.1, 57.2],
       ['05.06.2023 (май)', 57.2, 57.8, 56.0], ['04.05.2023 (апр)', 56.0, 55.7, 53.7],
       ['05.04.2023 (мар)', 53.7, 53.9, 50.9], ['03.03.2023 (фев)', 50.9, 51.3, 50.7],
       ['03.02.2023 (янв)', 50.7, 50.4, 49.2], ['04.01.2023 (дек)', 49.2, 49.0, 46.1],
       ['05.12.2022 (нояб)', 46.1, 46.4, 46.5], ['04.11.2022 (окт)', 46.5, 44.9, 45.0],
       ['05.10.2022 (сент)', 45.0, 45.4, 47.7], ['05.09.2022 (авг)', 47.7, 48.2, 49.7],
       ['03.08.2022 (июль)', 49.7, 49.2, 52.4], ['05.07.2022 (июнь)', 52.4, 52.4, 55.0],
       ['03.06.2022 (май)', 55.0, 56.3, 56.3], ['04.05.2022 (апр)', 57.6, 57.9, 56.1],
       ['05.04.2022 (мар)', 56.1, 55.0, 55.8], ['03.03.2022 (фев)', 55.8, 56.6, 52.2],
       ['03.02.2022 (янв)', 52.2, 52.2, 48.7], ['05.01.2022 (дек)', 48.7, 48.4, 52.7],
       ['03.12.2021 (нояб)', 52.7, 53.4, 52.4], ['04.11.2021 (окт)', 52.4, 52.4, 56.2],
       ['05.10.2021 (сент)', 56.2, 56.0, 60.8], ['03.09.2021 (авг)', 60.8, 61.5, 61.8],
       ['04.08.2021 (июль)', 61.8, 62.2, 57.5], ['05.07.2021 (июнь)', 57.5, 58.1, 52.8],
       ['03.06.2021 (май)', 52.8, 52.8, 52.8], ['05.05.2021 (апр)', 49.9, 50.1, 51.5],
       ['07.04.2021 (мар)', 51.5, 50.8, 45.7], ['03.03.2021 (фев)', 45.7, 45.9, 46.7],
       ['03.02.2021 (янв)', 46.7, 46.8, 46.8]]
pmi_services_germany_columns = ['Дата выпуска', 'Факт.', 'Прогноз', 'Пред.']
pmi_services_germany = pd.DataFrame(pmi_services_germany_values, 
                                        columns=pmi_services_germany_columns)
# Продолжите написание кода здесь
pmi_services_germany = pmi_services_germany.loc[6:17, ['Дата выпуска', 'Факт.']][::-1].reset_index(drop='index')
pmi_services_germany

         Дата выпуска  Факт.
0    03.02.2022 (янв)   52.2
1    03.03.2022 (фев)   55.8
2    05.04.2022 (мар)   56.1
3    04.05.2022 (апр)   57.6
4    03.06.2022 (май)   55.0
5   05.07.2022 (июнь)   52.4
6   03.08.2022 (июль)   49.7
7    05.09.2022 (авг)   47.7
8   05.10.2022 (сент)   45.0
9    04.11.2022 (окт)   46.5
10  05.12.2022 (нояб)   46.1
11   04.01.2023 (дек)   49.2

In [44]:
# Используя loc добавьте новую строчку в конец датафрейма, содержащую следующие данные: 
# 'Golden Silver Bank', 500_000_000, 8.20, 'O/N'. Выведите итоговый датафрейм на печать.

depo_values = [['New Energy Bank', 1_000_000_000, 8.30, 'O/N'],
               ['AgroFoodBank', 5_000_000_000, 8.50, '1W'],
               ['First Ecologic Bank', 4_500_000_000, 8.60, '1M'],
               ['Cryptocurrencybank', 2_700_000_000, 8.30, 'O/N'],
               ['GreenEnergyBank', 1_800_000_000, 8.35, 'O/N'],
               ['ClearWaterBank', 3_000_000_000, 8.40, 'O/N'],
               ['First Ecologic Bank', 3_000_000_000, 8.41, 'O/N'],
               ['Cryptocurrencybank', 7_500_000_000, 8.50, 'O/N'],
               ['Golden Silver Bank', 2_500_000_000, 8.65, '1M'],
               ['New Energy Bank', 2_000_000_000, 8.45, '1W'],
               ['AgroFoodBank', 700_000_000, 8.25, 'O/N'],
               ['Golden Silver Bank', 4_300_000_000, 8.40, 'O/N'],
               ['New Energy Bank', 4_000_000_000, 8.80, '3M']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь

depo.loc[len(depo)] = ['Golden Silver Bank', 500_000_000, 8.20, 'O/N']
depo

                   Банк  Сумма, руб.  Ставка Срок
0       New Energy Bank   1000000000    8.30  O/N
1          AgroFoodBank   5000000000    8.50   1W
2   First Ecologic Bank   4500000000    8.60   1M
3    Cryptocurrencybank   2700000000    8.30  O/N
4       GreenEnergyBank   1800000000    8.35  O/N
5        ClearWaterBank   3000000000    8.40  O/N
6   First Ecologic Bank   3000000000    8.41  O/N
7    Cryptocurrencybank   7500000000    8.50  O/N
8    Golden Silver Bank   2500000000    8.65   1M
9       New Energy Bank   2000000000    8.45   1W
10         AgroFoodBank    700000000    8.25  O/N
11   Golden Silver Bank   4300000000    8.40  O/N
12      New Energy Bank   4000000000    8.80   3M
13   Golden Silver Bank    500000000    8.20  O/N

# 2.5 iloc

In [45]:
df = depo[0:9]
depo.iloc[0:3]

                  Банк  Сумма, руб.  Ставка Срок
0      New Energy Bank   1000000000     8.3  O/N
1         AgroFoodBank   5000000000     8.5   1W
2  First Ecologic Bank   4500000000     8.6   1M

In [46]:
# Каждая пятая строчка
df[::5]
df.loc[[0,5]]
df.loc[::5]
df.iloc[[0,5]]
df.iloc[::5]

              Банк  Сумма, руб.  Ставка Срок
0  New Energy Bank   1000000000     8.3  O/N
5   ClearWaterBank   3000000000     8.4  O/N

# 2.6 Методы filter, isin, where, query

In [47]:
df_values = [['03.11.2023', 7095.0, 7095.0, 7184.4, 7175.1, 7095.0, '+1.13%'],
       ['03.11.2023', 115062.37, 115062.37, 118501.8, 118159.97, 115052.96, '+2.70%'],
       ['03.11.2023', 7084.51, 7046.86, 7086.71, 7047.5, 7060.69, '−0.19%'],
       ['03.11.2023', 15143.6, 15143.6, 15269.37, 15189.25, 15143.6, '+0.30%'],
       ['03.11.2023', 11179.44, 11176.62, 11238.28, 11200.66, 11093.75, '+0.96%'],
       ['03.11.2023', 33988.83, 33946.6, 34163.63, 34061.32, 33839.08, '+0.66%'],
       ['03.11.2023', 125.78, 125.6, 126.81, 125.9, 125.02, '+0.70%'],
       ['03.11.2023', 14448.01, 14435.63, 14554.87, 14512.76, 14285.46, '+1.59%'],
       ['03.11.2023', 864.51, 859.83, 869.8, 860.05, 850.92, '+1.07%'],
       ['03.11.2023', 7448.9, 7396.96, 7482.24, 7417.73, 7446.53, '−0.39%'],
       ['03.11.2023', 17405.91, 17352.6, 17723.94, 17664.12, 17230.59, '+2.52%'],
       ['03.11.2023', 9260.4, 9250.1, 9339.6, 9293.9, 9260.4, '+0.36%'],
       ['03.11.2023', 14979.4674, 14968.1817, 15149.3298, 15099.4915, 14919.5453, '+1.21%'],
       ['03.11.2023', 13357.757, 13347.4836, 13519.9508, 13478.2828, 13294.1905, '+1.38%'],
       ['03.11.2023', 2044.48, 2044.48, 2061.0, 2054.88, 2039.06, '+0.78%'],
       ['03.11.2023', 4334.23, 4334.23, 4373.62, 4358.34, 4317.78, '+0.94%'],
       ['03.11.2023', 64444.9, 64289.05, 64532.88, 64363.78, 64080.9, '+0.44%'],
       ['03.11.2023', 3009.4058, 3009.4058, 3040.8878, 3030.7977, 3009.4058, '+0.71%']]
df_columns = ['дата', 'откр', 'мин', 'макс', 'закр', 'пред закр', 'изм %']
df_index = ['ASX Australia', 'BOVESPA Brazil', 'CAC 40', 'DAX 30', 'DJ Composite',
       'DJ Industrial', 'DJ Telecommunications', 'DJ Transport',
       'DJ Utilities', 'FTSE 100', 'Hang Seng', 'IBEX Spain', 'NASDAQ 100',
       'NASDAQ Comp', 'S&P 100', 'S&P 500', 'SENSEX India', 'Shanghai Composite']
df = pd.DataFrame(df_values, columns=df_columns, index=df_index)
df.index.name = 'биржевой индекс'

display(df)

,дата,откр,мин,макс,закр,пред закр,изм %
биржевой индекс,,,,,,,
ASX Australia,03.11.2023,7095.0000,7095.0000,7184.4000,7175.1000,7095.0000,+1.13%
BOVESPA Brazil,03.11.2023,115062.3700,115062.3700,118501.8000,118159.9700,115052.9600,+2.70%
CAC 40,03.11.2023,7084.5100,7046.8600,7086.7100,7047.5000,7060.6900,−0.19%
DAX 30,03.11.2023,15143.6000,15143.6000,15269.3700,15189.2500,15143.6000,+0.30%
DJ Composite,03.11.2023,11179.4400,11176.6200,11238.2800,11200.6600,11093.7500,+0.96%
DJ Industrial,03.11.2023,33988.8300,33946.6000,34163.6300,34061.3200,33839.0800,+0.66%
DJ Telecommunications,03.11.2023,125.7800,125.6000,126.8100,125.9000,125.0200,+0.70%
DJ Transport,03.11.2023,14448.0100,14435.6300,14554.8700,14512.7600,14285.4600,+1.59%
DJ Utilities,03.11.2023,864.5100,859.8300,869.8000,860.0500,850.9200,+1.07%
FTSE 100,03.11.2023,7448.9000,7396.9600,7482.2400,7417.7300,7446.5300,−0.39%
Hang Seng,03.11.2023,17405.9100,17352.6000,17723.9400,17664.1200,17230.5900,+2.52%
IBEX Spain,03.11.2023,9260.4000,9250.1000,9339.6000,9293.9000,9260.4000,+0.36%
NASDAQ 100,03.11.2023,14979.4674,14968.1817,15149.3298,15099.4915,14919.5453,+1.21%
NASDAQ Comp,03.11.2023,13357.7570,13347.4836,13519.9508,13478.2828,13294.1905,+1.38%
S&P 100,03.11.2023,2044.4800,2044.4800,2061.0000,2054.8800,2039.0600,+0.78%
S&P 500,03.11.2023,4334.2300,4334.2300,4373.6200,4358.3400,4317.7800,+0.94%
SENSEX India,03.11.2023,64444.9000,64289.0500,64532.8800,64363.7800,64080.9000,+0.44%
Shanghai Composite,03.11.2023,3009.4058,3009.4058,3040.8878,3030.7977,3009.4058,+0.71%

In [48]:
df_values = [['S&P 500', 'Dec 01, 2023', '4,559.43', '4,594.63'],
       ['NASDAQ Composite', 'Dec 01, 2023', '14,181.35', '14,305.03'],
       ['Dow Jones Industrial Average', 'Dec 01, 2023', '35,914.45', '36,245.50'],
       ['S&P 500', 'Nov 30, 2023', '4,554.87', '4,567.80'],
       ['NASDAQ Composite', 'Nov 30, 2023', '14,265.05', '14,226.22'],
       ['Dow Jones Industrial Average', 'Nov 30, 2023', '35,596.57', '35,950.89'],
       ['S&P 500', 'Nov 29, 2023', '4,571.84', '4,550.58'],
       ['NASDAQ Composite', 'Nov 29, 2023', '14,367.11', '14,258.49'],
       ['Dow Jones Industrial Average', 'Nov 29, 2023', '35,436.80', '35,430.42'],
       ['S&P 500', 'Nov 28, 2023', '4,545.55', '4,554.89'],
       ['NASDAQ Composite', 'Nov 28, 2023', '14,224.63', '14,281.76'],
       ['Dow Jones Industrial Average', 'Nov 28, 2023', '35,332.13', '35,416.98'],
       ['S&P 500', 'Nov 27, 2023', '4,554.86', '4,550.43'],
       ['NASDAQ Composite', 'Nov 27, 2023', '14,239.31', '14,241.02'],
       ['Dow Jones Industrial Average', 'Nov 27, 2023', '35,376.44', '35,333.47']]
df_columns = ['Exchange Index', 'Date', 'Open', 'Close']
df = pd.DataFrame(df_values, columns=df_columns)
df.set_index('Exchange Index', inplace=True)
# Продолжите написание кода здесь

df[df['Date'].isin(['Nov 29, 2023'])]

                                      Date       Open      Close
Exchange Index
S&P 500                       Nov 29, 2023   4,571.84   4,550.58
NASDAQ Composite              Nov 29, 2023  14,367.11  14,258.49
Dow Jones Industrial Average  Nov 29, 2023  35,436.80  35,430.42

In [49]:
# Выведите на печать датафрейм, содержащий данные только за 29 ноября 2023 г. и отсортируйте колонку индекса по алфавиту.

df.query('Date == "Nov 29, 2023"').sort_index()

                                      Date       Open      Close
Exchange Index
Dow Jones Industrial Average  Nov 29, 2023  35,436.80  35,430.42
NASDAQ Composite              Nov 29, 2023  14,367.11  14,258.49
S&P 500                       Nov 29, 2023   4,571.84   4,550.58

In [50]:
df_values = [['AMEZ', 'ПАО "Ашинский метзавод"', 'ао', 51480414016, 'металлургия'],
       ['BSPB', 'ПАО "Банк "Санкт-Петербург"', 'ао', 134333130048, 'банк'],
       ['BSPBP', 'ПАО "Банк "Санкт-Петербург"', 'ап', 1234140000, 'банк'],
       ['CHMF', 'ПАО "Северсталь"', 'ао', 1147004389272, 'металлургия'],
       ['CHMK', 'ПАО "ЧМК"', 'ао', 35398198175, 'металлургия'],
       ['GMKN', 'ПАО "ГМК "Норильский никель"', 'ао', 2474552670636, 'металлургия'],
       ['MAGN', 'ПАО "ММК"', 'ао', 583970485800, 'металлургия'],
       ['MTLR', 'ПАО "Мечел"', 'ао', 85098228400, 'металлургия'],
       ['MTLRP', 'ПАО "Мечел"', 'ап', 31456192630, 'металлургия'],
       ['NLMK', 'ПАО "НЛМК"', 'ао', 1255940700414, 'металлургия'],
       ['ROSB', 'ПАО РОСБАНК', 'ао', 158242989006, 'банк'],
       ['RUAL', 'МКПАО "ОК РУСАЛ"', 'ао', 626180107537, 'металлургия'],
       ['SBER', 'ПАО Сбербанк', 'ао', 5628796691000, 'банк'],
       ['SBERP', 'ПАО Сбербанк', 'ап', 260380000000, 'банк'],
       ['TRMK', 'ПАО "ТМК"', 'ао', 229500690203, 'металлургия'],
       ['USBN', 'ПАО "БАНК УРАЛСИБ"', 'ао', 71090589258, 'банк'],
       ['VTBR', 'Банк ВТБ (ПАО)', 'ао', 693929707327, 'банк']]
df_columns = ['Торговый код', 'Эмитент', 'Тип',
              'Капитализация, руб.', 'Отрасль']
df = pd.DataFrame(df_values, columns=df_columns)

In [51]:
#  Замените в столбце 'Отрасль' значения: 'металлургия' на 'М', 'банк' на 'Б'. Выведите на печать итоговый датафрейм.
# Решите задание с использованием метода where().

df_new = df.copy()

df_new['Отрасль'].where(df_new['Отрасль'] != 'металлургия', 'М', inplace=True)
df_new['Отрасль'].where(df_new['Отрасль'] != 'банк', 'Б', inplace=True)

df_new.head()

C:\Users\kuche\AppData\Local\Temp\ipykernel_3476\188821697.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_new['Отрасль'].where(df_new['Отрасль'] != 'металлургия', 'М', inplace=True)
C:\Users\kuche\AppData\Local\Temp\ipykernel_3476\188821697.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_new['Отрасль'].where(df_new['Отрасль'] != 'банк', 'Б', inplace=True)

  Торговый код                      Эмитент Тип  Капитализация, руб. Отрасль
0         AMEZ      ПАО "Ашинский метзавод"  ао          51480414016       М
1         BSPB  ПАО "Банк "Санкт-Петербург"  ао         134333130048       Б
2        BSPBP  ПАО "Банк "Санкт-Петербург"  ап           1234140000       Б
3         CHMF             ПАО "Северсталь"  ао        1147004389272       М
4         CHMK                    ПАО "ЧМК"  ао          35398198175       М

In [52]:
df_new = df.copy()

df_new['Отрасль'] = np.where(df_new['Отрасль'] == 'металлургия', 'М', 'Б')

df_new.head()

  Торговый код                      Эмитент Тип  Капитализация, руб. Отрасль
0         AMEZ      ПАО "Ашинский метзавод"  ао          51480414016       М
1         BSPB  ПАО "Банк "Санкт-Петербург"  ао         134333130048       Б
2        BSPBP  ПАО "Банк "Санкт-Петербург"  ап           1234140000       Б
3         CHMF             ПАО "Северсталь"  ао        1147004389272       М
4         CHMK                    ПАО "ЧМК"  ао          35398198175       М

In [53]:
df_new = df.copy()

d = {'металлургия': 'М', 'банк': 'Б'}
df_new['Отрасль'] = df_new['Отрасль'].map(d)

df_new.head()

  Торговый код                      Эмитент Тип  Капитализация, руб. Отрасль
0         AMEZ      ПАО "Ашинский метзавод"  ао          51480414016       М
1         BSPB  ПАО "Банк "Санкт-Петербург"  ао         134333130048       Б
2        BSPBP  ПАО "Банк "Санкт-Петербург"  ап           1234140000       Б
3         CHMF             ПАО "Северсталь"  ао        1147004389272       М
4         CHMK                    ПАО "ЧМК"  ао          35398198175       М

In [54]:
# Выведите на печать датафрейм, содержащий все строки, в которых в столбце 'Торговый код' значения начинаются на букву R
display(df[df['Торговый код'].str.startswith('R')])

   Торговый код           Эмитент Тип  Капитализация, руб.      Отрасль
10         ROSB       ПАО РОСБАНК  ао         158242989006         банк
11         RUAL  МКПАО "ОК РУСАЛ"  ао         626180107537  металлургия

In [55]:
# Выведите на печать датафрейм, содержащий все строки, в которых в столбце 'Торговый код' значения начинаются на букву R
df_new = df.copy()
df_new.set_index('Торговый код', inplace=True)
display(df_new.filter(regex='^R', axis=0))

                       Эмитент Тип  Капитализация, руб.      Отрасль
Торговый код
ROSB               ПАО РОСБАНК  ао         158242989006         банк
RUAL          МКПАО "ОК РУСАЛ"  ао         626180107537  металлургия

In [56]:
# Выведите на печать датафрейм, содержащий все строки, в которых в столбце 'Торговый код' значения начинаются на буквы M или S.
display(df_new.filter(regex='^[MS]', axis=0))

                   Эмитент Тип  Капитализация, руб.      Отрасль
Торговый код
MAGN             ПАО "ММК"  ао         583970485800  металлургия
MTLR           ПАО "Мечел"  ао          85098228400  металлургия
MTLRP          ПАО "Мечел"  ап          31456192630  металлургия
SBER          ПАО Сбербанк  ао        5628796691000         банк
SBERP         ПАО Сбербанк  ап         260380000000         банк

# Метод filter()

In [57]:
# Метод filter() применяет фильтрацию к меткам индекса. Отфильтровать датафрейм по значениям этот метод не позволяет.
# Метод имеет следующий синтаксис:
# DataFrame.filter(items=None, like=None, regex=None, axis=None)
# items - параметр принимает метки оси; 
# like - принимает строку, элементы которой будут проверяться на наличие в метках индекса;
# regex - параметр принимает регулярное выражение.

In [58]:
df.filter(['дата', 'закр', 'изм %'])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [59]:
# Теперь выведем все столбцы, которые содержат, например, 'да'. Используем для этого параметр like
df.filter(like='да', axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [60]:
# Или выведем все строки, содержащие в метках индекса 'S&P':
df.filter(like='S&P', axis=0)

Empty DataFrame
Columns: [Торговый код, Эмитент, Тип, Капитализация, руб., Отрасль]
Index: []

# Регулярное выражение (Regular Expression, RegEx)

In [61]:
# Регулярное выражение (Regular Expression, RegEx) - это эффективный инструмент для сопоставления текста на основе заранее определенного шаблона. 
# Регулярные выражения позволяют найти строки или наборы строк в тексте, используя специализированный синтаксис, с помощью которого описывается шаблон для поиска.

# Некоторые символы регулярных выражений:
# . - означает, что на месте точки может быть любой символ, кроме символа новой строки (\n). Например, 20.. год;
# [...] - любой символ из указанных в скобках. Символы можно задавать как перечислением, так и указывая диапазон через дефис. Например, [a-z], [А-Яа-яЁё], [0-9];
# [^...] - любой символ, кроме указанных в скобках. Например, [^abcdef];
# ^ - начало строки. Например, ^Уважаемый;
# $ - конец строки. Например, Спасибо, что остаетесь с нами. Вы важны для нас!$.

In [62]:
df_values = [['03.11.2023', 7095.0, 7095.0, 7184.4, 7175.1, 7095.0, '+1.13%'],
       ['03.11.2023', 115062.37, 115062.37, 118501.8, 118159.97, 115052.96, '+2.70%'],
       ['03.11.2023', 7084.51, 7046.86, 7086.71, 7047.5, 7060.69, '−0.19%'],
       ['03.11.2023', 15143.6, 15143.6, 15269.37, 15189.25, 15143.6, '+0.30%'],
       ['03.11.2023', 11179.44, 11176.62, 11238.28, 11200.66, 11093.75, '+0.96%'],
       ['03.11.2023', 33988.83, 33946.6, 34163.63, 34061.32, 33839.08, '+0.66%'],
       ['03.11.2023', 125.78, 125.6, 126.81, 125.9, 125.02, '+0.70%'],
       ['03.11.2023', 14448.01, 14435.63, 14554.87, 14512.76, 14285.46, '+1.59%'],
       ['03.11.2023', 864.51, 859.83, 869.8, 860.05, 850.92, '+1.07%'],
       ['03.11.2023', 7448.9, 7396.96, 7482.24, 7417.73, 7446.53, '−0.39%'],
       ['03.11.2023', 17405.91, 17352.6, 17723.94, 17664.12, 17230.59, '+2.52%'],
       ['03.11.2023', 9260.4, 9250.1, 9339.6, 9293.9, 9260.4, '+0.36%'],
       ['03.11.2023', 14979.4674, 14968.1817, 15149.3298, 15099.4915, 14919.5453, '+1.21%'],
       ['03.11.2023', 13357.757, 13347.4836, 13519.9508, 13478.2828, 13294.1905, '+1.38%'],
       ['03.11.2023', 2044.48, 2044.48, 2061.0, 2054.88, 2039.06, '+0.78%'],
       ['03.11.2023', 4334.23, 4334.23, 4373.62, 4358.34, 4317.78, '+0.94%'],
       ['03.11.2023', 64444.9, 64289.05, 64532.88, 64363.78, 64080.9, '+0.44%'],
       ['03.11.2023', 3009.4058, 3009.4058, 3040.8878, 3030.7977, 3009.4058, '+0.71%']]
df_columns = ['дата', 'откр', 'мин', 'макс', 'закр', 'пред закр', 'изм %']
df_index = ['ASX Australia', 'BOVESPA Brazil', 'CAC 40', 'DAX 30', 'DJ Composite',
       'DJ Industrial', 'DJ Telecommunications', 'DJ Transport',
       'DJ Utilities', 'FTSE 100', 'Hang Seng', 'IBEX Spain', 'NASDAQ 100',
       'NASDAQ Comp', 'S&P 100', 'S&P 500', 'SENSEX India', 'Shanghai Composite']
df = pd.DataFrame(df_values, columns=df_columns, index=df_index)
df.index.name = 'биржевой индекс'

display(df)

,дата,откр,мин,макс,закр,пред закр,изм %
биржевой индекс,,,,,,,
ASX Australia,03.11.2023,7095.0000,7095.0000,7184.4000,7175.1000,7095.0000,+1.13%
BOVESPA Brazil,03.11.2023,115062.3700,115062.3700,118501.8000,118159.9700,115052.9600,+2.70%
CAC 40,03.11.2023,7084.5100,7046.8600,7086.7100,7047.5000,7060.6900,−0.19%
DAX 30,03.11.2023,15143.6000,15143.6000,15269.3700,15189.2500,15143.6000,+0.30%
DJ Composite,03.11.2023,11179.4400,11176.6200,11238.2800,11200.6600,11093.7500,+0.96%
DJ Industrial,03.11.2023,33988.8300,33946.6000,34163.6300,34061.3200,33839.0800,+0.66%
DJ Telecommunications,03.11.2023,125.7800,125.6000,126.8100,125.9000,125.0200,+0.70%
DJ Transport,03.11.2023,14448.0100,14435.6300,14554.8700,14512.7600,14285.4600,+1.59%
DJ Utilities,03.11.2023,864.5100,859.8300,869.8000,860.0500,850.9200,+1.07%
FTSE 100,03.11.2023,7448.9000,7396.9600,7482.2400,7417.7300,7446.5300,−0.39%
Hang Seng,03.11.2023,17405.9100,17352.6000,17723.9400,17664.1200,17230.5900,+2.52%
IBEX Spain,03.11.2023,9260.4000,9250.1000,9339.6000,9293.9000,9260.4000,+0.36%
NASDAQ 100,03.11.2023,14979.4674,14968.1817,15149.3298,15099.4915,14919.5453,+1.21%
NASDAQ Comp,03.11.2023,13357.7570,13347.4836,13519.9508,13478.2828,13294.1905,+1.38%
S&P 100,03.11.2023,2044.4800,2044.4800,2061.0000,2054.8800,2039.0600,+0.78%
S&P 500,03.11.2023,4334.2300,4334.2300,4373.6200,4358.3400,4317.7800,+0.94%
SENSEX India,03.11.2023,64444.9000,64289.0500,64532.8800,64363.7800,64080.9000,+0.44%
Shanghai Composite,03.11.2023,3009.4058,3009.4058,3040.8878,3030.7977,3009.4058,+0.71%

In [63]:
# Давайте выведем все строки, индекс в которых содержит букву 'D':
df.filter(regex='[D]', axis=0)

,дата,откр,мин,макс,закр,пред закр,изм %
биржевой индекс,,,,,,,
DAX 30,03.11.2023,15143.6000,15143.6000,15269.3700,15189.2500,15143.6000,+0.30%
DJ Composite,03.11.2023,11179.4400,11176.6200,11238.2800,11200.6600,11093.7500,+0.96%
DJ Industrial,03.11.2023,33988.8300,33946.6000,34163.6300,34061.3200,33839.0800,+0.66%
DJ Telecommunications,03.11.2023,125.7800,125.6000,126.8100,125.9000,125.0200,+0.70%
DJ Transport,03.11.2023,14448.0100,14435.6300,14554.8700,14512.7600,14285.4600,+1.59%
DJ Utilities,03.11.2023,864.5100,859.8300,869.8000,860.0500,850.9200,+1.07%
NASDAQ 100,03.11.2023,14979.4674,14968.1817,15149.3298,15099.4915,14919.5453,+1.21%
NASDAQ Comp,03.11.2023,13357.7570,13347.4836,13519.9508,13478.2828,13294.1905,+1.38%

In [64]:
# Или, например, найдем все строки, содержащие индексы Доу Джонса:
df.filter(regex='^DJ', axis=0)

,дата,откр,мин,макс,закр,пред закр,изм %
биржевой индекс,,,,,,,
DJ Composite,03.11.2023,11179.44,11176.62,11238.28,11200.66,11093.75,+0.96%
DJ Industrial,03.11.2023,33988.83,33946.60,34163.63,34061.32,33839.08,+0.66%
DJ Telecommunications,03.11.2023,125.78,125.60,126.81,125.90,125.02,+0.70%
DJ Transport,03.11.2023,14448.01,14435.63,14554.87,14512.76,14285.46,+1.59%
DJ Utilities,03.11.2023,864.51,859.83,869.80,860.05,850.92,+1.07%

In [65]:
# Вывести все столбцы, которые заканчиваются на 'кр':
df.filter(regex='кр$', axis=1)

                              откр         закр    пред закр
биржевой индекс
ASX Australia            7095.0000    7175.1000    7095.0000
BOVESPA Brazil         115062.3700  118159.9700  115052.9600
CAC 40                   7084.5100    7047.5000    7060.6900
DAX 30                  15143.6000   15189.2500   15143.6000
DJ Composite            11179.4400   11200.6600   11093.7500
DJ Industrial           33988.8300   34061.3200   33839.0800
DJ Telecommunications     125.7800     125.9000     125.0200
DJ Transport            14448.0100   14512.7600   14285.4600
DJ Utilities              864.5100     860.0500     850.9200
FTSE 100                 7448.9000    7417.7300    7446.5300
Hang Seng               17405.9100   17664.1200   17230.5900
IBEX Spain               9260.4000    9293.9000    9260.4000
NASDAQ 100              14979.4674   15099.4915   14919.5453
NASDAQ Comp             13357.7570   13478.2828   13294.1905
S&P 100                  2044.4800    2054.8800    2039.0600
S&P 500                  4334.2300    4358.3400    4317.7800
SENSEX India            64444.9000   64363.7800   64080.9000
Shanghai Composite       3009.4058    3030.7977    3009.4058

# Метод isin()

In [66]:
# Метод isin() работает уже не с индексами, а со значениями. 
#   Основная задача метода isin() в pandas - выбрать те строки, которые имеют определенное значение (или несколько) в конкретном столбце (или столбцах).

# Метод isin() имеет следующий синтаксис:
# DataFrame.isin(values)

In [67]:
df_values = [['03.11.2023', 7095.0, 7095.0, 7184.4, 7175.1, 7095.0, '+1.13%'],
       ['03.11.2023', 115062.37, 115062.37, 118501.8, 118159.97, 115052.96, '+2.70%'],
       ['03.11.2023', 7084.51, 7046.86, 7086.71, 7047.5, 7060.69, '−0.19%'],
       ['03.11.2023', 15143.6, 15143.6, 15269.37, 15189.25, 15143.6, '+0.30%'],
       ['03.11.2023', 11179.44, 11176.62, 11238.28, 11200.66, 11093.75, '+0.96%'],
       ['03.11.2023', 33988.83, 33946.6, 34163.63, 34061.32, 33839.08, '+0.66%'],
       ['03.11.2023', 125.78, 125.6, 126.81, 125.9, 125.02, '+0.70%'],
       ['03.11.2023', 14448.01, 14435.63, 14554.87, 14512.76, 14285.46, '+1.59%'],
       ['03.11.2023', 864.51, 859.83, 869.8, 860.05, 850.92, '+1.07%'],
       ['03.11.2023', 7448.9, 7396.96, 7482.24, 7417.73, 7446.53, '−0.39%'],
       ['03.11.2023', 17405.91, 17352.6, 17723.94, 17664.12, 17230.59, '+2.52%'],
       ['03.11.2023', 9260.4, 9250.1, 9339.6, 9293.9, 9260.4, '+0.36%'],
       ['03.11.2023', 14979.4674, 14968.1817, 15149.3298, 15099.4915, 14919.5453, '+1.21%'],
       ['03.11.2023', 13357.757, 13347.4836, 13519.9508, 13478.2828, 13294.1905, '+1.38%'],
       ['03.11.2023', 2044.48, 2044.48, 2061.0, 2054.88, 2039.06, '+0.78%'],
       ['03.11.2023', 4334.23, 4334.23, 4373.62, 4358.34, 4317.78, '+0.94%'],
       ['03.11.2023', 64444.9, 64289.05, 64532.88, 64363.78, 64080.9, '+0.44%'],
       ['03.11.2023', 3009.4058, 3009.4058, 3040.8878, 3030.7977, 3009.4058, '+0.71%']]
df_columns = ['дата', 'откр', 'мин', 'макс', 'закр', 'пред закр', 'изм %']
df_index = ['ASX Australia', 'BOVESPA Brazil', 'CAC 40', 'DAX 30', 'DJ Composite',
       'DJ Industrial', 'DJ Telecommunications', 'DJ Transport',
       'DJ Utilities', 'FTSE 100', 'Hang Seng', 'IBEX Spain', 'NASDAQ 100',
       'NASDAQ Comp', 'S&P 100', 'S&P 500', 'SENSEX India', 'Shanghai Composite']
df = pd.DataFrame(df_values, columns=df_columns, index=df_index)
df.index.name = 'биржевой индекс'

display(df)

,дата,откр,мин,макс,закр,пред закр,изм %
биржевой индекс,,,,,,,
ASX Australia,03.11.2023,7095.0000,7095.0000,7184.4000,7175.1000,7095.0000,+1.13%
BOVESPA Brazil,03.11.2023,115062.3700,115062.3700,118501.8000,118159.9700,115052.9600,+2.70%
CAC 40,03.11.2023,7084.5100,7046.8600,7086.7100,7047.5000,7060.6900,−0.19%
DAX 30,03.11.2023,15143.6000,15143.6000,15269.3700,15189.2500,15143.6000,+0.30%
DJ Composite,03.11.2023,11179.4400,11176.6200,11238.2800,11200.6600,11093.7500,+0.96%
DJ Industrial,03.11.2023,33988.8300,33946.6000,34163.6300,34061.3200,33839.0800,+0.66%
DJ Telecommunications,03.11.2023,125.7800,125.6000,126.8100,125.9000,125.0200,+0.70%
DJ Transport,03.11.2023,14448.0100,14435.6300,14554.8700,14512.7600,14285.4600,+1.59%
DJ Utilities,03.11.2023,864.5100,859.8300,869.8000,860.0500,850.9200,+1.07%
FTSE 100,03.11.2023,7448.9000,7396.9600,7482.2400,7417.7300,7446.5300,−0.39%
Hang Seng,03.11.2023,17405.9100,17352.6000,17723.9400,17664.1200,17230.5900,+2.52%
IBEX Spain,03.11.2023,9260.4000,9250.1000,9339.6000,9293.9000,9260.4000,+0.36%
NASDAQ 100,03.11.2023,14979.4674,14968.1817,15149.3298,15099.4915,14919.5453,+1.21%
NASDAQ Comp,03.11.2023,13357.7570,13347.4836,13519.9508,13478.2828,13294.1905,+1.38%
S&P 100,03.11.2023,2044.4800,2044.4800,2061.0000,2054.8800,2039.0600,+0.78%
S&P 500,03.11.2023,4334.2300,4334.2300,4373.6200,4358.3400,4317.7800,+0.94%
SENSEX India,03.11.2023,64444.9000,64289.0500,64532.8800,64363.7800,64080.9000,+0.44%
Shanghai Composite,03.11.2023,3009.4058,3009.4058,3040.8878,3030.7977,3009.4058,+0.71%

In [68]:
df.reset_index(inplace=True)
display(df)

,биржевой индекс,дата,откр,мин,макс,закр,пред закр,изм %
0,ASX Australia,03.11.2023,7095.0000,7095.0000,7184.4000,7175.1000,7095.0000,+1.13%
1,BOVESPA Brazil,03.11.2023,115062.3700,115062.3700,118501.8000,118159.9700,115052.9600,+2.70%
2,CAC 40,03.11.2023,7084.5100,7046.8600,7086.7100,7047.5000,7060.6900,−0.19%
3,DAX 30,03.11.2023,15143.6000,15143.6000,15269.3700,15189.2500,15143.6000,+0.30%
4,DJ Composite,03.11.2023,11179.4400,11176.6200,11238.2800,11200.6600,11093.7500,+0.96%
5,DJ Industrial,03.11.2023,33988.8300,33946.6000,34163.6300,34061.3200,33839.0800,+0.66%
6,DJ Telecommunications,03.11.2023,125.7800,125.6000,126.8100,125.9000,125.0200,+0.70%
7,DJ Transport,03.11.2023,14448.0100,14435.6300,14554.8700,14512.7600,14285.4600,+1.59%
8,DJ Utilities,03.11.2023,864.5100,859.8300,869.8000,860.0500,850.9200,+1.07%
9,FTSE 100,03.11.2023,7448.9000,7396.9600,7482.2400,7417.7300,7446.5300,−0.39%
10,Hang Seng,03.11.2023,17405.9100,17352.6000,17723.9400,17664.1200,17230.5900,+2.52%
11,IBEX Spain,03.11.2023,9260.4000,9250.1000,9339.6000,9293.9000,9260.4000,+0.36%
12,NASDAQ 100,03.11.2023,14979.4674,14968.1817,15149.3298,15099.4915,14919.5453,+1.21%
13,NASDAQ Comp,03.11.2023,13357.7570,13347.4836,13519.9508,13478.2828,13294.1905,+1.38%
14,S&P 100,03.11.2023,2044.4800,2044.4800,2061.0000,2054.8800,2039.0600,+0.78%
15,S&P 500,03.11.2023,4334.2300,4334.2300,4373.6200,4358.3400,4317.7800,+0.94%
16,SENSEX India,03.11.2023,64444.9000,64289.0500,64532.8800,64363.7800,64080.9000,+0.44%
17,Shanghai Composite,03.11.2023,3009.4058,3009.4058,3040.8878,3030.7977,3009.4058,+0.71%

In [69]:
# Используя метод isin(), получим логический ряд, отвечающий условию содержания в столбце 'биржевой индекс' следующих данных: 
# 'ASX Australia', 'Hang Seng', 'SENSEX India', 'Shanghai Composite':

mask = df['биржевой индекс'].isin(['ASX Australia', 'Hang Seng', 'SENSEX India', 'Shanghai Composite'])

print(mask)
display(df[mask])

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16     True
17     True
Name: биржевой индекс, dtype: bool

,биржевой индекс,дата,откр,мин,макс,закр,пред закр,изм %
0,ASX Australia,03.11.2023,7095.0000,7095.0000,7184.4000,7175.1000,7095.0000,+1.13%
10,Hang Seng,03.11.2023,17405.9100,17352.6000,17723.9400,17664.1200,17230.5900,+2.52%
16,SENSEX India,03.11.2023,64444.9000,64289.0500,64532.8800,64363.7800,64080.9000,+0.44%
17,Shanghai Composite,03.11.2023,3009.4058,3009.4058,3040.8878,3030.7977,3009.4058,+0.71%

# Метод where()

In [70]:
# Метод where() можно использовать для замены определенных значений в датафрейме. 

# Метод where() имеет следующий синтаксис:
# DataFrame.where(cond, other=nan, *, inplace=False, axis=None, level=None)

# Для каждого элемента датафрейма, где cond имеет значение True, сохраняется исходное значение. 
# А каждый элемент датафрейма, где cond имеет значение False, заменяется тем значением, которое передается параметру other.

In [71]:
# Для примера выведем колонку с уровнями открытия с условием, если значение больше 1000, то изменений не происходит, 
# а если меньше или равно 1000, то значение заменяется на ноль:

df['откр'].where(df['откр']>1000, 0)

0       7095.0000
1     115062.3700
2       7084.5100
3      15143.6000
4      11179.4400
5      33988.8300
6          0.0000
7      14448.0100
8          0.0000
9       7448.9000
10     17405.9100
11      9260.4000
12     14979.4674
13     13357.7570
14      2044.4800
15      4334.2300
16     64444.9000
17      3009.4058
Name: откр, dtype: float64

In [72]:
# создадим новый столбец с названием 'цвет', который будет иметь значение 'green', если в колонке 'изм %' положительное значение, 
# и 'red', если в колонке 'изм %' отрицательное значение. Воспользуемся конструкцией str.contains(), которая применяется к объекту Series.

df['цвет'] = df['изм %'].where(df['изм %'].str.contains('−'), 'green')

display(df)

,биржевой индекс,дата,откр,мин,макс,закр,пред закр,изм %,цвет
0,ASX Australia,03.11.2023,7095.0000,7095.0000,7184.4000,7175.1000,7095.0000,+1.13%,green
1,BOVESPA Brazil,03.11.2023,115062.3700,115062.3700,118501.8000,118159.9700,115052.9600,+2.70%,green
2,CAC 40,03.11.2023,7084.5100,7046.8600,7086.7100,7047.5000,7060.6900,−0.19%,−0.19%
3,DAX 30,03.11.2023,15143.6000,15143.6000,15269.3700,15189.2500,15143.6000,+0.30%,green
4,DJ Composite,03.11.2023,11179.4400,11176.6200,11238.2800,11200.6600,11093.7500,+0.96%,green
5,DJ Industrial,03.11.2023,33988.8300,33946.6000,34163.6300,34061.3200,33839.0800,+0.66%,green
6,DJ Telecommunications,03.11.2023,125.7800,125.6000,126.8100,125.9000,125.0200,+0.70%,green
7,DJ Transport,03.11.2023,14448.0100,14435.6300,14554.8700,14512.7600,14285.4600,+1.59%,green
8,DJ Utilities,03.11.2023,864.5100,859.8300,869.8000,860.0500,850.9200,+1.07%,green
9,FTSE 100,03.11.2023,7448.9000,7396.9600,7482.2400,7417.7300,7446.5300,−0.39%,−0.39%
10,Hang Seng,03.11.2023,17405.9100,17352.6000,17723.9400,17664.1200,17230.5900,+2.52%,green
11,IBEX Spain,03.11.2023,9260.4000,9250.1000,9339.6000,9293.9000,9260.4000,+0.36%,green
12,NASDAQ 100,03.11.2023,14979.4674,14968.1817,15149.3298,15099.4915,14919.5453,+1.21%,green
13,NASDAQ Comp,03.11.2023,13357.7570,13347.4836,13519.9508,13478.2828,13294.1905,+1.38%,green
14,S&P 100,03.11.2023,2044.4800,2044.4800,2061.0000,2054.8800,2039.0600,+0.78%,green
15,S&P 500,03.11.2023,4334.2300,4334.2300,4373.6200,4358.3400,4317.7800,+0.94%,green
16,SENSEX India,03.11.2023,64444.9000,64289.0500,64532.8800,64363.7800,64080.9000,+0.44%,green
17,Shanghai Composite,03.11.2023,3009.4058,3009.4058,3040.8878,3030.7977,3009.4058,+0.71%,green

In [73]:
df['цвет'].where(~df['цвет'].str.contains('−'), 'red', inplace=True)

display(df)

,биржевой индекс,дата,откр,мин,макс,закр,пред закр,изм %,цвет
0,ASX Australia,03.11.2023,7095.0000,7095.0000,7184.4000,7175.1000,7095.0000,+1.13%,green
1,BOVESPA Brazil,03.11.2023,115062.3700,115062.3700,118501.8000,118159.9700,115052.9600,+2.70%,green
2,CAC 40,03.11.2023,7084.5100,7046.8600,7086.7100,7047.5000,7060.6900,−0.19%,red
3,DAX 30,03.11.2023,15143.6000,15143.6000,15269.3700,15189.2500,15143.6000,+0.30%,green
4,DJ Composite,03.11.2023,11179.4400,11176.6200,11238.2800,11200.6600,11093.7500,+0.96%,green
5,DJ Industrial,03.11.2023,33988.8300,33946.6000,34163.6300,34061.3200,33839.0800,+0.66%,green
6,DJ Telecommunications,03.11.2023,125.7800,125.6000,126.8100,125.9000,125.0200,+0.70%,green
7,DJ Transport,03.11.2023,14448.0100,14435.6300,14554.8700,14512.7600,14285.4600,+1.59%,green
8,DJ Utilities,03.11.2023,864.5100,859.8300,869.8000,860.0500,850.9200,+1.07%,green
9,FTSE 100,03.11.2023,7448.9000,7396.9600,7482.2400,7417.7300,7446.5300,−0.39%,red
10,Hang Seng,03.11.2023,17405.9100,17352.6000,17723.9400,17664.1200,17230.5900,+2.52%,green
11,IBEX Spain,03.11.2023,9260.4000,9250.1000,9339.6000,9293.9000,9260.4000,+0.36%,green
12,NASDAQ 100,03.11.2023,14979.4674,14968.1817,15149.3298,15099.4915,14919.5453,+1.21%,green
13,NASDAQ Comp,03.11.2023,13357.7570,13347.4836,13519.9508,13478.2828,13294.1905,+1.38%,green
14,S&P 100,03.11.2023,2044.4800,2044.4800,2061.0000,2054.8800,2039.0600,+0.78%,green
15,S&P 500,03.11.2023,4334.2300,4334.2300,4373.6200,4358.3400,4317.7800,+0.94%,green
16,SENSEX India,03.11.2023,64444.9000,64289.0500,64532.8800,64363.7800,64080.9000,+0.44%,green
17,Shanghai Composite,03.11.2023,3009.4058,3009.4058,3040.8878,3030.7977,3009.4058,+0.71%,green

# Метод query()

In [74]:
# Pandas имеет еще один метод, который позволяет получать доступ к данным по определенному условию, - это метод query().

# Синтаксис метода следующий:
# DataFrame.query(expr, *, inplace=False, **kwargs)

In [75]:
# Функция query() требует, чтобы названия столбцов не содержали пробелов или других специальных символов. 
# Если такие символы есть, нужно "обернуть" название столбца в обратные кавычки (`). Это обязательное правило, когда работаете с query().

df.query('`пред закр` < 1000')

,биржевой индекс,дата,откр,мин,макс,закр,пред закр,изм %,цвет
6,DJ Telecommunications,03.11.2023,125.78,125.60,126.81,125.90,125.02,+0.70%,green
8,DJ Utilities,03.11.2023,864.51,859.83,869.80,860.05,850.92,+1.07%,green

# 2.7 Статистики и арифметические операции

In [76]:
revenue_values = [['Сургутнефтегаз', 1570876, 1075222, np.nan, np.nan], 
                  ['Роснефть', 8676000, 5757000, 8761000, np.nan], 
                  ['Магнит', 1368705.394, 1553777.351, 1856078.95, 2351996.423], 
                  ['Татнефть', 932296, 795815, 1205267, 1427147],
                  ['Газпром', 7659623, 6321559, 10241353, 11673950],
                  ['Русгидро', 366642, 382845, 406033, 418558]]
revenue = pd.DataFrame(revenue_values, columns=['Компания', '2019', '2020', '2021', '2022'])
revenue.set_index('Компания', drop=True, inplace=True)

display(revenue)

                       2019         2020         2021          2022
Компания
Сургутнефтегаз  1570876.000  1075222.000          NaN           NaN
Роснефть        8676000.000  5757000.000   8761000.00           NaN
Магнит          1368705.394  1553777.351   1856078.95  2.351996e+06
Татнефть         932296.000   795815.000   1205267.00  1.427147e+06
Газпром         7659623.000  6321559.000  10241353.00  1.167395e+07
Русгидро         366642.000   382845.000    406033.00  4.185580e+05

In [77]:
pd.options.display.float_format ='{:,.1f}'.format

revenue.T.describe(percentiles=[0.1, 0.9])

Компания,Сургутнефтегаз,Роснефть,Магнит,Татнефть,Газпром,Русгидро
count,2.0,3.0,4.0,4.0,4.0,4.0
mean,"1,323,049.0","7,731,333.3","1,782,639.5","1,090,131.2","8,974,121.2","393,519.5"
std,"350,480.3","1,710,350.9","429,449.3","281,880.5","2,426,172.8","23,236.9"
min,"1,075,222.0","5,757,000.0","1,368,705.4","795,815.0","6,321,559.0","366,642.0"
10%,"1,124,787.4","6,340,800.0","1,424,227.0","836,759.3","6,722,978.2","371,502.9"
50%,"1,323,049.0","8,676,000.0","1,704,928.2","1,068,781.5","8,950,488.0","394,439.0"
90%,"1,521,310.6","8,744,000.0","2,203,221.2","1,360,583.0","11,244,170.9","414,800.5"
max,"1,570,876.0","8,761,000.0","2,351,996.4","1,427,147.0","11,673,950.0","418,558.0"

In [78]:
# Узнаем суммарную выручку Газпрома за 2019-2022 годы:
revenue.loc['Газпром'].sum()

35896485.0

In [79]:
# Найдем, какая компания, из представленных в наборе данных, имела наибольшую выручку в каждом году:
revenue.idxmax()

2019    Роснефть
2020     Газпром
2021     Газпром
2022     Газпром
dtype: object

In [80]:
# Посмотрим год максимальной выручки по компаниям:
revenue.idxmax(axis=1)

Компания
Сургутнефтегаз    2019
Роснефть          2021
Магнит            2022
Татнефть          2022
Газпром           2022
Русгидро          2022
dtype: object

In [81]:
# sem()
# Метод sem() используется для расчета стандартной ошибки среднего значений в датафрейме по выбранной оси. 
# Стандартная ошибка среднего (Standard Error of the Mean, SEM) - это мера неопределенности оценки среднего значения измеренных данных. 
# Она рассчитывается на основе стандартного отклонения данных и размера выборки. 
# SEM указывает насколько точно среднее значение оценивает истинное значение в генеральной совокупности.
display(revenue)

revenue.sem(axis=1)

                      2019        2020         2021         2022
Компания
Сургутнефтегаз 1,570,876.0 1,075,222.0          NaN          NaN
Роснефть       8,676,000.0 5,757,000.0  8,761,000.0          NaN
Магнит         1,368,705.4 1,553,777.4  1,856,078.9  2,351,996.4
Татнефть         932,296.0   795,815.0  1,205,267.0  1,427,147.0
Газпром        7,659,623.0 6,321,559.0 10,241,353.0 11,673,950.0
Русгидро         366,642.0   382,845.0    406,033.0    418,558.0

Компания
Сургутнефтегаз     247,827.0
Роснефть           987,471.6
Магнит             214,724.6
Татнефть           140,940.3
Газпром          1,213,086.4
Русгидро            11,618.4
dtype: float64

In [82]:
# rolling()
# Метод rolling() позволяет получать скользящие статистики. 
# Суть их заключается в том, что различные статистики рассчитываются не для всех объектов структуры данных, 
# а только для группы подряд идущих значений. Размер этой группы задается пользователем.
# При анализе графиков изменения цены различных активов очень часто используют скользящие средние. 
# Скользящее среднее - это просто среднее значение определенного количества предыдущих периодов временного ряда.

In [83]:
# Для примера получим ряд 20-ти дневной скользящей средней для индекса доллара США из набора данных df:
df = pd.read_csv(r'data\for_corr_dxy_brent_01.07.22_30.06.23.csv')

df['<CLOSE>_dxy'].rolling(20).mean()
# Первые 19-ть строк имеют пропущенные значения, так как мы задали окно размером 20.

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19   109.0
20   109.2
21   109.1
22   108.9
23   108.9
24   108.8
25   108.7
26   108.6
27   108.3
28   108.0
29   107.5
30   107.2
31   106.8
32   106.4
33   105.9
34   105.6
35   105.1
36   104.7
37   104.4
38   104.0
39   103.8
40   103.5
41   103.2
42   103.1
43   102.9
44   102.8
45   102.7
46   102.7
47   102.7
48   102.8
49   102.9
50   102.9
51   102.9
52   102.9
Name: <CLOSE>_dxy, dtype: float64

In [84]:
df['<CLOSE>_dxy'].rolling(3).mean().head(10)

0     NaN
1     NaN
2   106.6
3   107.1
4   106.6
5   106.2
6   105.9
7   106.7
8   107.7
9   109.1
Name: <CLOSE>_dxy, dtype: float64

In [85]:
df['<CLOSE>_dxy'].corr(df['<CLOSE>_brent'])

0.5692466375465393

In [86]:
interest_rates_values = [['Австралия', 'Резервный банк Австралии', 4.1, '06.06.2023'],
       ['Бразилия', 'Центральный банк Бразилии', 13.75, '04.08.2022'],
       ['Великобритания', 'Банк Англии', 5.0, '22.06.2023'],
       ['Дания', 'Национальный банк Дании', 3.25, '15.06.2023'],
       ['Еврозона', 'Европейский центральный банк', 4.0, '15.06.2023'],
       ['Индия', 'Резервный банк Индии', 6.5, '08.02.2023'],
       ['Канада', 'Банк Канады', 5.0, '12.07.2023'],
       ['Китай', 'Народный банк Китая', 3.55, '20.06.2023'],
       ['Мексика', 'Банк Мексики', 11.25, '30.03.2023'],
       ['Новая Зеландия', 'Резервный банк Новой Зеландии', 5.5,
        '24.05.2023'],
       ['Россия', 'Центральный банк Российской Федерации', 8.5,
        '24.07.2023'],
       ['США', 'Федеральная резервная система', 5.25, '04.05.2023'],
       ['Турция', 'Центральный банк Турции', 17.5, '20.07.2023'],
       ['Швейцария', 'Национальный банк Швейцарии', 1.75, '22.06.2023'],
       ['Швеция', 'Банк Швеции', 3.75, '30.06.2023'],
       ['ЮАР', 'Южно-Африканский резервный банк', 8.25, '25.05.2023'],
       ['Япония', 'Банк Японии', -0.1, '03.08.2016']]
interest_rates_columns = ['Страна', 'Банк', 'Ставка', 'Дата вступления в силу']
interest_rates = pd.DataFrame(interest_rates_values, columns=interest_rates_columns)
# Продолжите написание кода здесь

print(interest_rates.iloc[interest_rates['Ставка'].idxmax()]['Страна'])
print(interest_rates.iloc[interest_rates['Ставка'].idxmin()]['Страна'])

Турция
Япония

In [87]:
import pandas as pd
pmi_manufacturing_eurozone_values = [['03.07.2023 (июнь)', 43.4, 43.6, 44.8],
       ['01.06.2023 (май)', 44.8, 44.6, 45.8], ['02.05.2023 (апр)', 45.8, 45.5, 47.3],
       ['03.04.2023 (мар)', 47.3, 47.1, 48.5], ['01.03.2023 (фев)', 48.5, 48.5, 48.8],
       ['01.02.2023 (янв)', 48.8, 48.8, 47.8], ['02.01.2023 (дек)', 47.8, 47.8, 47.1],
       ['01.12.2022 (нояб)', 47.1, 47.3, 46.4], ['02.11.2022 (окт)', 46.4, 46.6, 48.4],
       ['03.10.2022 (сент)', 48.4, 48.5, 49.6], ['01.09.2022 (авг)', 49.6, 49.7, 49.7],
       ['01.08.2022 (июль)', 49.8, 49.6, 52.1], ['01.07.2022 (июнь)', 52.1, 52.0, 54.6],
       ['01.06.2022 (май)', 54.6, 54.4, 55.5], ['02.05.2022 (апр)', 55.5, 55.3, 56.5],
       ['01.04.2022 (мар)', 56.5, 57.0, 58.2], ['01.03.2022 (фев)', 58.2, 58.4, 58.7],
       ['01.02.2022 (янв)', 58.7, 59.0, 58.0], ['03.01.2022 (дек)', 58.0, 58.0, 58.4],
       ['01.12.2021 (нояб)', 58.4, 58.6, 58.6], ['02.11.2021 (окт)', 58.3, 58.5, 58.3],
       ['01.10.2021 (сент)', 58.6, 58.7, 61.4], ['01.09.2021 (авг)', 61.4, 61.5, 62.8],
       ['02.08.2021 (июль)', 62.8, 62.6, 63.4], ['01.07.2021 (июнь)', 63.4, 63.1, 63.1],
       ['01.06.2021 (май)', 63.1, 62.8, 62.8], ['03.05.2021 (апр)', 62.9, 63.3, 63.3],
       ['01.04.2021 (мар)', 62.5, 62.4, 57.9], ['01.03.2021 (фев)', 57.9, 57.7, 54.8],
       ['01.02.2021 (янв)', 54.8, 54.7, 54.7]]
pmi_manufacturing_eurozone_columns = ['Дата выпуска', 'Факт.', 'Прогноз', 'Пред.']
pmi_manufacturing_eurozone = pd.DataFrame(pmi_manufacturing_eurozone_values, 
                                        columns=pmi_manufacturing_eurozone_columns)
# Продолжите написание кода здесь
pmi_manufacturing_eurozone

         Дата выпуска  Факт.  Прогноз  Пред.
0   03.07.2023 (июнь)   43.4     43.6   44.8
1    01.06.2023 (май)   44.8     44.6   45.8
2    02.05.2023 (апр)   45.8     45.5   47.3
3    03.04.2023 (мар)   47.3     47.1   48.5
4    01.03.2023 (фев)   48.5     48.5   48.8
5    01.02.2023 (янв)   48.8     48.8   47.8
6    02.01.2023 (дек)   47.8     47.8   47.1
7   01.12.2022 (нояб)   47.1     47.3   46.4
8    02.11.2022 (окт)   46.4     46.6   48.4
9   03.10.2022 (сент)   48.4     48.5   49.6
10   01.09.2022 (авг)   49.6     49.7   49.7
11  01.08.2022 (июль)   49.8     49.6   52.1
12  01.07.2022 (июнь)   52.1     52.0   54.6
13   01.06.2022 (май)   54.6     54.4   55.5
14   02.05.2022 (апр)   55.5     55.3   56.5
15   01.04.2022 (мар)   56.5     57.0   58.2
16   01.03.2022 (фев)   58.2     58.4   58.7
17   01.02.2022 (янв)   58.7     59.0   58.0
18   03.01.2022 (дек)   58.0     58.0   58.4
19  01.12.2021 (нояб)   58.4     58.6   58.6
20   02.11.2021 (окт)   58.3     58.5   58.3
21  01.10.2021 (сент)   58.6     58.7   61.4
22   01.09.2021 (авг)   61.4     61.5   62.8
23  02.08.2021 (июль)   62.8     62.6   63.4
24  01.07.2021 (июнь)   63.4     63.1   63.1
25   01.06.2021 (май)   63.1     62.8   62.8
26   03.05.2021 (апр)   62.9     63.3   63.3
27   01.04.2021 (мар)   62.5     62.4   57.9
28   01.03.2021 (фев)   57.9     57.7   54.8
29   01.02.2021 (янв)   54.8     54.7   54.7

In [88]:
pmi_manufacturing_eurozone['Прогноз - Факт'] = pmi_manufacturing_eurozone['Прогноз'] - pmi_manufacturing_eurozone['Факт.']
pmi_manufacturing_eurozone[::-1].reset_index(drop=True)

         Дата выпуска  Факт.  Прогноз  Пред.  Прогноз - Факт
0    01.02.2021 (янв)   54.8     54.7   54.7            -0.1
1    01.03.2021 (фев)   57.9     57.7   54.8            -0.2
2    01.04.2021 (мар)   62.5     62.4   57.9            -0.1
3    03.05.2021 (апр)   62.9     63.3   63.3             0.4
4    01.06.2021 (май)   63.1     62.8   62.8            -0.3
5   01.07.2021 (июнь)   63.4     63.1   63.1            -0.3
6   02.08.2021 (июль)   62.8     62.6   63.4            -0.2
7    01.09.2021 (авг)   61.4     61.5   62.8             0.1
8   01.10.2021 (сент)   58.6     58.7   61.4             0.1
9    02.11.2021 (окт)   58.3     58.5   58.3             0.2
10  01.12.2021 (нояб)   58.4     58.6   58.6             0.2
11   03.01.2022 (дек)   58.0     58.0   58.4             0.0
12   01.02.2022 (янв)   58.7     59.0   58.0             0.3
13   01.03.2022 (фев)   58.2     58.4   58.7             0.2
14   01.04.2022 (мар)   56.5     57.0   58.2             0.5
15   02.05.2022 (апр)   55.5     55.3   56.5            -0.2
16   01.06.2022 (май)   54.6     54.4   55.5            -0.2
17  01.07.2022 (июнь)   52.1     52.0   54.6            -0.1
18  01.08.2022 (июль)   49.8     49.6   52.1            -0.2
19   01.09.2022 (авг)   49.6     49.7   49.7             0.1
20  03.10.2022 (сент)   48.4     48.5   49.6             0.1
21   02.11.2022 (окт)   46.4     46.6   48.4             0.2
22  01.12.2022 (нояб)   47.1     47.3   46.4             0.2
23   02.01.2023 (дек)   47.8     47.8   47.1             0.0
24   01.02.2023 (янв)   48.8     48.8   47.8             0.0
25   01.03.2023 (фев)   48.5     48.5   48.8             0.0
26   03.04.2023 (мар)   47.3     47.1   48.5            -0.2
27   02.05.2023 (апр)   45.8     45.5   47.3            -0.3
28   01.06.2023 (май)   44.8     44.6   45.8            -0.2
29  03.07.2023 (июнь)   43.4     43.6   44.8             0.2

In [89]:
# Средняя цена бензина марки АИ-92 в России в 2010 году составляла 25 рублей за литр. 
# Учитывая уровни инфляции с 2011 года по 2022 год, рассчитайте какое количество рублей в 2022 году эквивалентно 25-ти рублям 2010 года. 
# Инфляцию 2010 года не учитывайте, начните считать с 2011 года. Выведите на печать полученное число, округлив его до десятых.
# По данным Росстата средняя цена бензина марки АИ-92 в России по итогу 2022 года составила 47,2 рублей за литр.

inflation_russia = {'Год': [2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012,
                            2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001,
                            2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991],
                   'Инфляция': [11.94, 8.39, 4.91, 3.04, 4.26, 2.51, 5.39, 12.91, 11.35,
                                6.47, 6.57, 6.1 , 8.78, 8.8, 13.28, 11.87, 9.0, 10.92,
                                11.73, 11.99, 15.06, 18.58, 20.18, 36.53, 84.43, 11.03,
                                21.81, 131.30, 215.14, 839.90, 2508.84, 160.4]}
inflation_russia = pd.DataFrame(inflation_russia)
# Продолжите написание кода здесь
display(inflation_russia.head())
print((inflation_russia.set_index('Год').loc['2022':'2011']['Инфляция'].apply(lambda x: 1 + x / 100).prod() * 25).round(1))

    Год  Инфляция
0  2022      11.9
1  2021       8.4
2  2020       4.9
3  2019       3.0
4  2018       4.3

55.9

In [90]:
# Создайте столбец 'Реальная ставка', который будет содержать разность между процентными ставками ЦБ и инфляцией.
# Выведите итоговый датафрейм на печать.
# Распечатайте пустую строчку.
# Выведите на печать строку, в которой реальная ставка максимальна.
# Распечатайте пустую строчку.
# Выведите на печать строку, в которой реальная ставка минимальна.

rates_values = [['Япония', -0.1, 3.3], ['Швейцария', 1.75, 1.6],
                ['Южная Корея', 3.5, 2.3], ['Сингапур', 3.51, 4.5],
                ['Китай', 3.55, 0.0], ['Австралия', 4.1, 6.0],
                ['еврозона', 4.25, 5.3], ['Канада', 5.0, 2.8],
                ['Великобритания', 5.25, 7.9], ['Соединенные Штаты', 5.5, 3.3],
                ['Индонезия', 5.75, 3.08], ['Саудовская Аравия', 6.0, 2.7],
                ['Индия', 6.5, 4.81], ['ЮАР', 8.25, 5.4], ['Россия', 8.5, 3.2],
                ['Мексика', 11.25, 5.06], ['Бразилия', 13.25, 3.16], ['Турция', 17.5, 47.83]]
rates_columns = ['Страна', 'Процентная ставка ЦБ', 'Инфляция']
rates = pd.DataFrame(rates_values, columns=rates_columns)
# Продолжите написание кода здесь

rates['Реальная ставка'] = rates['Процентная ставка ЦБ'] - rates['Инфляция']
display(rates)
print()
print(rates.iloc[[rates['Реальная ставка'].idxmax()]])
print()
print(rates.iloc[[rates['Реальная ставка'].idxmin()]])

               Страна  Процентная ставка ЦБ  Инфляция  Реальная ставка
0              Япония                  -0.1       3.3             -3.4
1           Швейцария                   1.8       1.6              0.1
2         Южная Корея                   3.5       2.3              1.2
3            Сингапур                   3.5       4.5             -1.0
4               Китай                   3.5       0.0              3.5
5           Австралия                   4.1       6.0             -1.9
6            еврозона                   4.2       5.3             -1.0
7              Канада                   5.0       2.8              2.2
8      Великобритания                   5.2       7.9             -2.7
9   Соединенные Штаты                   5.5       3.3              2.2
10          Индонезия                   5.8       3.1              2.7
11  Саудовская Аравия                   6.0       2.7              3.3
12              Индия                   6.5       4.8              1.7
13                ЮАР                   8.2       5.4              2.8
14             Россия                   8.5       3.2              5.3
15            Мексика                  11.2       5.1              6.2
16           Бразилия                  13.2       3.2             10.1
17             Турция                  17.5      47.8            -30.3

      Страна  Процентная ставка ЦБ  Инфляция  Реальная ставка
16  Бразилия                  13.2       3.2             10.1

    Страна  Процентная ставка ЦБ  Инфляция  Реальная ставка
17  Турция                  17.5      47.8            -30.3

In [91]:
# Выведите на печать объект Series, в котором колонка индексов будет включать в себя типы магазинов, 
# а значениями будут суммарные количества магазинов каждого типа по всем федеральным округам.

df_values = [['Северо-Кавказский', 576, 19, 265], ['Южный', 2860, 122, 1352],
             ['Центральный', 4826, 83, 1965], ['Приволжский', 4826, 123, 1904],
             ['Северо-Западный', 2146, 35, 740], ['Уральский', 1932, 82, 867],
             ['Сибирский', 1211, 24, 490]]
df_columns = ['Федеральный округ', 'Магазины у дома', 'Супермаркеты', 'Дрогери']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь

display(df)

print(df.set_index('Федеральный округ').sum(axis=1, numeric_only=True))

   Федеральный округ  Магазины у дома  Супермаркеты  Дрогери
0  Северо-Кавказский              576            19      265
1              Южный             2860           122     1352
2        Центральный             4826            83     1965
3        Приволжский             4826           123     1904
4    Северо-Западный             2146            35      740
5          Уральский             1932            82      867
6          Сибирский             1211            24      490

Федеральный округ
Северо-Кавказский     860
Южный                4334
Центральный          6874
Приволжский          6853
Северо-Западный      2921
Уральский            2881
Сибирский            1725
dtype: int64

In [92]:
# Добавьте колонку 'Проценты', в которую внесите значения процентов по сделкам, округленные до сотых. В зависимости от направления сделки, 
# проценты будут либо со знаком "минус" - по операциям привлечения, либо со знаком "плюс" - по операциям размещения.
# Выведите итоговый датафрейм на печать.
# Затем распечатайте пустую строчку.
# Просуммируйте значения по столбцу 'Проценты' , округлите полученный результат до сотых и выведите его на печать. 
# Полученное значение будет являться финансовым результатом операций дилера за день.

depo_values = [['New Energy Bank', 500_000_000, 8.15, 'П', 'O/N'],
               ['AgroFoodBank', 1_000_000_000, 8.20, 'П', 'O/N'],
               ['First Ecologic Bank', 400_000_000, 8.11, 'П', 'O/N'],
               ['Cryptocurrencybank', 700_000_000, 8.15, 'П', 'O/N'],
               ['Big Business Bank', 2_600_000_000, 8.30, 'Р', 'O/N'],
               ['SmallBusinessBank', 2_000_000_000, 8.20, 'П', 'O/N'],
               ['GreenEnergyBank', 1_000_000_000, 8.10, 'П', 'O/N'],
               ['Allmoneybank', 3_000_000_000, 8.27, 'Р', 'O/N'],
               ['ClearWaterBank', 300_000_000, 8.00, 'П', 'O/N'],
               ['First Ecologic Bank', 700_000_000, 8.15, 'П', 'O/N'],
               ['Cryptocurrencybank', 500_000_000, 8.15, 'П', 'O/N'],
               ['Allmoneybank', 1_500_000_000, 8.20, 'Р', 'O/N'],
               ['Golden Silver Bank', 800_000_000, 8.05, 'П', 'O/N'],
               ['New Energy Bank', 300_000_000, 8.00, 'П', 'O/N'],
               ['AgroFoodBank', 400_000_000, 8.00, 'П', 'O/N'],
               ['Golden Silver Bank', 500_000_000, 8.03, 'П', 'O/N'],
               ['SmallBusinessBank', 400_000_000, 8.00, 'П', 'O/N'],
               ['New Energy Bank', 500_000_000, 7.90, 'П', 'O/N'],
               ['Big Business Bank', 2_900_000_000, 8.15, 'Р', 'O/N']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Направление', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь

display(depo.head())

d = {'П': -1, 'Р': 1}
depo['Проценты'] = (depo['Сумма, руб.'] * depo['Ставка'] / 100 / 365 * depo['Направление'].map(d)).round(2)

display(depo.head())
print()
print(depo['Проценты'].sum().round(2))

                  Банк  Сумма, руб.  Ставка Направление Срок
0      New Energy Bank    500000000     8.2           П  O/N
1         AgroFoodBank   1000000000     8.2           П  O/N
2  First Ecologic Bank    400000000     8.1           П  O/N
3   Cryptocurrencybank    700000000     8.2           П  O/N
4    Big Business Bank   2600000000     8.3           Р  O/N

                  Банк  Сумма, руб.  Ставка Направление Срок   Проценты
0      New Energy Bank    500000000     8.2           П  O/N -111,643.8
1         AgroFoodBank   1000000000     8.2           П  O/N -224,657.5
2  First Ecologic Bank    400000000     8.1           П  O/N  -88,876.7
3   Cryptocurrencybank    700000000     8.2           П  O/N -156,301.4
4    Big Business Bank   2600000000     8.3           Р  O/N  591,232.9

33315.08

In [93]:
depo_values = [['New Energy Bank', 1_000_000_000, 8.30, 'O/N'],
               ['Cryptocurrencybank', 2_700_000_000, 8.35, 'O/N'],
               ['Big Business Bank', 1_500_000_000, 8.27, 'O/N'],
               ['GreenEnergyBank', 1_800_000_000, 8.35, 'O/N'],
               ['Allmoneybank', 5_900_000_000, 8.45, 'O/N'],
               ['ClearWaterBank', 3_000_000_000, 8.40, 'O/N'],
               ['First Ecologic Bank', 3_000_000_000, 8.41, 'O/N'],
               ['Cryptocurrencybank', 7_500_000_000, 8.50, 'O/N'],
               ['Big Business Bank', 2_500_000_000, 8.35, 'O/N'],
               ['AgroFoodBank', 700_000_000, 8.25, 'O/N'],
               ['Golden Silver Bank', 4_300_000_000, 8.42, 'O/N'],
               ['SmallBusinessBank', 2_000_000_000, 8.31, 'O/N']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь

depo

                   Банк  Сумма, руб.  Ставка Срок
0       New Energy Bank   1000000000     8.3  O/N
1    Cryptocurrencybank   2700000000     8.3  O/N
2     Big Business Bank   1500000000     8.3  O/N
3       GreenEnergyBank   1800000000     8.3  O/N
4          Allmoneybank   5900000000     8.4  O/N
5        ClearWaterBank   3000000000     8.4  O/N
6   First Ecologic Bank   3000000000     8.4  O/N
7    Cryptocurrencybank   7500000000     8.5  O/N
8     Big Business Bank   2500000000     8.3  O/N
9          AgroFoodBank    700000000     8.2  O/N
10   Golden Silver Bank   4300000000     8.4  O/N
11    SmallBusinessBank   2000000000     8.3  O/N

In [94]:
# Выведите на печать средневзвешенную процентную ставку по всем сделкам, округленную до сотых.

depo['Взв. Ставки'] = depo['Сумма, руб.'] * depo['Ставка']
weighted_average = depo['Взв. Ставки'].sum() / depo['Сумма, руб.'].sum()
print(round(weighted_average, 2))

8.41

In [95]:
currency_values = [['USDRUB_TOM', 'buy', 1_000_000, 96.80],
               ['USDRUB_TOM', 'sell', 100_000, 96.90],
               ['USDRUB_TOM', 'sell', 200_000, 97.20],
               ['USDRUB_TOM', 'sell', 500_000, 97.50],
               ['USDRUB_TOM', 'sell', 200_000, 97.30],
               ['USDRUB_TOM', 'buy', 2_000_000, 97.00],
               ['USDRUB_TOM', 'buy', 5_000_000, 96.85],
               ['USDRUB_TOM', 'sell', 1_000_000, 97.05],
               ['USDRUB_TOM', 'sell', 1_000_000, 97.10],
               ['USDRUB_TOM', 'sell', 1_000_000, 97.15],
               ['USDRUB_TOM', 'sell', 1_000_000, 97.20],
               ['USDRUB_TOM', 'sell', 1_000_000, 97.25]]
currency_columns = ['Валюта', 'Направление сделки', 'Объем валюты', 'Цена']
currency = pd.DataFrame(currency_values, columns=currency_columns)
currency.head()

       Валюта Направление сделки  Объем валюты  Цена
0  USDRUB_TOM                buy       1000000  96.8
1  USDRUB_TOM               sell        100000  96.9
2  USDRUB_TOM               sell        200000  97.2
3  USDRUB_TOM               sell        500000  97.5
4  USDRUB_TOM               sell        200000  97.3

In [96]:
# Трейдер совершил несколько сделок по купле-продаже доллара США за рубли, представленные в датафрейме currency. Посчитайте общие суммы покупок (buy) и продаж (sell), 
# а также средневзвешенные курсы покупок и продаж, округленные до четырех знаков после запятой. 

# Выведите результат в следующем виде:
# Куплено <общая сумма покупок> USDRUB_TOM по курсу <средневзвешенный курс покупок>
# Продано <общая сумма продаж> USDRUB_TOM по курсу <средневзвешенный курс продаж>

total_buy = currency.loc[currency['Направление сделки'] == 'buy', 'Объем валюты'].sum()
total_sell = currency.loc[currency['Направление сделки'] == 'sell', 'Объем валюты'].sum()
wa_buy = round(currency.loc[currency['Направление сделки'] == 'buy', ['Объем валюты', 'Цена']].prod(axis=1).sum() / total_buy, 4)
wa_sell = round(currency.loc[currency['Направление сделки'] == 'sell', ['Объем валюты', 'Цена']].prod(axis=1).sum() / total_sell, 4)
print(f'Куплено {total_buy} USDRUB_TOM по курсу {wa_buy}')
print(f'Продано {total_sell} USDRUB_TOM по курсу {wa_sell}')

Куплено 8000000 USDRUB_TOM по курсу 96.8812
Продано 6000000 USDRUB_TOM по курсу 97.1817

In [97]:
cpi_russia = [['январь', 106.2, 345.3, 125.8, 117.9, 117.77, 104.11, 102.34,
        101.51, 108.38, 102.33, 102.76, 103.09, 102.4, 101.75, 102.62,
        102.43, 101.68, 102.31, 102.37, 101.64, 102.37, 100.5, 100.97,
        100.59, 103.85, 100.96, 100.62, 100.31, 101.01, 100.4, 100.67,
        100.99],
       ['февраль', 104.8, 138.0, 124.7, 110.82, 111.02, 102.79, 101.54,
        100.89, 104.13, 101.04, 102.28, 101.16, 101.63, 100.99, 101.23,
        101.66, 101.11, 101.2, 101.65, 100.86, 100.78, 100.37, 100.56,
        100.7, 102.22, 100.63, 100.22, 100.21, 100.44, 100.33, 100.78,
        101.17],
       ['март', 106.3, 129.9, 120.1, 107.41, 108.94, 102.8, 101.43,
        100.64, 102.79, 100.64, 101.86, 101.08, 101.05, 100.75, 101.34,
        100.82, 100.59, 101.2, 101.31, 100.63, 100.62, 100.58, 100.34,
        101.02, 101.21, 100.46, 100.13, 100.29, 100.32, 100.55, 100.66,
        107.61],
       ['апрель', 163.5, 121.7, 118.7, 108.49, 108.47, 102.16, 100.96,
        100.38, 103.03, 100.89, 101.79, 101.16, 101.02, 100.99, 101.12,
        100.35, 100.57, 101.42, 100.69, 100.29, 100.43, 100.31, 100.51,
        100.9, 100.46, 100.44, 100.33, 100.38, 100.29, 100.83, 100.58,
        101.56],
       ['май', 103.0, 111.9, 118.1, 106.91, 107.93, 101.6, 100.94, 100.5,
        102.22, 101.75, 101.78, 101.69, 100.8, 100.74, 100.8, 100.48,
        100.63, 101.35, 100.57, 100.5, 100.48, 100.52, 100.66, 100.9,
        100.35, 100.41, 100.37, 100.38, 100.34, 100.27, 100.74, 100.12],
       ['июнь', 101.2, 119.1, 119.9, 106.0, 106.66, 101.17, 101.1,
        100.08, 101.91, 102.55, 101.62, 100.53, 100.8, 100.78, 100.64,
        100.28, 100.95, 100.97, 100.6, 100.39, 100.23, 100.89, 100.42,
        100.62, 100.19, 100.36, 100.61, 100.49, 100.04, 100.22, 100.69,
        99.65],
       ['июль', 100.6, 110.6, 122.39, 105.33, 105.38, 100.72, 100.93,
        100.17, 102.82, 101.79, 100.45, 100.72, 100.71, 100.92, 100.46,
        100.67, 100.87, 100.51, 100.63, 100.36, 99.99, 101.23, 100.82,
        100.49, 100.8, 100.54, 100.07, 100.27, 100.2, 100.35, 100.31,
        99.61],
       ['август', 100.5, 108.6, 126.0, 104.62, 104.56, 99.79, 99.86,
        103.67, 101.16, 100.98, 100.01, 100.09, 99.59, 100.42, 99.86,
        100.19, 100.09, 100.36, 100.0, 100.55, 99.76, 100.1, 100.14,
        100.24, 100.35, 100.01, 99.46, 100.01, 99.76, 99.96, 100.17,
        99.48],
       ['сентябрь', 101.1, 111.5, 123.0, 107.96, 104.46, 100.33, 99.7,
        138.43, 101.48, 101.32, 100.6, 100.4, 100.34, 100.43, 100.25,
        100.09, 100.79, 100.8, 99.97, 100.84, 99.96, 100.55, 100.21,
        100.65, 100.57, 100.17, 99.85, 100.16, 99.84, 99.93, 100.6,
        100.05],
       ['октябрь', 103.5, 122.9, 119.5, 115.0, 104.72, 101.2, 100.17,
        104.54, 101.37, 102.11, 101.09, 101.07, 101.0, 101.14, 100.55,
        100.28, 101.64, 100.91, 100.0, 100.5, 100.48, 100.46, 100.57,
        100.82, 100.74, 100.43, 100.2, 100.35, 100.13, 100.43, 101.11,
        100.18],
       ['ноябрь', 108.9, 126.1, 116.39, 114.61, 104.56, 101.88, 100.61,
        105.67, 101.23, 101.52, 101.36, 101.61, 100.96, 101.11, 100.74,
        100.63, 101.23, 100.83, 100.29, 100.81, 100.42, 100.34, 100.56,
        101.28, 100.75, 100.44, 100.22, 100.5, 100.28, 100.71, 100.96,
        100.37],
       ['декабрь', 112.1, 125.2, 112.5, 116.44, 103.2, 101.42, 100.96,
        111.61, 101.26, 101.64, 101.6, 101.54, 101.1, 101.14, 100.82,
        100.79, 101.13, 100.69, 100.41, 101.08, 100.44, 100.54, 100.51,
        102.62, 100.77, 100.4, 100.42, 100.84, 100.36, 100.83, 100.82,
        100.78]]
col = ['месяц', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022']
cpi_russia = pd.DataFrame(cpi_russia, columns=col)

cpi_russia.head()

,месяц,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,январь,106.2,345.3,125.8,117.9,117.8,104.1,102.3,101.5,108.4,...,101.0,100.6,103.8,101.0,100.6,100.3,101.0,100.4,100.7,101.0
1,февраль,104.8,138.0,124.7,110.8,111.0,102.8,101.5,100.9,104.1,...,100.6,100.7,102.2,100.6,100.2,100.2,100.4,100.3,100.8,101.2
2,март,106.3,129.9,120.1,107.4,108.9,102.8,101.4,100.6,102.8,...,100.3,101.0,101.2,100.5,100.1,100.3,100.3,100.5,100.7,107.6
3,апрель,163.5,121.7,118.7,108.5,108.5,102.2,101.0,100.4,103.0,...,100.5,100.9,100.5,100.4,100.3,100.4,100.3,100.8,100.6,101.6
4,май,103.0,111.9,118.1,106.9,107.9,101.6,100.9,100.5,102.2,...,100.7,100.9,100.3,100.4,100.4,100.4,100.3,100.3,100.7,100.1

In [98]:
# Проведите следующие манипуляции с данными:

# сделайте колонку 'месяц' индексом в датафрейме;
#  транспонируйте датафрейм;
# создайте столбец 'итого', который будет содержать итоговые индексы потребительских цен (их нужно рассчитать) за каждый год и округлите данные в этой колонке до сотых;
# выведите на печать данные из колонки 'итого' за период с 2010 по 2022 (включительно) в виде объекта Series;
# выведите пустую строку;
# распечатайте данные из колонки 'итого' за период с 2010 по 2022 (включительно) в виде объекта DataFrame.
# ________________________________________________________________________

# Данные для столбца 'итого' вычислите по следующему принципу.

# Руководствуясь теорией статистики, для получения ИПЦ за произвольный период необходимо перемножить все входящие в этот временной промежуток индексы, характеризующие изменение цен в отчетном периоде по сравнению с предыдущим. Так, например, индекс потребительских цен по Российской Федерации за период апрель 2022 г. - сентябрь 2022 г. рассчитывается следующим образом: 

# 101,56  *  100,12  /  100  *  99,65  /  100  *  99,61 / 100 * 99,48 / 100 * 100,05 / 100 = 100,46% 

# Информация по индексам потребительских цен взята с официального сайта Росстата.
cpi_russia_new = cpi_russia.copy()
cpi_russia_new = cpi_russia_new.set_index('месяц').T
cpi_russia_new.columns.name = None
cpi_russia_new['итого'] = round(cpi_russia_new.iloc[:,0] * (cpi_russia_new.iloc[:,1:].apply(lambda x: (x / 100))).prod(axis=1), 2)
cpi_russia_new.head()

,январь,февраль,март,апрель,май,июнь,июль,август,сентябрь,октябрь,ноябрь,декабрь,итого
1991,106.2,104.8,106.3,163.5,103.0,101.2,100.6,100.5,101.1,103.5,108.9,112.1,260.4
1992,345.3,138.0,129.9,121.7,111.9,119.1,110.6,108.6,111.5,122.9,126.1,125.2,"2,608.8"
1993,125.8,124.7,120.1,118.7,118.1,119.9,122.4,126.0,123.0,119.5,116.4,112.5,939.9
1994,117.9,110.8,107.4,108.5,106.9,106.0,105.3,104.6,108.0,115.0,114.6,116.4,315.0
1995,117.8,111.0,108.9,108.5,107.9,106.7,105.4,104.6,104.5,104.7,104.6,103.2,231.3

In [99]:
print(cpi_russia_new.loc['2010':'2022', 'итого'])

2010   108.8
2011   106.1
2012   106.6
2013   106.5
2014   111.4
2015   112.9
2016   105.4
2017   102.5
2018   104.3
2019   103.0
2020   104.9
2021   108.4
2022   111.9
Name: итого, dtype: float64

In [100]:
cpi_russia_new.loc['2010':'2022', 'итого'].to_frame()

      итого
2010  108.8
2011  106.1
2012  106.6
2013  106.5
2014  111.4
2015  112.9
2016  105.4
2017  102.5
2018  104.3
2019  103.0
2020  104.9
2021  108.4
2022  111.9

In [101]:
data = [[1,15732.5,15852.14,14877.63,14935.9,23621810000],
[2,14751.78,15319.03,14530.23,14893.75,22722460000],
[3,14681.83,14740.54,13764.24,13768.92,20699010000],
[4,13481.5,14002.65,13094.65,13770.57,27938600000],
[5,13812.19,14504.82,13767.71,14098.01,22917570000],
[6,14118.79,14509.56,13733.16,13791.15,23742060000],
[7,13768.97,14163.73,13465.56,13548.07,21783060000],
[8,13424.36,13696.86,12587.88,13694.62,20297420000],
[9,13570.83,13837.59,13224.98,13313.44,27742350000],
[10,13328.36,13353.28,12670.08,12843.81,28635340000],
[11,12795.12,13899.28,12555.35,13893.84,31630400000],
[12,13860.39,14218.76,13682.55,14169.3,26877890000],
[13,14177.21,14646.9,14101.34,14261.5,27126270000],
[14,14304.35,14534.38,13689.23,13711.0,24148400000],
[15,13547.29,13685.95,13317.74,13351.08,19490360000],
[16,13319.39,13710.7,12828.02,12839.29,23315200000],
[17,12749.17,13011.45,12315.74,12334.64,24624260000],
[18,12331.69,12985.01,11990.15,12144.66,25596970000],
[19,11923.03,11990.61,11108.76,11805.0,30883260000],
[20,11727.14,11988.43,11035.69,11354.62,25677110000],
[21,11396.28,12131.66,11092.48,12131.13,23262840000],
[22,12137.54,12320.12,11901.43,12012.73,19341280000],
[23,12200.33,12245.4,11328.27,11340.02,24327710000],
[24,10986.85,11244.26,10565.14,10798.35,29275170000],
[25,10974.05,11613.23,10938.06,11607.62,25190770000],
[26,11661.02,11677.49,10850.01,11127.85,26652190000],
[27,10964.18,11689.7,10911.45,11635.31,19116360000],
[28,11524.49,11541.1,11005.93,11452.42,21963960000],
[29,11561.64,12093.02,11322.84,11834.11,25230550000],
[30,11837.96,12426.26,11533.37,12390.69,23117120000],
[31,12317.96,12736.19,12260.48,12657.55,25219290000],
[32,12703.72,13047.19,12438.86,13047.19,26340720000],
[33,12996.63,13181.09,12674.87,12705.22,24086490000],
[34,12523.16,12655.84,12141.52,12141.71,20877800000],
[35,12021.05,12124.87,11546.52,11630.86,22893680000],
[36,11643.03,12132.67,11471.5,12112.31,17800080000],
[37,12174.94,12270.19,11316.92,11448.4,26454340000],
[38,11338.57,11613.57,10732.72,10867.93,22718590000],
[39,10833.38,11101.5,10572.33,10575.62,22865220000],
[40,10659.01,11230.44,10577.89,10652.4,22569590000],
[41,10659.95,10766.69,10088.83,10321.39,22512590000],
[42,10575.65,10972.97,10542.43,10859.72,23776090000],
[43,10867.07,11210.38,10713.33,11102.45,24680370000],
[44,11028.43,11156.35,10262.93,10475.25,25423620000],
[45,10516.94,11352.43,10344.01,11323.33,26869400000],
[46,11233.9,11492.62,11006.21,11146.06,23736340000],
[47,11091.01,11310.82,10975.66,11226.36,14779100000],
[48,11147.57,11546.77,10944.37,11461.5,25198780000],
[49,11380.99,11425.51,10910.62,11004.62,22186460000],
[50,11015.48,11571.64,10642.1,10705.41,29946270000],
[51,10707.44,10753.57,10313.32,10497.86,22410180000],
[52,10462.19,10502.08,10207.47,10466.48,15783390000]]
col = ['week','open','high','low','close','volume']
nasdaq_weekly_2022 = pd.DataFrame(data, columns=col)
# Продолжите написание кода здесь

nasdaq_weekly_2022.head()

   week     open     high      low    close       volume
0     1 15,732.5 15,852.1 14,877.6 14,935.9  23621810000
1     2 14,751.8 15,319.0 14,530.2 14,893.8  22722460000
2     3 14,681.8 14,740.5 13,764.2 13,768.9  20699010000
3     4 13,481.5 14,002.6 13,094.6 13,770.6  27938600000
4     5 13,812.2 14,504.8 13,767.7 14,098.0  22917570000

In [102]:
# 1. Добавьте в датафрейм новые столбцы:
# 'spread_close_open'  - разница между ценами закрытия и открытия;
# 'spread_high_low' - разница между максимальной и минимальной ценами. 
# 2. Округлите данные в этих новых колонках до сотых.
# 3. Распечатайте первые пять строк датафрейма, который будет содержать только столбцы: 'week',  'spread_close_open',  'spread_high_low'.
# 4. Распечатайте пустую строчку.
# 5. Затем выведите на печать датафрейм, который будет содержать три строки: 
# строку с минимальным отрицательным значением по столбцу spread_close_open; 
# строку с максимальным значением по столбцу spread_close_open и 
# строку с минимальным, взятым по модулю, значением по столбцу spread_close_open.
# Далее выведите на печать датафрейм, который также будет содержать две строки: 
# строку с максимальным значением по столбцу spread_high_low и 
# строку с минимальным значением по столбцу spread_high_low.

df = nasdaq_weekly_2022.copy()

df['spread_close_open'] = df['close'] - df['open']
df['spread_high_low'] = df['high'] - df['low']
df = df[['week','spread_close_open','spread_high_low']]
display(df.head())
print()
min_co = df['spread_close_open'].idxmin()
max_co = df['spread_close_open'].idxmax()
abs_min = df['spread_close_open'].abs().idxmin()
display(df.loc[[min_co, max_co, abs_min], ['week','spread_close_open']])
print()
min_hl = df['spread_high_low'].idxmin()
max_hl = df['spread_high_low'].idxmax()
display(df.loc[[max_hl, min_hl], ['week','spread_high_low']])

   week  spread_close_open  spread_high_low
0     1             -796.6            974.5
1     2              142.0            788.8
2     3             -912.9            976.3
3     4              289.1            908.0
4     5              285.8            737.1

    week  spread_close_open
2      3             -912.9
10    11            1,098.7
51    52                4.3

    week  spread_high_low
10    11          1,343.9
51    52            294.6

In [103]:
df = nasdaq_weekly_2022.copy()
df['spread_close_open'] = round((df['close'] - df['open']), 2)
df['spread_high_low'] = round((df['high'] - df['low']), 2)

display(df.loc[:, ['week', 'spread_close_open', 'spread_high_low']].head())
print()
new_dt_1 = df.loc[
      (df['spread_close_open'] == df['spread_close_open'].max()) | 
      (df['spread_close_open'] == df['spread_close_open'].min()) | 
      (df['spread_close_open'] == abs(df['spread_close_open']).min())
       ]
new_dt_2 = df.loc[
      (df['spread_high_low'] == df['spread_high_low'].max()) | 
      (df['spread_high_low'] == df['spread_high_low'].min())
       ] 

display(new_dt_1.loc[:, ['week', 'spread_close_open']])

display(new_dt_2.loc[:, ['week', 'spread_high_low']])

   week  spread_close_open  spread_high_low
0     1             -796.6            974.5
1     2              142.0            788.8
2     3             -912.9            976.3
3     4              289.1            908.0
4     5              285.8            737.1

    week  spread_close_open
2      3             -912.9
10    11            1,098.7
51    52                4.3

    week  spread_high_low
10    11          1,343.9
51    52            294.6

In [104]:
nasdaq_weekly_2022_new = nasdaq_weekly_2022.copy()
nasdaq_weekly_2022_new['spread_close_open'] = nasdaq_weekly_2022_new['close'] - nasdaq_weekly_2022_new['open']
nasdaq_weekly_2022_new['spread_high_low'] = nasdaq_weekly_2022_new['high'] - nasdaq_weekly_2022_new['low']

In [105]:
# Строка с максимальным значеним  
nasdaq_weekly_2022_new.iloc[[nasdaq_weekly_2022_new.loc[nasdaq_weekly_2022_new['spread_close_open'] < 0, 'spread_close_open'].idxmax()]]

,week,open,high,low,close,volume,spread_close_open,spread_high_low
39,40,"10,659.0","11,230.4","10,577.9","10,652.4",22569590000,-6.6,652.6

# 2.9 Удаление данных

In [106]:
# DataFrame.drop(labels=None, *, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')
# Некоторые параметры метода:

# labels - параметру передается метка индекса или столбца, которые нужно удалить. Параметр принимает как одиночную метку, так и список меток;
# axis - принимает значения: 0 (или 'index') - удаление строк, 1(или 'columns') - удаление столбцов. По умолчанию 0. 
# index - параметру передаются или одиночная метка индекса, или список меток тех строк, которые требуется удалить из датафрейма. 
# Параметр index является альтернативой параметру labels (index=labels эквивалентно labels, axis=0);
# columns - параметру передаются имена столбцов, которые требуется удалить из датафрейма. 
# Параметр columns является альтернативой параметру labels (columns=labels эквивалентно labels, axis=1).

In [107]:
interest_rates_values = [['Австралия', 'Резервный банк Австралии', 4.1, '06.06.2023'],
       ['Бразилия', 'Центральный банк Бразилии', 13.75, '04.08.2022'],
       ['Великобритания', 'Банк Англии', 5.0, '22.06.2023'],
       ['Дания', 'Национальный банк Дании', 3.25, '15.06.2023'],
       ['Еврозона', 'Европейский центральный банк', 4.0, '15.06.2023'],
       ['Индия', 'Резервный банк Индии', 6.5, '08.02.2023'],
       ['Канада', 'Банк Канады', 5.0, '12.07.2023'],
       ['Китай', 'Народный банк Китая', 3.55, '20.06.2023'],
       ['Мексика', 'Банк Мексики', 11.25, '30.03.2023'],
       ['Новая Зеландия', 'Резервный банк Новой Зеландии', 5.5,
        '24.05.2023'],
       ['Россия', 'Центральный банк Российской Федерации', 8.5,
        '24.07.2023'],
       ['США', 'Федеральная резервная система', 5.25, '04.05.2023'],
       ['Турция', 'Центральный банк Турции', 17.5, '20.07.2023'],
       ['Швейцария', 'Национальный банк Швейцарии', 1.75, '22.06.2023'],
       ['Швеция', 'Банк Швеции', 3.75, '30.06.2023'],
       ['ЮАР', 'Южно-Африканский резервный банк', 8.25, '25.05.2023'],
       ['Япония', 'Банк Японии', -0.1, '03.08.2016']]
interest_rates_columns = ['Страна', 'Банк', 'Ставка', 'Дата вступления в силу']
interest_rates = pd.DataFrame(interest_rates_values, columns=interest_rates_columns)
# Продолжите написание кода здесь
interest_rates

,Страна,Банк,Ставка,Дата вступления в силу
0,Австралия,Резервный банк Австралии,4.1,06.06.2023
1,Бразилия,Центральный банк Бразилии,13.8,04.08.2022
2,Великобритания,Банк Англии,5.0,22.06.2023
3,Дания,Национальный банк Дании,3.2,15.06.2023
4,Еврозона,Европейский центральный банк,4.0,15.06.2023
5,Индия,Резервный банк Индии,6.5,08.02.2023
6,Канада,Банк Канады,5.0,12.07.2023
7,Китай,Народный банк Китая,3.5,20.06.2023
8,Мексика,Банк Мексики,11.2,30.03.2023
9,Новая Зеландия,Резервный банк Новой Зеландии,5.5,24.05.2023
10,Россия,Центральный банк Российской Федерации,8.5,24.07.2023
11,США,Федеральная резервная система,5.2,04.05.2023
12,Турция,Центральный банк Турции,17.5,20.07.2023
13,Швейцария,Национальный банк Швейцарии,1.8,22.06.2023
14,Швеция,Банк Швеции,3.8,30.06.2023
15,ЮАР,Южно-Африканский резервный банк,8.2,25.05.2023
16,Япония,Банк Японии,-0.1,03.08.2016

In [108]:
# Датафрейм interest_rates содержатся процентные ставки некоторых стран, действующие на 25.07.2023 г.

# Создайте новый датафрейм, содержащий только те строки, в которых процентная ставка выше 8%.
# Сбросьте индекс, сделав новую индексация, начинающуюся с нуля.
# Удалите столбец 'Банк'.
# Выведите на печать итоговый датафрейм.

In [109]:
interest_rates_new = interest_rates[interest_rates['Ставка'] > 8].reset_index(drop=True).drop('Банк', axis=1)

In [110]:
interest_rates_new

     Страна  Ставка Дата вступления в силу
0  Бразилия    13.8             04.08.2022
1   Мексика    11.2             30.03.2023
2    Россия     8.5             24.07.2023
3    Турция    17.5             20.07.2023
4       ЮАР     8.2             25.05.2023

# 2.10 Пропуски и дубликаты

In [111]:
df_values = [['Северо-Кавказский', 576, 19, 265], ['Южный', 2860, 122, np.nan],
             ['Центральный', 4826, 83, 1965], ['Приволжский', 4826, 123, np.nan],
             ['Северо-Западный', 2146, 35, 740], ['Уральский', 1932, 82, 867],
             ['Сибирский', 1211, 24, 490]]
df_columns = ['Федеральный округ', 'Магазины у дома', 'Супермаркеты', 'Дрогери']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь
df

   Федеральный округ  Магазины у дома  Супермаркеты  Дрогери
0  Северо-Кавказский              576            19    265.0
1              Южный             2860           122      NaN
2        Центральный             4826            83  1,965.0
3        Приволжский             4826           123      NaN
4    Северо-Западный             2146            35    740.0
5          Уральский             1932            82    867.0
6          Сибирский             1211            24    490.0

In [112]:
# Выведите на печать объект DataFrame, содержащий только те строки, в которых имеются пропуски

df[df.isna().any(axis=1)]
df[df.isna().sum(axis=1) > 0]
# 275 µs ± 5.01 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)
# 717 µs ± 3.15 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

  Федеральный округ  Магазины у дома  Супермаркеты  Дрогери
1             Южный             2860           122      NaN
3       Приволжский             4826           123      NaN

In [113]:
# Выведите на печать объект DataFrame, содержащий только те строки, в которых нет пропущенных значений.
# Все числовые значения должны иметь целочисленный тип данных.

df_new = df[df.notna().all(axis=1)]
df_new = df_new.astype({'Магазины у дома': 'Int64', 'Супермаркеты': 'Int64', 'Дрогери': 'Int64'})
display(df_new)
df_new.dtypes

   Федеральный округ  Магазины у дома  Супермаркеты  Дрогери
0  Северо-Кавказский              576            19      265
2        Центральный             4826            83     1965
4    Северо-Западный             2146            35      740
5          Уральский             1932            82      867
6          Сибирский             1211            24      490

Федеральный округ    object
Магазины у дома       Int64
Супермаркеты          Int64
Дрогери               Int64
dtype: object

In [114]:
# Замените пропущенные значения для Южного ФО на 1352, для Приволжского ФО на 1904. 
# Все числовые значения в датафрейме должны иметь целочисленный тип данных. Выведите итоговый объект DataFrame на печать

df_new = df.copy()
df_new.loc[df['Федеральный округ']=='Южный','Дрогери'] = df_new.loc[df_new['Федеральный округ'] == 'Южный', 'Дрогери'].fillna(1352)
df_new.loc[df['Федеральный округ']=='Приволжский','Дрогери'] = df_new.loc[df_new['Федеральный округ'] == 'Приволжский', 'Дрогери'].fillna(1904)
df_new = df_new.astype({'Магазины у дома': 'Int64', 'Супермаркеты': 'Int64', 'Дрогери': 'Int64'})
df_new

   Федеральный округ  Магазины у дома  Супермаркеты  Дрогери
0  Северо-Кавказский              576            19      265
1              Южный             2860           122     1352
2        Центральный             4826            83     1965
3        Приволжский             4826           123     1904
4    Северо-Западный             2146            35      740
5          Уральский             1932            82      867
6          Сибирский             1211            24      490

In [115]:
df_values = [['Nov 30, 2023', 2038.10, 25.29, 931.20],
             ['Nov 29, 2023', 2047.10, 25.07, 936.40],
             ['Nov 28, 2023', 2039.70, 24.93, 944.10],
             ['Nov 27, 2023', 2011.80, 24.67, 917.10],
             ['Nov 24, 2023', 2002.20, 24.33, 931.10],
             ['Nov 23, 2023', 1991.50, np.nan, np.nan],
             ['Nov 22, 2023', 1991.40, 23.67, 924.60],
             ['Nov 21, 2023', 1999.30, 23.84, 940.00],
             ['Nov 20, 2023', 1977.70, 23.58, 921.50],
             ['Nov 17, 2023', 1981.60, 23.81, 894.70],
             ['Nov 16, 2023', 1983.90, 23.89, 897.10],
             ['Nov 15, 2023', 1960.10, 23.48, 895.30]]
df_columns = ['Date', 'Gold', 'Silver', 'Platinum']
df = pd.DataFrame(df_values, columns=df_columns).set_index('Date')
# Продолжите написание кода здесь
df

                Gold  Silver  Platinum
Date
Nov 30, 2023 2,038.1    25.3     931.2
Nov 29, 2023 2,047.1    25.1     936.4
Nov 28, 2023 2,039.7    24.9     944.1
Nov 27, 2023 2,011.8    24.7     917.1
Nov 24, 2023 2,002.2    24.3     931.1
Nov 23, 2023 1,991.5     NaN       NaN
Nov 22, 2023 1,991.4    23.7     924.6
Nov 21, 2023 1,999.3    23.8     940.0
Nov 20, 2023 1,977.7    23.6     921.5
Nov 17, 2023 1,981.6    23.8     894.7
Nov 16, 2023 1,983.9    23.9     897.1
Nov 15, 2023 1,960.1    23.5     895.3

In [116]:
# Замените пропуски на средние значения и выведите итоговый датафрейм на печать. Округлить до сотых.
df.fillna(df.mean().round(2))

                Gold  Silver  Platinum
Date
Nov 30, 2023 2,038.1    25.3     931.2
Nov 29, 2023 2,047.1    25.1     936.4
Nov 28, 2023 2,039.7    24.9     944.1
Nov 27, 2023 2,011.8    24.7     917.1
Nov 24, 2023 2,002.2    24.3     931.1
Nov 23, 2023 1,991.5    24.2     921.2
Nov 22, 2023 1,991.4    23.7     924.6
Nov 21, 2023 1,999.3    23.8     940.0
Nov 20, 2023 1,977.7    23.6     921.5
Nov 17, 2023 1,981.6    23.8     894.7
Nov 16, 2023 1,983.9    23.9     897.1
Nov 15, 2023 1,960.1    23.5     895.3

# Методы isna(), isnull(), notna() и notnull()

In [117]:
cbr_values = [['2023-10-03', 13.4955, 103.868, 98.4785],
       ['2023-10-04', 13.5556, 104.0621, 99.2677],
       ['2023-10-05', 13.5779, 104.3024, 99.4555],
       ['2023-10-08', np.nan, np.nan, 100.4911],
       ['2023-10-09', np.nan, np.nan, 100.4911],
       ['2023-10-10', 13.8926, 107.0322, 101.3598],
       ['2023-10-11', 13.6821, 105.6864, 99.9349]]
cbr_columns = ['date', 'cny', 'eur', 'usd']
df = pd.DataFrame(cbr_values, columns=cbr_columns)

display(df)

         date  cny   eur   usd
0  2023-10-03 13.5 103.9  98.5
1  2023-10-04 13.6 104.1  99.3
2  2023-10-05 13.6 104.3  99.5
3  2023-10-08  NaN   NaN 100.5
4  2023-10-09  NaN   NaN 100.5
5  2023-10-10 13.9 107.0 101.4
6  2023-10-11 13.7 105.7  99.9

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    7 non-null      object
 1   cny     5 non-null      float64
 2   eur     5 non-null      float64
 3   usd     7 non-null      float64
dtypes: float64(3), object(1)
memory usage: 356.0+ bytes

In [119]:
df.isna()

    date    cny    eur    usd
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False   True   True  False
4  False   True   True  False
5  False  False  False  False
6  False  False  False  False

In [120]:
# Количество пропусков в каждом столбце:
df.isna().sum()

date    0
cny     2
eur     2
usd     0
dtype: int64

In [121]:
# Количество пропусков в каждой строке:
df.isna().sum(axis=1)

0    0
1    0
2    0
3    2
4    2
5    0
6    0
dtype: int64

In [122]:
df[df['cny'].isna()]

         date  cny  eur   usd
3  2023-10-08  NaN  NaN 100.5
4  2023-10-09  NaN  NaN 100.5

In [123]:
df[df['eur'].isna() & df['usd'].isna()]

Empty DataFrame
Columns: [date, cny, eur, usd]
Index: []

In [124]:
df[df['cny'].notna()]

         date  cny   eur   usd
0  2023-10-03 13.5 103.9  98.5
1  2023-10-04 13.6 104.1  99.3
2  2023-10-05 13.6 104.3  99.5
5  2023-10-10 13.9 107.0 101.4
6  2023-10-11 13.7 105.7  99.9

# Методы fillna(), ffill(), bfill() - заполнение пропущенных значений

In [125]:
# Метод fillna() для заполнения пропущенных значений. 
# Следующий синтаксис:

# DataFrame.fillna(value=None, *, method=None, axis=0, inplace=False, limit=None, downcast=None)

# Параметры:
# value - значения для заполнения пропусков. Может принимать скалярную величину, словарь, Series, DataFrame;
# method - параметр используется, если пользователеь не передает значения параметру value. Принимает значения: 'ffill', 'bfill'. 
# При 'ffill' пропуск заполняется предыдущим значением. При 'bfill' пропуск заполняется следующим значением;
# axis - ось, вдоль которой нужно заполнить пропущенные значения. Принимает значения: 0 (или 'index') и 1(или 'columns'). По умолчанию 0;
# inplace - по умолчанию False. Если True, то будут внесены изменения в исходный объект;
# limit - максимальное количество последовательных заполнений пропущенных значений вперед или назад. Параметр принимает целое число.

In [126]:
# Пропущенные данные заполнить предыдущим значением
df.fillna(method='ffill')

C:\Users\kuche\AppData\Local\Temp\ipykernel_3476\381576466.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

         date  cny   eur   usd
0  2023-10-03 13.5 103.9  98.5
1  2023-10-04 13.6 104.1  99.3
2  2023-10-05 13.6 104.3  99.5
3  2023-10-08 13.6 104.3 100.5
4  2023-10-09 13.6 104.3 100.5
5  2023-10-10 13.9 107.0 101.4
6  2023-10-11 13.7 105.7  99.9

In [127]:
# Пропущенные данные заполнить предыдущим значением
df.ffill()

         date  cny   eur   usd
0  2023-10-03 13.5 103.9  98.5
1  2023-10-04 13.6 104.1  99.3
2  2023-10-05 13.6 104.3  99.5
3  2023-10-08 13.6 104.3 100.5
4  2023-10-09 13.6 104.3 100.5
5  2023-10-10 13.9 107.0 101.4
6  2023-10-11 13.7 105.7  99.9

In [128]:
# Пропущенные данные заполнить следующим значением
df.bfill()

         date  cny   eur   usd
0  2023-10-03 13.5 103.9  98.5
1  2023-10-04 13.6 104.1  99.3
2  2023-10-05 13.6 104.3  99.5
3  2023-10-08 13.9 107.0 100.5
4  2023-10-09 13.9 107.0 100.5
5  2023-10-10 13.9 107.0 101.4
6  2023-10-11 13.7 105.7  99.9

# Метод dropna() - удаление пропущенных значений

In [129]:
# Для удаления отсутствующих значений используется метод dropna(). 
# Синтаксис:

# DataFrame.dropna(*, axis=0, how='any', thresh=_NoDefault.no_default, subset=None, inplace=False, ignore_index=False)

# Параметры:
# axis - параметр определяет будут ли удалены строки или столбцы, содержащие пропущенные значения. 
# Принимает значения: 0 (или 'index') - удаляются строки и 1(или 'columns') - удаляются столбцы. По умолчанию 0;
# how - принимает значения: 'any' или 'all'. По умолчанию 'any'. Если выбрать значение 'all', то строка (столбец) удалится в том случае, 
# если она (он) будет содержать в себе только пропущенные значения. При 'any' условием для удаления строки (столбца) будет тот случай, 
# когда строка (столбец) содержит хотя бы одно пропущенное значение;
# thresh - пороговое количество непустых значений, меньше которого требуется удаление;
# subset - параметр задает группы имен столбцов или строк для удаления пропущенных значений;
# inplace - по умолчанию False. Если True, то будут внесены изменения в исходный объект;
# ignore_index - если значение True, то произойдет "сброс" индекса. По умолчанию False.

In [130]:
df

         date  cny   eur   usd
0  2023-10-03 13.5 103.9  98.5
1  2023-10-04 13.6 104.1  99.3
2  2023-10-05 13.6 104.3  99.5
3  2023-10-08  NaN   NaN 100.5
4  2023-10-09  NaN   NaN 100.5
5  2023-10-10 13.9 107.0 101.4
6  2023-10-11 13.7 105.7  99.9

In [131]:
df.dropna(subset=['cny'])

         date  cny   eur   usd
0  2023-10-03 13.5 103.9  98.5
1  2023-10-04 13.6 104.1  99.3
2  2023-10-05 13.6 104.3  99.5
5  2023-10-10 13.9 107.0 101.4
6  2023-10-11 13.7 105.7  99.9

In [132]:
df.dropna(axis=0, thresh=(len(df.columns) - 1))

         date  cny   eur   usd
0  2023-10-03 13.5 103.9  98.5
1  2023-10-04 13.6 104.1  99.3
2  2023-10-05 13.6 104.3  99.5
5  2023-10-10 13.9 107.0 101.4
6  2023-10-11 13.7 105.7  99.9

# Метод dublicated() - выявление повторяющихся строк

In [133]:
# Один из важных этапов предобработки данных перед их анализом - это выявление повторяющихся строк (дубликатов) в датафрейме, 
# и удаление таковых, в случае их наличия. Чтобы найти дубликаты в объекте DataFrame, используют метод duplicated(), 
# который находит повторяющиеся строки на основе всех или определенных столбцов и возвращает логический ряд со значением True для каждой дублированной строки.

# Метод dublicated() имеет следующий синтаксис:
# DataFrame.duplicated(subset=None, keep='first')

# Параметры:
# subset - параметр принимает наименования столбцов, в которых искать дубликаты. По умолчанию, метод ищет совпадения по всем столбцам;
# keep - параметр определяет, какие из совпадающих строк помечать как дубликаты. Принимает значения: 'first', 'last' и False. 
# Если 'first', то все дубликаты, кроме их первого появления, будут помечены как True. 
# Если 'last', то все дубликаты, кроме их последнего появления, будут помечены как True. 
# Если False, то все дубликаты будут помечены как True. 
# По умолчанию - 'first'.

In [134]:
df_values = [['2022-01-01', 7499847, 54470, 1955876, 44457082, 53967274],
       ['2022-04-01', 3645028, 31379, 1735592, 35088849, 40500848],
       ['2022-07-01', 3339145, 24044, 1515876, 30349707, 35228772],
       ['2022-07-01', 3339145, 24044, 1515876, 30349707, 35228772],       
       ['2022-10-01', 2880189, 24673, 1116427, 24933981, 28955270],
       ['2023-01-01', 3665860, 27803, 1351467, 27236686, 32281816],
       ['2023-04-01', 5541864, 31702, 1529441, 29407970, 36510976],
       ['2023-04-01', 5541864, 31702, 1529441, 29407970, 36510976],      
       ['2023-07-01', 6179887, 43765, 1682005, 32973351, 40879009],
       ['2023-10-01', 6954891, 61577, 1988761, 37355293, 46360522],
       ['2023-10-01', 6954891, 61577, 1988761, 37355293, 46360522]]
df_columns = ['Дата', 'Кредитные организации', 'Страховщики', 'Другие финансовые организации', 
              'Нефинансовые организации', 'Итого']
df = pd.DataFrame(df_values, columns=df_columns)

display(df)

,Дата,Кредитные организации,Страховщики,Другие финансовые организации,Нефинансовые организации,Итого
0,2022-01-01,7499847,54470,1955876,44457082,53967274
1,2022-04-01,3645028,31379,1735592,35088849,40500848
2,2022-07-01,3339145,24044,1515876,30349707,35228772
3,2022-07-01,3339145,24044,1515876,30349707,35228772
4,2022-10-01,2880189,24673,1116427,24933981,28955270
5,2023-01-01,3665860,27803,1351467,27236686,32281816
6,2023-04-01,5541864,31702,1529441,29407970,36510976
7,2023-04-01,5541864,31702,1529441,29407970,36510976
8,2023-07-01,6179887,43765,1682005,32973351,40879009
9,2023-10-01,6954891,61577,1988761,37355293,46360522
10,2023-10-01,6954891,61577,1988761,37355293,46360522

In [135]:
df.duplicated()

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7      True
8     False
9     False
10     True
dtype: bool

In [136]:
df.duplicated().sum()

3

In [137]:
df[df.duplicated()]

,Дата,Кредитные организации,Страховщики,Другие финансовые организации,Нефинансовые организации,Итого
3,2022-07-01,3339145,24044,1515876,30349707,35228772
7,2023-04-01,5541864,31702,1529441,29407970,36510976
10,2023-10-01,6954891,61577,1988761,37355293,46360522

In [138]:
# Проверить совпадение значений не по всем столбцах, а только лишь по некоторым из них
df[df.duplicated(['Кредитные организации', 'Нефинансовые организации'])]

,Дата,Кредитные организации,Страховщики,Другие финансовые организации,Нефинансовые организации,Итого
3,2022-07-01,3339145,24044,1515876,30349707,35228772
7,2023-04-01,5541864,31702,1529441,29407970,36510976
10,2023-10-01,6954891,61577,1988761,37355293,46360522

# Метод drop_duplicates() - удаление дубликатов

In [139]:
# Для удаления дубликатов используется метод drop_duplicates().
# Синтаксис:
# DataFrame.drop_duplicates(subset=None, *, keep='first', inplace=False, ignore_index=False)

# Параметры:
# subset - параметр принимает наименования столбцов, в которых искать дубликаты, и при нахождении таковых - удалять строки, содержащие совпадения. 
# По умолчанию, метод ищет совпадения по всем столбцам;
# keep - параметр определяет, какие из совпадающих строк удалять. Принимает значения: 'first', 'last' и False. 
# Если 'first', то все дубликаты, кроме их первого появления, будут удалены. 
# Если 'last', то все дубликаты, кроме их последнего появления, будут удалены. 
# Если False, то будут удалены все дубликаты. 
# По умолчанию - 'first';
# inplace - по умолчанию False. Если True, то будут внесены изменения в исходный объект;
# ignore_index - если значение True, то произойдет "сброс" индекса. По умолчанию False.

In [140]:
# Удаление дубликатов со сбросом индекса
df.drop_duplicates(ignore_index=True)

,Дата,Кредитные организации,Страховщики,Другие финансовые организации,Нефинансовые организации,Итого
0,2022-01-01,7499847,54470,1955876,44457082,53967274
1,2022-04-01,3645028,31379,1735592,35088849,40500848
2,2022-07-01,3339145,24044,1515876,30349707,35228772
3,2022-10-01,2880189,24673,1116427,24933981,28955270
4,2023-01-01,3665860,27803,1351467,27236686,32281816
5,2023-04-01,5541864,31702,1529441,29407970,36510976
6,2023-07-01,6179887,43765,1682005,32973351,40879009
7,2023-10-01,6954891,61577,1988761,37355293,46360522

# 2.11 Сортировка данных

In [141]:
# В pandas для сортировки объекта DataFrame по значениям, предусмотрен метод sort_values(). 

# Этот метод позволяет сортировать данные в датафрейме по одному или нескольким столбцам.

# Синтаксис:
# DataFrame.sort_values(by, *, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None)

# Параметры:
# by - параметру передается имя или список имён для сортировки;
# axis - ось, подлежащая сортировке. Принимает значения: 0 (или 'index') и 1(или 'columns'). По умолчанию 0;
# ascending - сортировать по возрастанию (True) или по убыванию (False). По умолчанию сортировка происходит по возрастанию;
# inplace - по умолчанию False. Если True, то будут внесены изменения в исходный объект;
# kind - выбор алгоритма сортировки. Может принимать значения: ‘quicksort’, ‘mergesort’, ‘heapsort’, ‘stable’. По умолчанию ‘quicksort’;
# na_position - параметр может принимать значения: 'first' и 'last'. По умолчанию 'last'. 
# Если 'first', то значения NaN помещаются в начало отсортированного датафрейма, если 'last', то в конец;
# ignore_index - если значение True, то произойдет "сброс" индекса. По умолчанию False;
# key - параметру передается функция, которая будет применена к значениям перед сортировкой.

In [142]:
budgets_values = [['Москва', 3746.9, 4183.1, 11.6, 13010112, 321.5],
                  ['Санкт-Петербург', 1048.6, 1137.1, 8.4, 5601911, 203.0],
                  ['Московская область', 876.0, 954.7, 9.0, 8524665, 112.0],
                  ['Краснодарский край', 389.8, 446.2, 14.5, 5838273, 76.4],
                  ['Свердловская область', 354.4, 374.1, 5.6, 4268998, 87.6],
                  ['Красноярский край', 344.0, 389.0, 13.1, 2856971, 136.2],
                  ['Республика Татарстан', 343.9, 371.1, 7.9, 4004809, 92.7],
                  ['Ханты-Мансийский АО-Югра', 287.2, 329.5, 14.7, 1711480, 192.5],
                  ['Ямало-Ненецкий АО', 282.5, 333.8, 18.2, 510490, 653.9],
                  ['Ростовская область', 274.6, 293.1, 6.7, 4200729, 69.8]]
budgets_columns = ['Субъект РФ', 
                   'Доходы бюджета на 2023 г., млрд руб.',
                   'Расходы бюджета на 2023 г., млрд руб.', 
                   'Дефицит, % доходов',
                   'Население, чел. (на 1.01.2021)',
                   'Расходы бюджета на душу населения, тыс. руб.']
budgets = pd.DataFrame(budgets_values, columns=budgets_columns)

display(budgets)

,Субъект РФ,"Доходы бюджета на 2023 г., млрд руб.","Расходы бюджета на 2023 г., млрд руб.","Дефицит, % доходов","Население, чел. (на 1.01.2021)","Расходы бюджета на душу населения, тыс. руб."
0,Москва,"3,746.9","4,183.1",11.6,13010112,321.5
1,Санкт-Петербург,"1,048.6","1,137.1",8.4,5601911,203.0
2,Московская область,876.0,954.7,9.0,8524665,112.0
3,Краснодарский край,389.8,446.2,14.5,5838273,76.4
4,Свердловская область,354.4,374.1,5.6,4268998,87.6
5,Красноярский край,344.0,389.0,13.1,2856971,136.2
6,Республика Татарстан,343.9,371.1,7.9,4004809,92.7
7,Ханты-Мансийский АО-Югра,287.2,329.5,14.7,1711480,192.5
8,Ямало-Ненецкий АО,282.5,333.8,18.2,510490,653.9
9,Ростовская область,274.6,293.1,6.7,4200729,69.8

In [143]:
budgets_1 = budgets.copy()
budgets_1.loc[2, 'Субъект РФ'] = 'московская область'

budgets_1.sort_values('Субъект РФ', key=lambda x: x.str.lower())

,Субъект РФ,"Доходы бюджета на 2023 г., млрд руб.","Расходы бюджета на 2023 г., млрд руб.","Дефицит, % доходов","Население, чел. (на 1.01.2021)","Расходы бюджета на душу населения, тыс. руб."
3,Краснодарский край,389.8,446.2,14.5,5838273,76.4
5,Красноярский край,344.0,389.0,13.1,2856971,136.2
0,Москва,"3,746.9","4,183.1",11.6,13010112,321.5
2,московская область,876.0,954.7,9.0,8524665,112.0
6,Республика Татарстан,343.9,371.1,7.9,4004809,92.7
9,Ростовская область,274.6,293.1,6.7,4200729,69.8
1,Санкт-Петербург,"1,048.6","1,137.1",8.4,5601911,203.0
4,Свердловская область,354.4,374.1,5.6,4268998,87.6
7,Ханты-Мансийский АО-Югра,287.2,329.5,14.7,1711480,192.5
8,Ямало-Ненецкий АО,282.5,333.8,18.2,510490,653.9

In [144]:
# В pandas также возможно отсортировать датафрейм по индексу, что делается при помощи метода sort_index(). 

# Синтаксис:
# DataFrame.sort_index(*, axis=0, level=None, ascending=True, inplace=False, kind='quicksort', na_position='last', sort_remaining=True, ignore_index=False, key=None)

# Дополнительные параметры:
# level - если в датафрейме многоуровневая индексация, то этому параметр передается уровень индекса, по которому следует произвести сортировку;
# sort_remaining - если значение True и датафрейм имеет многоуровневую индексацию, то сортировка выполнится и по другим уровням по порядку после сортировки по указанному уровню.

In [145]:
# Изменить порядок строк

budgets.sort_index(ascending=False, ignore_index=True)

,Субъект РФ,"Доходы бюджета на 2023 г., млрд руб.","Расходы бюджета на 2023 г., млрд руб.","Дефицит, % доходов","Население, чел. (на 1.01.2021)","Расходы бюджета на душу населения, тыс. руб."
0,Ростовская область,274.6,293.1,6.7,4200729,69.8
1,Ямало-Ненецкий АО,282.5,333.8,18.2,510490,653.9
2,Ханты-Мансийский АО-Югра,287.2,329.5,14.7,1711480,192.5
3,Республика Татарстан,343.9,371.1,7.9,4004809,92.7
4,Красноярский край,344.0,389.0,13.1,2856971,136.2
5,Свердловская область,354.4,374.1,5.6,4268998,87.6
6,Краснодарский край,389.8,446.2,14.5,5838273,76.4
7,Московская область,876.0,954.7,9.0,8524665,112.0
8,Санкт-Петербург,"1,048.6","1,137.1",8.4,5601911,203.0
9,Москва,"3,746.9","4,183.1",11.6,13010112,321.5

In [146]:
# Соритровка наименований столбцов
budgets.sort_index(axis=1)

,"Дефицит, % доходов","Доходы бюджета на 2023 г., млрд руб.","Население, чел. (на 1.01.2021)","Расходы бюджета на 2023 г., млрд руб.","Расходы бюджета на душу населения, тыс. руб.",Субъект РФ
0,11.6,"3,746.9",13010112,"4,183.1",321.5,Москва
1,8.4,"1,048.6",5601911,"1,137.1",203.0,Санкт-Петербург
2,9.0,876.0,8524665,954.7,112.0,Московская область
3,14.5,389.8,5838273,446.2,76.4,Краснодарский край
4,5.6,354.4,4268998,374.1,87.6,Свердловская область
5,13.1,344.0,2856971,389.0,136.2,Красноярский край
6,7.9,343.9,4004809,371.1,92.7,Республика Татарстан
7,14.7,287.2,1711480,329.5,192.5,Ханты-Мансийский АО-Югра
8,18.2,282.5,510490,333.8,653.9,Ямало-Ненецкий АО
9,6.7,274.6,4200729,293.1,69.8,Ростовская область

In [147]:
depo_values = [['New Energy Bank', 1_000_000_000, 8.30, 'O/N'],
               ['AgroFoodBank', 5_000_000_000, 8.50, '1W'],
               ['First Ecologic Bank', 4_500_000_000, 8.60, '1M'],
               ['Cryptocurrencybank', 2_700_000_000, 8.30, 'O/N'],
               ['GreenEnergyBank', 1_800_000_000, 8.35, 'O/N'],
               ['ClearWaterBank', 3_000_000_000, 8.40, 'O/N'],
               ['First Ecologic Bank', 3_000_000_000, 8.41, 'O/N'],
               ['Cryptocurrencybank', 7_500_000_000, 8.50, 'O/N'],
               ['Golden Silver Bank', 2_500_000_000, 8.65, '1M'],
               ['New Energy Bank', 2_000_000_000, 8.45, '1W'],
               ['AgroFoodBank', 700_000_000, 8.25, 'O/N'],
               ['Golden Silver Bank', 4_300_000_000, 8.40, 'O/N'],
               ['New Energy Bank', 4_000_000_000, 8.80, '3M']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь
depo

                   Банк  Сумма, руб.  Ставка Срок
0       New Energy Bank   1000000000     8.3  O/N
1          AgroFoodBank   5000000000     8.5   1W
2   First Ecologic Bank   4500000000     8.6   1M
3    Cryptocurrencybank   2700000000     8.3  O/N
4       GreenEnergyBank   1800000000     8.3  O/N
5        ClearWaterBank   3000000000     8.4  O/N
6   First Ecologic Bank   3000000000     8.4  O/N
7    Cryptocurrencybank   7500000000     8.5  O/N
8    Golden Silver Bank   2500000000     8.7   1M
9       New Energy Bank   2000000000     8.4   1W
10         AgroFoodBank    700000000     8.2  O/N
11   Golden Silver Bank   4300000000     8.4  O/N
12      New Energy Bank   4000000000     8.8   3M

In [148]:
# Отсортируйте данные таким образом, чтобы сортировка шла по убыванию, сначала по столбцу 'Инфляция', а затем по колонке 'Процентная ставка ЦБ'. 
# "Сбросьте" индекс - индексация должна идти сверху вниз, начинаясь с нуля. Выведите итоговый датафрейм на печать.

depo.sort_values(['Срок', 'Сумма, руб.', 'Ставка'], ascending=[True, True, True], ignore_index=True)

                   Банк  Сумма, руб.  Ставка Срок
0    Golden Silver Bank   2500000000     8.7   1M
1   First Ecologic Bank   4500000000     8.6   1M
2       New Energy Bank   2000000000     8.4   1W
3          AgroFoodBank   5000000000     8.5   1W
4       New Energy Bank   4000000000     8.8   3M
5          AgroFoodBank    700000000     8.2  O/N
6       New Energy Bank   1000000000     8.3  O/N
7       GreenEnergyBank   1800000000     8.3  O/N
8    Cryptocurrencybank   2700000000     8.3  O/N
9        ClearWaterBank   3000000000     8.4  O/N
10  First Ecologic Bank   3000000000     8.4  O/N
11   Golden Silver Bank   4300000000     8.4  O/N
12   Cryptocurrencybank   7500000000     8.5  O/N

# 2.12 Методы value_counts, unique, nunique

In [149]:
# Метод value_counts() возвращает объект, содержащий уникальные значения из набора данных, с указанием их количества. 
# По умолчанию результат будет отсортирован по убыванию. Также по умолчанию значения NaN не включаются в итоговый результат.

# Синтаксис метода value_counts():
# DataFrame.value_counts(subset=None, normalize=False, sort=True, ascending=False, dropna=True)

# Параметры методы:
# subset - столбец или столбцы, используемые при подсчете уникальных комбинаций;
# normalize (bool, по умолчанию False) - если True, то возвращает пропорции, а не частоты;
# sort (bool, по умолчанию True) - сортировать или не сортировать итоговые данные;
# ascending (bool, по умолчанию False) - сортировка по убыванию;
# dropna (bool, по умолчанию True) - не включать значения NaN.

In [150]:
df = pd.read_excel('data\экон_данные_15.11.2023.xlsx', header=1)
df.head()

,Время мск,Валюта,Страна,Событие,Факт.,Прогноз,Пред.
0,00:30,USD,США,Недельные запасы сырой нефти по данным Америка...,"1,335M","1,400M","11,900M"
1,05:00,CNY,Китай,Инвестиции в основной капитал (г/г) (окт),"2,9%","3,1%","3,1%"
2,05:00,CNY,Китай,Объём промышленного производства (г/г) (окт),"4,6%","4,4%","4,5%"
3,05:00,CNY,Китай,Объем промышленного производства в Китае YTD (...,"4,1%",NaN,"4,0%"
4,05:00,CNY,Китай,Уровень безработицы в Китае (окт),"5,0%","5,0%","5,0%"

In [151]:
# Количество
df.value_counts('Время мск', ascending=True)

Время мск
00:30    1
19:00    1
20:00    1
10:45    2
18:00    2
18:30    2
10:00    3
05:00    4
16:30    6
Name: count, dtype: int64

In [152]:
# Частоты
df.value_counts('Время мск', ascending=True, normalize=True)

Время мск
00:30   0.0
19:00   0.0
20:00   0.0
10:45   0.1
18:00   0.1
18:30   0.1
10:00   0.1
05:00   0.2
16:30   0.3
Name: proportion, dtype: float64

In [153]:
v_c = df.value_counts(subset=['Событие', 'Страна'])

print(v_c, type(v_c), sep='\n\n\n')
# Series с мультииндексом

Событие                                                                     Страна
Atlanta Fed GDPNow (4 кв.)                                                  США               1
Базовый индекс розничных продаж (м/м) (окт)                                 США               1
Товарные запасы в розничной торговле без учета автомобилей (сент)           США               1
Объём товарно-материальных запасов (м/м) (сент)                             США               1
Объём розничных продаж (м/м) (окт)                                          США               1
Объём промышленного производства (г/г) (окт)                                Китай             1
Объем промышленного производства в Китае YTD (г/г) (окт)                    Китай             1
Недельные запасы сырой нефти по данным Американского института нефти (API)  США               1
Контроль за розничными продажами (м/м) (окт)                                США               1
Индекс цен производителей (PPI) (м/м) (окт)                                 США               1
Индекс производственной активности NY Empire State (нояб)                   США               1
Индекс потребительских цен (ИПЦ) (м/м) (окт)                                Франция           1
                                                                            Великобритания    1
Индекс потребительских цен (ИПЦ) (г/г) (окт)                                Великобритания    1
Индекс закупочных цен производителей (м/м) (окт)                            Великобритания    1
Инвестиции в основной капитал (г/г) (окт)                                   Китай             1
Запасы сырой нефти                                                          США               1
Данные по избыточным запасам нефти в Кушинге (штат Оклахома)                США               1
Гармонизированный индекс потребительских цен (м/м) (окт)                    Франция           1
ВВП (квартальный) (г/г) (3 кв.)                                             Россия            1
Базовый индекс цен производителей (PPI) (м/м) (окт)                         США               1
Уровень безработицы в Китае (окт)                                           Китай             1
Name: count, dtype: int64


<class 'pandas.core.series.Series'>

In [154]:
# Функция unique() библиотеки pandas извлекает уникальные значения из набора данных. Функция unique() принимает на вход объект Series и возвращает массив уникальных значений, 
# которые содержатся в конкретном столбце. 

# Синтаксис:
# pandas.unique(values)

In [155]:
pd.unique(df['Страна'])

array(['США', 'Китай', 'Великобритания', 'Франция', 'Россия'],
      dtype=object)

In [156]:
# Метод nunique() возвращает количество уникальных значений в заданном столбце/столбцах или строках.

# Синтаксис:
# DataFrame.nunique(axis=0, dropna=True)

In [157]:
df.nunique()

Время мск     9
Валюта        5
Страна        5
Событие      21
Факт.        16
Прогноз      14
Пред.        20
dtype: int64

In [158]:
# Выберем из набора данных все строки, в которых уникальных значений меньше шести:
df[df.nunique(axis=1) < 6]

,Время мск,Валюта,Страна,Событие,Факт.,Прогноз,Пред.
4,05:00,CNY,Китай,Уровень безработицы в Китае (окт),"5,0%","5,0%","5,0%"
16,18:00,USD,США,Объём товарно-материальных запасов (м/м) (сент),"0,4%","0,4%","0,4%"

In [159]:
df_values = [['AMEZ', 'ПАО "Ашинский метзавод"', 'ао', 51480414016, 'металлургия'],
       ['BSPB', 'ПАО "Банк "Санкт-Петербург"', 'ао', 134333130048, 'банк'],
       ['BSPBP', 'ПАО "Банк "Санкт-Петербург"', 'ап', 1234140000, 'банк'],
       ['CHMF', 'ПАО "Северсталь"', 'ао', 1147004389272, 'металлургия'],
       ['CHMK', 'ПАО "ЧМК"', 'ао', 35398198175, 'металлургия'],
       ['GMKN', 'ПАО "ГМК "Норильский никель"', 'ао', 2474552670636, 'металлургия'],
       ['MAGN', 'ПАО "ММК"', 'ао', 583970485800, 'металлургия'],
       ['MTLR', 'ПАО "Мечел"', 'ао', 85098228400, 'металлургия'],
       ['MTLRP', 'ПАО "Мечел"', 'ап', 31456192630, 'металлургия'],
       ['NLMK', 'ПАО "НЛМК"', 'ао', 1255940700414, 'металлургия'],
       ['ROSB', 'ПАО РОСБАНК', 'ао', 158242989006, 'банк'],
       ['RUAL', 'МКПАО "ОК РУСАЛ"', 'ао', 626180107537, 'металлургия'],
       ['SBER', 'ПАО Сбербанк', 'ао', 5628796691000, 'банк'],
       ['SBERP', 'ПАО Сбербанк', 'ап', 260380000000, 'банк'],
       ['TRMK', 'ПАО "ТМК"', 'ао', 229500690203, 'металлургия'],
       ['USBN', 'ПАО "БАНК УРАЛСИБ"', 'ао', 71090589258, 'банк'],
       ['VTBR', 'Банк ВТБ (ПАО)', 'ао', 693929707327, 'банк']]
df_columns = ['Торговый код', 'Эмитент', 'Тип',
              'Капитализация, руб.', 'Отрасль']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь
df

,Торговый код,Эмитент,Тип,"Капитализация, руб.",Отрасль
0,AMEZ,"ПАО ""Ашинский метзавод""",ао,51480414016,металлургия
1,BSPB,"ПАО ""Банк ""Санкт-Петербург""",ао,134333130048,банк
2,BSPBP,"ПАО ""Банк ""Санкт-Петербург""",ап,1234140000,банк
3,CHMF,"ПАО ""Северсталь""",ао,1147004389272,металлургия
4,CHMK,"ПАО ""ЧМК""",ао,35398198175,металлургия
5,GMKN,"ПАО ""ГМК ""Норильский никель""",ао,2474552670636,металлургия
6,MAGN,"ПАО ""ММК""",ао,583970485800,металлургия
7,MTLR,"ПАО ""Мечел""",ао,85098228400,металлургия
8,MTLRP,"ПАО ""Мечел""",ап,31456192630,металлургия
9,NLMK,"ПАО ""НЛМК""",ао,1255940700414,металлургия
10,ROSB,ПАО РОСБАНК,ао,158242989006,банк
11,RUAL,"МКПАО ""ОК РУСАЛ""",ао,626180107537,металлургия
12,SBER,ПАО Сбербанк,ао,5628796691000,банк
13,SBERP,ПАО Сбербанк,ап,260380000000,банк
14,TRMK,"ПАО ""ТМК""",ао,229500690203,металлургия
15,USBN,"ПАО ""БАНК УРАЛСИБ""",ао,71090589258,банк
16,VTBR,Банк ВТБ (ПАО),ао,693929707327,банк

In [160]:
# Выведите на печать датафрейм, содержащий только строки с теми компаниями, у которых имеются и обыкновенные акции, и привилегированные. 
# Датафрейм должен содержать только следующие столбцы: 'Эмитент', 'Тип', 'Капитализация, руб.'.
ser = df['Эмитент'].value_counts()== 2
ser

Эмитент
ПАО "Банк "Санкт-Петербург"      True
ПАО "Мечел"                      True
ПАО Сбербанк                     True
ПАО "Ашинский метзавод"         False
ПАО "Северсталь"                False
ПАО "ЧМК"                       False
ПАО "ГМК "Норильский никель"    False
ПАО "ММК"                       False
ПАО "НЛМК"                      False
ПАО РОСБАНК                     False
МКПАО "ОК РУСАЛ"                False
ПАО "ТМК"                       False
ПАО "БАНК УРАЛСИБ"              False
Банк ВТБ (ПАО)                  False
Name: count, dtype: bool

In [161]:
my_list = list(ser[ser == True].index)
my_list

['ПАО "Банк "Санкт-Петербург"', 'ПАО "Мечел"', 'ПАО Сбербанк']

In [162]:
df[df['Эмитент'].isin(my_list)].loc[:,['Эмитент', 'Тип', 'Капитализация, руб.']].reset_index(drop=True)

                       Эмитент Тип  Капитализация, руб.
0  ПАО "Банк "Санкт-Петербург"  ао         134333130048
1  ПАО "Банк "Санкт-Петербург"  ап           1234140000
2                  ПАО "Мечел"  ао          85098228400
3                  ПАО "Мечел"  ап          31456192630
4                 ПАО Сбербанк  ао        5628796691000
5                 ПАО Сбербанк  ап         260380000000

In [163]:
df.duplicated('Эмитент', keep=False)

0     False
1      True
2      True
3     False
4     False
5     False
6     False
7      True
8      True
9     False
10    False
11    False
12     True
13     True
14    False
15    False
16    False
dtype: bool

In [164]:
df[df.duplicated('Эмитент', keep=False)][['Эмитент', 'Тип', 'Капитализация, руб.']].reset_index(drop=True)

                       Эмитент Тип  Капитализация, руб.
0  ПАО "Банк "Санкт-Петербург"  ао         134333130048
1  ПАО "Банк "Санкт-Петербург"  ап           1234140000
2                  ПАО "Мечел"  ао          85098228400
3                  ПАО "Мечел"  ап          31456192630
4                 ПАО Сбербанк  ао        5628796691000
5                 ПАО Сбербанк  ап         260380000000

In [165]:
depo_values = [['New Energy Bank', 500_000_000, 8.15, 'П', 'O/N'],
               ['AgroFoodBank', 1_000_000_000, 8.20, 'П', 'O/N'],
               ['First Ecologic Bank', 400_000_000, 8.11, 'П', 'O/N'],
               ['Cryptocurrencybank', 700_000_000, 8.15, 'П', 'O/N'],
               ['Big Business Bank', 2_600_000_000, 8.30, 'Р', 'O/N'],
               ['SmallBusinessBank', 2_000_000_000, 8.20, 'П', 'O/N'],
               ['GreenEnergyBank', 1_000_000_000, 8.10, 'П', 'O/N'],
               ['Allmoneybank', 3_000_000_000, 8.27, 'Р', 'O/N'],
               ['ClearWaterBank', 300_000_000, 8.00, 'П', 'O/N'],
               ['First Ecologic Bank', 700_000_000, 8.15, 'П', 'O/N'],
               ['Cryptocurrencybank', 500_000_000, 8.15, 'П', 'O/N'],
               ['Allmoneybank', 1_500_000_000, 8.20, 'Р', 'O/N'],
               ['Golden Silver Bank', 800_000_000, 8.05, 'П', 'O/N'],
               ['New Energy Bank', 300_000_000, 8.00, 'П', 'O/N'],
               ['AgroFoodBank', 400_000_000, 8.00, 'П', 'O/N'],
               ['Golden Silver Bank', 500_000_000, 8.03, 'П', 'O/N'],
               ['SmallBusinessBank', 400_000_000, 8.00, 'П', 'O/N'],
               ['New Energy Bank', 500_000_000, 7.90, 'П', 'O/N'],
               ['Big Business Bank', 2_900_000_000, 8.15, 'Р', 'O/N']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Направление', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)

depo

                   Банк  Сумма, руб.  Ставка Направление Срок
0       New Energy Bank    500000000     8.2           П  O/N
1          AgroFoodBank   1000000000     8.2           П  O/N
2   First Ecologic Bank    400000000     8.1           П  O/N
3    Cryptocurrencybank    700000000     8.2           П  O/N
4     Big Business Bank   2600000000     8.3           Р  O/N
5     SmallBusinessBank   2000000000     8.2           П  O/N
6       GreenEnergyBank   1000000000     8.1           П  O/N
7          Allmoneybank   3000000000     8.3           Р  O/N
8        ClearWaterBank    300000000     8.0           П  O/N
9   First Ecologic Bank    700000000     8.2           П  O/N
10   Cryptocurrencybank    500000000     8.2           П  O/N
11         Allmoneybank   1500000000     8.2           Р  O/N
12   Golden Silver Bank    800000000     8.1           П  O/N
13      New Energy Bank    300000000     8.0           П  O/N
14         AgroFoodBank    400000000     8.0           П  O/N
15   Golden Silver Bank    500000000     8.0           П  O/N
16    SmallBusinessBank    400000000     8.0           П  O/N
17      New Energy Bank    500000000     7.9           П  O/N
18    Big Business Bank   2900000000     8.2           Р  O/N

In [166]:
# Сначала выведите на печать список, содержащий наименования банков в алфавитном порядке (без повторений), у которых были привлечены денежные средства.
# Распечатайте пустую строчку.
# Выведите на печать список, содержащий наименования банков в алфавитном порядке (без повторений), в которые были размещены денежные средства.

print(depo.loc[depo['Направление'] == 'П'].drop_duplicates('Банк').sort_values('Банк')['Банк'].values)
print()
print(depo.loc[depo['Направление'] == 'Р'].drop_duplicates('Банк').sort_values('Банк')['Банк'].values)

['AgroFoodBank' 'ClearWaterBank' 'Cryptocurrencybank'
 'First Ecologic Bank' 'Golden Silver Bank' 'GreenEnergyBank'
 'New Energy Bank' 'SmallBusinessBank']

['Allmoneybank' 'Big Business Bank']

In [167]:
print(sorted(depo[depo['Направление'] == 'П']['Банк'].unique()))
print()
print(sorted(depo[depo['Направление'] == 'Р']['Банк'].unique()))

['AgroFoodBank', 'ClearWaterBank', 'Cryptocurrencybank', 'First Ecologic Bank', 'Golden Silver Bank', 'GreenEnergyBank', 'New Energy Bank', 'SmallBusinessBank']

['Allmoneybank', 'Big Business Bank']

In [168]:
df_values = [['БО-002Р-03', 'ПАО «Магнит»', '22.05.2020', '19.05.2023', '15 млрд. руб.', '5,90%'],
             ['БО-002Р-02', 'ПАО «Магнит»', '29.04.2020', '26.04.2023', '10 млрд. руб.', '6,70%'],
             ['БО-002Р-01', 'ПАО «Магнит»', '05.03.2020', '02.03.2023', '15 млрд. руб.', '6,20%'],
             ['БО-003Р-05', 'ПАО «Магнит»', '26.12.2019', '22.12.2022', '10 млрд. руб.', '6,60%'],
             ['БО-003Р-04', 'ПАО «Магнит»', '05.11.2019', '03.05.2022', '10 млрд. руб.', '6,90%'],
             ['БО-003Р-01', 'ПАО «Магнит»', '05.02.2019', '01.02.2022', '10 млрд. руб.', '8,70%'],
             ['БО-003Р-02', 'ПАО «Магнит»', '26.02.2019', '23.02.2021', '10 млрд. руб.', '8,50%'],
             ['БО-003Р-03', 'ПАО «Магнит»', '27.06.2019', '24.12.2020', '10 млрд. руб.', '7,85%'],
             ['БО-001Р-04', 'ПАО «Магнит»', '05.07.2016', '28.12.2017', '10 млрд. руб.', '10,00%'],
             ['БО-001Р-03', 'ПАО «Магнит»', '12.04.2016', '10.04.2018', '10 млрд. руб.', '10,60%'],
             ['БО-001Р-02', 'ПАО «Магнит»', '29.02.2016', '26.02.2018', '10 млрд. руб.', '11,20%'],
             ['БО-001Р-01', 'ПАО «Магнит»', '11.11.2015', '10.05.2017', '10 млрд. руб.', '11,20%'],
             ['БO-11', 'ПАО «Магнит»', '20.10.2015', '18.04.2017', '10 млрд. руб.', '11,70%'],
             ['БO-10', 'ПАО «Магнит»', '23.07.2015', '21.07.2016', '10 млрд. руб.', '11,60%'],
             ['03', 'ПАО «Магнит»', '15.05.2015', '13.05.2016', '5 млрд. руб.', '12,10%'],
             ['02', 'ПАО «Магнит»', '15.05.2015', '13.05.2016', '5 млрд. руб.', '12,10%'],
             ['БO-09', 'ПАО «Магнит»', '02.04.2013', '29.03.2016', '5 млрд. руб.', '8,40%'],
             ['БO-08', 'ПАО «Магнит»', '02.04.2013', '29.03.2016', '5 млрд. руб.', '8,40%'],
             ['01', 'ПАО «Магнит»', '26.02.2013', '23.02.2016', '5 млрд. руб.', '8,50%'],
             ['БO-07', 'ПАО «Магнит»', '24.09.2012', '21.09.2015', '5 млрд. руб.', '8,90%'],
             ['БO-06', 'ПАО «Магнит»', '26.04.2011', '22.04.2014', '5 млрд. руб.', '7,75%'],
             ['БO-05', 'ПАО «Магнит»', '04.03.2011', '28.02.2014', '5 млрд. руб.', '8,00%'],
             ['БO-04', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '2 млрд. руб.', '8,25%'],
             ['БO-03', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1,5 млрд. руб.', '8,25%'],
             ['БO-02', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1 млрд. руб.', '8,25%'],
             ['БO-01', 'ПАО «Магнит»', '13.09.2010', '09.09.2013', '1 млрд. руб.', '8,25%'],
             ['02', 'ООО «Магнит Финанс»', '30.03.2007', '23.03.2012', '5 млрд. руб.', '8,20%'],
             ['01', 'ООО «Магнит Финанс»', '23.11.2005', '19.11.2008', '2 млрд. руб.', '9,34%']]
df_columns = ['Серия', 'Эмитент', 'Дата размещения', 'Дата погашения',
              'Объем выпуска', 'Ставка купона']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь
df.head()

,Серия,Эмитент,Дата размещения,Дата погашения,Объем выпуска,Ставка купона
0,БО-002Р-03,ПАО «Магнит»,22.05.2020,19.05.2023,15 млрд. руб.,"5,90%"
1,БО-002Р-02,ПАО «Магнит»,29.04.2020,26.04.2023,10 млрд. руб.,"6,70%"
2,БО-002Р-01,ПАО «Магнит»,05.03.2020,02.03.2023,15 млрд. руб.,"6,20%"
3,БО-003Р-05,ПАО «Магнит»,26.12.2019,22.12.2022,10 млрд. руб.,"6,60%"
4,БО-003Р-04,ПАО «Магнит»,05.11.2019,03.05.2022,10 млрд. руб.,"6,90%"

In [169]:
# Выведите строки, содержащие неповторяющиеся значения по столбцу 'Объем выпуска'
df[~df['Объем выпуска'].duplicated(keep=False)]

,Серия,Эмитент,Дата размещения,Дата погашения,Объем выпуска,Ставка купона
23,БO-03,ПАО «Магнит»,13.09.2010,09.09.2013,"1,5 млрд. руб.","8,25%"

In [170]:
ser = df['Объем выпуска'].value_counts() == 1
ser[ser].index.values[0]

'1,5 млрд. руб.'

In [171]:
print(list(df['Объем выпуска'].unique()))

['15 млрд. руб.', '10 млрд. руб.', '5 млрд. руб.', '2 млрд. руб.', '1,5 млрд. руб.', '1 млрд. руб.']

In [172]:
df.head()

,Серия,Эмитент,Дата размещения,Дата погашения,Объем выпуска,Ставка купона
0,БО-002Р-03,ПАО «Магнит»,22.05.2020,19.05.2023,15 млрд. руб.,"5,90%"
1,БО-002Р-02,ПАО «Магнит»,29.04.2020,26.04.2023,10 млрд. руб.,"6,70%"
2,БО-002Р-01,ПАО «Магнит»,05.03.2020,02.03.2023,15 млрд. руб.,"6,20%"
3,БО-003Р-05,ПАО «Магнит»,26.12.2019,22.12.2022,10 млрд. руб.,"6,60%"
4,БО-003Р-04,ПАО «Магнит»,05.11.2019,03.05.2022,10 млрд. руб.,"6,90%"

In [173]:
# Выведите на печать суммарное количество уникальных значений во всех столбцах датафрейма.
df.nunique().sum()

101

In [174]:
total = 0
for col in df.columns:
    total += len(df[col].unique())
print(total)

101

In [175]:
df.head()

,Серия,Эмитент,Дата размещения,Дата погашения,Объем выпуска,Ставка купона
0,БО-002Р-03,ПАО «Магнит»,22.05.2020,19.05.2023,15 млрд. руб.,"5,90%"
1,БО-002Р-02,ПАО «Магнит»,29.04.2020,26.04.2023,10 млрд. руб.,"6,70%"
2,БО-002Р-01,ПАО «Магнит»,05.03.2020,02.03.2023,15 млрд. руб.,"6,20%"
3,БО-003Р-05,ПАО «Магнит»,26.12.2019,22.12.2022,10 млрд. руб.,"6,60%"
4,БО-003Р-04,ПАО «Магнит»,05.11.2019,03.05.2022,10 млрд. руб.,"6,90%"

In [176]:
# Выведите на печать объект Series, содержащий количество каждого уникального значения в столбце 'Объем выпуска', расположенных по возрастанию.
# Уточнение: объект Series у вас должен получиться с индексацией Index, а не с индексацией MultiIndex

ser = df['Объем выпуска'].sort_values().value_counts(ascending=True)
ser.name = None
ser.index.name = 'Объем выпуска'
print(ser)

Объем выпуска
1,5 млрд. руб.     1
1 млрд. руб.       2
15 млрд. руб.      2
2 млрд. руб.       2
5 млрд. руб.       9
10 млрд. руб.     12
dtype: int64

In [177]:
print(df.value_counts(subset='Объем выпуска', ascending=True))

Объем выпуска
1,5 млрд. руб.     1
1 млрд. руб.       2
15 млрд. руб.      2
2 млрд. руб.       2
5 млрд. руб.       9
10 млрд. руб.     12
Name: count, dtype: int64

# 2.13 Методы apply, applymap, map

In [178]:
# Методы apply(), applymap(), map() позволяют применять какую-либо функцию к каждому элементу структуры данных.

In [179]:
# Метод apply() позволяет применить определенную функцию вдоль выбранной оси датафрейма, например, к элементам одного столбца или нескольких столбцов, или к строкам. 
# Метод apply() может быть использован как для объектов типа Series, так и для DataFrame.

In [180]:
df_values = [[2000, '-9.03%'], [2001, '-11.85%'], [2002, '-21.97%'], [2003, '28.36%'],
             [2004, '10.74%'], [2005, '4.83%'], [2006, '15.61%'], [2007, '5.48%'],
             [2008, '-36.55%'], [2009, '25.94%'], [2010, '14.82%'], [2011, '2.1%'],
             [2012, '15.89%'], [2013, '32.15%'], [2014, '13.52%'], [2015, '1.38%'],
             [2016, '11.77%'], [2017, '21.61%'], [2018, '-4.23%'], [2019, '31.21%'],
             [2020, '18.02%'], [2021, '28.47%'], [2022, '-18.01%']]
df_columns = ['Year', 'S&P 500 (includes dividends)']
df = pd.DataFrame(df_values, columns=df_columns)

display(df.head())

   Year S&P 500 (includes dividends)
0  2000                       -9.03%
1  2001                      -11.85%
2  2002                      -21.97%
3  2003                       28.36%
4  2004                       10.74%

In [181]:
print(len(df['S&P 500 (includes dividends)']))

23

In [182]:
df_new = df.copy()

def replacement(s):
    return float(s.replace('%', ''))

df_new['S&P 500 (includes dividends)'] = df_new['S&P 500 (includes dividends)'].apply(replacement)
df_new.head()

   Year  S&P 500 (includes dividends)
0  2000                          -9.0
1  2001                         -11.8
2  2002                         -22.0
3  2003                          28.4
4  2004                          10.7

In [183]:
df_values = [[2000, '-9.03%', '16.66%', '9.28%', '-5.44%'],
             [2001, '-11.85%', '5.57%', '6.67%', '0.75%'],
             [2002, '-21.97%', '15.12%', '9.56%', '25.57%'],
             [2003, '28.36%', '0.38%', '9.82%', '19.89%'],
             [2004, '10.74%', '4.49%', '13.64%', '4.65%'],
             [2005, '4.83%', '2.87%', '13.51%', '17.77%'],
             [2006, '15.61%', '1.96%', '1.73%', '23.2%'],
             [2007, '5.48%', '10.21%', '-5.4%', '31.92%'],
             [2008, '-36.55%', '20.1%', '-12.0%', '4.32%'],
             [2009, '25.94%', '-11.12%', '-3.85%', '25.04%'],
             [2010, '14.82%', '8.46%', '-4.12%', '29.24%'],
             [2011, '2.1%', '16.04%', '-3.88%', '12.02%'],
             [2012, '15.89%', '2.97%', '6.44%', '5.68%'],
             [2013, '32.15%', '-9.1%', '10.72%', '-27.61%'],
             [2014, '13.52%', '10.75%', '4.51%', '0.12%'],
             [2015, '1.38%', '1.28%', '5.21%', '-12.11%'],
             [2016, '11.77%', '0.69%', '5.31%', '8.1%'],
             [2017, '21.61%', '2.8%', '6.21%', '12.66%'],
             [2018, '-4.23%', '-0.02%', '4.53%', '-0.93%'],
             [2019, '31.21%', '9.64%', '3.69%', '19.08%'],
             [2020, '18.02%', '11.33%', '10.35%', '24.17%'],
             [2021, '28.47%', '-4.42%', '18.91%', '-3.75%'],
             [2022, '-18.01%', '-17.83%', '7.3%', '0.55%']]
df_columns = ['Year', 'S&P 500 (includes dividends)', 'US T. Bond', 'Real Estate', 'Gold']
df = pd.DataFrame(df_values, columns=df_columns)

display(df.head())

   Year S&P 500 (includes dividends) US T. Bond Real Estate    Gold
0  2000                       -9.03%     16.66%       9.28%  -5.44%
1  2001                      -11.85%      5.57%       6.67%   0.75%
2  2002                      -21.97%     15.12%       9.56%  25.57%
3  2003                       28.36%      0.38%       9.82%  19.89%
4  2004                       10.74%      4.49%      13.64%   4.65%

In [184]:
# Метод map() примение метода apply() для нескольких столбцов.

df_new = df.copy()

df_new[['S&P 500 (includes dividends)', 'US T. Bond', 'Real Estate', 'Gold']] = df_new[['S&P 500 (includes dividends)', 'US T. Bond', 'Real Estate', 'Gold']].map(replacement)
df_new.head()

   Year  S&P 500 (includes dividends)  US T. Bond  Real Estate  Gold
0  2000                          -9.0        16.7          9.3  -5.4
1  2001                         -11.8         5.6          6.7   0.8
2  2002                         -22.0        15.1          9.6  25.6
3  2003                          28.4         0.4          9.8  19.9
4  2004                          10.7         4.5         13.6   4.7

In [185]:
def max_profit(a,b,c,d):
    mx = max(a,b,c,d)
    if mx==a:
        return 'S&P 500 (includes dividends)'
    elif mx==b:
        return 'US T. Bond'
    elif mx==c:
        return 'Real Estate'
    elif mx==d:
        return 'Gold'

In [186]:
df_new['MAX'] = df_new.apply(lambda x: max_profit(x['S&P 500 (includes dividends)'], x['US T. Bond'], x['Real Estate'], x['Gold']), axis=1)
df_new.head()

,Year,S&P 500 (includes dividends),US T. Bond,Real Estate,Gold,MAX
0,2000,-9.0,16.7,9.3,-5.4,US T. Bond
1,2001,-11.8,5.6,6.7,0.8,Real Estate
2,2002,-22.0,15.1,9.6,25.6,Gold
3,2003,28.4,0.4,9.8,19.9,S&P 500 (includes dividends)
4,2004,10.7,4.5,13.6,4.7,Real Estate

In [187]:
d = {'S&P 500 (includes dividends)': 'SP',
     'US T. Bond': 'B',
     'Real Estate': 'RE',
     'Gold': 'G'}

df_new['MAX'] = df_new['MAX'].map(d)

df_new.head()

   Year  S&P 500 (includes dividends)  US T. Bond  Real Estate  Gold MAX
0  2000                          -9.0        16.7          9.3  -5.4   B
1  2001                         -11.8         5.6          6.7   0.8  RE
2  2002                         -22.0        15.1          9.6  25.6   G
3  2003                          28.4         0.4          9.8  19.9  SP
4  2004                          10.7         4.5         13.6   4.7  RE

In [188]:
d = {
    'Дата ставки': ['2023-06-30','2023-06-29','2023-06-28','2023-06-27','2023-06-26','2023-06-23',
                    '2023-06-22','2023-06-21','2023-06-20','2023-06-19','2023-06-16','2023-06-15',
                    '2023-06-14','2023-06-13','2023-06-09','2023-06-08','2023-06-07','2023-06-06',
                    '2023-06-05','2023-06-02','2023-06-01'],
    'Ставка RUONIA, %': ['7,45','7,41','7,26','7,14','7,15','7,13','7,15','7,25','7,22','7,25','7,3',
                         '7,35','7,34','7,49','7,28','7,31','7,39','7,32','7,36','7,33','7,27'],
    'Объем сделок RUONIA, млрд руб.': [313.89,419.67,355.3,294.9,231.6,388.45,367.95,413.78,379.94,
                                       435.33,464.74,419.42,381.66,362.81,439.99,488.14,523.5,736.87,
                                       627.03,774.02,543.35]
    }
ruonia_june_2023 = pd.DataFrame(d)
# Продолжите написание кода здесь
ruonia_june_2023

   Дата ставки Ставка RUONIA, %  Объем сделок RUONIA, млрд руб.
0   2023-06-30             7,45                           313.9
1   2023-06-29             7,41                           419.7
2   2023-06-28             7,26                           355.3
3   2023-06-27             7,14                           294.9
4   2023-06-26             7,15                           231.6
5   2023-06-23             7,13                           388.4
6   2023-06-22             7,15                           367.9
7   2023-06-21             7,25                           413.8
8   2023-06-20             7,22                           379.9
9   2023-06-19             7,25                           435.3
10  2023-06-16              7,3                           464.7
11  2023-06-15             7,35                           419.4
12  2023-06-14             7,34                           381.7
13  2023-06-13             7,49                           362.8
14  2023-06-09             7,28                           440.0
15  2023-06-08             7,31                           488.1
16  2023-06-07             7,39                           523.5
17  2023-06-06             7,32                           736.9
18  2023-06-05             7,36                           627.0
19  2023-06-02             7,33                           774.0
20  2023-06-01             7,27                           543.4

In [189]:
# Используя метод apply(), поменяйте запятые на точки в столбце  'Ставка RUONIA, %'. 
# Тип данных оставьте 'object'. Выведите датафрейм  ruonia_june_2023 на печать.

ruonia_june_2023['Ставка RUONIA, %'] = ruonia_june_2023['Ставка RUONIA, %'].apply(lambda x: str(x).replace(',', '.'))
ruonia_june_2023.head()

  Дата ставки Ставка RUONIA, %  Объем сделок RUONIA, млрд руб.
0  2023-06-30             7.45                           313.9
1  2023-06-29             7.41                           419.7
2  2023-06-28             7.26                           355.3
3  2023-06-27             7.14                           294.9
4  2023-06-26             7.15                           231.6

In [190]:
pmi_usa_values = [['Июнь 2023', 54.4, 54.1], ['Май 2023', 54.9, 55.1], ['Апрель 2023', 53.6, 53.7],
              ['Март 2023', 52.6, 53.8], ['Февраль 2023', 50.6, 50.5], ['Январь 2023', 46.8, 46.6],
              ['Декабрь 2022', 44.7, 44.4], ['Ноябрь 2022', 46.2, 46.1], ['Октябрь 2022', 47.8, 46.6],
              ['Сентябрь 2022', 49.3, 49.2], ['Август 2022', 43.7, 44.3], ['Июль 2022', 47.3, 47.0],
              ['Июнь 2022', 52.7, 51.6], ['Май 2022', 53.4, 53.5], ['Апрель 2022', 55.6, 54.7],
              ['Март 2022', 58.0, 58.9], ['Февраль 2022', 56.5, 56.7], ['Январь 2022', 51.2, 50.9]]
pmi_usa_columns = ['месяц', 'факт', 'прогноз']
pmi_usa = pd.DataFrame(pmi_usa_values, columns=pmi_usa_columns)
# Продолжите написание кода здесь
pmi_usa.head()

          месяц  факт  прогноз
0     Июнь 2023  54.4     54.1
1      Май 2023  54.9     55.1
2   Апрель 2023  53.6     53.7
3     Март 2023  52.6     53.8
4  Февраль 2023  50.6     50.5

In [191]:
# Добавить первую колонку 'год', в колонке 'месяц' оставить наименование месяца
pmi_usa_new = pmi_usa.copy()
years = list(pmi_usa_new['месяц'].apply(lambda x: x[-4:]).values)
pmi_usa_new.insert(loc=0, column='год', value=years)
pmi_usa_new['месяц'] = pmi_usa_new['месяц'].apply(lambda x: x[:-5])
pmi_usa_new.head()

    год    месяц  факт  прогноз
0  2023     Июнь  54.4     54.1
1  2023      Май  54.9     55.1
2  2023   Апрель  53.6     53.7
3  2023     Март  52.6     53.8
4  2023  Февраль  50.6     50.5

In [192]:
pmi_usa_new = pmi_usa.copy()
pmi_usa_new['год'] = pmi_usa_new['месяц'].apply(lambda x: x.split()[1])
pmi_usa_new['месяц'] = pmi_usa_new['месяц'].apply(lambda x: x.split()[0])
pmi_usa_new = pmi_usa_new.reindex(columns=['год', 'месяц', 'факт', 'прогноз'])
pmi_usa_new.head()

    год    месяц  факт  прогноз
0  2023     Июнь  54.4     54.1
1  2023      Май  54.9     55.1
2  2023   Апрель  53.6     53.7
3  2023     Март  52.6     53.8
4  2023  Февраль  50.6     50.5

In [193]:
pmi_usa_new = pmi_usa.copy()
pmi_usa_new[['месяц', 'год']] = pmi_usa_new['месяц'].str.split(' ', expand=True)
pmi_usa_new = pmi_usa_new.reindex(columns=['год', 'месяц', 'факт', 'прогноз'])
pmi_usa_new.head()

    год    месяц  факт  прогноз
0  2023     Июнь  54.4     54.1
1  2023      Май  54.9     55.1
2  2023   Апрель  53.6     53.7
3  2023     Март  52.6     53.8
4  2023  Февраль  50.6     50.5

In [194]:
moscow_exchange_values = [['2023-03-31', '2.450,67', '2.470,12', '2.472,53', '2.424,45', '-0.62%'],
                          ['2023-03-30', '2.465,93', '2.458,06', '2.467,97', '2.450,46', '+0.21%'],
                          ['2023-03-29', '2.460,87', '2.449,96', '2.468,48', '2.437,52', '+0.76%'],
                          ['2023-03-28', '2.442,19', '2.453,26', '2.458,37', '2.421,39', '+0.06%'],
                          ['2023-03-27', '2.440,68', '2.400,84', '2.440,68', '2.400,84', '+2.06%'],
                          ['2023-03-24', '2.391,53', '2.386,53', '2.394,03', '2.384,29', '+0.13%'],
                          ['2023-03-23', '2.388,35', '2.386,70', '2.396,50', '2.379,88', '-0.23%'],
                          ['2023-03-22', '2.393,88', '2.387,81', '2.398,76', '2.374,46', '-0.18%'],
                          ['2023-03-21', '2.398,15', '2.417,43', '2.431,23', '2.383,08', '+0.04%'],
                          ['2023-03-20', '2.397,16', '2.337,83', '2.397,16', '2.332,80', '+3.20%'],
                          ['2023-03-17', '2.322,78', '2.284,78', '2.322,78', '2.275,48', '+2.86%'],
                          ['2023-03-16', '2.258,22', '2.262,61', '2.269,01', '2.236,77', '-0.17%'],
                          ['2023-03-15', '2.262,07', '2.287,16', '2.295,06', '2.257,00', '-1.23%'],
                          ['2023-03-14', '2.290,32', '2.266,78', '2.290,32', '2.261,65', '+0.92%'],
                          ['2023-03-13', '2.269,47', '2.279,13', '2.289,70', '2.250,14', '-0.30%'],
                          ['2023-03-10', '2.276,25', '2.272,61', '2.283,18', '2.266,33', '-0.61%'],
                          ['2023-03-09', '2.290,14', '2.295,03', '2.302,10', '2.278,95', '-0.24%'],
                          ['2023-03-07', '2.295,60', '2.294,32', '2.298,93', '2.281,46', '+0.06%'],
                          ['2023-03-06', '2.294,12', '2.286,20', '2.297,86', '2.283,40', '+0.96%'],
                          ['2023-03-03', '2.272,20', '2.250,12', '2.273,52', '2.249,81', '+0.79%'],
                          ['2023-03-02', '2.254,30', '2.284,87', '2.286,27', '2.235,43', '-1.11%'],
                          ['2023-03-01', '2.279,65', '2.258,89', '2.287,48', '2.255,45', '+1.18%']]
moscow_exchange_columns = ['Дата', 'Цена', 'Откр.', 'Макс.', 'Мин.', 'Изм. %']
moex = pd.DataFrame(moscow_exchange_values, columns=moscow_exchange_columns)

moex.head()

         Дата      Цена     Откр.     Макс.      Мин.  Изм. %
0  2023-03-31  2.450,67  2.470,12  2.472,53  2.424,45  -0.62%
1  2023-03-30  2.465,93  2.458,06  2.467,97  2.450,46  +0.21%
2  2023-03-29  2.460,87  2.449,96  2.468,48  2.437,52  +0.76%
3  2023-03-28  2.442,19  2.453,26  2.458,37  2.421,39  +0.06%
4  2023-03-27  2.440,68  2.400,84  2.440,68  2.400,84  +2.06%

In [195]:
# Измените тип данных в колонке 'Дата'  на 'datetime64[ns]'.
# В столбцах 'Цена', 'Откр.', 'Макс.', 'Мин.' замените тип данных на 'float64'.
# Выведите на печать первые пять строк итогового датафрейма.
# Затем распечатайте пустую строчку.
# Выведите информацию о датафрейме info().

moex_new = moex.copy()
moex_new[['Цена', 'Откр.', 'Макс.', 'Мин.']] = moex_new[['Цена', 'Откр.', 'Макс.', 'Мин.']].map(lambda x: str(x).replace('.', '').replace(',', '.'))
moex_new = moex_new.astype({'Дата': 'datetime64[ns]', 'Цена': 'float64', 'Откр.': 'float64', 'Макс.': 'float64', 'Мин.': 'float64'})
moex_new.head()

        Дата    Цена   Откр.   Макс.    Мин.  Изм. %
0 2023-03-31 2,450.7 2,470.1 2,472.5 2,424.4  -0.62%
1 2023-03-30 2,465.9 2,458.1 2,468.0 2,450.5  +0.21%
2 2023-03-29 2,460.9 2,450.0 2,468.5 2,437.5  +0.76%
3 2023-03-28 2,442.2 2,453.3 2,458.4 2,421.4  +0.06%
4 2023-03-27 2,440.7 2,400.8 2,440.7 2,400.8  +2.06%

In [196]:
# moex['Дата'] = pd.to_datetime(moex['Дата'])
# moex[['Цена', 'Откр.', 'Макс.', 'Мин.']] = moex[['Цена', 'Откр.', 'Макс.', 'Мин.']].astype('float64')

In [197]:
moex_new = moex.copy()
moex_new['Дата'] = moex_new['Дата'].astype('datetime64[ns]')
moex_new.loc[:, 'Цена':'Мин.'] = moex_new.loc[:, 'Цена':'Мин.'].apply(lambda x: x.str.replace('.', '').str.replace(',', '.').astype('float64'))
moex_new.head()

        Дата    Цена   Откр.   Макс.    Мин.  Изм. %
0 2023-03-31 2,450.7 2,470.1 2,472.5 2,424.4  -0.62%
1 2023-03-30 2,465.9 2,458.1 2,468.0 2,450.5  +0.21%
2 2023-03-29 2,460.9 2,450.0 2,468.5 2,437.5  +0.76%
3 2023-03-28 2,442.2 2,453.3 2,458.4 2,421.4  +0.06%
4 2023-03-27 2,440.7 2,400.8 2,440.7 2,400.8  +2.06%

In [198]:
# Сделайте в столбце 'Изм. %' тип данных 'float64'

moex_new = moex.copy()
moex_new['Изм. %'] = moex_new['Изм. %'].apply(lambda x: str(x).replace('+', '')[:-1]).astype('float64')
moex_new.head()

         Дата      Цена     Откр.     Макс.      Мин.  Изм. %
0  2023-03-31  2.450,67  2.470,12  2.472,53  2.424,45    -0.6
1  2023-03-30  2.465,93  2.458,06  2.467,97  2.450,46     0.2
2  2023-03-29  2.460,87  2.449,96  2.468,48  2.437,52     0.8
3  2023-03-28  2.442,19  2.453,26  2.458,37  2.421,39     0.1
4  2023-03-27  2.440,68  2.400,84  2.440,68  2.400,84     2.1

In [199]:
pmi_manufacturing_india_values = [['03.07.2023 (июнь)', 57.8, 58, 58.7],
       ['01.06.2023 (май)', 58.7, 56.5, 57.2], ['01.05.2023 (апр)', 57.2, 55.8, 56.4],
       ['03.04.2023 (мар)', 56.4, 55, 55.3], ['01.03.2023 (фев)', 55.3, 54.3, 55.4],
       ['01.02.2023 (янв)', 55.4, 57.4, 57.8], ['02.01.2023 (дек)', 57.8, 54.3, 55.7],
       ['01.12.2022 (нояб)', 55.7, 55, 55.3], ['01.11.2022 (окт)', 55.3, 54.9, 55.1],
       ['03.10.2022 (сент)', 55.1, 55.8, 56.2], ['01.09.2022 (авг)', 56.2, 55, 56.4],
       ['01.08.2022 (июль)', 56.4, 53.8, 53.9], ['01.07.2022 (июнь)', 53.9, 54.5, 54.6],
       ['01.06.2022 (май)', 54.6, 54.2, 54.7], ['02.05.2022 (апр)', 54.7, 53.8, 54.0],
       ['04.04.2022 (мар)', 54.0, 55.2, 54.9], ['02.03.2022 (фев)', 54.9, 54.3, 54.0],
       ['01.02.2022 (янв)', 54.0, 54.6, 55.5], ['03.01.2022 (дек)', 55.5, np.nan, 57.6],
       ['01.12.2021 (нояб)', 57.6, 55.1, 55.9], ['01.11.2021 (окт)', 55.9, 54, 53.7],
       ['01.10.2021 (сент)', 53.7, 51.8, 52.3], ['01.09.2021 (авг)', 52.3, 55, 55.3],
       ['02.08.2021 (июль)', 55.3, 50.5, 48.1], ['01.07.2021 (июнь)', 48.1, np.nan, 50.8],
       ['01.06.2021 (май)', 50.8, 52, 55.5], ['03.05.2021 (апр)', 55.5, 51.6, 55.4],
       ['05.04.2021 (мар)', 55.4, 57.5, 57.5], ['01.03.2021 (фев)', 57.5, 57.5, 57.7],
       ['01.02.2021 (янв)', 57.7, 56, 56.4]] 
pmi_manufacturing_india_columns = ['Дата выпуска', 'Факт.', 'Прогноз', 'Пред.']
pmi_manufacturing_india = pd.DataFrame(pmi_manufacturing_india_values, 
                                        columns=pmi_manufacturing_india_columns)
# Продолжите написание кода здесь
pmi_manufacturing_india.head()

        Дата выпуска  Факт.  Прогноз  Пред.
0  03.07.2023 (июнь)   57.8     58.0   58.7
1   01.06.2023 (май)   58.7     56.5   57.2
2   01.05.2023 (апр)   57.2     55.8   56.4
3   03.04.2023 (мар)   56.4     55.0   55.3
4   01.03.2023 (фев)   55.3     54.3   55.4

In [200]:
#  Преобразуйте столбец 'Дата выпуска' таким образом, чтобы он принял вид: (июнь) 2023 и т.д.
# Обратите внимание, что данные, вышедшие в январе, но относящиеся к декабрю прошлого года, нужно преобразовать в декабрьские прошлого года. 
# Например, 02.01.2023 (дек) преобразуются в (дек) 2022.

In [201]:
def get_new_date(x):
    date, month = x.split()
    year = date.split('.')[2]
    return f'{month} {year}' if month != '(дек)' else f'{month} {int(year) - 1}'

In [202]:
pmi_manufacturing_india_new = pmi_manufacturing_india.copy()
pmi_manufacturing_india_new['Дата выпуска'] = pmi_manufacturing_india_new['Дата выпуска'].apply(get_new_date)
pmi_manufacturing_india_new.head()

  Дата выпуска  Факт.  Прогноз  Пред.
0  (июнь) 2023   57.8     58.0   58.7
1   (май) 2023   58.7     56.5   57.2
2   (апр) 2023   57.2     55.8   56.4
3   (мар) 2023   56.4     55.0   55.3
4   (фев) 2023   55.3     54.3   55.4

In [236]:
pmi_manufacturing_turkey_values = [['03.07.2023 (июнь)', 51.5], ['01.06.2023 (май)', 51.5],
       ['02.05.2023 (апр)', 51.5], ['03.04.2023 (мар)', 50.9], ['01.03.2023 (фев)', 50.1],
       ['01.02.2023 (янв)', 50.1], ['02.01.2023 (дек)', 48.1], ['01.12.2022 (нояб)', 45.7],
       ['01.11.2022 (окт)', 46.4], ['03.10.2022 (сент)', 46.9], ['01.09.2022 (авг)', 47.4],
       ['01.08.2022 (июль)', 46.9], ['01.07.2022 (июнь)', 48.1], ['01.06.2022 (май)', 49.2],
       ['05.05.2022 (апр)', 49.2], ['01.04.2022 (мар)', 49.4], ['01.03.2022 (фев)', 50.4],
       ['01.02.2022 (янв)', 50.5], ['03.01.2022 (дек)', 52.1], ['01.12.2021 (нояб)', 52.0],
       ['01.11.2021 (окт)', 51.2], ['01.10.2021 (сент)', 52.5], ['01.09.2021 (авг)', 54.1],
       ['02.08.2021 (июль)', 54.0], ['01.07.2021 (июнь)', 51.3], ['01.06.2021 (май)', 49.3],
       ['03.05.2021 (апр)', 50.4], ['01.04.2021 (мар)', 52.6], ['01.03.2021 (фев)', 51.7],
       ['01.02.2021 (янв)', 54.4]]
pmi_manufacturing_turkey_columns = ['Дата выпуска', 'Факт.']
pmi_manufacturing_turkey = pd.DataFrame(pmi_manufacturing_turkey_values, 
                                        columns=pmi_manufacturing_turkey_columns)
# Продолжите написание кода здесь
pmi_manufacturing_turkey.head()

        Дата выпуска  Факт.
0  03.07.2023 (июнь)   51.5
1   01.06.2023 (май)   51.5
2   02.05.2023 (апр)   51.5
3   03.04.2023 (мар)   50.9
4   01.03.2023 (фев)   50.1

In [237]:
# Итоговый датафрейм должен содержать три столбца: 'Дата выпуска', 'Период', 'Факт.'.
# Столбец 'Дата выпуска' содержит дату в формате 'datetime64[ns]'.
# В колонке 'Период' содержится месяц в сокращенном варианте без скобок, и через пробел следует год.
# Выведите итоговый датафрейм на печать.
# Распечатайте пустую строчку.
# Выведите информацию о датафрейме info().
def get_new_date(x):
    date, month = x.split()
    year = date.split('.')[2]
    month = month.strip('()')
    return f'{month} {year}' if month != '(дек)' else f'{month} {int(year) - 1}'

pmi_manufacturing_turkey['Период'] = pmi_manufacturing_turkey['Дата выпуска'].apply(get_new_date)
pmi_manufacturing_turkey['Дата выпуска'] = pmi_manufacturing_turkey['Дата выпуска'].apply(lambda x: str(x).split()[0])
pmi_manufacturing_turkey['Дата выпуска'] = pd.to_datetime(pmi_manufacturing_turkey['Дата выпуска'], dayfirst=True)
pmi_manufacturing_turkey = pmi_manufacturing_turkey[['Дата выпуска', 'Период', 'Факт.']]
pmi_manufacturing_turkey.head()

# Поменять местами день и месяц

  Дата выпуска     Период  Факт.
0   2023-07-03  июнь 2023   51.5
1   2023-06-01   май 2023   51.5
2   2023-05-02   апр 2023   51.5
3   2023-04-03   мар 2023   50.9
4   2023-03-01   фев 2023   50.1