In [1]:
import pandas as pd
import numpy as np

# 1.1 Структура данных Series

In [47]:
shares = {'ММК': 52.50, 'Северсталь': 1386.20, 'НЛМК': 214.20} 

ser = pd.Series(shares, index=['ММК', 'Северсталь'])

ser

ММК             52.5
Северсталь    1386.2
dtype: float64

In [52]:
ser = pd.Series(data=0, index=range(5))

ser

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [54]:
from string import ascii_lowercase

ser = pd.Series(range(1, 8), list(ascii_lowercase[0:7]))

print(ser)

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [57]:
[chr(c) for c in range(ord('a'), ord('g') + 1)]

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [88]:
d = {"Moody's": "США", "Standard & Poor's": "США", "Fitch Ratings": "США",
     "АКРА": "Россия", "Эксперт РА": "Россия", "НРА": "Россия"}
srs = pd.Series(d)
# Продолжите написание кода здесь

srs[::2]

Moody's             США
Fitch Ratings       США
Эксперт РА       Россия
dtype: object

In [99]:
d = {'BANE': 'ПАО АНК "Башнефть"', 'LKOH': 'ПАО "ЛУКОЙЛ"', 
     'NVTK': 'ПАО "НОВАТЭК"', 'ROSN': 'ПАО "НК "Роснефть"',
     'TATN': 'ПАО "Татнефть" им. В.Д.Шашина', 'TRNFL': 'ПАО "Транснефть"'}
srs = pd.Series(d)
# Продолжите написание кода здесь

tickers = ['GAZP', 'SIBN', 'SNGS']
stocks = ['ПАО "Газпром"', 'ПАО "Газпром нефть"', 'ПАО "Сургутнефтегаз"']

for i in range(len(tickers)):
    srs[tickers[i]] = stocks[i]

srs

BANE                ПАО АНК "Башнефть"
LKOH                      ПАО "ЛУКОЙЛ"
NVTK                     ПАО "НОВАТЭК"
ROSN                ПАО "НК "Роснефть"
TATN     ПАО "Татнефть" им. В.Д.Шашина
TRNFL                 ПАО "Транснефть"
GAZP                     ПАО "Газпром"
SIBN               ПАО "Газпром нефть"
SNGS              ПАО "Сургутнефтегаз"
dtype: object

In [100]:
d.update({'GAZP': 'ПАО "Газпром"', 'SIBN': 'ПАО "Газпром нефть"', 'SNGS': 'ПАО "Сургутнефтегаз"'})
srs = pd.Series(d)
srs

BANE                ПАО АНК "Башнефть"
LKOH                      ПАО "ЛУКОЙЛ"
NVTK                     ПАО "НОВАТЭК"
ROSN                ПАО "НК "Роснефть"
TATN     ПАО "Татнефть" им. В.Д.Шашина
TRNFL                 ПАО "Транснефть"
GAZP                     ПАО "Газпром"
SIBN               ПАО "Газпром нефть"
SNGS              ПАО "Сургутнефтегаз"
dtype: object

In [142]:
# Поменяйте местами колонки индексов и значений.
d = {'BSPB': 'ПАО "Банк "Санкт-Петербург"', 'CBOM': 'ПАО "МОСКОВСКИЙ КРЕДИТНЫЙ БАНК"', 
     'ROSB': 'ПАО РОСБАНК', 'SBER': 'ПАО Сбербанк',
     'USBN': 'ПАО "БАНК УРАЛСИБ"', 'VTBR': 'Банк ВТБ (ПАО)'}
srs = pd.Series(d)
srs

BSPB        ПАО "Банк "Санкт-Петербург"
CBOM    ПАО "МОСКОВСКИЙ КРЕДИТНЫЙ БАНК"
ROSB                        ПАО РОСБАНК
SBER                       ПАО Сбербанк
USBN                 ПАО "БАНК УРАЛСИБ"
VTBR                     Банк ВТБ (ПАО)
dtype: object

In [143]:
pd.Series(srs.index.values, index=srs)

ПАО "Банк "Санкт-Петербург"        BSPB
ПАО "МОСКОВСКИЙ КРЕДИТНЫЙ БАНК"    CBOM
ПАО РОСБАНК                        ROSB
ПАО Сбербанк                       SBER
ПАО "БАНК УРАЛСИБ"                 USBN
Банк ВТБ (ПАО)                     VTBR
dtype: object

In [156]:
# Удалите из серии каждое чётное значение.
d = {'AMEZ': 'ПАО "Ашинский метзавод"', 'CHMF': 'ПАО "Северсталь"', 
     'CHMK': 'ПАО "ЧМК"', 'GMKN': 'ПАО "ГМК "Норильский никель"',
     'MAGN': 'ПАО "ММК"', 'MTLR': 'ПАО "Мечел"',
     'NLMK': 'ПАО "НЛМК"', 'RUAL': 'МКПАО "ОК РУСАЛ"',
     'TRMK': 'ПАО "ТМК"'}
srs = pd.Series(d)
srs

AMEZ         ПАО "Ашинский метзавод"
CHMF                ПАО "Северсталь"
CHMK                       ПАО "ЧМК"
GMKN    ПАО "ГМК "Норильский никель"
MAGN                       ПАО "ММК"
MTLR                     ПАО "Мечел"
NLMK                      ПАО "НЛМК"
RUAL                МКПАО "ОК РУСАЛ"
TRMK                       ПАО "ТМК"
dtype: object

In [158]:
print(srs.drop(srs[1::2].index))
print(srs.drop(srs.index[1::2]))

AMEZ    ПАО "Ашинский метзавод"
CHMK                  ПАО "ЧМК"
MAGN                  ПАО "ММК"
NLMK                 ПАО "НЛМК"
TRMK                  ПАО "ТМК"
dtype: object
AMEZ    ПАО "Ашинский метзавод"
CHMK                  ПАО "ЧМК"
MAGN                  ПАО "ММК"
NLMK                 ПАО "НЛМК"
TRMK                  ПАО "ТМК"
dtype: object