In [247]:
import pandas as pd
import numpy as np

# 1.1 Структура данных Series

In [248]:
shares = {'ММК': 52.50, 'Северсталь': 1386.20, 'НЛМК': 214.20} 

ser = pd.Series(shares, index=['ММК', 'Северсталь'])

ser

ММК             52.5
Северсталь    1386.2
dtype: float64

In [249]:
ser = pd.Series(data=0, index=range(5))

ser

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [250]:
from string import ascii_lowercase

ser = pd.Series(range(1, 8), list(ascii_lowercase[0:7]))

print(ser)

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [251]:
[chr(c) for c in range(ord('a'), ord('g') + 1)]

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [252]:
d = {"Moody's": "США", "Standard & Poor's": "США", "Fitch Ratings": "США",
     "АКРА": "Россия", "Эксперт РА": "Россия", "НРА": "Россия"}
srs = pd.Series(d)
# Продолжите написание кода здесь

srs[::2]

Moody's             США
Fitch Ratings       США
Эксперт РА       Россия
dtype: object

In [253]:
d = {'BANE': 'ПАО АНК "Башнефть"', 'LKOH': 'ПАО "ЛУКОЙЛ"', 
     'NVTK': 'ПАО "НОВАТЭК"', 'ROSN': 'ПАО "НК "Роснефть"',
     'TATN': 'ПАО "Татнефть" им. В.Д.Шашина', 'TRNFL': 'ПАО "Транснефть"'}
srs = pd.Series(d)
# Продолжите написание кода здесь

tickers = ['GAZP', 'SIBN', 'SNGS']
stocks = ['ПАО "Газпром"', 'ПАО "Газпром нефть"', 'ПАО "Сургутнефтегаз"']

for i in range(len(tickers)):
    srs[tickers[i]] = stocks[i]

srs

BANE                ПАО АНК "Башнефть"
LKOH                      ПАО "ЛУКОЙЛ"
NVTK                     ПАО "НОВАТЭК"
ROSN                ПАО "НК "Роснефть"
TATN     ПАО "Татнефть" им. В.Д.Шашина
TRNFL                 ПАО "Транснефть"
GAZP                     ПАО "Газпром"
SIBN               ПАО "Газпром нефть"
SNGS              ПАО "Сургутнефтегаз"
dtype: object

In [254]:
d.update({'GAZP': 'ПАО "Газпром"', 'SIBN': 'ПАО "Газпром нефть"', 'SNGS': 'ПАО "Сургутнефтегаз"'})
srs = pd.Series(d)
srs

BANE                ПАО АНК "Башнефть"
LKOH                      ПАО "ЛУКОЙЛ"
NVTK                     ПАО "НОВАТЭК"
ROSN                ПАО "НК "Роснефть"
TATN     ПАО "Татнефть" им. В.Д.Шашина
TRNFL                 ПАО "Транснефть"
GAZP                     ПАО "Газпром"
SIBN               ПАО "Газпром нефть"
SNGS              ПАО "Сургутнефтегаз"
dtype: object

In [255]:
# Поменяйте местами колонки индексов и значений.
d = {'BSPB': 'ПАО "Банк "Санкт-Петербург"', 'CBOM': 'ПАО "МОСКОВСКИЙ КРЕДИТНЫЙ БАНК"', 
     'ROSB': 'ПАО РОСБАНК', 'SBER': 'ПАО Сбербанк',
     'USBN': 'ПАО "БАНК УРАЛСИБ"', 'VTBR': 'Банк ВТБ (ПАО)'}
srs = pd.Series(d)
srs

BSPB        ПАО "Банк "Санкт-Петербург"
CBOM    ПАО "МОСКОВСКИЙ КРЕДИТНЫЙ БАНК"
ROSB                        ПАО РОСБАНК
SBER                       ПАО Сбербанк
USBN                 ПАО "БАНК УРАЛСИБ"
VTBR                     Банк ВТБ (ПАО)
dtype: object

In [256]:
pd.Series(srs.index.values, index=srs)

ПАО "Банк "Санкт-Петербург"        BSPB
ПАО "МОСКОВСКИЙ КРЕДИТНЫЙ БАНК"    CBOM
ПАО РОСБАНК                        ROSB
ПАО Сбербанк                       SBER
ПАО "БАНК УРАЛСИБ"                 USBN
Банк ВТБ (ПАО)                     VTBR
dtype: object

In [257]:
# Удалите из серии каждое чётное значение.
d = {'AMEZ': 'ПАО "Ашинский метзавод"', 'CHMF': 'ПАО "Северсталь"', 
     'CHMK': 'ПАО "ЧМК"', 'GMKN': 'ПАО "ГМК "Норильский никель"',
     'MAGN': 'ПАО "ММК"', 'MTLR': 'ПАО "Мечел"',
     'NLMK': 'ПАО "НЛМК"', 'RUAL': 'МКПАО "ОК РУСАЛ"',
     'TRMK': 'ПАО "ТМК"'}
srs = pd.Series(d)
srs

AMEZ         ПАО "Ашинский метзавод"
CHMF                ПАО "Северсталь"
CHMK                       ПАО "ЧМК"
GMKN    ПАО "ГМК "Норильский никель"
MAGN                       ПАО "ММК"
MTLR                     ПАО "Мечел"
NLMK                      ПАО "НЛМК"
RUAL                МКПАО "ОК РУСАЛ"
TRMK                       ПАО "ТМК"
dtype: object

In [258]:
print(srs.drop(srs[1::2].index))
print(srs.drop(srs.index[1::2]))

AMEZ    ПАО "Ашинский метзавод"
CHMK                  ПАО "ЧМК"
MAGN                  ПАО "ММК"
NLMK                 ПАО "НЛМК"
TRMK                  ПАО "ТМК"
dtype: object
AMEZ    ПАО "Ашинский метзавод"
CHMK                  ПАО "ЧМК"
MAGN                  ПАО "ММК"
NLMK                 ПАО "НЛМК"
TRMK                  ПАО "ТМК"
dtype: object

In [259]:
d1 = {'2022': 1184477, '2021': 1316948, '2020': 1116969}
srs1 = pd.Series(d1, name='Выручка, в млн рублей')
d2 = {'2022': 426329, '2021': 372728, '2020': 324308}
srs2 = pd.Series(d2, name='Себестоимость реализованных металлов, в млн рублей')
d3 = {'2022': 56137, '2021': 54862, '2020': 40482}
srs3 = pd.Series(d3, name='Себестоимость прочей реализации, в млн рублей')
# Продолжите написание кода здесь
srs = pd.Series(srs1.sub(srs2 + srs3), name = 'Валовая прибыль, в млн рублей')
srs

2022    702011
2021    889358
2020    752179
Name: Валовая прибыль, в млн рублей, dtype: int64

In [260]:
# P/E = Капитализация / Чистая прибыль

# P/E является самым популярным мультипликатором, который сравнивает стоимость компании с главным итогом деятельности - чистой прибылью. 
# В классическом варианте для сравнения берутся капитализация за последний торговый день года и чистая прибыль за этот год.
# По сути, отношений цены к чистой прибыли показывает сумму в рублях, которую инвестор может инвестировать в компанию, чтобы получить один рубль прибыли этой компании.
# При сравнении двух компаний P/E показывает, насколько рубль чистой прибыли одной компании оценивается инвесторами выше, чем рубль чистой прибыли другой. 
# При прочих равных условиях интереснее та компания, у которой значение P/E меньше, а значит есть вероятность того, что она недооценена и ее акции могут расти быстрее.

In [261]:

d1 = {'ПАО "Россети"': 54_210_000_000, 'ПАО "РусГидро"': 19_325_000_000, 
      'ПАО "Юнипро"': 21_267_722_000}
srs1 = pd.Series(d1, name='Чистая прибыль за 2022 год, руб.')
d2 = {'ПАО "Россети"': 110_844_896_493.56, 'ПАО "РусГидро"': 333_200_635_086.47, 
      'ПАО "Юнипро"': 84_863_558_471.17}
srs2 = pd.Series(d2, name='Капитализация на конец 2022 года, в млн рублей')
# Продолжите написание кода здесь

srs = pd.Series(srs2.div(srs1).round(1), name='P/E 2022 год')

print(srs1, srs2, srs, sep='\n\n')

ПАО "Россети"     54210000000
ПАО "РусГидро"    19325000000
ПАО "Юнипро"      21267722000
Name: Чистая прибыль за 2022 год, руб., dtype: int64

ПАО "Россети"     1.108449e+11
ПАО "РусГидро"    3.332006e+11
ПАО "Юнипро"      8.486356e+10
Name: Капитализация на конец 2022 года, в млн рублей, dtype: float64

ПАО "Россети"      2.0
ПАО "РусГидро"    17.2
ПАО "Юнипро"       4.0
Name: P/E 2022 год, dtype: float64

In [262]:
amounts = [300_000, 200_000, 500_000, 700_000, 1_000_000]
days = [30, 60, 90, 120, 180]
rates = [10, 11, 11, 12, 14]
amounts = pd.Series(amounts, name='Сумма депозита')
days = pd.Series(days, name='Дни')
rates = pd.Series(rates, name='Ставки')
# Продолжите написание кода здесь

ser = pd.Series(amounts * (days / 365) * rates * 0.01 + amounts)
ser

0    3.024658e+05
1    2.036164e+05
2    5.135616e+05
3    7.276164e+05
4    1.069041e+06
dtype: float64

In [263]:
lst1 = ['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
        '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01',]
srs1 = pd.Series(lst1)
srs2 = pd.Series('2020-01-01', index=range(8))
# Продолжите написание кода здесь

srs1 = srs1.astype('datetime64[ns]')
srs2 = srs2.astype('datetime64[ns]')

pd.Series(srs1 - srs2, dtype='timedelta64[ns]')

0   1096 days
1   1127 days
2   1155 days
3   1186 days
4   1216 days
5   1247 days
6   1277 days
7   1308 days
dtype: timedelta64[ns]

In [264]:
# Трейдер выставил биржевые заявки на покупку акций по ценам, представленным в серии srs1. 
# Некоторые из этих заявок исполнились, и в серии srs2 находятся данные по количеству купленных ценных бумаг.

d1 = {'ПАО "Газпром"': 162.5, 'Банк ВТБ (ПАО)': 0.024, 'ПАО "Аэрофлот"': 36.5, 
      'ПАО "Магнит"': 6200, 'ПАО "Газпром нефть"': 830}
d2 = {'ПАО "Аэрофлот"': 10_000, 'Банк ВТБ (ПАО)': 10_000_000, 'ПАО "Газпром"': 1_000}
srs1 = pd.Series(d1, name='Цена в заявке на покупку, руб.')
srs2 = pd.Series(d2, name='Количество купленных акций, шт.')
# Продолжите написание кода здесь

ser1 = pd.Series(srs1 * srs2)
ser2 = pd.Series(srs1.mul(srs2, fill_value=0))

print(srs1)
print()
print(srs2)
print()
print(ser1)
print()
print(ser2)

ПАО "Газпром"           162.500
Банк ВТБ (ПАО)            0.024
ПАО "Аэрофлот"           36.500
ПАО "Магнит"           6200.000
ПАО "Газпром нефть"     830.000
Name: Цена в заявке на покупку, руб., dtype: float64

ПАО "Аэрофлот"       10000
Банк ВТБ (ПАО)    10000000
ПАО "Газпром"         1000
Name: Количество купленных акций, шт., dtype: int64

Банк ВТБ (ПАО)         240000.0
ПАО "Аэрофлот"         365000.0
ПАО "Газпром нефть"         NaN
ПАО "Газпром"          162500.0
ПАО "Магнит"                NaN
dtype: float64

Банк ВТБ (ПАО)         240000.0
ПАО "Аэрофлот"         365000.0
ПАО "Газпром нефть"         0.0
ПАО "Газпром"          162500.0
ПАО "Магнит"                0.0
dtype: float64

In [265]:
# На вход подается строка, содержащая шесть натуральных чисел, разделенных пробелами.

# На основе этих чисел создайте объект Series.
# Затем возведите в степень значения этой серии таким образом, чтобы первое значение возвелось в первую степень, 
# второе значение - во вторую степень, третье - в третью, четвертое - в четвертую, пятое - в пятую и шестое значение - в шестую степень.
# Выведите полученный объект Series на печать.

# numbers = list(map(int, input().split()))
numbers = [4, 6, 3, 5, 3, 4]

ser = pd.Series(numbers)

print(ser)
print()
print(ser ** (np.arange(len(numbers)) + 1))

0    4
1    6
2    3
3    5
4    3
5    4
dtype: int64

0       4
1      36
2      27
3     625
4     243
5    4096
dtype: int64

# 2.1 Структура данных DataFrame

In [266]:
srs1 = pd.Series([15, 20, 50], name='Количество')
srs2 = pd.Series([200, 450.5, 1800], name='Цена')
print(srs1, srs2, sep='\n\n')

df = pd.DataFrame([srs1, srs2])

display(df)

df = df.T

display(df)

0    15
1    20
2    50
Name: Количество, dtype: int64

0     200.0
1     450.5
2    1800.0
Name: Цена, dtype: float64

                0      1       2
Количество   15.0   20.0    50.0
Цена        200.0  450.5  1800.0

   Количество    Цена
0        15.0   200.0
1        20.0   450.5
2        50.0  1800.0

In [267]:
nda = np.array([[15, 200], [20, 450.5], [50, 1800]])

print(nda)

[[  15.   200. ]
 [  20.   450.5]
 [  50.  1800. ]]

In [268]:
df = pd.DataFrame(nda, columns=['Количество', 'Цена'])

display(df)

   Количество    Цена
0        15.0   200.0
1        20.0   450.5
2        50.0  1800.0

In [269]:
car_sales_values = [['TOYOTA', 'VOLKSWAGEN GROUP', 'GENERAL MOTORS', 'STELLANTIS', 'FORD', 'HONDA', 
              'NISSAN', 'BMW', 'MERCEDES', 'TESLA'],
             [10_483_000, 8_300_000, 5_900_000, 5_800_000, 4_231_000, 4_074_000, 3_225_549,
              2_399_636, 2_043_900, 1_310_000],
             [1_940_000, 3_200_000, 2_300_000, 94_000, 495_000, 1_579_000, 1_045_197,
              791_985, 751_700, 439_770],
             [18.51, 38.55, 38.98, 1.62, 11.7, 38.76, 32.4, 33.0, 36.78, 33.57]]
car_sales_columns = ['Автопроизводитель', 'Продано по всему миру в 1 полугодии 2023', 'Продано в Китае', '%']
car_sales = pd.DataFrame(car_sales_values)
display(car_sales)

,0,1,2,3,4,5,6,7,8,9
0,TOYOTA,VOLKSWAGEN GROUP,GENERAL MOTORS,STELLANTIS,FORD,HONDA,NISSAN,BMW,MERCEDES,TESLA
1,10483000,8300000,5900000,5800000,4231000,4074000,3225549,2399636,2043900,1310000
2,1940000,3200000,2300000,94000,495000,1579000,1045197,791985,751700,439770
3,18.51,38.55,38.98,1.62,11.7,38.76,32.4,33.0,36.78,33.57

In [270]:
moscow_exchange_values = [['2023-03-01', 2279.65, 2258.89, 2287.48, 2255.45, 1.18],
       ['2023-03-02', 2254.3, 2284.87, 2286.27, 2235.43, -1.11],
       ['2023-03-03', 2272.2, 2250.12, 2273.52, 2249.81, 0.79],
       ['2023-03-06', 2294.12, 2286.2, 2297.86, 2283.4, 0.96],
       ['2023-03-07', 2295.6, 2294.32, 2298.93, 2281.46, 0.06],
       ['2023-03-09', 2290.14, 2295.03, 2302.1, 2278.95, -0.24],
       ['2023-03-10', 2276.25, 2272.61, 2283.18, 2266.33, -0.61]]
moscow_exchange_columns = ['Дата', 'Цена', 'Откр.', 'Макс.', 'Мин.', 'Изм. %']
moex = pd.DataFrame(moscow_exchange_values, columns=moscow_exchange_columns)  
# Продолжите написание кода здесь

moex.columns = list(i.lower() for i in moex.columns)

In [271]:
# Добавление нового столбца в датафрейм

brent_values = [['20231002', 92.47, 90.48], ['20231003', 90.48, 91.1],
                ['20231004', 91.1, 86.09], ['20231005', 86.09, 84.18],
                ['20231006', 84.18, 84.47], ['20231008', 84.43, 87.37],
                ['20231009', 87.38, 88.25], ['20231010', 88.25, 87.72],
                ['20231011', 87.72, 85.54], ['20231012', 85.54, 86.26],
                ['20231013', 86.26, 90.94]]
brent_columns = ['date', 'open', 'close']
brent = pd.DataFrame(brent_values, columns=brent_columns)

# Данные для нового
brent_low = pd.Series([90.35, 89.5, 85.75, 83.84, 83.44, 84.43, 86.42, 86.91, 85.21, 85.18, 86.26])

brent['date'] = brent['date'].astype('datetime64[ns]')

display(brent)

         date   open  close
0  2023-10-02  92.47  90.48
1  2023-10-03  90.48  91.10
2  2023-10-04  91.10  86.09
3  2023-10-05  86.09  84.18
4  2023-10-06  84.18  84.47
5  2023-10-08  84.43  87.37
6  2023-10-09  87.38  88.25
7  2023-10-10  88.25  87.72
8  2023-10-11  87.72  85.54
9  2023-10-12  85.54  86.26
10 2023-10-13  86.26  90.94

In [272]:
# Вставка колонки по индексу
brent.insert(loc=1, column='low', value=brent_low)

display(brent)

         date    low   open  close
0  2023-10-02  90.35  92.47  90.48
1  2023-10-03  89.50  90.48  91.10
2  2023-10-04  85.75  91.10  86.09
3  2023-10-05  83.84  86.09  84.18
4  2023-10-06  83.44  84.18  84.47
5  2023-10-08  84.43  84.43  87.37
6  2023-10-09  86.42  87.38  88.25
7  2023-10-10  86.91  88.25  87.72
8  2023-10-11  85.21  87.72  85.54
9  2023-10-12  85.18  85.54  86.26
10 2023-10-13  86.26  86.26  90.94

In [273]:
# Изменить порядок расположения элементов датафрейма на противоположный:
brent = brent[::-1]
display(brent)

         date    low   open  close
10 2023-10-13  86.26  86.26  90.94
9  2023-10-12  85.18  85.54  86.26
8  2023-10-11  85.21  87.72  85.54
7  2023-10-10  86.91  88.25  87.72
6  2023-10-09  86.42  87.38  88.25
5  2023-10-08  84.43  84.43  87.37
4  2023-10-06  83.44  84.18  84.47
3  2023-10-05  83.84  86.09  84.18
2  2023-10-04  85.75  91.10  86.09
1  2023-10-03  89.50  90.48  91.10
0  2023-10-02  90.35  92.47  90.48

In [274]:
brent.reset_index(drop=True, inplace=True)

display(brent)

         date    low   open  close
0  2023-10-13  86.26  86.26  90.94
1  2023-10-12  85.18  85.54  86.26
2  2023-10-11  85.21  87.72  85.54
3  2023-10-10  86.91  88.25  87.72
4  2023-10-09  86.42  87.38  88.25
5  2023-10-08  84.43  84.43  87.37
6  2023-10-06  83.44  84.18  84.47
7  2023-10-05  83.84  86.09  84.18
8  2023-10-04  85.75  91.10  86.09
9  2023-10-03  89.50  90.48  91.10
10 2023-10-02  90.35  92.47  90.48

In [275]:
# Изменить порядок столбцов
brent = brent[brent.columns[::-1]]
brent

    close   open    low       date
0   90.94  86.26  86.26 2023-10-13
1   86.26  85.54  85.18 2023-10-12
2   85.54  87.72  85.21 2023-10-11
3   87.72  88.25  86.91 2023-10-10
4   88.25  87.38  86.42 2023-10-09
5   87.37  84.43  84.43 2023-10-08
6   84.47  84.18  83.44 2023-10-06
7   84.18  86.09  83.84 2023-10-05
8   86.09  91.10  85.75 2023-10-04
9   91.10  90.48  89.50 2023-10-03
10  90.48  92.47  90.35 2023-10-02

In [276]:
# Параметр mapper метода rename()

brent_values = [['20231002', 92.47, 90.48], ['20231003', 90.48, 91.1],
                ['20231004', 91.1, 86.09], ['20231005', 86.09, 84.18],
                ['20231006', 84.18, 84.47], ['20231008', 84.43, 87.37],
                ['20231009', 87.38, 88.25], ['20231010', 88.25, 87.72],
                ['20231011', 87.72, 85.54], ['20231012', 85.54, 86.26],
                ['20231013', 86.26, 90.94]]
brent_columns = ['date', 'open', 'close']
brent = pd.DataFrame(brent_values, columns=brent_columns)

# Данные для нового
brent_low = pd.Series([90.35, 89.5, 85.75, 83.84, 83.44, 84.43, 86.42, 86.91, 85.21, 85.18, 86.26])

brent['date'] = brent['date'].astype('datetime64[ns]')

display(brent)

         date   open  close
0  2023-10-02  92.47  90.48
1  2023-10-03  90.48  91.10
2  2023-10-04  91.10  86.09
3  2023-10-05  86.09  84.18
4  2023-10-06  84.18  84.47
5  2023-10-08  84.43  87.37
6  2023-10-09  87.38  88.25
7  2023-10-10  88.25  87.72
8  2023-10-11  87.72  85.54
9  2023-10-12  85.54  86.26
10 2023-10-13  86.26  90.94

In [277]:
brent.rename(str.lower, axis='columns', inplace=True)
brent

         date   open  close
0  2023-10-02  92.47  90.48
1  2023-10-03  90.48  91.10
2  2023-10-04  91.10  86.09
3  2023-10-05  86.09  84.18
4  2023-10-06  84.18  84.47
5  2023-10-08  84.43  87.37
6  2023-10-09  87.38  88.25
7  2023-10-10  88.25  87.72
8  2023-10-11  87.72  85.54
9  2023-10-12  85.54  86.26
10 2023-10-13  86.26  90.94

In [278]:
brent.rename(mapper=str.upper, axis=1, inplace=True)
brent

         DATE   OPEN  CLOSE
0  2023-10-02  92.47  90.48
1  2023-10-03  90.48  91.10
2  2023-10-04  91.10  86.09
3  2023-10-05  86.09  84.18
4  2023-10-06  84.18  84.47
5  2023-10-08  84.43  87.37
6  2023-10-09  87.38  88.25
7  2023-10-10  88.25  87.72
8  2023-10-11  87.72  85.54
9  2023-10-12  85.54  86.26
10 2023-10-13  86.26  90.94

In [279]:
brent.rename(lambda x: x+21, axis=0, inplace=True)

display(brent)

         DATE   OPEN  CLOSE
21 2023-10-02  92.47  90.48
22 2023-10-03  90.48  91.10
23 2023-10-04  91.10  86.09
24 2023-10-05  86.09  84.18
25 2023-10-06  84.18  84.47
26 2023-10-08  84.43  87.37
27 2023-10-09  87.38  88.25
28 2023-10-10  88.25  87.72
29 2023-10-11  87.72  85.54
30 2023-10-12  85.54  86.26
31 2023-10-13  86.26  90.94

# Методы add_prefix() и add_suffix()

In [280]:
brent_values = [['20231002', 92.47, 90.48], ['20231003', 90.48, 91.1],
                ['20231004', 91.1, 86.09], ['20231005', 86.09, 84.18],
                ['20231006', 84.18, 84.47], ['20231008', 84.43, 87.37],
                ['20231009', 87.38, 88.25], ['20231010', 88.25, 87.72],
                ['20231011', 87.72, 85.54], ['20231012', 85.54, 86.26],
                ['20231013', 86.26, 90.94]]
brent_columns = ['date', 'open', 'close']
brent = pd.DataFrame(brent_values, columns=brent_columns)

# Данные для нового
brent_low = pd.Series([90.35, 89.5, 85.75, 83.84, 83.44, 84.43, 86.42, 86.91, 85.21, 85.18, 86.26])

brent['date'] = brent['date'].astype('datetime64[ns]')

display(brent)

         date   open  close
0  2023-10-02  92.47  90.48
1  2023-10-03  90.48  91.10
2  2023-10-04  91.10  86.09
3  2023-10-05  86.09  84.18
4  2023-10-06  84.18  84.47
5  2023-10-08  84.43  87.37
6  2023-10-09  87.38  88.25
7  2023-10-10  88.25  87.72
8  2023-10-11  87.72  85.54
9  2023-10-12  85.54  86.26
10 2023-10-13  86.26  90.94

In [281]:
brent.add_prefix('brent_')

   brent_date  brent_open  brent_close
0  2023-10-02       92.47        90.48
1  2023-10-03       90.48        91.10
2  2023-10-04       91.10        86.09
3  2023-10-05       86.09        84.18
4  2023-10-06       84.18        84.47
5  2023-10-08       84.43        87.37
6  2023-10-09       87.38        88.25
7  2023-10-10       88.25        87.72
8  2023-10-11       87.72        85.54
9  2023-10-12       85.54        86.26
10 2023-10-13       86.26        90.94

In [282]:
brent.add_suffix('_brent')

   date_brent  open_brent  close_brent
0  2023-10-02       92.47        90.48
1  2023-10-03       90.48        91.10
2  2023-10-04       91.10        86.09
3  2023-10-05       86.09        84.18
4  2023-10-06       84.18        84.47
5  2023-10-08       84.43        87.37
6  2023-10-09       87.38        88.25
7  2023-10-10       88.25        87.72
8  2023-10-11       87.72        85.54
9  2023-10-12       85.54        86.26
10 2023-10-13       86.26        90.94

In [283]:
brent.add_prefix('asd_', axis=0)

             date   open  close
asd_0  2023-10-02  92.47  90.48
asd_1  2023-10-03  90.48  91.10
asd_2  2023-10-04  91.10  86.09
asd_3  2023-10-05  86.09  84.18
asd_4  2023-10-06  84.18  84.47
asd_5  2023-10-08  84.43  87.37
asd_6  2023-10-09  87.38  88.25
asd_7  2023-10-10  88.25  87.72
asd_8  2023-10-11  87.72  85.54
asd_9  2023-10-12  85.54  86.26
asd_10 2023-10-13  86.26  90.94

In [284]:
brent = brent.set_index('date')

brent.T

date,2023-10-02,2023-10-03,2023-10-04,2023-10-05,2023-10-06,2023-10-08,2023-10-09,2023-10-10,2023-10-11,2023-10-12,2023-10-13
open,92.47,90.48,91.10,86.09,84.18,84.43,87.38,88.25,87.72,85.54,86.26
close,90.48,91.10,86.09,84.18,84.47,87.37,88.25,87.72,85.54,86.26,90.94

# 2.3 Доступ к данным

In [285]:
data = [['2023-06-01',122.820000,124.419998,122.620003,123.720001],
['2023-06-02',123.989998,126.150002,123.760002,124.669998],
['2023-06-05',124.010002,127.430000,123.839996,126.010002],
['2023-06-06',126.010002,128.289993,125.360001,127.309998],
['2023-06-07',126.970001,129.039993,122.120003,122.500000],
['2023-06-08',122.230003,123.230003,121.239998,122.139999],
['2023-06-09',122.250000,123.760002,121.910004,122.230003],
['2023-06-12',122.790001,124.050003,121.660004,123.639999],
['2023-06-13',124.980003,125.160004,123.180000,123.830002],
['2023-06-14',123.099998,124.050003,121.449997,123.669998],
['2023-06-15',123.139999,125.459999,122.400002,125.089996],
['2023-06-16',125.930000,126.110001,123.279999,123.529999]]
col = ['date','open','high','low','close']

google = pd.DataFrame(data, columns=col)
google['date'] = pd.to_datetime(google['date'])

google

         date        open        high         low       close
0  2023-06-01  122.820000  124.419998  122.620003  123.720001
1  2023-06-02  123.989998  126.150002  123.760002  124.669998
2  2023-06-05  124.010002  127.430000  123.839996  126.010002
3  2023-06-06  126.010002  128.289993  125.360001  127.309998
4  2023-06-07  126.970001  129.039993  122.120003  122.500000
5  2023-06-08  122.230003  123.230003  121.239998  122.139999
6  2023-06-09  122.250000  123.760002  121.910004  122.230003
7  2023-06-12  122.790001  124.050003  121.660004  123.639999
8  2023-06-13  124.980003  125.160004  123.180000  123.830002
9  2023-06-14  123.099998  124.050003  121.449997  123.669998
10 2023-06-15  123.139999  125.459999  122.400002  125.089996
11 2023-06-16  125.930000  126.110001  123.279999  123.529999

In [286]:
gold_values = [['J2TX.ALLFUTGOLD', 'M', '20220101', 0, 1830.1, 1854.2, 1778.8, 1800.0, 3141758],
               ['J2TX.ALLFUTGOLD', 'M', '20220201', 0, 1800.1, 1976.5, 1788.5, 1907.3, 3667293],
               ['J2TX.ALLFUTGOLD', 'M', '20220301', 0, 1907.3, 2078.8, 1888.3, 1943.1, 3779219],
               ['J2TX.ALLFUTGOLD', 'M', '20220401', 0, 1943.0, 2003.0, 1870.9, 1896.9, 2922701],
               ['J2TX.ALLFUTGOLD', 'M', '20220501', 0, 1896.2, 1910.7, 1785.0, 1839.0, 2807625],
               ['J2TX.ALLFUTGOLD', 'M', '20220601', 0, 1838.9, 1882.5, 1801.1, 1801.5, 3045238],
               ['J2TX.ALLFUTGOLD', 'M', '20220701', 0, 1801.5, 1815.2, 1678.4, 1778.0, 2814156],
               ['J2TX.ALLFUTGOLD', 'M', '20220801', 0, 1777.9, 1824.6, 1713.0, 1715.2, 3019818],
               ['J2TX.ALLFUTGOLD', 'M', '20220901', 0, 1715.4, 1746.4, 1622.2, 1668.3, 3896802],
               ['J2TX.ALLFUTGOLD', 'M', '20221001', 0, 1670.5, 1738.7, 1621.1, 1640.4, 3449294],
               ['J2TX.ALLFUTGOLD', 'M', '20221101', 0, 1640.5, 1793.8, 1618.3, 1793.4, 3360941],
               ['J2TX.ALLFUTGOLD', 'M', '20221201', 0, 1793.3, 1841.9, 1778.1, 1830.1, 2841688],
               ['J2TX.ALLFUTGOLD', 'M', '20230101', 0, 1831.8, 1949.8, 1829.9, 1941.4, 3160947]]
gold_columns = ['<TICKER>', '<PER>', '<DATE>', '<TIME>', '<OPEN>', '<HIGH>', '<LOW>', '<CLOSE>', '<VOL>']
gold = pd.DataFrame(gold_values, columns=gold_columns)
# Продолжите написание кода здесь

print(gold[['<DATE>', '<CLOSE>']])

      <DATE>  <CLOSE>
0   20220101   1800.0
1   20220201   1907.3
2   20220301   1943.1
3   20220401   1896.9
4   20220501   1839.0
5   20220601   1801.5
6   20220701   1778.0
7   20220801   1715.2
8   20220901   1668.3
9   20221001   1640.4
10  20221101   1793.4
11  20221201   1830.1
12  20230101   1941.4

In [287]:
moscow_exchange_values = [['2023-03-10', 2276.25, 2272.61, 2283.18, 2266.33, -0.61],
       ['2023-03-09', 2290.14, 2295.03, 2302.1, 2278.95, -0.24],
       ['2023-03-07', 2295.6, 2294.32, 2298.93, 2281.46, 0.06],
       ['2023-03-06', 2294.12, 2286.2, 2297.86, 2283.4, 0.96],
       ['2023-03-03', 2272.2, 2250.12, 2273.52, 2249.81, 0.79],
       ['2023-03-02', 2254.3, 2284.87, 2286.27, 2235.43, -1.11],
       ['2023-03-01', 2279.65, 2258.89, 2287.48, 2255.45, 1.18]]
moscow_exchange_columns = ['Дата', 'Цена', 'Откр.', 'Макс.', 'Мин.', 'Изм. %']
moex = pd.DataFrame(moscow_exchange_values, columns=moscow_exchange_columns)  
# Продолжите написание кода здесь

moex = moex[::-1].reset_index().drop('index', axis=1)
moex

         Дата     Цена    Откр.    Макс.     Мин.  Изм. %
0  2023-03-01  2279.65  2258.89  2287.48  2255.45    1.18
1  2023-03-02  2254.30  2284.87  2286.27  2235.43   -1.11
2  2023-03-03  2272.20  2250.12  2273.52  2249.81    0.79
3  2023-03-06  2294.12  2286.20  2297.86  2283.40    0.96
4  2023-03-07  2295.60  2294.32  2298.93  2281.46    0.06
5  2023-03-09  2290.14  2295.03  2302.10  2278.95   -0.24
6  2023-03-10  2276.25  2272.61  2283.18  2266.33   -0.61

# 2.4 loc

In [288]:
# Сделайте столбец 'Дата' индексом.
# Транспонируйте датафрейм.
# Выведите на печать данные из столбца '2023-03-01' в виде объекта Series.
# Распечатайте пустую строку. 
# Выведите на печать данные по двум столбцам '2023-03-01' и '2023-03-06'.

moscow_exchange_values = [['2023-03-01', 2279.65, 2258.89, 2287.48, 2255.45, 1.18],
       ['2023-03-02', 2254.3, 2284.87, 2286.27, 2235.43, -1.11],
       ['2023-03-03', 2272.2, 2250.12, 2273.52, 2249.81, 0.79],
       ['2023-03-06', 2294.12, 2286.2, 2297.86, 2283.4, 0.96],
       ['2023-03-07', 2295.6, 2294.32, 2298.93, 2281.46, 0.06],
       ['2023-03-09', 2290.14, 2295.03, 2302.1, 2278.95, -0.24],
       ['2023-03-10', 2276.25, 2272.61, 2283.18, 2266.33, -0.61]]
moscow_exchange_columns = ['Дата', 'Цена', 'Откр.', 'Макс.', 'Мин.', 'Изм. %']
moex = pd.DataFrame(moscow_exchange_values, columns=moscow_exchange_columns)  
# Продолжите написание кода здесь

moex = moex.set_index('Дата').T
print(moex['2023-03-01'])
print()
print(moex.loc[:,['2023-03-01', '2023-03-06']])

Цена      2279.65
Откр.     2258.89
Макс.     2287.48
Мин.      2255.45
Изм. %       1.18
Name: 2023-03-01, dtype: float64

Дата    2023-03-01  2023-03-06
Цена       2279.65     2294.12
Откр.      2258.89     2286.20
Макс.      2287.48     2297.86
Мин.       2255.45     2283.40
Изм. %        1.18        0.96

In [289]:
# Создайте датафрейм, содержащий показатели за 2022 год, и в котором будут только два столбца - 'Дата выпуска' и 'Факт.'.
# "Переверните" датафрейм, чтобы показатели начинались с января 2022 г.
# Индексация должна идти с нуля.
# Выведите итоговый датафрейм на печать.

pmi_services_germany_values = [['05.07.2023 (июнь)', 54.1, 54.1, 57.2],
       ['05.06.2023 (май)', 57.2, 57.8, 56.0], ['04.05.2023 (апр)', 56.0, 55.7, 53.7],
       ['05.04.2023 (мар)', 53.7, 53.9, 50.9], ['03.03.2023 (фев)', 50.9, 51.3, 50.7],
       ['03.02.2023 (янв)', 50.7, 50.4, 49.2], ['04.01.2023 (дек)', 49.2, 49.0, 46.1],
       ['05.12.2022 (нояб)', 46.1, 46.4, 46.5], ['04.11.2022 (окт)', 46.5, 44.9, 45.0],
       ['05.10.2022 (сент)', 45.0, 45.4, 47.7], ['05.09.2022 (авг)', 47.7, 48.2, 49.7],
       ['03.08.2022 (июль)', 49.7, 49.2, 52.4], ['05.07.2022 (июнь)', 52.4, 52.4, 55.0],
       ['03.06.2022 (май)', 55.0, 56.3, 56.3], ['04.05.2022 (апр)', 57.6, 57.9, 56.1],
       ['05.04.2022 (мар)', 56.1, 55.0, 55.8], ['03.03.2022 (фев)', 55.8, 56.6, 52.2],
       ['03.02.2022 (янв)', 52.2, 52.2, 48.7], ['05.01.2022 (дек)', 48.7, 48.4, 52.7],
       ['03.12.2021 (нояб)', 52.7, 53.4, 52.4], ['04.11.2021 (окт)', 52.4, 52.4, 56.2],
       ['05.10.2021 (сент)', 56.2, 56.0, 60.8], ['03.09.2021 (авг)', 60.8, 61.5, 61.8],
       ['04.08.2021 (июль)', 61.8, 62.2, 57.5], ['05.07.2021 (июнь)', 57.5, 58.1, 52.8],
       ['03.06.2021 (май)', 52.8, 52.8, 52.8], ['05.05.2021 (апр)', 49.9, 50.1, 51.5],
       ['07.04.2021 (мар)', 51.5, 50.8, 45.7], ['03.03.2021 (фев)', 45.7, 45.9, 46.7],
       ['03.02.2021 (янв)', 46.7, 46.8, 46.8]]
pmi_services_germany_columns = ['Дата выпуска', 'Факт.', 'Прогноз', 'Пред.']
pmi_services_germany = pd.DataFrame(pmi_services_germany_values, 
                                        columns=pmi_services_germany_columns)
# Продолжите написание кода здесь
pmi_services_germany = pmi_services_germany.loc[6:17, ['Дата выпуска', 'Факт.']][::-1].reset_index(drop='index')
pmi_services_germany

         Дата выпуска  Факт.
0    03.02.2022 (янв)   52.2
1    03.03.2022 (фев)   55.8
2    05.04.2022 (мар)   56.1
3    04.05.2022 (апр)   57.6
4    03.06.2022 (май)   55.0
5   05.07.2022 (июнь)   52.4
6   03.08.2022 (июль)   49.7
7    05.09.2022 (авг)   47.7
8   05.10.2022 (сент)   45.0
9    04.11.2022 (окт)   46.5
10  05.12.2022 (нояб)   46.1
11   04.01.2023 (дек)   49.2

In [290]:
# Используя loc добавьте новую строчку в конец датафрейма, содержащую следующие данные: 
# 'Golden Silver Bank', 500_000_000, 8.20, 'O/N'. Выведите итоговый датафрейм на печать.

depo_values = [['New Energy Bank', 1_000_000_000, 8.30, 'O/N'],
               ['AgroFoodBank', 5_000_000_000, 8.50, '1W'],
               ['First Ecologic Bank', 4_500_000_000, 8.60, '1M'],
               ['Cryptocurrencybank', 2_700_000_000, 8.30, 'O/N'],
               ['GreenEnergyBank', 1_800_000_000, 8.35, 'O/N'],
               ['ClearWaterBank', 3_000_000_000, 8.40, 'O/N'],
               ['First Ecologic Bank', 3_000_000_000, 8.41, 'O/N'],
               ['Cryptocurrencybank', 7_500_000_000, 8.50, 'O/N'],
               ['Golden Silver Bank', 2_500_000_000, 8.65, '1M'],
               ['New Energy Bank', 2_000_000_000, 8.45, '1W'],
               ['AgroFoodBank', 700_000_000, 8.25, 'O/N'],
               ['Golden Silver Bank', 4_300_000_000, 8.40, 'O/N'],
               ['New Energy Bank', 4_000_000_000, 8.80, '3M']]
depo_columns = ['Банк', 'Сумма, руб.', 'Ставка', 'Срок']
depo = pd.DataFrame(depo_values, columns=depo_columns)
# Продолжите написание кода здесь

depo.loc[len(depo)] = ['Golden Silver Bank', 500_000_000, 8.20, 'O/N']
depo

                   Банк  Сумма, руб.  Ставка Срок
0       New Energy Bank   1000000000    8.30  O/N
1          AgroFoodBank   5000000000    8.50   1W
2   First Ecologic Bank   4500000000    8.60   1M
3    Cryptocurrencybank   2700000000    8.30  O/N
4       GreenEnergyBank   1800000000    8.35  O/N
5        ClearWaterBank   3000000000    8.40  O/N
6   First Ecologic Bank   3000000000    8.41  O/N
7    Cryptocurrencybank   7500000000    8.50  O/N
8    Golden Silver Bank   2500000000    8.65   1M
9       New Energy Bank   2000000000    8.45   1W
10         AgroFoodBank    700000000    8.25  O/N
11   Golden Silver Bank   4300000000    8.40  O/N
12      New Energy Bank   4000000000    8.80   3M
13   Golden Silver Bank    500000000    8.20  O/N

# 2.5 iloc

In [291]:
df = depo[0:9]
depo.iloc[0:3]

                  Банк  Сумма, руб.  Ставка Срок
0      New Energy Bank   1000000000     8.3  O/N
1         AgroFoodBank   5000000000     8.5   1W
2  First Ecologic Bank   4500000000     8.6   1M

In [292]:
# Каждая пятая строчка
df[::5]
df.loc[[0,5]]
df.loc[::5]
df.iloc[[0,5]]
df.iloc[::5]

              Банк  Сумма, руб.  Ставка Срок
0  New Energy Bank   1000000000     8.3  O/N
5   ClearWaterBank   3000000000     8.4  O/N

# 2.6 Методы filter, isin, where, query

In [293]:
df_values = [['03.11.2023', 7095.0, 7095.0, 7184.4, 7175.1, 7095.0, '+1.13%'],
       ['03.11.2023', 115062.37, 115062.37, 118501.8, 118159.97, 115052.96, '+2.70%'],
       ['03.11.2023', 7084.51, 7046.86, 7086.71, 7047.5, 7060.69, '−0.19%'],
       ['03.11.2023', 15143.6, 15143.6, 15269.37, 15189.25, 15143.6, '+0.30%'],
       ['03.11.2023', 11179.44, 11176.62, 11238.28, 11200.66, 11093.75, '+0.96%'],
       ['03.11.2023', 33988.83, 33946.6, 34163.63, 34061.32, 33839.08, '+0.66%'],
       ['03.11.2023', 125.78, 125.6, 126.81, 125.9, 125.02, '+0.70%'],
       ['03.11.2023', 14448.01, 14435.63, 14554.87, 14512.76, 14285.46, '+1.59%'],
       ['03.11.2023', 864.51, 859.83, 869.8, 860.05, 850.92, '+1.07%'],
       ['03.11.2023', 7448.9, 7396.96, 7482.24, 7417.73, 7446.53, '−0.39%'],
       ['03.11.2023', 17405.91, 17352.6, 17723.94, 17664.12, 17230.59, '+2.52%'],
       ['03.11.2023', 9260.4, 9250.1, 9339.6, 9293.9, 9260.4, '+0.36%'],
       ['03.11.2023', 14979.4674, 14968.1817, 15149.3298, 15099.4915, 14919.5453, '+1.21%'],
       ['03.11.2023', 13357.757, 13347.4836, 13519.9508, 13478.2828, 13294.1905, '+1.38%'],
       ['03.11.2023', 2044.48, 2044.48, 2061.0, 2054.88, 2039.06, '+0.78%'],
       ['03.11.2023', 4334.23, 4334.23, 4373.62, 4358.34, 4317.78, '+0.94%'],
       ['03.11.2023', 64444.9, 64289.05, 64532.88, 64363.78, 64080.9, '+0.44%'],
       ['03.11.2023', 3009.4058, 3009.4058, 3040.8878, 3030.7977, 3009.4058, '+0.71%']]
df_columns = ['дата', 'откр', 'мин', 'макс', 'закр', 'пред закр', 'изм %']
df_index = ['ASX Australia', 'BOVESPA Brazil', 'CAC 40', 'DAX 30', 'DJ Composite',
       'DJ Industrial', 'DJ Telecommunications', 'DJ Transport',
       'DJ Utilities', 'FTSE 100', 'Hang Seng', 'IBEX Spain', 'NASDAQ 100',
       'NASDAQ Comp', 'S&P 100', 'S&P 500', 'SENSEX India', 'Shanghai Composite']
df = pd.DataFrame(df_values, columns=df_columns, index=df_index)
df.index.name = 'биржевой индекс'

display(df)

,дата,откр,мин,макс,закр,пред закр,изм %
биржевой индекс,,,,,,,
ASX Australia,03.11.2023,7095.0000,7095.0000,7184.4000,7175.1000,7095.0000,+1.13%
BOVESPA Brazil,03.11.2023,115062.3700,115062.3700,118501.8000,118159.9700,115052.9600,+2.70%
CAC 40,03.11.2023,7084.5100,7046.8600,7086.7100,7047.5000,7060.6900,−0.19%
DAX 30,03.11.2023,15143.6000,15143.6000,15269.3700,15189.2500,15143.6000,+0.30%
DJ Composite,03.11.2023,11179.4400,11176.6200,11238.2800,11200.6600,11093.7500,+0.96%
DJ Industrial,03.11.2023,33988.8300,33946.6000,34163.6300,34061.3200,33839.0800,+0.66%
DJ Telecommunications,03.11.2023,125.7800,125.6000,126.8100,125.9000,125.0200,+0.70%
DJ Transport,03.11.2023,14448.0100,14435.6300,14554.8700,14512.7600,14285.4600,+1.59%
DJ Utilities,03.11.2023,864.5100,859.8300,869.8000,860.0500,850.9200,+1.07%
FTSE 100,03.11.2023,7448.9000,7396.9600,7482.2400,7417.7300,7446.5300,−0.39%
Hang Seng,03.11.2023,17405.9100,17352.6000,17723.9400,17664.1200,17230.5900,+2.52%
IBEX Spain,03.11.2023,9260.4000,9250.1000,9339.6000,9293.9000,9260.4000,+0.36%
NASDAQ 100,03.11.2023,14979.4674,14968.1817,15149.3298,15099.4915,14919.5453,+1.21%
NASDAQ Comp,03.11.2023,13357.7570,13347.4836,13519.9508,13478.2828,13294.1905,+1.38%
S&P 100,03.11.2023,2044.4800,2044.4800,2061.0000,2054.8800,2039.0600,+0.78%
S&P 500,03.11.2023,4334.2300,4334.2300,4373.6200,4358.3400,4317.7800,+0.94%
SENSEX India,03.11.2023,64444.9000,64289.0500,64532.8800,64363.7800,64080.9000,+0.44%
Shanghai Composite,03.11.2023,3009.4058,3009.4058,3040.8878,3030.7977,3009.4058,+0.71%

In [294]:
df_values = [['S&P 500', 'Dec 01, 2023', '4,559.43', '4,594.63'],
       ['NASDAQ Composite', 'Dec 01, 2023', '14,181.35', '14,305.03'],
       ['Dow Jones Industrial Average', 'Dec 01, 2023', '35,914.45', '36,245.50'],
       ['S&P 500', 'Nov 30, 2023', '4,554.87', '4,567.80'],
       ['NASDAQ Composite', 'Nov 30, 2023', '14,265.05', '14,226.22'],
       ['Dow Jones Industrial Average', 'Nov 30, 2023', '35,596.57', '35,950.89'],
       ['S&P 500', 'Nov 29, 2023', '4,571.84', '4,550.58'],
       ['NASDAQ Composite', 'Nov 29, 2023', '14,367.11', '14,258.49'],
       ['Dow Jones Industrial Average', 'Nov 29, 2023', '35,436.80', '35,430.42'],
       ['S&P 500', 'Nov 28, 2023', '4,545.55', '4,554.89'],
       ['NASDAQ Composite', 'Nov 28, 2023', '14,224.63', '14,281.76'],
       ['Dow Jones Industrial Average', 'Nov 28, 2023', '35,332.13', '35,416.98'],
       ['S&P 500', 'Nov 27, 2023', '4,554.86', '4,550.43'],
       ['NASDAQ Composite', 'Nov 27, 2023', '14,239.31', '14,241.02'],
       ['Dow Jones Industrial Average', 'Nov 27, 2023', '35,376.44', '35,333.47']]
df_columns = ['Exchange Index', 'Date', 'Open', 'Close']
df = pd.DataFrame(df_values, columns=df_columns)
df.set_index('Exchange Index', inplace=True)
# Продолжите написание кода здесь

df[df['Date'].isin(['Nov 29, 2023'])]

                                      Date       Open      Close
Exchange Index
S&P 500                       Nov 29, 2023   4,571.84   4,550.58
NASDAQ Composite              Nov 29, 2023  14,367.11  14,258.49
Dow Jones Industrial Average  Nov 29, 2023  35,436.80  35,430.42

In [295]:
# Выведите на печать датафрейм, содержащий данные только за 29 ноября 2023 г. и отсортируйте колонку индекса по алфавиту.

df.query('Date == "Nov 29, 2023"').sort_index()

                                      Date       Open      Close
Exchange Index
Dow Jones Industrial Average  Nov 29, 2023  35,436.80  35,430.42
NASDAQ Composite              Nov 29, 2023  14,367.11  14,258.49
S&P 500                       Nov 29, 2023   4,571.84   4,550.58

In [296]:
df_values = [['AMEZ', 'ПАО "Ашинский метзавод"', 'ао', 51480414016, 'металлургия'],
       ['BSPB', 'ПАО "Банк "Санкт-Петербург"', 'ао', 134333130048, 'банк'],
       ['BSPBP', 'ПАО "Банк "Санкт-Петербург"', 'ап', 1234140000, 'банк'],
       ['CHMF', 'ПАО "Северсталь"', 'ао', 1147004389272, 'металлургия'],
       ['CHMK', 'ПАО "ЧМК"', 'ао', 35398198175, 'металлургия'],
       ['GMKN', 'ПАО "ГМК "Норильский никель"', 'ао', 2474552670636, 'металлургия'],
       ['MAGN', 'ПАО "ММК"', 'ао', 583970485800, 'металлургия'],
       ['MTLR', 'ПАО "Мечел"', 'ао', 85098228400, 'металлургия'],
       ['MTLRP', 'ПАО "Мечел"', 'ап', 31456192630, 'металлургия'],
       ['NLMK', 'ПАО "НЛМК"', 'ао', 1255940700414, 'металлургия'],
       ['ROSB', 'ПАО РОСБАНК', 'ао', 158242989006, 'банк'],
       ['RUAL', 'МКПАО "ОК РУСАЛ"', 'ао', 626180107537, 'металлургия'],
       ['SBER', 'ПАО Сбербанк', 'ао', 5628796691000, 'банк'],
       ['SBERP', 'ПАО Сбербанк', 'ап', 260380000000, 'банк'],
       ['TRMK', 'ПАО "ТМК"', 'ао', 229500690203, 'металлургия'],
       ['USBN', 'ПАО "БАНК УРАЛСИБ"', 'ао', 71090589258, 'банк'],
       ['VTBR', 'Банк ВТБ (ПАО)', 'ао', 693929707327, 'банк']]
df_columns = ['Торговый код', 'Эмитент', 'Тип',
              'Капитализация, руб.', 'Отрасль']
df = pd.DataFrame(df_values, columns=df_columns)

In [297]:
#  Замените в столбце 'Отрасль' значения: 'металлургия' на 'М', 'банк' на 'Б'. Выведите на печать итоговый датафрейм.
# Решите задание с использованием метода where().

df_new = df.copy()

df_new['Отрасль'].where(df_new['Отрасль'] != 'металлургия', 'М', inplace=True)
df_new['Отрасль'].where(df_new['Отрасль'] != 'банк', 'Б', inplace=True)

df_new.head()

  Торговый код                      Эмитент Тип  Капитализация, руб. Отрасль
0         AMEZ      ПАО "Ашинский метзавод"  ао          51480414016       М
1         BSPB  ПАО "Банк "Санкт-Петербург"  ао         134333130048       Б
2        BSPBP  ПАО "Банк "Санкт-Петербург"  ап           1234140000       Б
3         CHMF             ПАО "Северсталь"  ао        1147004389272       М
4         CHMK                    ПАО "ЧМК"  ао          35398198175       М

In [298]:
df_new = df.copy()

df_new['Отрасль'] = np.where(df_new['Отрасль'] == 'металлургия', 'М', 'Б')

df_new.head()

  Торговый код                      Эмитент Тип  Капитализация, руб. Отрасль
0         AMEZ      ПАО "Ашинский метзавод"  ао          51480414016       М
1         BSPB  ПАО "Банк "Санкт-Петербург"  ао         134333130048       Б
2        BSPBP  ПАО "Банк "Санкт-Петербург"  ап           1234140000       Б
3         CHMF             ПАО "Северсталь"  ао        1147004389272       М
4         CHMK                    ПАО "ЧМК"  ао          35398198175       М

In [299]:
df_new = df.copy()

d = {'металлургия': 'М', 'банк': 'Б'}
df_new['Отрасль'] = df_new['Отрасль'].map(d)

df_new.head()

  Торговый код                      Эмитент Тип  Капитализация, руб. Отрасль
0         AMEZ      ПАО "Ашинский метзавод"  ао          51480414016       М
1         BSPB  ПАО "Банк "Санкт-Петербург"  ао         134333130048       Б
2        BSPBP  ПАО "Банк "Санкт-Петербург"  ап           1234140000       Б
3         CHMF             ПАО "Северсталь"  ао        1147004389272       М
4         CHMK                    ПАО "ЧМК"  ао          35398198175       М

In [300]:
# Выведите на печать датафрейм, содержащий все строки, в которых в столбце 'Торговый код' значения начинаются на букву R
display(df[df['Торговый код'].str.startswith('R')])

   Торговый код           Эмитент Тип  Капитализация, руб.      Отрасль
10         ROSB       ПАО РОСБАНК  ао         158242989006         банк
11         RUAL  МКПАО "ОК РУСАЛ"  ао         626180107537  металлургия

In [301]:
# Выведите на печать датафрейм, содержащий все строки, в которых в столбце 'Торговый код' значения начинаются на букву R
df_new = df.copy()
df_new.set_index('Торговый код', inplace=True)
display(df_new.filter(regex='^R', axis=0))

                       Эмитент Тип  Капитализация, руб.      Отрасль
Торговый код
ROSB               ПАО РОСБАНК  ао         158242989006         банк
RUAL          МКПАО "ОК РУСАЛ"  ао         626180107537  металлургия

In [302]:
# Выведите на печать датафрейм, содержащий все строки, в которых в столбце 'Торговый код' значения начинаются на буквы M или S.
display(df_new.filter(regex='^[MS]', axis=0))

                   Эмитент Тип  Капитализация, руб.      Отрасль
Торговый код
MAGN             ПАО "ММК"  ао         583970485800  металлургия
MTLR           ПАО "Мечел"  ао          85098228400  металлургия
MTLRP          ПАО "Мечел"  ап          31456192630  металлургия
SBER          ПАО Сбербанк  ао        5628796691000         банк
SBERP         ПАО Сбербанк  ап         260380000000         банк

# Метод filter()

In [303]:
# Метод filter() применяет фильтрацию к меткам индекса. Отфильтровать датафрейм по значениям этот метод не позволяет.
# Метод имеет следующий синтаксис:
# DataFrame.filter(items=None, like=None, regex=None, axis=None)
# items - параметр принимает метки оси; 
# like - принимает строку, элементы которой будут проверяться на наличие в метках индекса;
# regex - параметр принимает регулярное выражение.

In [304]:
df.filter(['дата', 'закр', 'изм %'])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [305]:
# Теперь выведем все столбцы, которые содержат, например, 'да'. Используем для этого параметр like
df.filter(like='да', axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [306]:
# Или выведем все строки, содержащие в метках индекса 'S&P':
df.filter(like='S&P', axis=0)

Empty DataFrame
Columns: [Торговый код, Эмитент, Тип, Капитализация, руб., Отрасль]
Index: []

# Регулярное выражение (Regular Expression, RegEx)

In [307]:
# Регулярное выражение (Regular Expression, RegEx) - это эффективный инструмент для сопоставления текста на основе заранее определенного шаблона. 
# Регулярные выражения позволяют найти строки или наборы строк в тексте, используя специализированный синтаксис, с помощью которого описывается шаблон для поиска.

# Некоторые символы регулярных выражений:
# . - означает, что на месте точки может быть любой символ, кроме символа новой строки (\n). Например, 20.. год;
# [...] - любой символ из указанных в скобках. Символы можно задавать как перечислением, так и указывая диапазон через дефис. Например, [a-z], [А-Яа-яЁё], [0-9];
# [^...] - любой символ, кроме указанных в скобках. Например, [^abcdef];
# ^ - начало строки. Например, ^Уважаемый;
# $ - конец строки. Например, Спасибо, что остаетесь с нами. Вы важны для нас!$.

In [308]:
# Давайте выведем все строки, индекс в которых содержит букву 'D':
df.filter(regex='[D]', axis=0)

Empty DataFrame
Columns: [Торговый код, Эмитент, Тип, Капитализация, руб., Отрасль]
Index: []

In [309]:
# Или, например, найдем все строки, содержащие индексы Доу Джонса:
df.filter(regex='^DJ', axis=0)

Empty DataFrame
Columns: [Торговый код, Эмитент, Тип, Капитализация, руб., Отрасль]
Index: []

In [310]:
# Вывести все столбцы, которые заканчиваются на 'кр':
df.filter(regex='кр$', axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

# Метод isin()

In [311]:
# Метод isin() работает уже не с индексами, а со значениями. 
#   Основная задача метода isin() в pandas - выбрать те строки, которые имеют определенное значение (или несколько) в конкретном столбце (или столбцах).

# Метод isin() имеет следующий синтаксис:
# DataFrame.isin(values)

In [312]:
df_values = [['03.11.2023', 7095.0, 7095.0, 7184.4, 7175.1, 7095.0, '+1.13%'],
       ['03.11.2023', 115062.37, 115062.37, 118501.8, 118159.97, 115052.96, '+2.70%'],
       ['03.11.2023', 7084.51, 7046.86, 7086.71, 7047.5, 7060.69, '−0.19%'],
       ['03.11.2023', 15143.6, 15143.6, 15269.37, 15189.25, 15143.6, '+0.30%'],
       ['03.11.2023', 11179.44, 11176.62, 11238.28, 11200.66, 11093.75, '+0.96%'],
       ['03.11.2023', 33988.83, 33946.6, 34163.63, 34061.32, 33839.08, '+0.66%'],
       ['03.11.2023', 125.78, 125.6, 126.81, 125.9, 125.02, '+0.70%'],
       ['03.11.2023', 14448.01, 14435.63, 14554.87, 14512.76, 14285.46, '+1.59%'],
       ['03.11.2023', 864.51, 859.83, 869.8, 860.05, 850.92, '+1.07%'],
       ['03.11.2023', 7448.9, 7396.96, 7482.24, 7417.73, 7446.53, '−0.39%'],
       ['03.11.2023', 17405.91, 17352.6, 17723.94, 17664.12, 17230.59, '+2.52%'],
       ['03.11.2023', 9260.4, 9250.1, 9339.6, 9293.9, 9260.4, '+0.36%'],
       ['03.11.2023', 14979.4674, 14968.1817, 15149.3298, 15099.4915, 14919.5453, '+1.21%'],
       ['03.11.2023', 13357.757, 13347.4836, 13519.9508, 13478.2828, 13294.1905, '+1.38%'],
       ['03.11.2023', 2044.48, 2044.48, 2061.0, 2054.88, 2039.06, '+0.78%'],
       ['03.11.2023', 4334.23, 4334.23, 4373.62, 4358.34, 4317.78, '+0.94%'],
       ['03.11.2023', 64444.9, 64289.05, 64532.88, 64363.78, 64080.9, '+0.44%'],
       ['03.11.2023', 3009.4058, 3009.4058, 3040.8878, 3030.7977, 3009.4058, '+0.71%']]
df_columns = ['дата', 'откр', 'мин', 'макс', 'закр', 'пред закр', 'изм %']
df_index = ['ASX Australia', 'BOVESPA Brazil', 'CAC 40', 'DAX 30', 'DJ Composite',
       'DJ Industrial', 'DJ Telecommunications', 'DJ Transport',
       'DJ Utilities', 'FTSE 100', 'Hang Seng', 'IBEX Spain', 'NASDAQ 100',
       'NASDAQ Comp', 'S&P 100', 'S&P 500', 'SENSEX India', 'Shanghai Composite']
df = pd.DataFrame(df_values, columns=df_columns, index=df_index)
df.index.name = 'биржевой индекс'

display(df)

,дата,откр,мин,макс,закр,пред закр,изм %
биржевой индекс,,,,,,,
ASX Australia,03.11.2023,7095.0000,7095.0000,7184.4000,7175.1000,7095.0000,+1.13%
BOVESPA Brazil,03.11.2023,115062.3700,115062.3700,118501.8000,118159.9700,115052.9600,+2.70%
CAC 40,03.11.2023,7084.5100,7046.8600,7086.7100,7047.5000,7060.6900,−0.19%
DAX 30,03.11.2023,15143.6000,15143.6000,15269.3700,15189.2500,15143.6000,+0.30%
DJ Composite,03.11.2023,11179.4400,11176.6200,11238.2800,11200.6600,11093.7500,+0.96%
DJ Industrial,03.11.2023,33988.8300,33946.6000,34163.6300,34061.3200,33839.0800,+0.66%
DJ Telecommunications,03.11.2023,125.7800,125.6000,126.8100,125.9000,125.0200,+0.70%
DJ Transport,03.11.2023,14448.0100,14435.6300,14554.8700,14512.7600,14285.4600,+1.59%
DJ Utilities,03.11.2023,864.5100,859.8300,869.8000,860.0500,850.9200,+1.07%
FTSE 100,03.11.2023,7448.9000,7396.9600,7482.2400,7417.7300,7446.5300,−0.39%
Hang Seng,03.11.2023,17405.9100,17352.6000,17723.9400,17664.1200,17230.5900,+2.52%
IBEX Spain,03.11.2023,9260.4000,9250.1000,9339.6000,9293.9000,9260.4000,+0.36%
NASDAQ 100,03.11.2023,14979.4674,14968.1817,15149.3298,15099.4915,14919.5453,+1.21%
NASDAQ Comp,03.11.2023,13357.7570,13347.4836,13519.9508,13478.2828,13294.1905,+1.38%
S&P 100,03.11.2023,2044.4800,2044.4800,2061.0000,2054.8800,2039.0600,+0.78%
S&P 500,03.11.2023,4334.2300,4334.2300,4373.6200,4358.3400,4317.7800,+0.94%
SENSEX India,03.11.2023,64444.9000,64289.0500,64532.8800,64363.7800,64080.9000,+0.44%
Shanghai Composite,03.11.2023,3009.4058,3009.4058,3040.8878,3030.7977,3009.4058,+0.71%

In [313]:
df.reset_index(inplace=True)
display(df)

,биржевой индекс,дата,откр,мин,макс,закр,пред закр,изм %
0,ASX Australia,03.11.2023,7095.0000,7095.0000,7184.4000,7175.1000,7095.0000,+1.13%
1,BOVESPA Brazil,03.11.2023,115062.3700,115062.3700,118501.8000,118159.9700,115052.9600,+2.70%
2,CAC 40,03.11.2023,7084.5100,7046.8600,7086.7100,7047.5000,7060.6900,−0.19%
3,DAX 30,03.11.2023,15143.6000,15143.6000,15269.3700,15189.2500,15143.6000,+0.30%
4,DJ Composite,03.11.2023,11179.4400,11176.6200,11238.2800,11200.6600,11093.7500,+0.96%
5,DJ Industrial,03.11.2023,33988.8300,33946.6000,34163.6300,34061.3200,33839.0800,+0.66%
6,DJ Telecommunications,03.11.2023,125.7800,125.6000,126.8100,125.9000,125.0200,+0.70%
7,DJ Transport,03.11.2023,14448.0100,14435.6300,14554.8700,14512.7600,14285.4600,+1.59%
8,DJ Utilities,03.11.2023,864.5100,859.8300,869.8000,860.0500,850.9200,+1.07%
9,FTSE 100,03.11.2023,7448.9000,7396.9600,7482.2400,7417.7300,7446.5300,−0.39%
10,Hang Seng,03.11.2023,17405.9100,17352.6000,17723.9400,17664.1200,17230.5900,+2.52%
11,IBEX Spain,03.11.2023,9260.4000,9250.1000,9339.6000,9293.9000,9260.4000,+0.36%
12,NASDAQ 100,03.11.2023,14979.4674,14968.1817,15149.3298,15099.4915,14919.5453,+1.21%
13,NASDAQ Comp,03.11.2023,13357.7570,13347.4836,13519.9508,13478.2828,13294.1905,+1.38%
14,S&P 100,03.11.2023,2044.4800,2044.4800,2061.0000,2054.8800,2039.0600,+0.78%
15,S&P 500,03.11.2023,4334.2300,4334.2300,4373.6200,4358.3400,4317.7800,+0.94%
16,SENSEX India,03.11.2023,64444.9000,64289.0500,64532.8800,64363.7800,64080.9000,+0.44%
17,Shanghai Composite,03.11.2023,3009.4058,3009.4058,3040.8878,3030.7977,3009.4058,+0.71%

In [314]:
# Используя метод isin(), получим логический ряд, отвечающий условию содержания в столбце 'биржевой индекс' следующих данных: 
# 'ASX Australia', 'Hang Seng', 'SENSEX India', 'Shanghai Composite':

mask = df['биржевой индекс'].isin(['ASX Australia', 'Hang Seng', 'SENSEX India', 'Shanghai Composite'])

print(mask)
display(df[mask])

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16     True
17     True
Name: биржевой индекс, dtype: bool

,биржевой индекс,дата,откр,мин,макс,закр,пред закр,изм %
0,ASX Australia,03.11.2023,7095.0000,7095.0000,7184.4000,7175.1000,7095.0000,+1.13%
10,Hang Seng,03.11.2023,17405.9100,17352.6000,17723.9400,17664.1200,17230.5900,+2.52%
16,SENSEX India,03.11.2023,64444.9000,64289.0500,64532.8800,64363.7800,64080.9000,+0.44%
17,Shanghai Composite,03.11.2023,3009.4058,3009.4058,3040.8878,3030.7977,3009.4058,+0.71%

# Метод where()

In [315]:
# Метод where() можно использовать для замены определенных значений в датафрейме. 

# Метод where() имеет следующий синтаксис:
# DataFrame.where(cond, other=nan, *, inplace=False, axis=None, level=None)

# Для каждого элемента датафрейма, где cond имеет значение True, сохраняется исходное значение. 
# А каждый элемент датафрейма, где cond имеет значение False, заменяется тем значением, которое передается параметру other.

In [316]:
# Для примера выведем колонку с уровнями открытия с условием, если значение больше 1000, то изменений не происходит, 
# а если меньше или равно 1000, то значение заменяется на ноль:

df['откр'].where(df['откр']>1000, 0)

0       7095.0000
1     115062.3700
2       7084.5100
3      15143.6000
4      11179.4400
5      33988.8300
6          0.0000
7      14448.0100
8          0.0000
9       7448.9000
10     17405.9100
11      9260.4000
12     14979.4674
13     13357.7570
14      2044.4800
15      4334.2300
16     64444.9000
17      3009.4058
Name: откр, dtype: float64

In [317]:
# создадим новый столбец с названием 'цвет', который будет иметь значение 'green', если в колонке 'изм %' положительное значение, 
# и 'red', если в колонке 'изм %' отрицательное значение. Воспользуемся конструкцией str.contains(), которая применяется к объекту Series.

df['цвет'] = df['изм %'].where(df['изм %'].str.contains('−'), 'green')

display(df)

,биржевой индекс,дата,откр,мин,макс,закр,пред закр,изм %,цвет
0,ASX Australia,03.11.2023,7095.0000,7095.0000,7184.4000,7175.1000,7095.0000,+1.13%,green
1,BOVESPA Brazil,03.11.2023,115062.3700,115062.3700,118501.8000,118159.9700,115052.9600,+2.70%,green
2,CAC 40,03.11.2023,7084.5100,7046.8600,7086.7100,7047.5000,7060.6900,−0.19%,−0.19%
3,DAX 30,03.11.2023,15143.6000,15143.6000,15269.3700,15189.2500,15143.6000,+0.30%,green
4,DJ Composite,03.11.2023,11179.4400,11176.6200,11238.2800,11200.6600,11093.7500,+0.96%,green
5,DJ Industrial,03.11.2023,33988.8300,33946.6000,34163.6300,34061.3200,33839.0800,+0.66%,green
6,DJ Telecommunications,03.11.2023,125.7800,125.6000,126.8100,125.9000,125.0200,+0.70%,green
7,DJ Transport,03.11.2023,14448.0100,14435.6300,14554.8700,14512.7600,14285.4600,+1.59%,green
8,DJ Utilities,03.11.2023,864.5100,859.8300,869.8000,860.0500,850.9200,+1.07%,green
9,FTSE 100,03.11.2023,7448.9000,7396.9600,7482.2400,7417.7300,7446.5300,−0.39%,−0.39%
10,Hang Seng,03.11.2023,17405.9100,17352.6000,17723.9400,17664.1200,17230.5900,+2.52%,green
11,IBEX Spain,03.11.2023,9260.4000,9250.1000,9339.6000,9293.9000,9260.4000,+0.36%,green
12,NASDAQ 100,03.11.2023,14979.4674,14968.1817,15149.3298,15099.4915,14919.5453,+1.21%,green
13,NASDAQ Comp,03.11.2023,13357.7570,13347.4836,13519.9508,13478.2828,13294.1905,+1.38%,green
14,S&P 100,03.11.2023,2044.4800,2044.4800,2061.0000,2054.8800,2039.0600,+0.78%,green
15,S&P 500,03.11.2023,4334.2300,4334.2300,4373.6200,4358.3400,4317.7800,+0.94%,green
16,SENSEX India,03.11.2023,64444.9000,64289.0500,64532.8800,64363.7800,64080.9000,+0.44%,green
17,Shanghai Composite,03.11.2023,3009.4058,3009.4058,3040.8878,3030.7977,3009.4058,+0.71%,green

In [318]:
df['цвет'].where(~df['цвет'].str.contains('−'), 'red', inplace=True)

display(df)

,биржевой индекс,дата,откр,мин,макс,закр,пред закр,изм %,цвет
0,ASX Australia,03.11.2023,7095.0000,7095.0000,7184.4000,7175.1000,7095.0000,+1.13%,green
1,BOVESPA Brazil,03.11.2023,115062.3700,115062.3700,118501.8000,118159.9700,115052.9600,+2.70%,green
2,CAC 40,03.11.2023,7084.5100,7046.8600,7086.7100,7047.5000,7060.6900,−0.19%,red
3,DAX 30,03.11.2023,15143.6000,15143.6000,15269.3700,15189.2500,15143.6000,+0.30%,green
4,DJ Composite,03.11.2023,11179.4400,11176.6200,11238.2800,11200.6600,11093.7500,+0.96%,green
5,DJ Industrial,03.11.2023,33988.8300,33946.6000,34163.6300,34061.3200,33839.0800,+0.66%,green
6,DJ Telecommunications,03.11.2023,125.7800,125.6000,126.8100,125.9000,125.0200,+0.70%,green
7,DJ Transport,03.11.2023,14448.0100,14435.6300,14554.8700,14512.7600,14285.4600,+1.59%,green
8,DJ Utilities,03.11.2023,864.5100,859.8300,869.8000,860.0500,850.9200,+1.07%,green
9,FTSE 100,03.11.2023,7448.9000,7396.9600,7482.2400,7417.7300,7446.5300,−0.39%,red
10,Hang Seng,03.11.2023,17405.9100,17352.6000,17723.9400,17664.1200,17230.5900,+2.52%,green
11,IBEX Spain,03.11.2023,9260.4000,9250.1000,9339.6000,9293.9000,9260.4000,+0.36%,green
12,NASDAQ 100,03.11.2023,14979.4674,14968.1817,15149.3298,15099.4915,14919.5453,+1.21%,green
13,NASDAQ Comp,03.11.2023,13357.7570,13347.4836,13519.9508,13478.2828,13294.1905,+1.38%,green
14,S&P 100,03.11.2023,2044.4800,2044.4800,2061.0000,2054.8800,2039.0600,+0.78%,green
15,S&P 500,03.11.2023,4334.2300,4334.2300,4373.6200,4358.3400,4317.7800,+0.94%,green
16,SENSEX India,03.11.2023,64444.9000,64289.0500,64532.8800,64363.7800,64080.9000,+0.44%,green
17,Shanghai Composite,03.11.2023,3009.4058,3009.4058,3040.8878,3030.7977,3009.4058,+0.71%,green

# Метод query()

In [319]:
# Pandas имеет еще один метод, который позволяет получать доступ к данным по определенному условию, - это метод query().

# Синтаксис метода следующий:
# DataFrame.query(expr, *, inplace=False, **kwargs)

In [320]:
# Функция query() требует, чтобы названия столбцов не содержали пробелов или других специальных символов. 
# Если такие символы есть, нужно "обернуть" название столбца в обратные кавычки (`). Это обязательное правило, когда работаете с query().

df.query('`пред закр` < 1000')

,биржевой индекс,дата,откр,мин,макс,закр,пред закр,изм %,цвет
6,DJ Telecommunications,03.11.2023,125.78,125.60,126.81,125.90,125.02,+0.70%,green
8,DJ Utilities,03.11.2023,864.51,859.83,869.80,860.05,850.92,+1.07%,green

# 2.7 Статистики и арифметические операции

In [323]:
revenue_values = [['Сургутнефтегаз', 1570876, 1075222, np.nan, np.nan], 
                  ['Роснефть', 8676000, 5757000, 8761000, np.nan], 
                  ['Магнит', 1368705.394, 1553777.351, 1856078.95, 2351996.423], 
                  ['Татнефть', 932296, 795815, 1205267, 1427147],
                  ['Газпром', 7659623, 6321559, 10241353, 11673950],
                  ['Русгидро', 366642, 382845, 406033, 418558]]
revenue = pd.DataFrame(revenue_values, columns=['Компания', '2019', '2020', '2021', '2022'])
revenue.set_index('Компания', drop=True, inplace=True)

display(revenue)

                      2019        2020         2021         2022
Компания
Сургутнефтегаз 1,570,876.0 1,075,222.0          NaN          NaN
Роснефть       8,676,000.0 5,757,000.0  8,761,000.0          NaN
Магнит         1,368,705.4 1,553,777.4  1,856,078.9  2,351,996.4
Татнефть         932,296.0   795,815.0  1,205,267.0  1,427,147.0
Газпром        7,659,623.0 6,321,559.0 10,241,353.0 11,673,950.0
Русгидро         366,642.0   382,845.0    406,033.0    418,558.0

In [324]:
pd.options.display.float_format ='{:,.1f}'.format

revenue.T.describe(percentiles=[0.1, 0.9])

Компания,Сургутнефтегаз,Роснефть,Магнит,Татнефть,Газпром,Русгидро
count,2.0,3.0,4.0,4.0,4.0,4.0
mean,"1,323,049.0","7,731,333.3","1,782,639.5","1,090,131.2","8,974,121.2","393,519.5"
std,"350,480.3","1,710,350.9","429,449.3","281,880.5","2,426,172.8","23,236.9"
min,"1,075,222.0","5,757,000.0","1,368,705.4","795,815.0","6,321,559.0","366,642.0"
10%,"1,124,787.4","6,340,800.0","1,424,227.0","836,759.3","6,722,978.2","371,502.9"
50%,"1,323,049.0","8,676,000.0","1,704,928.2","1,068,781.5","8,950,488.0","394,439.0"
90%,"1,521,310.6","8,744,000.0","2,203,221.2","1,360,583.0","11,244,170.9","414,800.5"
max,"1,570,876.0","8,761,000.0","2,351,996.4","1,427,147.0","11,673,950.0","418,558.0"

In [325]:
# Узнаем суммарную выручку Газпрома за 2019-2022 годы:
revenue.loc['Газпром'].sum()

35896485.0

In [326]:
# Найдем, какая компания, из представленных в наборе данных, имела наибольшую выручку в каждом году:
revenue.idxmax()

2019    Роснефть
2020     Газпром
2021     Газпром
2022     Газпром
dtype: object

In [327]:
# Посмотрим год максимальной выручки по компаниям:
revenue.idxmax(axis=1)

Компания
Сургутнефтегаз    2019
Роснефть          2021
Магнит            2022
Татнефть          2022
Газпром           2022
Русгидро          2022
dtype: object

In [328]:
# sem()
# Метод sem() используется для расчета стандартной ошибки среднего значений в датафрейме по выбранной оси. 
# Стандартная ошибка среднего (Standard Error of the Mean, SEM) - это мера неопределенности оценки среднего значения измеренных данных. 
# Она рассчитывается на основе стандартного отклонения данных и размера выборки. 
# SEM указывает насколько точно среднее значение оценивает истинное значение в генеральной совокупности.
display(revenue)

revenue.sem(axis=1)

                      2019        2020         2021         2022
Компания
Сургутнефтегаз 1,570,876.0 1,075,222.0          NaN          NaN
Роснефть       8,676,000.0 5,757,000.0  8,761,000.0          NaN
Магнит         1,368,705.4 1,553,777.4  1,856,078.9  2,351,996.4
Татнефть         932,296.0   795,815.0  1,205,267.0  1,427,147.0
Газпром        7,659,623.0 6,321,559.0 10,241,353.0 11,673,950.0
Русгидро         366,642.0   382,845.0    406,033.0    418,558.0

Компания
Сургутнефтегаз     247,827.0
Роснефть           987,471.6
Магнит             214,724.6
Татнефть           140,940.3
Газпром          1,213,086.4
Русгидро            11,618.4
dtype: float64

In [ ]:
# rolling()
# Метод rolling() позволяет получать скользящие статистики. 
# Суть их заключается в том, что различные статистики рассчитываются не для всех объектов структуры данных, 
# а только для группы подряд идущих значений. Размер этой группы задается пользователем.
# При анализе графиков изменения цены различных активов очень часто используют скользящие средние. 
# Скользящее среднее - это просто среднее значение определенного количества предыдущих периодов временного ряда.

In [335]:
# Для примера получим ряд 20-ти дневной скользящей средней для индекса доллара США из набора данных df:
df = pd.read_csv(r'data\for_corr_dxy_brent_01.07.22_30.06.23.csv')

df['<CLOSE>_dxy'].rolling(20).mean()
# Первые 19-ть строк имеют пропущенные значения, так как мы задали окно размером 20.

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19   109.0
20   109.2
21   109.1
22   108.9
23   108.9
24   108.8
25   108.7
26   108.6
27   108.3
28   108.0
29   107.5
30   107.2
31   106.8
32   106.4
33   105.9
34   105.6
35   105.1
36   104.7
37   104.4
38   104.0
39   103.8
40   103.5
41   103.2
42   103.1
43   102.9
44   102.8
45   102.7
46   102.7
47   102.7
48   102.8
49   102.9
50   102.9
51   102.9
52   102.9
Name: <CLOSE>_dxy, dtype: float64

In [338]:
df['<CLOSE>_dxy'].rolling(3).mean().head(10)

0     NaN
1     NaN
2   106.6
3   107.1
4   106.6
5   106.2
6   105.9
7   106.7
8   107.7
9   109.1
Name: <CLOSE>_dxy, dtype: float64

In [343]:
df['<CLOSE>_dxy'].corr(df['<CLOSE>_brent'])

0.5692466375465391

In [352]:
interest_rates_values = [['Австралия', 'Резервный банк Австралии', 4.1, '06.06.2023'],
       ['Бразилия', 'Центральный банк Бразилии', 13.75, '04.08.2022'],
       ['Великобритания', 'Банк Англии', 5.0, '22.06.2023'],
       ['Дания', 'Национальный банк Дании', 3.25, '15.06.2023'],
       ['Еврозона', 'Европейский центральный банк', 4.0, '15.06.2023'],
       ['Индия', 'Резервный банк Индии', 6.5, '08.02.2023'],
       ['Канада', 'Банк Канады', 5.0, '12.07.2023'],
       ['Китай', 'Народный банк Китая', 3.55, '20.06.2023'],
       ['Мексика', 'Банк Мексики', 11.25, '30.03.2023'],
       ['Новая Зеландия', 'Резервный банк Новой Зеландии', 5.5,
        '24.05.2023'],
       ['Россия', 'Центральный банк Российской Федерации', 8.5,
        '24.07.2023'],
       ['США', 'Федеральная резервная система', 5.25, '04.05.2023'],
       ['Турция', 'Центральный банк Турции', 17.5, '20.07.2023'],
       ['Швейцария', 'Национальный банк Швейцарии', 1.75, '22.06.2023'],
       ['Швеция', 'Банк Швеции', 3.75, '30.06.2023'],
       ['ЮАР', 'Южно-Африканский резервный банк', 8.25, '25.05.2023'],
       ['Япония', 'Банк Японии', -0.1, '03.08.2016']]
interest_rates_columns = ['Страна', 'Банк', 'Ставка', 'Дата вступления в силу']
interest_rates = pd.DataFrame(interest_rates_values, columns=interest_rates_columns)
# Продолжите написание кода здесь

print(interest_rates.iloc[interest_rates['Ставка'].idxmax()]['Страна'])
print(interest_rates.iloc[interest_rates['Ставка'].idxmin()]['Страна'])

Турция
Япония

In [370]:
import pandas as pd
pmi_manufacturing_eurozone_values = [['03.07.2023 (июнь)', 43.4, 43.6, 44.8],
       ['01.06.2023 (май)', 44.8, 44.6, 45.8], ['02.05.2023 (апр)', 45.8, 45.5, 47.3],
       ['03.04.2023 (мар)', 47.3, 47.1, 48.5], ['01.03.2023 (фев)', 48.5, 48.5, 48.8],
       ['01.02.2023 (янв)', 48.8, 48.8, 47.8], ['02.01.2023 (дек)', 47.8, 47.8, 47.1],
       ['01.12.2022 (нояб)', 47.1, 47.3, 46.4], ['02.11.2022 (окт)', 46.4, 46.6, 48.4],
       ['03.10.2022 (сент)', 48.4, 48.5, 49.6], ['01.09.2022 (авг)', 49.6, 49.7, 49.7],
       ['01.08.2022 (июль)', 49.8, 49.6, 52.1], ['01.07.2022 (июнь)', 52.1, 52.0, 54.6],
       ['01.06.2022 (май)', 54.6, 54.4, 55.5], ['02.05.2022 (апр)', 55.5, 55.3, 56.5],
       ['01.04.2022 (мар)', 56.5, 57.0, 58.2], ['01.03.2022 (фев)', 58.2, 58.4, 58.7],
       ['01.02.2022 (янв)', 58.7, 59.0, 58.0], ['03.01.2022 (дек)', 58.0, 58.0, 58.4],
       ['01.12.2021 (нояб)', 58.4, 58.6, 58.6], ['02.11.2021 (окт)', 58.3, 58.5, 58.3],
       ['01.10.2021 (сент)', 58.6, 58.7, 61.4], ['01.09.2021 (авг)', 61.4, 61.5, 62.8],
       ['02.08.2021 (июль)', 62.8, 62.6, 63.4], ['01.07.2021 (июнь)', 63.4, 63.1, 63.1],
       ['01.06.2021 (май)', 63.1, 62.8, 62.8], ['03.05.2021 (апр)', 62.9, 63.3, 63.3],
       ['01.04.2021 (мар)', 62.5, 62.4, 57.9], ['01.03.2021 (фев)', 57.9, 57.7, 54.8],
       ['01.02.2021 (янв)', 54.8, 54.7, 54.7]]
pmi_manufacturing_eurozone_columns = ['Дата выпуска', 'Факт.', 'Прогноз', 'Пред.']
pmi_manufacturing_eurozone = pd.DataFrame(pmi_manufacturing_eurozone_values, 
                                        columns=pmi_manufacturing_eurozone_columns)
# Продолжите написание кода здесь
pmi_manufacturing_eurozone

         Дата выпуска  Факт.  Прогноз  Пред.
0   03.07.2023 (июнь)   43.4     43.6   44.8
1    01.06.2023 (май)   44.8     44.6   45.8
2    02.05.2023 (апр)   45.8     45.5   47.3
3    03.04.2023 (мар)   47.3     47.1   48.5
4    01.03.2023 (фев)   48.5     48.5   48.8
5    01.02.2023 (янв)   48.8     48.8   47.8
6    02.01.2023 (дек)   47.8     47.8   47.1
7   01.12.2022 (нояб)   47.1     47.3   46.4
8    02.11.2022 (окт)   46.4     46.6   48.4
9   03.10.2022 (сент)   48.4     48.5   49.6
10   01.09.2022 (авг)   49.6     49.7   49.7
11  01.08.2022 (июль)   49.8     49.6   52.1
12  01.07.2022 (июнь)   52.1     52.0   54.6
13   01.06.2022 (май)   54.6     54.4   55.5
14   02.05.2022 (апр)   55.5     55.3   56.5
15   01.04.2022 (мар)   56.5     57.0   58.2
16   01.03.2022 (фев)   58.2     58.4   58.7
17   01.02.2022 (янв)   58.7     59.0   58.0
18   03.01.2022 (дек)   58.0     58.0   58.4
19  01.12.2021 (нояб)   58.4     58.6   58.6
20   02.11.2021 (окт)   58.3     58.5   58.3
21  01.10.2021 (сент)   58.6     58.7   61.4
22   01.09.2021 (авг)   61.4     61.5   62.8
23  02.08.2021 (июль)   62.8     62.6   63.4
24  01.07.2021 (июнь)   63.4     63.1   63.1
25   01.06.2021 (май)   63.1     62.8   62.8
26   03.05.2021 (апр)   62.9     63.3   63.3
27   01.04.2021 (мар)   62.5     62.4   57.9
28   01.03.2021 (фев)   57.9     57.7   54.8
29   01.02.2021 (янв)   54.8     54.7   54.7

In [371]:
pmi_manufacturing_eurozone['Прогноз - Факт'] = pmi_manufacturing_eurozone['Прогноз'] - pmi_manufacturing_eurozone['Факт.']
pmi_manufacturing_eurozone[::-1].reset_index(drop=True)

         Дата выпуска  Факт.  Прогноз  Пред.  Прогноз - Факт
0    01.02.2021 (янв)   54.8     54.7   54.7            -0.1
1    01.03.2021 (фев)   57.9     57.7   54.8            -0.2
2    01.04.2021 (мар)   62.5     62.4   57.9            -0.1
3    03.05.2021 (апр)   62.9     63.3   63.3             0.4
4    01.06.2021 (май)   63.1     62.8   62.8            -0.3
5   01.07.2021 (июнь)   63.4     63.1   63.1            -0.3
6   02.08.2021 (июль)   62.8     62.6   63.4            -0.2
7    01.09.2021 (авг)   61.4     61.5   62.8             0.1
8   01.10.2021 (сент)   58.6     58.7   61.4             0.1
9    02.11.2021 (окт)   58.3     58.5   58.3             0.2
10  01.12.2021 (нояб)   58.4     58.6   58.6             0.2
11   03.01.2022 (дек)   58.0     58.0   58.4             0.0
12   01.02.2022 (янв)   58.7     59.0   58.0             0.3
13   01.03.2022 (фев)   58.2     58.4   58.7             0.2
14   01.04.2022 (мар)   56.5     57.0   58.2             0.5
15   02.05.2022 (апр)   55.5     55.3   56.5            -0.2
16   01.06.2022 (май)   54.6     54.4   55.5            -0.2
17  01.07.2022 (июнь)   52.1     52.0   54.6            -0.1
18  01.08.2022 (июль)   49.8     49.6   52.1            -0.2
19   01.09.2022 (авг)   49.6     49.7   49.7             0.1
20  03.10.2022 (сент)   48.4     48.5   49.6             0.1
21   02.11.2022 (окт)   46.4     46.6   48.4             0.2
22  01.12.2022 (нояб)   47.1     47.3   46.4             0.2
23   02.01.2023 (дек)   47.8     47.8   47.1             0.0
24   01.02.2023 (янв)   48.8     48.8   47.8             0.0
25   01.03.2023 (фев)   48.5     48.5   48.8             0.0
26   03.04.2023 (мар)   47.3     47.1   48.5            -0.2
27   02.05.2023 (апр)   45.8     45.5   47.3            -0.3
28   01.06.2023 (май)   44.8     44.6   45.8            -0.2
29  03.07.2023 (июнь)   43.4     43.6   44.8             0.2

In [435]:
# Средняя цена бензина марки АИ-92 в России в 2010 году составляла 25 рублей за литр. 
# Учитывая уровни инфляции с 2011 года по 2022 год, рассчитайте какое количество рублей в 2022 году эквивалентно 25-ти рублям 2010 года. 
# Инфляцию 2010 года не учитывайте, начните считать с 2011 года. Выведите на печать полученное число, округлив его до десятых.
# По данным Росстата средняя цена бензина марки АИ-92 в России по итогу 2022 года составила 47,2 рублей за литр.

inflation_russia = {'Год': [2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012,
                            2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001,
                            2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991],
                   'Инфляция': [11.94, 8.39, 4.91, 3.04, 4.26, 2.51, 5.39, 12.91, 11.35,
                                6.47, 6.57, 6.1 , 8.78, 8.8, 13.28, 11.87, 9.0, 10.92,
                                11.73, 11.99, 15.06, 18.58, 20.18, 36.53, 84.43, 11.03,
                                21.81, 131.30, 215.14, 839.90, 2508.84, 160.4]}
inflation_russia = pd.DataFrame(inflation_russia)
# Продолжите написание кода здесь
display(inflation_russia.head())
print((inflation_russia.set_index('Год').loc['2022':'2011']['Инфляция'].apply(lambda x: 1 + x / 100).prod() * 25).round(1))

    Год  Инфляция
0  2022      11.9
1  2021       8.4
2  2020       4.9
3  2019       3.0
4  2018       4.3

55.9

In [452]:
# Создайте столбец 'Реальная ставка', который будет содержать разность между процентными ставками ЦБ и инфляцией.
# Выведите итоговый датафрейм на печать.
# Распечатайте пустую строчку.
# Выведите на печать строку, в которой реальная ставка максимальна.
# Распечатайте пустую строчку.
# Выведите на печать строку, в которой реальная ставка минимальна.

rates_values = [['Япония', -0.1, 3.3], ['Швейцария', 1.75, 1.6],
                ['Южная Корея', 3.5, 2.3], ['Сингапур', 3.51, 4.5],
                ['Китай', 3.55, 0.0], ['Австралия', 4.1, 6.0],
                ['еврозона', 4.25, 5.3], ['Канада', 5.0, 2.8],
                ['Великобритания', 5.25, 7.9], ['Соединенные Штаты', 5.5, 3.3],
                ['Индонезия', 5.75, 3.08], ['Саудовская Аравия', 6.0, 2.7],
                ['Индия', 6.5, 4.81], ['ЮАР', 8.25, 5.4], ['Россия', 8.5, 3.2],
                ['Мексика', 11.25, 5.06], ['Бразилия', 13.25, 3.16], ['Турция', 17.5, 47.83]]
rates_columns = ['Страна', 'Процентная ставка ЦБ', 'Инфляция']
rates = pd.DataFrame(rates_values, columns=rates_columns)
# Продолжите написание кода здесь

rates['Реальная ставка'] = rates['Процентная ставка ЦБ'] - rates['Инфляция']
display(rates)
print()
print(rates.iloc[[rates['Реальная ставка'].idxmax()]])
print()
print(rates.iloc[[rates['Реальная ставка'].idxmin()]])

               Страна  Процентная ставка ЦБ  Инфляция  Реальная ставка
0              Япония                  -0.1       3.3             -3.4
1           Швейцария                   1.8       1.6              0.1
2         Южная Корея                   3.5       2.3              1.2
3            Сингапур                   3.5       4.5             -1.0
4               Китай                   3.5       0.0              3.5
5           Австралия                   4.1       6.0             -1.9
6            еврозона                   4.2       5.3             -1.0
7              Канада                   5.0       2.8              2.2
8      Великобритания                   5.2       7.9             -2.7
9   Соединенные Штаты                   5.5       3.3              2.2
10          Индонезия                   5.8       3.1              2.7
11  Саудовская Аравия                   6.0       2.7              3.3
12              Индия                   6.5       4.8              1.7
13                ЮАР                   8.2       5.4              2.8
14             Россия                   8.5       3.2              5.3
15            Мексика                  11.2       5.1              6.2
16           Бразилия                  13.2       3.2             10.1
17             Турция                  17.5      47.8            -30.3

      Страна  Процентная ставка ЦБ  Инфляция  Реальная ставка
16  Бразилия                  13.2       3.2             10.1

    Страна  Процентная ставка ЦБ  Инфляция  Реальная ставка
17  Турция                  17.5      47.8            -30.3

In [466]:
# Выведите на печать объект Series, в котором колонка индексов будет включать в себя типы магазинов, 
# а значениями будут суммарные количества магазинов каждого типа по всем федеральным округам.

df_values = [['Северо-Кавказский', 576, 19, 265], ['Южный', 2860, 122, 1352],
             ['Центральный', 4826, 83, 1965], ['Приволжский', 4826, 123, 1904],
             ['Северо-Западный', 2146, 35, 740], ['Уральский', 1932, 82, 867],
             ['Сибирский', 1211, 24, 490]]
df_columns = ['Федеральный округ', 'Магазины у дома', 'Супермаркеты', 'Дрогери']
df = pd.DataFrame(df_values, columns=df_columns)
# Продолжите написание кода здесь

display(df)

print(df.set_index('Федеральный округ').sum(axis=1, numeric_only=True))

   Федеральный округ  Магазины у дома  Супермаркеты  Дрогери
0  Северо-Кавказский              576            19      265
1              Южный             2860           122     1352
2        Центральный             4826            83     1965
3        Приволжский             4826           123     1904
4    Северо-Западный             2146            35      740
5          Уральский             1932            82      867
6          Сибирский             1211            24      490

Федеральный округ
Северо-Кавказский     860
Южный                4334
Центральный          6874
Приволжский          6853
Северо-Западный      2921
Уральский            2881
Сибирский            1725
dtype: int64

# 2.8 Задачи на статистики