In [28]:
import pandas as pd
import numpy as np

In [29]:
pd.__version__

'2.2.2'

# 1.2 Создание DataFrame и Series.

In [30]:
series = pd.Series(data=[2, 5, 3, 2.0])
series

0    2.0
1    5.0
2    3.0
3    2.0
dtype: float64

In [31]:
dict_array = {'row_1': 3,
              'row_2': 6,
              'row_3': 1,
              'row_4': 8,
              'row_5': 7,}

pd.Series(dict_array, index=['row_2', 'row_4', 'row_7'])

row_2    6.0
row_4    8.0
row_7    NaN
dtype: float64

In [32]:
pd.DataFrame({'col_1': pd.Series(dict_array),
              'col_2': pd.Series([5, 6, np.nan, 8], index=['row_3', 'row_4', 'row_5', 'row_6'])})

       col_1  col_2
row_1    3.0    NaN
row_2    6.0    NaN
row_3    1.0    5.0
row_4    8.0    6.0
row_5    7.0    NaN
row_6    NaN    8.0

In [33]:
pd.DataFrame({'col_1': pd.Series(dict_array),
              'col_2': pd.Series([5, 6, np.nan, 8], index=['row_3', 'row_4', 'row_5', 'row_6'])},
              index=['row_5', 'row_6', 'row_7'])

       col_1  col_2
row_5    7.0    NaN
row_6    NaN    8.0
row_7    NaN    NaN

In [34]:
# Создайте серию с 5 элементами. Индексы строк должны иметь значение row_1, row_2, row_3, row_4, row_5

series = pd.Series({'row_1': 2, 'row_2': 3, 'row_3': 5, 'row_4': 6, 'row_5': 7})
series

row_1    2
row_2    3
row_3    5
row_4    6
row_5    7
dtype: int64

In [35]:
series = pd.Series({f'row_{i}': i + 2 for i in range(1,6)}, name='Serser')
series

row_1    3
row_2    4
row_3    5
row_4    6
row_5    7
Name: Serser, dtype: int64

In [38]:
dict_in = {'row_1': 1, 'row_2': 2, 'row_3': 3, 'row_4': 4}
series = pd.Series(dict_in, index=['row_2', 'row_4'])
series

row_2    2
row_4    4
dtype: int64

In [40]:
dict_in = {'col_1': [1, 2, 3], 'col_2': [4, 5, 6]}
df = pd.DataFrame(dict_in)
df

   col_1  col_2
0      1      4
1      2      5
2      3      6

In [44]:
arr = np.random.randint(-5, 10, size=(3, 3))

pd.DataFrame(arr)

   0  1  2
0  4 -4  6
1  3  9  8
2 -3  5  5

In [47]:
arr = np.arange(9).reshape(3,3)
pd.DataFrame(arr)

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [53]:
df = pd.DataFrame({f'row_{i}': list('123') for i in range(1, 4)}, index=[f'row_{i}' for i in range(1, 4)])
df

      row_1 row_2 row_3
row_1     1     1     1
row_2     2     2     2
row_3     3     3     3