In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
titanic_data = pd.read_csv('data/titanic/train.csv')

In [3]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df_rst = pd.read_excel('data\Rostest1.xlsx').rename(columns={'№ заявки': 'Номер'})
df_rst[['Номер', 'Статус', 'Сумма c НДС, ₽', 'Выездные работы',
       'Офис обслуживания', 'Платежные документы', 'Договор']] = df_rst[['Номер', 'Статус', 'Сумма c НДС, ₽', 'Выездные работы',
       'Офис обслуживания', 'Платежные документы', 'Договор']].apply(lambda x: x.str.strip(), axis=1)
df_rst['Сумма c НДС, ₽'] = df_rst['Сумма c НДС, ₽'].apply(lambda x: str(x).replace('-', '').replace('+', '').replace(' ', ''))
df_rst = df_rst.loc[df_rst['Номер'].notna()]
df_rst.head()

,Номер,Дата,Статус,"Сумма c НДС, ₽",Выездные работы,Офис обслуживания,Платежные документы,Договор
0,1000-087097,2024-12-03,В работе,954.00,NaN,Головное Ростест-Москва,—,№1000-150/2024/3618 от 01.08.2024
1,1000-087099,2024-12-03,В работе,12639.44,NaN,Головное Ростест-Москва,—,№1000-150/2024/3618 от 01.08.2024
2,1000-087093,2024-12-03,В работе,16464.00,NaN,Головное Ростест-Москва,Счет №1000-150/016313 от 26.08.2024,№1000-150/2024/3618 от 01.08.2024
4,1000-087091,2024-12-03,В работе,51444.00,NaN,Головное Ростест-Москва,Счет №1000-150/016313 от 26.08.2024,№1000-150/2024/3618 от 01.08.2024
6,1000-086863,2024-12-02,В работе,10800.00,NaN,Головное Ростест-Москва,Счет №1000-440/021885 от 02.12.2024,№1000-150/2024/699 от 27.02.2024

In [5]:
df_price = pd.read_excel('data\!Счета Ростест 2024.xlsx', skiprows=6).rename(columns={'№ заявки': 'Номер'})
df_price['Номер'] = df_price['Номер'].apply(lambda x: str(x).strip())
df_price.head()

,Номер,Работы,Кол-во,Счет,Без НДС,С НДС,Остаток,"Стоимость, Без НДС","Стоимость, с НДС",Закрытие (месяц),Закрытие (дата),Акт,СФ,Дата оплаты счета (месяц),№ пп,Справка
0,0600-004489,Газосигнализатор ИГС-98 Комета-М-4,4,1000-150/004958 от 25.03.2024,330000.0,396000.0,1145.42,6760.00,8112.00,май,NaN,NaN,NaN,апрель,NaN,. Прибор Газосигнализатор ИГС-98 Комета-М-4 в ...
1,0600-004499,Комплект дозиметров прямопоказывающих ДДГ-01Д,3,NaN,NaN,NaN,NaN,17400.00,20880.00,май,NaN,NaN,NaN,NaN,NaN,. Прибор Комплект дозиметров прямопоказывающих...
2,0600-004499,Комплект дозиметров ИД-1,10,NaN,NaN,NaN,NaN,5400.00,6480.00,май,NaN,NaN,NaN,NaN,NaN,. Прибор Комплект дозиметров ИД-1 в кол-ве 10ш...
3,0600-004499,"Дозиметр гамма-излучения ДКГ-03Д ""Грач""",1,NaN,NaN,NaN,NaN,5266.43,6319.72,май,NaN,NaN,NaN,NaN,NaN,". Прибор Дозиметр гамма-излучения ДКГ-03Д ""Гра..."
4,0600-004483,Преобразователь расхода вихреакустический Метр...,2,NaN,NaN,NaN,NaN,9900.00,11880.00,май,NaN,NaN,NaN,NaN,NaN,. Прибор Преобразователь расхода вихреакустиче...

In [6]:
df_price_new = df_price.groupby('Номер').agg({'Стоимость, с НДС': 'sum'})

In [7]:
df_merge = df_rst.merge(df_price_new, on='Номер', how='inner')[['Номер', 'Дата', 'Сумма c НДС, ₽', 'Стоимость, с НДС']]
df_merge['Разница'] = df_merge['Сумма c НДС, ₽'].astype('float') - df_merge['Стоимость, с НДС'].astype('float')
df_merge

          Номер       Дата Сумма c НДС, ₽  Стоимость, с НДС  Разница
0   0600-015769 2024-11-18        4464.00           2976.00   1488.0
1   0600-015768 2024-11-18       18240.00          18240.00      0.0
2   0600-015019 2024-11-01       18240.00          18240.00      0.0
3   0500-005869 2024-09-18        6448.80           6448.80      0.0
4   0600-012008 2024-09-10       29700.00          29700.00      0.0
5   0600-012004 2024-09-10       24156.27          24156.27      0.0
6   0600-012009 2024-09-10       23379.92          21879.92   1500.0
7   0600-010262 2024-08-12         669.14            669.14      0.0
8   0600-010261 2024-08-12       14940.00          12912.00   2028.0
9   0600-010267 2024-08-12       97740.00          97740.00      0.0
10  0600-010263 2024-08-12       37680.00          37680.00      0.0
11  0600-010264 2024-08-12      118056.00         118056.00      0.0
12  0600-009116 2024-07-23      100551.65         100551.65      0.0
13  0600-009120 2024-07-23        5944.92           5944.92      0.0
14  0600-008875 2024-07-18        8400.00           8400.00      0.0
15  0600-008873 2024-07-18        8520.00           8520.00      0.0
16  0600-008870 2024-07-18        7920.00           7920.00      0.0
17  0600-008793 2024-07-17       22777.75          22777.75      0.0
18  0600-008791 2024-07-17       46319.31          46319.31      0.0
19  0600-008785 2024-07-17        8223.06           8223.06      0.0
20  0600-008781 2024-07-17       32916.00          32916.00      0.0
21  0600-006821 2024-06-07       65280.00          65280.00      0.0
22  0600-006554 2024-06-03        8223.06           8223.06      0.0
23  0600-006556 2024-06-03        9180.00           9180.00      0.0
24  0600-006553 2024-06-03       16746.00          16746.00      0.0
25  0600-006551 2024-06-03        4208.64           4208.64      0.0
26  0600-004489 2024-04-18        8112.00           8112.00      0.0
27  0600-004499 2024-04-18       33679.72          33679.72      0.0
28  0600-004483 2024-04-18       11880.00          11880.00      0.0
29  0600-004479 2024-04-18       10200.00          10200.00      0.0
30  0600-004474 2024-04-18       52320.00          52320.00      0.0
31  0600-004485 2024-04-18       20880.00          20880.00      0.0
32  0600-004487 2024-04-18        2028.00           2028.00      0.0
33  0600-004502 2024-04-18        5400.00           5400.00      0.0
34  0600-004496 2024-04-18        9132.00           9132.00      0.0
35  0600-004495 2024-04-18       11001.98          11001.98      0.0
36  0600-004501 2024-04-18        2880.00           2880.00      0.0
37  0600-004503 2024-04-18        6060.00           6060.00      0.0
38  0600-004486 2024-04-18       58194.61          58194.61      0.0
39  0600-004490 2024-04-18       18324.00          18324.00      0.0
40  0600-004481 2024-04-18        7647.60           7647.60      0.0
41  0600-004477 2024-04-18       24847.88          24847.88      0.0

In [8]:
df_rst.loc[df_rst['Номер'] == '0600-015769']

,Номер,Дата,Статус,"Сумма c НДС, ₽",Выездные работы,Офис обслуживания,Платежные документы,Договор
80,0600-015769,2024-11-18,Выдано,4464.00,NaN,Сергиево-Посадский филиал,Счет №1000-150/011630 от 27.06.2024,№0100/2024/1818 от 19.03.2024

In [9]:
df_price.loc[df_price['Номер'] == '0600-015769']

,Номер,Работы,Кол-во,Счет,Без НДС,С НДС,Остаток,"Стоимость, Без НДС","Стоимость, с НДС",Закрытие (месяц),Закрытие (дата),Акт,СФ,Дата оплаты счета (месяц),№ пп,Справка
141,0600-015769,Термометр стеклянный TGL,2,NaN,NaN,NaN,NaN,2480.0,2976.0,ноябрь,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
round(1020769.2 - df_price['Стоимость, с НДС'].astype('float').sum(), 2)

4272.89

In [ ]:
# df_merge.to_excel('data/df_merge.xlsx')