In [381]:
import sqlite3
import pandas as pd

# Создание таблицы

In [400]:
db = sqlite3.connect('stepik.db')

c = db.cursor()

drop_query = 'DROP TABLE IF EXISTS users;'
c.execute(drop_query)

create_query = '''
CREATE TABLE users(
    id BIGINT UNSIGNED NOT NULL PRIMARY KEY,
    firstname VARCHAR(100),
	lastname VARCHAR(100),
	login VARCHAR(100),
	email VARCHAR(100) UNIQUE,
	password_hash VARCHAR(256),
	phone BIGINT UNSIGNED UNIQUE

);
'''
# id SERIAL == BIGINT UNSIGNED NOT NULL AUTO_INCREMENT UNIQUE

c.execute(create_query)

db.commit()

db.close()

In [ ]:
db = sqlite3.connect('stepik.db')

c = db.cursor()

drop_query = 'DROP TABLE IF EXISTS user_settings;'
c.execute(drop_query)

create_query = """
CREATE TABLE user_settings(
    user_id BIGINT UNSIGNED NOT NULL,
    is_premium_account BIT,
    is_night_mode_enabled BIT,
    color_scheme TINYINT,
    LANGUAGE TINYINT,
    status_text VARCHAR(70),
    notifications_and_sounds JSON,
    created_at DATETIME DEFAULT NOW);
"""

c.execute(create_query)

c.execute("""
ALTER TABLE user_settings ADD CONSTRAINT fk_user_settings_user_id
FOREIGN KEY (user_id) REFERENCES users(id)
ON UPDATE CASCADE
ON DELETE RESTRICT;""")

db.commit()

db.close()

OperationalError: near "FOREIGN": syntax error

# Добавление записей

In [383]:
db = sqlite3.connect('stepik.db')

c = db.cursor()

insert_query = 'INSERT INTO users'
# id SERIAL == BIGINT UNSIGNED NOT NULL AUTO_INCREMENT UNIQUE

c.execute(insert_query)


db.close

OperationalError: incomplete input

In [ ]:
df = pd.read_sql_table(db, )

TypeError: read_sql_table() missing 1 required positional argument: 'con'

# 1. Подключение к базе данных

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(r'data\example.db')

query = 'SELECT * FROM employees'

df = pd.read_sql(query, conn)

# conn.close()

In [ ]:
df.head()

   id          name  age department
0   1      John Doe   30         IT
1   2    Jane Smith   35         HR
2   3  Mark Johnson   28      Sales

# 1. Подключение к серверу MySQL из Python

In [ ]:
from getpass import getpass
from mysql.connector import connect, Error

In [ ]:
# try:
#     with connect(
#         host = 'localhost',
#         # user=input('Имя пользователя: '),
#         # password = getpass('Пароль: '),
#         user = 'root',
#         password = 'lolik`12*-',
#     ) as connection:
#         print(connection)
#         create_db_query = 'CREATE DATABASE online_movie_rating'
#         with connection.cursor() as cursor:
#             cursor.execute(create_db_query)
# except Error as e:
#     print(e)

In [ ]:
import mysql.connector as con

connection = connect(
    host='localhost',
    user='root',
    password='lolik`12*-',
    database='stepik_course'
    )

In [ ]:
# Объект MySQLConnection хранится в переменной connection, которую мы будем использовать для доступа к серверу MySQL.
connection

# 2. Создание базы данных

In [ ]:
# try:
#     with connect(
#         host='localhost',
#         # user=input('Имя пользователя: '),
#         # password = getpass('Пароль: '),
#         user = 'root',
#         password = 'lolik`12*-',
#     ) as connection:
#         create_db_query = 'CREATE DATABASE online_movie_rating'
#         with connection.cursor() as cursor:
#             cursor.execute(create_db_query)
# except Error as e:
#     print(e)

In [ ]:
# Создать базу данных

create_db_query = 'CREATE DATABASE IF NOT EXISTS online_movie_rating'
with connection.cursor() as cursor:
    cursor.execute(create_db_query)

In [ ]:
# Показать созданные базы данных

show_db_query = 'SHOW DATABASES'
with connection.cursor() as cursor:
    cursor.execute(show_db_query)
    for db in cursor:
        print(db)

('booking_db',)
('departments_db',)
('information_schema',)
('my_schema',)
('mysql',)
('online_movie_rating',)
('performance_schema',)
('sakila',)
('stepik_course',)
('sys',)
('university_db',)
('world',)

# 3. Подключение к существующей базе данных

In [ ]:
try:
    with connect(
        host='localhost',
        user = 'root',
        password = 'lolik`12*-',
        database='online_movie_rating',
    ) as connection:
        print(connection)
except Error as e:
    print(e)

<mysql.connector.connection.MySQLConnection object at 0x0000015D32492120>

# 4. Создание таблиц с помощью оператора CREATE TABLE

In [ ]:
# База данных будет состоять из трех таблиц:

# 1. movies ― общая информация о фильмах:
# id
# title
# release year
# genre
# collection_in_mi

# 2. reviewers ― информация о людях, опубликовавших оценки фильмов:
# id
# first_name
# last_name

# 3. ratings ― информация об оценках фильмов рецензентами:
# movie_id (foreign key)
# reviewer_id (foreign key)
# rating

In [ ]:
# create_movies_table_query = """
# CREATE TABLE movies(
#     id INT AUTO_INCREMENT PRIMARY KEY,
#     title VARCHAR(100),
#     release_year YEAR(4),
#     genre VARCHAR(100),
#     collection_in_mil INT
# )
# """
# with connection.cursor() as cursor:
#     cursor.execute(create_movies_table_query)

In [ ]:
# Оператор connection.commit(). 
# По умолчанию коннектор MySQL не выполняет автоматическую фиксацию транзакций. 
# В MySQL модификации, упомянутые в транзакции, происходят только тогда, когда мы используем в конце команду COMMIT. 
# Чтобы внести изменения в таблицу, всегда вызывайте этот метод после каждой транзакции.

# 5.7.1 Взаимодействие Pandas с базами данных

## Модуль SQLAlchemy в Pandas

In [ ]:
# SQLAlchemy - это библиотека Python, которая предоставляет удобный и мощный способ взаимодействия с различными базами данных с использованием SQL. 
# Она представляет собой ORM (Object-Relational Mapping), и позволяет работать с базами данных в объектно-ориентированной парадигме.

## Установка соединения с базой данных

In [ ]:
# Для соединения с базой данных вам необходимо будет установить соответствующий драйвер.
# Установка драйвера базы данных зависит от типа базы данных, с которой вы планируете работать. 
# Каждая база данных имеет свой собственный драйвер, и вам необходимо установить соответствующий драйвер, чтобы SQLAlchemy могла взаимодействовать с этой базой данных.
# Вот некоторые примеры установки драйверов для популярных баз данных:

# MySQL: Если вы планируете работать с базой данных MySQL, установите драйвер mysql-connector-python с помощью следующей команды:
# pip install mysql-connector-python

# PostgreSQL: Если вы планируете работать с базой данных PostgreSQL, установите драйвер psycopg2 с помощью следующей команды:
# pip install psycopg2

# SQLAlchemy Documentation — SQLAlchemy 2.0 Documentation https://docs.sqlalchemy.org/en/20/

In [ ]:
# Установка соединения с базой данных

# Чтобы подключиться к базе данных, мы должны предоставить соединительную строку (connection string), 
# которая содержит информацию о хосте, порте, имени пользователя, пароле и имени базы данных (если требуется). 
# Формат соединительной строки зависит от типа базы данных, с которой мы работаем.

# Примеры соединительных строк для разных типов баз данных:

# MySQL:
# engine = 
# sqlalchemy.create_engine('mysql+mysqlconnector://user:password@host:port/database')

# PostgreSQL:
# engine = 
# sqlalchemy.create_engine('postgresql+psycopg2://user:password@host:port/database')

# После создания объекта engine мы можем использовать его для установления соединения с базой данных.
# connection = engine.connect()

# Теперь у нас есть активное соединение с базой данных, и мы можем выполнять запросы и читать данные из нее.

## Чтение данных из базы данных SQLite

In [ ]:
# После установления соединения с базой данных можно к ней обращаться для считывания данных. Для этого существует ряд способов.

In [ ]:
# Использование функции read_sql_query

# Одним из способов чтения данных из базы данных в Pandas является использование функции read_sql_query. 
# Эта функция позволяет выполнить произвольный SQL-запрос и получить результат в виде DataFrame.

In [ ]:
# # Пример использования функции read_sql_query. Пусть у нас имеется база данных SQLite -  'example.db', в которой есть таблица 'employees':

# import pandas as pd
# import sqlite3

# # Установка соединения с базой данных SQLite
# conn = sqlite3.connect('example.db')

# # SQL-запрос
# query = 'SELECT * FROM employees'

# # Чтение данных в DataFrame
# df = pd.read_sql_query(query, conn)

# # Закрытие соединения с базой данных
# conn.close()

# # Вывод DataFrame
# print(df)

In [ ]:
# pd.read_sql_query(sql, con, params=None, index_col=None, coerce_float=True, parse_dates=None, chunksize=None)

# sql: SQL-запрос, который определяет данные, которые требуется извлечь из базы данных.
# con: Объект соединения с базой данных (например, созданный с помощью sqlite3.connect() или другими средствами).
# params (опционально): Параметры, которые могут быть переданы в SQL-запрос в качестве аргументов.
# index_col (опционально): Название столбца, который должен быть использован в качестве индекса (индекс столбцов DataFrame).
# coerce_float (по умолчанию True): Если True, значения чисел преобразуются в тип float.
# parse_dates (опционально): Столбцы, которые требуется распарсить как даты.
# chunksize (опционально): Размер блока (чанка) данных для чтения пакетами.

In [ ]:
# Использование функции read_sql_table

# Функция pd.read_sql_table() позволяет прочитать данные из таблицы базы данных и вернуть результат в виде объекта DataFrame библиотеки Pandas. 
# Она предоставляет удобный способ чтения всей таблицы целиком и преобразования ее в структуру DataFrame. 
# Однако она не поддерживается стандартным модулем sqlite3, для ее использования необходимо подключать библиотеку sqlalchemy.

In [ ]:
# Пример использования: Вот пример, демонстрирующий использование pd.read_sql_table() для чтения данных из таблицы базы данных SQLite:

# import pandas as pd
# from sqlalchemy import create_engine

# # Создание подключения к базе данных с использованием SQLAlchemy
# engine = create_engine('sqlite:///example.db')

# # Чтение таблицы в DataFrame
# table_name = 'employees'
# df = pd.read_sql_table(table_name, engine)

# # Закрытие соединения с базой данных
# engine.dispose()

# # Вывод первых нескольких строк DataFrame
# print(df.head())

In [ ]:
# python pd.read_sql_table( table_name, con, schema=None, index_col=None, coerce_float=True, parse_dates=None, columns=None, chunksize=None, ) 

# table_name: (строка) Имя таблицы в базе данных, которую вы хотите прочитать.
#  con: (объект SQLAlchemy engine или connection) Объект, представляющий соединение с базой данных. 
# Обычно это объект engine или connection, созданный с помощью функции create_engine() или метода engine.connect() из библиотеки SQLAlchemy.
# schema: (строка, опционально) Имя схемы в базе данных, из которой следует читать таблицу. 
# Не все СУБД поддерживают схемы, если схема не указана, будет использоваться схема по умолчанию.
# index_col: (строка или список строк, опционально) Один или несколько столбцов, которые будут использоваться в качестве индекса для полученного DataFrame. 
# Если не указано, будет создан индекс по умолчанию.
# coerce_float: (логический, опционально) Если True, все столбцы с типом данных FLOAT, которые не являются числами с плавающей запятой, 
# будут преобразованы в числа с плавающей запятой. По умолчанию True.
# parse_dates: (список, словарь или 'all', опционально) Столбцы для преобразования в тип данных datetime. 
# Может быть списком столбцов, словарем с {'col_name': format}, где 'format' - строка формата или специальное значение 'all' для обработки всех столбцов.
# columns: (список или подобный, опционально) Список столбцов для чтения из таблицы. Если не указано, будут прочитаны все столбцы.
# chunksize: (целое число, опционально) Если указано, возвращает объект итератора, который читает данные по chunksize строк за раз, а не сразу весь DataFrame. 
# Это полезно для обработки больших таблиц, когда необходимо снизить потребление памяти.

In [ ]:
# Отличие между функциями pd.read_sql_table() и pd.read_sql_query() заключается в способе, которым они читают данные из базы данных.

In [ ]:
# Функция pd.read_sql_table():

# Позволяет прочитать данные из всей таблицы целиком.
# Автоматически создает SQL-запрос для выборки всех столбцов из указанной таблицы.
# Удобна в использовании, когда требуется прочитать все данные из таблицы без необходимости создавать сложные SQL-запросы.

In [ ]:
# Функция pd.read_sql_query():

# Позволяет выполнять произвольные SQL-запросы для извлечения данных из базы данных.
# Позволяет выбирать конкретные столбцы, применять фильтры, сортировку и другие операции, поддерживаемые SQL.
# Предоставляет более гибкий подход, когда требуется выполнить сложные SQL-запросы или получить только определенные данные из таблицы.

In [ ]:
# Таким образом, основное отличие между pd.read_sql_table() и pd.read_sql_query() заключается в уровне абстракции. 
# pd.read_sql_table() предоставляет более простой и удобный способ чтения данных из таблицы целиком.

In [ ]:
# Использование функции pd.read_sql()

# Функция pd.read_sql() является универсальным методом библиотеки Pandas для чтения данных из базы данных с помощью SQL-запроса. 
# Она предоставляет более гибкий и мощный подход, позволяя выполнять различные типы SQL-запросов и обрабатывать результаты.

In [ ]:
# pd.read_sql(sql, con, index_col=None, coerce_float=True, params=None, parse_dates=None, columns=None, chunksize=None)

# sql: SQL-запрос, который определяет данные, которые требуется извлечь из базы данных.
# con: Объект соединения с базой данных (например, созданный с помощью sqlite3.connect() или другими средствами).
# index_col (опционально): Название столбца, который должен быть использован в качестве индекса (индекс столбцов DataFrame).
# coerce_float (по умолчанию True): Если True, значения чисел преобразуются в тип float.
# params (опционально): Параметры, которые могут быть переданы в SQL-запрос в качестве аргументов.
# parse_dates (опционально): Столбцы, которые требуется распарсить как даты.
# columns (опционально): Список столбцов, которые требуется прочитать из результатов запроса.
# chunksize (опционально): Размер блока (чанка) данных для чтения пакетами.

In [ ]:
# Пример использования: Вот пример, демонстрирующий использование pd.read_sql() для выполнения SQL-запроса и чтения данных из базы данных SQLite:

# import sqlite3
# import pandas as pd

# # Создание соединения с базой данных
# conn = sqlite3.connect('example.db')

# # Выполнение SQL-запроса и чтение данных в DataFrame
# query = 'SELECT * FROM employees WHERE age > 30'
# df = pd.read_sql(query, conn)

# # Закрытие соединения с базой данных
# conn.close()

# # Вывод первых нескольких строк DataFrame
# print(df.head())

In [ ]:
# Сравнение функций чтения из базы данных SQLite

# Отличие функции pd.read_sql() от функций pd.read_sql_table() и pd.read_sql_query() заключается в способе, которым они читают данные из базы данных и вводят SQL-запросы.

# pd.read_sql_table():

# Читает данные из всей таблицы целиком.
# Автоматически создает SQL-запрос для выборки всех столбцов из указанной таблицы.
# Удобна в использовании, когда требуется прочитать все данные из таблицы без необходимости создавать сложные SQL-запросы.
# pd.read_sql_query():

# Позволяет выполнять произвольные SQL-запросы для извлечения данных из базы данных.
# Позволяет выбирать конкретные столбцы, применять фильтры, сортировку и другие операции, поддерживаемые SQL.
# Предоставляет более гибкий подход, когда требуется выполнить сложные SQL-запросы или получить только определенные данные из таблицы.
# pd.read_sql():

# Позволяет выполнить SQL-запрос и получить результаты в виде объекта DataFrame.
# Позволяет выполнять произвольные SQL-запросы и обрабатывать результаты.
# Обеспечивает более гибкий и мощный подход, чем pd.read_sql_table() и pd.read_sql_query().
# Может быть использован для чтения данных из таблицы целиком или для выполнения сложных запросов с фильтрацией, сортировкой, объединением таблиц и другими операциями.

# Выбор между этими функциями зависит от требований вашего проекта и типа операций, которые вам необходимо выполнить с данными из базы данных.
#  
# Если вам нужно прочитать данные из таблицы целиком, то pd.read_sql_table() может быть предпочтительным. 
# Если вам требуется выполнить произвольный SQL-запрос, выбрать определенные столбцы или применить фильтрацию, 
# то pd.read_sql_query() или pd.read_sql() предоставят большую гибкость и функциональность.

## Подключение к открытым базам данных онлайн с использованием API и библиотеки requests

In [ ]:
# Для отправки запросов к онлайн базам данных через интернет можно использовать библиотеку Requests - это популярная библиотека Python, 
# используемая для отправки запросов HTTP. Она обеспечивает удобный и простой способ взаимодействия с веб-сервисами и API, 
# предоставляя поддержку различных HTTP-методов, обработку ошибок, загрузку файлов, аутентификацию, сеансы, куки и многое другое.

In [ ]:
# Основные функции и возможности библиотеки Requests:

# 1. HTTP-методы: Библиотека поддерживает все основные методы HTTP, такие как GET, POST, PUT, DELETE, HEAD, OPTIONS и PATCH.
# 2. Обработка параметров URL: Requests позволяет удобно обрабатывать параметры URL и вставлять их в адресе запроса.
# 3. Аутентификация: Поддерживает различные механизмы аутентификации, такие как базовая аутентификация, аутентификация с использованием OAuth 1.0, OAuth 2.0 и т.д.
# 4. Таймауты и ошибки: Библиотека обеспечивает обработку сетевых ошибок и предоставляет таймауты для контроля над временем ожидания запроса.
# 5. cookies и сеансы: Requests поддерживает работу с cookies и управление сеансами, позволяя сохранять информацию о сеансах между различными запросами.
# 6. Загрузка файлов: Работа с множественными файлами и загрузка их на сервер с использованием многоразовой отправки формы.
# 7. Обработка ответов: Преобразование ответа сервера в текст, JSON или бинарные данные для дальнейшей обработки.
# 8. Настройка заголовков: Возможность добавления и изменения заголовков HTTP запроса.

# Пример использования библиотеки Requests Для начала установите библиотеку Requests, используя pip:

# pip install requests

In [ ]:
import requests

url = 'https://jsonplaceholder.typicode.com/todos/1'
response = requests.get(url)

requests.get(url)

In [ ]:
print(response.status_code)

# Код состояния HTTP - это трехзначное число, которое указывает результат запроса. 
# Например, код 200 означает успешный запрос, 
# 404 означает 'страница не найдена',
# 500 - 'внутренняя ошибка сервера'.
# При создании и анализе HTTP-запросов информация о кодах состояния часто используется для определения успешности запроса или для обработки возможных ошибок.

200

In [ ]:
json_data = response.json() 
print(json_data)

{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}

## Подключение к открытым базам данным через API

In [ ]:
# Для подключения к открытым базам данным требуется регистрация на сайте.  После регистрации можно будет получить API-ключ веб-сервиса, к которому хотите подключиться.

# Для примера возьмем сервис [Quandl](https://www.quandl.com/), который предоставляет финансовые и экономические данные.

# api_key = 'your_api_key'

In [ ]:
api_key = 'eY7asi2Gm6DhHJcYTbzc'

url = 'https://www.quandl.com/api/v3/datasets/WIKI/FB/data.json?api_key=' + api_key
response = requests.get(url)
response.status_code

403

In [ ]:
# json_data = response.json()

In [ ]:
# dataset = json_data['dataset_data'] 
# column_names = dataset['column_names'] 
# data = dataset['data'] 
# df = pd.DataFrame(data, columns=column_names)

In [ ]:
# # Вывод первых 5 строк DataFrame 
# print(df.head()) 

# # Выбор определенных столбцов 
# df = df[['Date', 'Open', 'Close']] 

# # Фильтрация данных по дате 
# df = df[(df['Date'] >= '2017-01-01') & (df['Date'] <= '2017-12-31')]