In [28]:
import pymysql
import pandas as pd

In [29]:
def push(query):
    try:
        connection = pymysql.connect(
            host='localhost',
            port=3306,
            user='root',
            password='lolik`12*-',
            database='stepik',
            cursorclass=pymysql.cursors.DictCursor,
        )
        print('Succesfully connect')
        print('#' * 20)

        try:
            with connection.cursor() as cursor:
                cursor.execute(query)
                print(f'{' '.join(query.split()[:2])} succesfully')
                if query.split()[0].lower() == 'select':
                    return cursor
                if query.split()[0].lower() in ['insert', 'update', 'delete']:
                    connection.commit()

        finally:
            connection.close()

    except Exception as ex:
        print('Connection refused...')
        print(ex)

In [30]:
# Команды из набора DDL – Data Definition Language (язык описания данных):
# ALTER
# CREATE
# DROP

# Команды из набора DML – Data Manipulation Language (язык манипулирования данными):
# SELECT – выборка данных
# INSERT – вставка новых данных
# UPDATE – обновление данных
# DELETE – удаление данных
# MERGE – слияние данных

# 2. Проектирование БД (команды DDL)

In [31]:
# Удаление таблицы
drop_table_query = 'DROP TABLE IF EXISTS users'
push(drop_table_query)

Succesfully connect
####################
Connection refused...
(3730, "Cannot drop table 'users' referenced by a foreign key constraint 'groups_ibfk_1' on table 'groups'.")

In [32]:
# Создание таблицы users
create_table_query = """
CREATE TABLE users(
    id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
    firstname VARCHAR(100),
    lastname VARCHAR(100) COMMENT 'фамилия',
    login VARCHAR(100),
    email VARCHAR(100) UNIQUE,
    password_hash VARCHAR(256),
    phone BIGINT UNSIGNED UNIQUE,
    
    INDEX idx_users_username(firstname, lastname)
) COMMENT 'пользователи';"""

push(create_table_query)

Succesfully connect
####################
Connection refused...
(1050, "Table 'users' already exists")

In [33]:
# Удаление таблицы
drop_table_query = 'DROP TABLE IF EXISTS user_settings'
push(drop_table_query)

Succesfully connect
####################
DROP TABLE succesfully

In [34]:
# Создание таблицы user_settings

# 1 x 1
create_table_query = """
CREATE TABLE user_settings(
    user_id BIGINT UNSIGNED NOT NULL,
    is_premium_account BIT,
    is_night_mode_enabled BIT,
    color_scheme ENUM('classic', 'day', 'tinted', 'night'),
    LANGUAGE ENUM('english', 'french', 'russian', 'german', 'belorussian', 'croatian', 'dutch'),
    status_text VARCHAR(70),
    notifications_and_sounds JSON,
    created_at DATETIME DEFAULT NOW()
);"""

push(create_table_query)

Succesfully connect
####################
CREATE TABLE succesfully

In [35]:
# Создание связи с таблицами user_settings и users
alter_table_query = """
ALTER TABLE user_settings ADD CONSTRAINT fk_user_settings_user_id
FOREIGN KEY (user_id) REFERENCES users(id)
ON UPDATE CASCADE
ON DELETE RESTRICT;
"""

push(alter_table_query)

Succesfully connect
####################
ALTER TABLE succesfully

In [36]:
# Добавление строки в таблицу users

# insert_query = "INSERT INTO users (id, firstname, lastname, email, phone) VALUES ('2', 'Kelsie', 'Olson', 'xheidenereich@example.net', '9548489264');"

# можно не указывать автоинкрементное (AUTO_INCREMENT) поле
insert_query = """INSERT INTO users (firstname, lastname, email, phone) VALUES
('Ozella', 'Hauck', 'idickens@example.com', '9773438197'),
('Emmet', 'Hammes', 'qcremin@example.org', '9694110645'),
('Lori', 'Koch', 'damaris34@example.net', '9192291407'),
('Sam', 'Kuphal', 'telly.miller@example.net', '9917826315');"""

push(insert_query)

Succesfully connect
####################
Connection refused...
(1062, "Duplicate entry 'damaris34@example.net' for key 'users.email'")

In [37]:
# Запрос селект
select_query = 'SELECT * FROM users'
rows = push(select_query).fetchall()
for row in rows:
    print(row)

Succesfully connect
####################
SELECT * succesfully
{'id': 3, 'firstname': 'Lori', 'lastname': 'Koch', 'login': None, 'email': 'damaris34@example.net', 'password_hash': None, 'phone': 9192291407}
{'id': 4, 'firstname': 'Sam', 'lastname': 'Kuphal', 'login': None, 'email': 'telly.miller@example.net', 'password_hash': None, 'phone': 9917826315}

In [38]:
# Удаление строк
drop_row_query = 'DELETE FROM users WHERE id IN (1, 2)'
push(drop_row_query)

Succesfully connect
####################
DELETE FROM succesfully

In [39]:
# Добавление, изменение типа, переименование, удавление полей таблицы
add_column_query = "ALTER TABLE users ADD COLUMN birthday DATETIME"
push(add_column_query)

modify_column_query = "ALTER TABLE users MODIFY COLUMN birthday DATE"
push(modify_column_query)

rename_column_query = "ALTER TABLE users RENAME COLUMN birthday to date_of_birth"
push(rename_column_query)

drop_column_query = "ALTER TABLE users DROP COLUMN date_of_birth"
push(drop_column_query)

Succesfully connect
####################
ALTER TABLE succesfully
Succesfully connect
####################
ALTER TABLE succesfully
Succesfully connect
####################
ALTER TABLE succesfully
Succesfully connect
####################
ALTER TABLE succesfully

In [40]:
pd.DataFrame(rows)

,id,firstname,lastname,login,email,password_hash,phone
0,3,Lori,Koch,None,damaris34@example.net,None,9192291407
1,4,Sam,Kuphal,None,telly.miller@example.net,None,9917826315

In [41]:
push('ALTER TABLE users ADD COLUMN birthday DATETIME')
rows = push('SELECT * FROM users').fetchall()
display(pd.DataFrame(rows))

push('ALTER TABLE users DROP COLUMN birthday')
rows = push('SELECT * FROM users').fetchall()
display(pd.DataFrame(rows))

Succesfully connect
####################
ALTER TABLE succesfully
Succesfully connect
####################
SELECT * succesfully

,id,firstname,lastname,login,email,password_hash,phone,birthday
0,3,Lori,Koch,None,damaris34@example.net,None,9192291407,None
1,4,Sam,Kuphal,None,telly.miller@example.net,None,9917826315,None

Succesfully connect
####################
ALTER TABLE succesfully
Succesfully connect
####################
SELECT * succesfully

,id,firstname,lastname,login,email,password_hash,phone
0,3,Lori,Koch,None,damaris34@example.net,None,9192291407
1,4,Sam,Kuphal,None,telly.miller@example.net,None,9917826315

In [42]:
# Изменение полей в user_settings
add_property_query = "ALTER TABLE user_settings ADD PRIMARY KEY (user_id)"
push(add_property_query)

# modify_column_query = "ALTER TABLE user_settings MODIFY COLUMN user_id BIGINT UNSIGNED NOT NULL PRIMATY KEY"
# push(modify_column_query)

rename_column_query = "ALTER TABLE user_settings RENAME COLUMN LANGUAGE to app_language"
push(rename_column_query)

Succesfully connect
####################
ALTER TABLE succesfully
Succesfully connect
####################
ALTER TABLE succesfully

In [43]:
# Создание таблицы private_messages

push('DROP TABLE IF EXISTS private_messages;')

# 1 x M
create_table_query = """

CREATE TABLE private_messages(
    id SERIAL,
    sender_id BIGINT UNSIGNED NOT NULL,
    receiver_id BIGINT UNSIGNED NOT NULL,
    reply_to_id BIGINT UNSIGNED NULL,
    media_type ENUM('text', 'image', 'audio', 'video'),
    body TEXT,
    filename VARCHAR(200),
    created_at DATETIME DEFAULT NOW(),

    FOREIGN KEY (sender_id) REFERENCES users(id),
    FOREIGN KEY (receiver_id) REFERENCES users(id),
    FOREIGN KEY (reply_to_id) REFERENCES private_messages(id)
);
"""
push(create_table_query)

Succesfully connect
####################
DROP TABLE succesfully
Succesfully connect
####################
CREATE TABLE succesfully

In [44]:
# Создание таблицы groups

push('DROP TABLE IF EXISTS `groups`;')

create_table_query = """
CREATE TABLE `groups` (
    id SERIAL,
    title VARCHAR(45),
    icon VARCHAR(45),
    invite_link VARCHAR(100),
    settings JSON,
    owner_user_id BIGINT UNSIGNED NOT NULL,
    is_private BIT,
    created_at DATETIME DEFAULT NOW(),

    FOREIGN KEY (owner_user_id) REFERENCES users (id)
);
"""

push(create_table_query)

Succesfully connect
####################
Connection refused...
(3730, "Cannot drop table 'groups' referenced by a foreign key constraint 'group_messages_ibfk_2' on table 'group_messages'.")
Succesfully connect
####################
Connection refused...
(1050, "Table 'groups' already exists")

In [45]:
# Создание таблицы group_messages

push('DROP TABLE IF EXISTS `group_messages`;')

create_table_query = """
CREATE TABLE `group_messages` (
    id SERIAL,
    group_id BIGINT UNSIGNED NOT NULL,
    sender_id BIGINT UNSIGNED NOT NULL,
    reply_to_id BIGINT UNSIGNED NULL,
    media_type ENUM('text', 'image', 'audio', 'video'),
    body TEXT,
    filename VARCHAR(100) NULL,
    created_at DATETIME DEFAULT NOW(),

    FOREIGN KEY (sender_id) REFERENCES users (id),
    FOREIGN KEY (group_id) REFERENCES `groups` (id),
    FOREIGN KEY (reply_to_id) REFERENCES group_messages (id)
);
"""
push(create_table_query)

Succesfully connect
####################
DROP TABLE succesfully
Succesfully connect
####################
CREATE TABLE succesfully

In [46]:
# Создание таблицы channels

push('DROP TABLE IF EXISTS `channels`;')

create_table_query = """
CREATE TABLE channels (
    id SERIAL,
    title VARCHAR(45),
    icon VARCHAR(45),
    invite_link VARCHAR(100),
    settings JSON,
    owner_user_id BIGINT UNSIGNED NOT NULL,
    is_private BIT,
    created_at DATETIME DEFAULT NOW(),
    
    FOREIGN KEY (owner_user_id) REFERENCES users (id)    
);
"""
push(create_table_query)

Succesfully connect
####################

Connection refused...
(3730, "Cannot drop table 'channels' referenced by a foreign key constraint 'channel_subscribers_ibfk_2' on table 'channel_subscribers'.")
Succesfully connect
####################
Connection refused...
(1050, "Table 'channels' already exists")

In [47]:
# Создание таблицы group_messages

push('DROP TABLE IF EXISTS `channel_subscribers`;')

# M x M
create_table_query = """
CREATE TABLE channel_subscribers (
    channel_id BIGINT UNSIGNED NOT NULL,
    user_id BIGINT UNSIGNED NOT NULL,
    status ENUM('requested', 'joined', 'left'),
    created_at DATETIME DEFAULT NOW(),
    updated_at DATETIME ON UPDATE CURRENT_TIMESTAMP,

    PRIMARY KEY (user_id, channel_id),
    FOREIGN KEY (user_id) REFERENCES users (id),
    FOREIGN KEY (channel_id) REFERENCES channels (id)
);
"""
push(create_table_query)

Succesfully connect
####################
DROP TABLE succesfully
Succesfully connect
####################
CREATE TABLE succesfully

In [48]:
# Создание таблицы group_messages

push('DROP TABLE IF EXISTS stories;')

create_table_query = """
CREATE TABLE stories (
    id SERIAL,
    user_id BIGINT UNSIGNED NOT NULL,
    caption VARCHAR(140),
    filename VARCHAR(100),
    views_count INT UNSIGNED,
    created_at DATETIME DEFAULT NOW(),

    FOREIGN KEY (user_id) REFERENCES users (id)
);
"""
push(create_table_query)

Succesfully connect
####################
Connection refused...
(3730, "Cannot drop table 'stories' referenced by a foreign key constraint 'stories_likes_ibfk_2' on table 'stories_likes'.")
Succesfully connect
####################
Connection refused...
(1050, "Table 'stories' already exists")

In [49]:
# Создание таблицы group_messages

push('DROP TABLE IF EXISTS stories_likes;')

create_table_query = """
CREATE TABLE stories_likes (
	id SERIAL,
	story_id BIGINT UNSIGNED NOT NULL,
	user_id BIGINT UNSIGNED NOT NULL,
	created_at DATETIME DEFAULT NOW(),

	FOREIGN KEY (user_id) REFERENCES users (id),		
	FOREIGN KEY (story_id) REFERENCES stories (id)
);"""

push(create_table_query)

Succesfully connect
####################
DROP TABLE succesfully
Succesfully connect
####################
CREATE TABLE succesfully

In [50]:
# В связи с активным развитием проекта принято архитектурное решение вынести информацию о языках приложения 
# из поля app_language в таблице user_settings в отдельную таблицу-справочник языков.

# Архитектор обосновывает решение тем, что при добавлении нового языка в платформу проще добавить новую строку в таблицу, 
# чем изменять существующее поле в таблице.

In [51]:
# Сначала создадим таблицу languages.

# Поля:
# id - целочисленный первичный ключ (для простоты договоримся использовать псевдотип SERIAL)
# name - строка, название языка (содержит только уникальные значения, не может быть пустым)

push('DROP TABLE IF EXISTS languages;')

create_table_query = """
CREATE TABLE languages (
    id SERIAL,
    name VARCHAR(100) NOT NULL UNIQUE
);
"""

push(create_table_query)

Succesfully connect
####################
DROP TABLE succesfully
Succesfully connect
####################
CREATE TABLE succesfully

In [52]:
# Теперь добавим новое поле language_id в таблицу user_settings.
# Тип данных нового поля должен строго совпадать с полем id в таблице languages.

add_column_query = """
ALTER TABLE user_settings 
ADD COLUMN language_id BIGINT UNSIGNED;
"""

push(add_column_query)

Succesfully connect
####################
ALTER TABLE succesfully

In [53]:
# Теперь необходимо сделать поле language_id в таблице user_settings внешним ключом, 
# ссылающимся на идентификатор строки в таблице languages.

add_foreign_key_query = """
ALTER TABLE user_settings
ADD CONSTRAINT fk_language_id_id
FOREIGN KEY (language_id) REFERENCES languages(id)
ON DELETE CASCADE
ON UPDATE CASCADE;
"""

push(add_foreign_key_query)

Succesfully connect
####################
ALTER TABLE succesfully

In [54]:
# Другие люди заполнили таблицу languages нужными данными и проставили правильные значения в поле language_id.
# Осталось удалить поле app_language из таблицы user_settings, потому что теперь оно лишь дублирует новый функционал.

drop_column_query = """
ALTER TABLE user_settings
DROP COLUMN app_language;
"""

push(drop_column_query)

Succesfully connect
####################
ALTER TABLE succesfully

# 3. Работа с данными (команды DML, CRUD)