In [ ]:
import pymysql
import pandas as pd

In [1]:
def push(query):
    try:
        connection = pymysql.connect(
            host='localhost',
            port=3306,
            user='root',
            password='lolik`12*-',
            database='stepik',
            cursorclass=pymysql.cursors.DictCursor,
        )
        print('Succesfully connect')
        print('#' * 20)

        try:
            with connection.cursor() as cursor:
                cursor.execute(query)
                print(f'{' '.join(query.split()[:2])} succesfully')
                if query.split()[0].lower() in ['select', 'show']:
                    return cursor
                if query.split()[0].lower() in ['insert', 'update', 'delete']:
                    connection.commit()

        finally:
            connection.close()

    except Exception as ex:
        print('Connection refused...')
        print(ex)

In [2]:
# Команды из набора DDL – Data Definition Language (язык описания данных):
# ALTER
# CREATE
# DROP

# Команды из набора DML – Data Manipulation Language (язык манипулирования данными):
# SELECT – выборка данных
# INSERT – вставка новых данных
# UPDATE – обновление данных
# DELETE – удаление данных
# MERGE – слияние данных

# 2. Проектирование БД (команды DDL)

In [3]:
# Удаление всех таблиц

push('DROP TABLE IF EXISTS channel_subscribers')
push('DROP TABLE IF EXISTS channels')
push('DROP TABLE IF EXISTS group_messages')
push('DROP TABLE IF EXISTS `groups`')
push('DROP TABLE IF EXISTS private_messages')
push('DROP TABLE IF EXISTS stories_likes')
push('DROP TABLE IF EXISTS stories')
push('DROP TABLE IF EXISTS user_settings')
push('DROP TABLE IF EXISTS languages')
push('DROP TABLE IF EXISTS users')

Connection refused...
name 'pymysql' is not defined
Connection refused...
name 'pymysql' is not defined
Connection refused...
name 'pymysql' is not defined
Connection refused...
name 'pymysql' is not defined
Connection refused...
name 'pymysql' is not defined
Connection refused...
name 'pymysql' is not defined
Connection refused...
name 'pymysql' is not defined
Connection refused...
name 'pymysql' is not defined
Connection refused...
name 'pymysql' is not defined
Connection refused...
name 'pymysql' is not defined

In [4]:
# Создание таблицы users
create_table_query = """
CREATE TABLE users(
    id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
    firstname VARCHAR(100),
    lastname VARCHAR(100) COMMENT 'фамилия',
    login VARCHAR(100),
    email VARCHAR(100) UNIQUE,
    password_hash VARCHAR(256),
    phone BIGINT UNSIGNED UNIQUE,
    birthday DATE,
    
    INDEX idx_users_username(firstname, lastname)
) COMMENT 'пользователи';"""

push(create_table_query)

Connection refused...
name 'pymysql' is not defined

In [5]:
# Удаление таблицы
drop_table_query = 'DROP TABLE IF EXISTS user_settings'
push(drop_table_query)

Connection refused...
name 'pymysql' is not defined

In [6]:
# Создание таблицы user_settings

# 1 x 1
create_table_query = """
CREATE TABLE user_settings(
    user_id BIGINT UNSIGNED NOT NULL,
    is_premium_account BIT,
    is_night_mode_enabled BIT,
    color_scheme ENUM('classic', 'day', 'tinted', 'night'),
    LANGUAGE ENUM('english', 'french', 'russian', 'german', 'belorussian', 'croatian', 'dutch'),
    status_text VARCHAR(70),
    notifications_and_sounds JSON,
    created_at DATETIME DEFAULT NOW()
);"""

push(create_table_query)

Connection refused...
name 'pymysql' is not defined

In [7]:
# Создание связи с таблицами user_settings и users
alter_table_query = """
ALTER TABLE user_settings ADD CONSTRAINT fk_user_settings_user_id
FOREIGN KEY (user_id) REFERENCES users(id)
ON UPDATE CASCADE
ON DELETE RESTRICT;
"""

push(alter_table_query)

Connection refused...
name 'pymysql' is not defined

In [8]:
# Добавление строки в таблицу users

# insert_query = "INSERT INTO users (id, firstname, lastname, email, phone) VALUES ('2', 'Kelsie', 'Olson', 'xheidenereich@example.net', '9548489264');"

# можно не указывать автоинкрементное (AUTO_INCREMENT) поле
insert_query = """INSERT INTO users (firstname, lastname, email, phone, birthday) VALUES
('Ozella', 'Hauck', 'idickens@example.com', '9773438197', '1997-01-01'),
('Emmet', 'Hammes', 'qcremin@example.org', '9694110645', '1993-01-01'),
('Lori', 'Koch', 'damaris34@example.net', '9192291407', '1995-01-01'),
('Sam', 'Kuphal', 'telly.miller@example.net', '9917826315', '1999-01-01');"""

push(insert_query)

Connection refused...
name 'pymysql' is not defined

In [9]:
# Запрос селект
select_query = 'SELECT * FROM users'
rows = push(select_query).fetchall()
for row in rows:
    print(row)

Connection refused...
name 'pymysql' is not defined

AttributeError: 'NoneType' object has no attribute 'fetchall'

In [ ]:
# Удаление строк
drop_row_query = 'DELETE FROM users WHERE id IN (1, 2)'
push(drop_row_query)

Succesfully connect
####################
DELETE FROM succesfully

In [ ]:
# Добавление, изменение типа, переименование, удавление полей таблицы
add_column_query = "ALTER TABLE users ADD COLUMN birthday DATETIME"
push(add_column_query)

modify_column_query = "ALTER TABLE users MODIFY COLUMN birthday DATE"
push(modify_column_query)

rename_column_query = "ALTER TABLE users RENAME COLUMN birthday to date_of_birth"
push(rename_column_query)

# drop_column_query = "ALTER TABLE users DROP COLUMN date_of_birth"
# push(drop_column_query)

Succesfully connect
####################
Connection refused...
(1060, "Duplicate column name 'birthday'")
Succesfully connect
####################
ALTER TABLE succesfully
Succesfully connect
####################
ALTER TABLE succesfully

In [ ]:
pd.DataFrame(rows)

,id,firstname,lastname,login,email,password_hash,phone,birthday
0,1,Ozella,Hauck,None,idickens@example.com,None,9773438197,1997-01-01
1,2,Emmet,Hammes,None,qcremin@example.org,None,9694110645,1993-01-01
2,3,Lori,Koch,None,damaris34@example.net,None,9192291407,1995-01-01
3,4,Sam,Kuphal,None,telly.miller@example.net,None,9917826315,1999-01-01

In [ ]:
# Изменение полей в user_settings
add_property_query = "ALTER TABLE user_settings ADD PRIMARY KEY (user_id)"
push(add_property_query)

# modify_column_query = "ALTER TABLE user_settings MODIFY COLUMN user_id BIGINT UNSIGNED NOT NULL PRIMATY KEY"
# push(modify_column_query)

rename_column_query = "ALTER TABLE user_settings RENAME COLUMN LANGUAGE to app_language"
push(rename_column_query)

Succesfully connect
####################
ALTER TABLE succesfully
Succesfully connect
####################
ALTER TABLE succesfully

In [ ]:
# Создание таблицы private_messages

push('DROP TABLE IF EXISTS private_messages;')

# 1 x M
create_table_query = """
CREATE TABLE private_messages(
    id SERIAL,
    sender_id BIGINT UNSIGNED NOT NULL,
    receiver_id BIGINT UNSIGNED NOT NULL,
    reply_to_id BIGINT UNSIGNED NULL,
    media_type ENUM('text', 'image', 'audio', 'video'),
    body TEXT,
    filename VARCHAR(200),
    created_at DATETIME DEFAULT NOW(),

    FOREIGN KEY (sender_id) REFERENCES users(id),
    FOREIGN KEY (receiver_id) REFERENCES users(id),
    FOREIGN KEY (reply_to_id) REFERENCES private_messages(id)
);
"""
push(create_table_query)

Succesfully connect
####################
DROP TABLE succesfully
Succesfully connect
####################
CREATE TABLE succesfully

In [ ]:
# Создание таблицы groups

push('DROP TABLE IF EXISTS `groups`;')

create_table_query = """
CREATE TABLE `groups` (
    id SERIAL,
    title VARCHAR(45),
    icon VARCHAR(45),
    invite_link VARCHAR(100),
    settings JSON,
    owner_user_id BIGINT UNSIGNED NOT NULL,
    is_private BIT,
    created_at DATETIME DEFAULT NOW(),

    FOREIGN KEY (owner_user_id) REFERENCES users (id)
);
"""

push(create_table_query)

Succesfully connect
####################
DROP TABLE succesfully
Succesfully connect
####################
CREATE TABLE succesfully

In [ ]:
# Создание таблицы group_messages

push('DROP TABLE IF EXISTS `group_messages`;')

create_table_query = """
CREATE TABLE `group_messages` (
    id SERIAL,
    group_id BIGINT UNSIGNED NOT NULL,
    sender_id BIGINT UNSIGNED NOT NULL,
    reply_to_id BIGINT UNSIGNED NULL,
    media_type ENUM('text', 'image', 'audio', 'video'),
    body TEXT,
    filename VARCHAR(100) NULL,
    created_at DATETIME DEFAULT NOW(),

    FOREIGN KEY (sender_id) REFERENCES users (id),
    FOREIGN KEY (group_id) REFERENCES `groups` (id),
    FOREIGN KEY (reply_to_id) REFERENCES group_messages (id)
);
"""
push(create_table_query)

Succesfully connect
####################
DROP TABLE succesfully
Succesfully connect
####################
CREATE TABLE succesfully

In [ ]:
# Создание таблицы channels

push('DROP TABLE IF EXISTS `channels`;')

create_table_query = """
CREATE TABLE channels (
    id SERIAL,
    title VARCHAR(45),
    icon VARCHAR(45),
    invite_link VARCHAR(100),
    settings JSON,
    owner_user_id BIGINT UNSIGNED NOT NULL,
    is_private BIT,
    created_at DATETIME DEFAULT NOW(),
    
    FOREIGN KEY (owner_user_id) REFERENCES users (id)    
);
"""
push(create_table_query)

Succesfully connect
####################
DROP TABLE succesfully
Succesfully connect
####################
CREATE TABLE succesfully

In [ ]:
# Создание таблицы group_messages

push('DROP TABLE IF EXISTS `channel_subscribers`;')

# M x M
create_table_query = """
CREATE TABLE channel_subscribers (
    channel_id BIGINT UNSIGNED NOT NULL,
    user_id BIGINT UNSIGNED NOT NULL,
    status ENUM('requested', 'joined', 'left'),
    created_at DATETIME DEFAULT NOW(),
    updated_at DATETIME ON UPDATE CURRENT_TIMESTAMP,

    PRIMARY KEY (user_id, channel_id),
    FOREIGN KEY (user_id) REFERENCES users (id),
    FOREIGN KEY (channel_id) REFERENCES channels (id)
);
"""
push(create_table_query)

Succesfully connect
####################
DROP TABLE succesfully
Succesfully connect
####################
CREATE TABLE succesfully

In [ ]:
# Создание таблицы group_messages

push('DROP TABLE IF EXISTS stories;')

create_table_query = """
CREATE TABLE stories (
    id SERIAL,
    user_id BIGINT UNSIGNED NOT NULL,
    caption VARCHAR(140),
    filename VARCHAR(100),
    views_count INT UNSIGNED,
    created_at DATETIME DEFAULT NOW(),

    FOREIGN KEY (user_id) REFERENCES users (id)
);
"""
push(create_table_query)

Succesfully connect
####################
DROP TABLE succesfully
Succesfully connect
####################
CREATE TABLE succesfully

In [ ]:
# Создание таблицы group_messages

push('DROP TABLE IF EXISTS stories_likes;')

create_table_query = """
CREATE TABLE stories_likes (
	id SERIAL,
	story_id BIGINT UNSIGNED NOT NULL,
	user_id BIGINT UNSIGNED NOT NULL,
	created_at DATETIME DEFAULT NOW(),

	FOREIGN KEY (user_id) REFERENCES users (id),		
	FOREIGN KEY (story_id) REFERENCES stories (id)
);"""

push(create_table_query)

Succesfully connect
####################
DROP TABLE succesfully
Succesfully connect
####################
CREATE TABLE succesfully

In [ ]:
# В связи с активным развитием проекта принято архитектурное решение вынести информацию о языках приложения 
# из поля app_language в таблице user_settings в отдельную таблицу-справочник языков.

# Архитектор обосновывает решение тем, что при добавлении нового языка в платформу проще добавить новую строку в таблицу, 
# чем изменять существующее поле в таблице.

In [ ]:
# Сначала создадим таблицу languages.

# Поля:
# id - целочисленный первичный ключ (для простоты договоримся использовать псевдотип SERIAL)
# name - строка, название языка (содержит только уникальные значения, не может быть пустым)

push('DROP TABLE IF EXISTS languages;')

create_table_query = """
CREATE TABLE languages (
    id SERIAL,
    name VARCHAR(100) NOT NULL UNIQUE
);
"""

push(create_table_query)

Succesfully connect
####################
DROP TABLE succesfully
Succesfully connect
####################
CREATE TABLE succesfully

In [ ]:
# Теперь добавим новое поле language_id в таблицу user_settings.
# Тип данных нового поля должен строго совпадать с полем id в таблице languages.

add_column_query = """
ALTER TABLE user_settings 
ADD COLUMN language_id BIGINT UNSIGNED;
"""

push(add_column_query)

Succesfully connect
####################
ALTER TABLE succesfully

In [ ]:
# Теперь необходимо сделать поле language_id в таблице user_settings внешним ключом, 
# ссылающимся на идентификатор строки в таблице languages.

add_foreign_key_query = """
ALTER TABLE user_settings
ADD CONSTRAINT fk_language_id_id
FOREIGN KEY (language_id) REFERENCES languages(id)
ON DELETE CASCADE
ON UPDATE CASCADE;
"""

push(add_foreign_key_query)

Succesfully connect
####################
ALTER TABLE succesfully

In [ ]:
# Другие люди заполнили таблицу languages нужными данными и проставили правильные значения в поле language_id.
# Осталось удалить поле app_language из таблицы user_settings, потому что теперь оно лишь дублирует новый функционал.

drop_column_query = """
ALTER TABLE user_settings
DROP COLUMN app_language;
"""

push(drop_column_query)

Succesfully connect
####################
ALTER TABLE succesfully

# 3. Работа с данными (команды DML, CRUD)

## 3.1  Команда INSERT

In [ ]:
# Очистка таблицы (пересоздаем)

truncate_query = 'TRUNCATE users'
push(truncate_query)

Succesfully connect
####################
Connection refused...
(1701, 'Cannot truncate a table referenced in a foreign key constraint (`stepik`.`user_settings`, CONSTRAINT `fk_user_settings_user_id`)')

In [ ]:
# базовый вариант команды INSERT

insert_query = """
INSERT INTO users (id, firstname, lastname, email, phone, date_of_birth)
VALUES ('1', 'Kelsie', 'Olson', 'xheidenreich@example.net', '9548492646', '2000-01-01');"""

push(insert_query)

Succesfully connect
####################
INSERT INTO succesfully

In [ ]:
# можно не указывать автоинкрементное (AUTO_INCREMENT) поле
insert_query = """
INSERT INTO users (firstname, lastname, email, phone, date_of_birth)
VALUES ('Celestino', 'Cruickshank', 'flavio.hammes2@example.com', '9686686722', '2011-01-01');"""

push(insert_query)

Succesfully connect
####################
INSERT INTO succesfully

In [ ]:
# идентификаторы можно добавлять не по порядку
insert_query = """
INSERT INTO users (id, firstname, lastname, email, phone, date_of_birth)
VALUES ('93', 'Gregory', 'Jenkins', 'weimann.richard@example.com', '9860971258', '2011-01-01');"""

push(insert_query)

Succesfully connect
####################
INSERT INTO succesfully

In [ ]:
# добавим колонку is_deleted
add_column_query = "ALTER TABLE users ADD COLUMN is_deleted BIT DEFAULT 0;"

push(add_column_query)

Succesfully connect
####################
ALTER TABLE succesfully

In [ ]:
# значение по умолчанию для поля is_deleted
# insert_query = """
# INSERT INTO users (firstname, lastname, is_deleted)
# VALUES ('Celestino', 'Cruickshank', DEFAULT);"""

# push(insert_query)

In [ ]:
# не указываем имена полей - рабочий вариант
insert_query = """
INSERT INTO users
VALUES (101, 'Eleonore', 'Ward', NULL, 'antonietta333@example.com',DEFAULT, 9397815333, '2000-01-01', 0);"""

push(insert_query)

Succesfully connect
####################

INSERT INTO succesfully

In [ ]:
# пакетная вставка данных - работает быстро (одиночная вставка данных - работает медленно)
insert_query = """
INSERT INTO users (firstname, lastname, email, phone, date_of_birth) VALUES
('Ozella', 'Hauck', 'idickens@example.com', '9773438197', '1989-01-01'),
('Emmet', 'Hammes', 'qcremin@example.org', '9694110645', '1991-01-01'),
('Lori', 'Koch', 'damaris34@example.net', '9192291407', '1990-01-01'),
('Sam', 'Kuphal', 'telly.miller@example.net', '9917826315', '1995-01-01');"""

push(insert_query)

Succesfully connect
####################
Connection refused...
(1062, "Duplicate entry 'damaris34@example.net' for key 'users.email'")

In [ ]:
# второй вариант команды INSERT (можно вставить только 1 строку)
insert_query = """
INSERT INTO users
SET
    firstname = 'Miguel',
    lastname = 'Watsica',
    email = 'hassan.kuphal@example.org',
    login = 'hassan_kuphal',
    phone = '9824696112'
;"""

push(insert_query)

Succesfully connect
####################
INSERT INTO succesfully

In [ ]:
# INSERT-SELECT
insert_query = """
INSERT INTO users
    (firstname, lastname, email, phone, date_of_birth)
SELECT
    'Sam2', 'Kuphal2', 'telly.miller222@example.net', '9917826222', '2021-01-01';"""

push(insert_query)

Succesfully connect
####################
INSERT INTO succesfully

In [ ]:
# опция ON DUPLICATE KEY UPDATE позволяет выполнить обновление
insert_query = """
INSERT INTO users (id, firstname, lastname, email, phone, date_of_birth)
VALUES (2, 'Lucile', 'Rolfson', 'dbartell@example.net', 9258387168, '2021-01-01')
ON DUPLICATE KEY UPDATE
    firstname = 'Lucile',
    lastname = 'Rolfson',
    email = 'dbartell@example.net',
    phone = 9258387168
;"""

push(insert_query)

Succesfully connect
####################
INSERT INTO succesfully

## 3.2 Команда SELECT

In [ ]:
# Вывод текста:
select_query = "SELECT 'Hello world';"

push(select_query)

Succesfully connect
####################
SELECT 'Hello succesfully

In [ ]:
# вывести всю таблицу users (все поля, все строки):
select_query = """
SELECT *
FROM users;"""

pd.DataFrame(push(select_query)).head(5)

Succesfully connect
####################
SELECT * succesfully

,id,firstname,lastname,login,email,password_hash,phone,date_of_birth,is_deleted
0,1,Kelsie,Olson,None,xheidenreich@example.net,None,9548492646,2000-01-01,b'\x00'
1,2,Lucile,Rolfson,None,dbartell@example.net,None,9258387168,2021-01-01,b'\x00'
2,3,Lori,Koch,None,damaris34@example.net,None,9192291407,1995-01-01,b'\x00'
3,4,Sam,Kuphal,None,telly.miller@example.net,None,9917826315,1999-01-01,b'\x00'
4,5,Celestino,Cruickshank,None,flavio.hammes2@example.com,None,9686686722,2011-01-01,b'\x00'

In [ ]:
# явно указываем поля, которые необходимо вывести:
select_query = """
SELECT id, firstname , lastname , login , email , password_hash , phone, is_deleted
FROM users;"""

pd.DataFrame(push(select_query)).head(5)

Succesfully connect
####################
SELECT id, succesfully

,id,firstname,lastname,login,email,password_hash,phone,is_deleted
0,1,Kelsie,Olson,None,xheidenreich@example.net,None,9548492646,b'\x00'
1,2,Lucile,Rolfson,None,dbartell@example.net,None,9258387168,b'\x00'
2,3,Lori,Koch,None,damaris34@example.net,None,9192291407,b'\x00'
3,4,Sam,Kuphal,None,telly.miller@example.net,None,9917826315,b'\x00'
4,5,Celestino,Cruickshank,None,flavio.hammes2@example.com,None,9686686722,b'\x00'

In [ ]:
# выводим пользователя по его идентификатору (с лимитом 10 с сортировкой по имени):
select_query = """
SELECT *
FROM users
WHERE id < 5 or id IN (5, 7)
ORDER BY firstname DESC
LIMIT 10;"""

pd.DataFrame(push(select_query))

Succesfully connect
####################
SELECT * succesfully

,id,firstname,lastname,login,email,password_hash,phone,date_of_birth,is_deleted
0,4,Sam,Kuphal,None,telly.miller@example.net,None,9917826315,1999-01-01,b'\x00'
1,2,Lucile,Rolfson,None,dbartell@example.net,None,9258387168,2021-01-01,b'\x00'
2,3,Lori,Koch,None,damaris34@example.net,None,9192291407,1995-01-01,b'\x00'
3,1,Kelsie,Olson,None,xheidenreich@example.net,None,9548492646,2000-01-01,b'\x00'
4,5,Celestino,Cruickshank,None,flavio.hammes2@example.com,None,9686686722,2011-01-01,b'\x00'

In [ ]:
# выводим количество строк с указанным именем:
select_query = """
SELECT count(firstname)
FROM users;"""

pd.DataFrame(push(select_query))

Succesfully connect
####################
SELECT count(firstname) succesfully

   count(firstname)
0                 9

In [ ]:
# выводим количество строк с уникальными именами:
select_query = """
SELECT count(DISTINCT firstname) as DISTINCT_COUNT
FROM users;"""

pd.DataFrame(push(select_query))

Succesfully connect
####################
SELECT count(DISTINCT succesfully

   DISTINCT_COUNT
0               9

## 3.3 Команда UPDATE

In [ ]:
# вставим новую строку в таблицу channels
# (создадим новый канал)

push("""INSERT INTO channels(title, invite_link, owner_user_id, is_private)
VALUES ('MySQL news', 'https://t.me/mysql_news', 1, true);""")

Succesfully connect
####################
INSERT INTO succesfully

In [ ]:
# вставим новые строки в таблицу channel_subscribers
# (пользователи отправляют заявки на вступление в канал)
push("""INSERT INTO channel_subscribers(channel_id, user_id, status)
VALUES (1, 2, 'requested');""")
     
push("""INSERT INTO channel_subscribers(channel_id, user_id, status)
VALUES (1, 3, 'requested');""")

push("""INSERT INTO channel_subscribers(channel_id, user_id, status)
VALUES (1, 4, 'requested');""")

Succesfully connect
####################
INSERT INTO succesfully
Succesfully connect
####################
INSERT INTO succesfully
Succesfully connect
####################
INSERT INTO succesfully

In [ ]:
# обновит все строки в таблице channel_subscribers (плохо!)
push("""UPDATE channel_subscribers
SET
    status = 'joined';""")

Succesfully connect
####################
UPDATE channel_subscribers succesfully

In [ ]:
# админ подтверждает добавление подписчика в канал
push("""UPDATE channel_subscribers
SET
    status = 'joined'
WHERE channel_id = 1 AND user_id = 2;""")

push("""UPDATE channel_subscribers
SET
    status = 'joined'
WHERE channel_id = 1 AND user_id = 3;""")

Succesfully connect
####################
UPDATE channel_subscribers succesfully
Succesfully connect
####################
UPDATE channel_subscribers succesfully

In [ ]:
# пользователь покидает канал
push("""UPDATE channel_subscribers
SET
    status = 'left'
WHERE channel_id = 1 AND user_id = 2;""")

Succesfully connect
####################
UPDATE channel_subscribers succesfully

In [ ]:
# добавим новый статус 'удален'
push("""ALTER TABLE channel_subscribers
MODIFY COLUMN status ENUM('requested', 'joined', 'left', 'removed');""")

Succesfully connect
####################
ALTER TABLE succesfully

In [ ]:
# пользователя принудительно удалили из канала
push("""UPDATE channel_subscribers
SET
    status = 'removed'
WHERE channel_id = 1 AND user_id = 4;""")

Succesfully connect
####################
UPDATE channel_subscribers succesfully

In [ ]:
# переименуем канал
push("""UPDATE channels
SET title = 'General SQL news'
WHERE id = 1;""")

Succesfully connect
####################
UPDATE channels succesfully

In [ ]:
pd.DataFrame(push("SELECT * FROM channel_subscribers"))

Succesfully connect
####################
SELECT * succesfully

   channel_id  user_id   status          created_at          updated_at
0           1        2     left 2025-03-13 16:49:57 2025-03-13 16:49:57
1           1        3   joined 2025-03-13 16:49:57 2025-03-13 16:49:57
2           1        4  removed 2025-03-13 16:49:57 2025-03-13 16:49:57

## 3.4 Команда DELETE

In [ ]:
# удаляем все строки из таблицы сообщений 
# (очищает данные, индексация сохраняется после удаления данных)

push("DELETE FROM private_messages;")

Succesfully connect
####################
DELETE FROM succesfully

In [ ]:
# пересоздаем таблицу сообщений (DROP-CREATE)
# (пересоздается таблица, индексация следовательно обнуляется)

push("TRUNCATE private_messages;")

Succesfully connect
####################
TRUNCATE private_messages; succesfully

In [ ]:
columns = push('SHOW COLUMNS FROM private_messages')

fields_df = pd.DataFrame(columns)
fields_df

Succesfully connect
####################
SHOW COLUMNS succesfully

,Field,Type,Null,Key,Default,Extra
0,id,bigint unsigned,NO,PRI,None,auto_increment
1,sender_id,bigint unsigned,NO,MUL,None,
2,receiver_id,bigint unsigned,NO,MUL,None,
3,reply_to_id,bigint unsigned,YES,MUL,None,
4,media_type,"enum('text','image','audio','video')",YES,,None,
5,body,text,YES,,None,
6,filename,varchar(200),YES,,None,
7,created_at,datetime,YES,,CURRENT_TIMESTAMP,DEFAULT_GENERATED

In [ ]:
print(fields_df['Field'].to_list())

['id', 'sender_id', 'receiver_id', 'reply_to_id', 'media_type', 'body', 'filename', 'created_at']

In [ ]:
push("DROP TABLE IF EXISTS `private_messages`;")
     
create_table_query = """
CREATE TABLE `private_messages`(
    `id` SERIAL,
    `sender_id` BIGINT UNSIGNED NOT NULL,
    `receiver_id` BIGINT UNSIGNED NOT NULL,
    `reply_to_id` BIGINT UNSIGNED NULL,
    `media_type` ENUM('text', 'image', 'audio', 'video'),
    `body` TEXT,
    `filename` VARCHAR(200),
    `created_at` DATETIME DEFAULT NOW(),

    FOREIGN KEY (sender_id) REFERENCES users(id),
    FOREIGN KEY (receiver_id) REFERENCES users(id),
    FOREIGN KEY (reply_to_id) REFERENCES private_messages(id) 

    

);"""

push(create_table_query)

Succesfully connect
####################
DROP TABLE succesfully
Succesfully connect
####################
CREATE TABLE succesfully

In [ ]:
# подготовка данных (добавляем несколько сообщений между пользователями)
insert_query = """
INSERT INTO `private_messages`(sender_id, receiver_id, media_type, body, filename, created_at)
VALUES
(1,2,'text','Eveniet suscipit ullam occaecati consequatur hic. Nulla est in molestiae odit. Placeat perferendis consequatur qui omnis id vel autem.','officiis','2010-04-07 09:01:02'),
(2,1,'audio','Non repudiandae maiores molestiae vel doloribus. Quis facere blanditiis est magnam est ut vero.','qui','1971-05-29 07:31:20'),
(1,3,'text','Voluptas qui consequatur quae sunt et consequatur. Rem alias sed cupiditate explicabo voluptate. Officiis repellat porro accusamus eveniet quos. Laborum dolores sed enim aut.','excepturi','1998-10-28 20:08:01'),
(1,4,'video','Est delectus tempora exercitationem atque tempora reiciendis nulla voluptatem. Cupiditate non fugit blanditiis quasi ad et autem expedita. Aut est provident odio quasi possimus.','vitae','2001-12-03 15:54:43'),
(1,2,'video','Est ducimus amet et asperiores. Reiciendis debitis qui ipsa. Nemo laboriosam ea aut omnis voluptates quisquam accusantium. Quibusdam totam similique aut.','optio','1970-09-18 20:39:35'),
(1,2,'video','Quis cupiditate quis maxime et placeat consectetur ut quis. Voluptas unde voluptatem deserunt in dolorum maxime. Sunt fugiat sit tenetur placeat at.','laboriosam','1980-05-11 03:39:43'),
(2,1,'audio','Voluptatum nihil rem laboriosam delectus aperiam consequuntur et modi. Laudantium molestias corporis quo omnis ut ea. At minima iure et voluptatum culpa deleniti non. Sint laboriosam molestias dolor vel. Quibusdam omnis quas ullam dolor.','sit','1988-08-19 10:30:44'),
(2,4,'audio','Nemo eos sed aspernatur voluptates perspiciatis tenetur. Voluptas sunt magnam vero nam earum. Magnam eum vitae qui. Vel atque accusantium in non rem non et.','consectetur','1984-06-28 16:22:44'),
(4,5,'audio','Quod nihil possimus id qui. Quasi officia rerum eum doloribus est voluptas maxime. Et debitis enim non enim fugit.','repellat','1981-12-11 16:04:11'),
(3,1,'text','Qui voluptatem earum temporibus rem vel sequi. Et quasi vel qui est autem aliquam. Modi est voluptatem aut rerum ea velit. Voluptate et eligendi debitis nostrum nihil dolorum.','nihil','1988-02-16 13:29:14'),
(3,2,'image','Rem et ullam cum vitae autem reprehenderit quia. Enim a ipsam id ut aliquam est error. Quis dolorum omnis expedita eaque maiores illo.','et','2015-04-07 18:02:42')
;"""

push(insert_query)

Succesfully connect
####################
INSERT INTO succesfully

In [ ]:
pd.DataFrame(push("SELECT * FROM private_messages"))

Succesfully connect
####################
SELECT * succesfully

,id,sender_id,receiver_id,reply_to_id,media_type,body,filename,created_at
0,1,1,2,None,text,Eveniet suscipit ullam occaecati consequatur h...,officiis,2010-04-07 09:01:02
1,2,2,1,None,audio,Non repudiandae maiores molestiae vel doloribu...,qui,1971-05-29 07:31:20
2,3,1,3,None,text,Voluptas qui consequatur quae sunt et consequa...,excepturi,1998-10-28 20:08:01
3,4,1,4,None,video,Est delectus tempora exercitationem atque temp...,vitae,2001-12-03 15:54:43
4,5,1,2,None,video,Est ducimus amet et asperiores. Reiciendis deb...,optio,1970-09-18 20:39:35
5,6,1,2,None,video,Quis cupiditate quis maxime et placeat consect...,laboriosam,1980-05-11 03:39:43
6,7,2,1,None,audio,Voluptatum nihil rem laboriosam delectus aperi...,sit,1988-08-19 10:30:44
7,8,2,4,None,audio,Nemo eos sed aspernatur voluptates perspiciati...,consectetur,1984-06-28 16:22:44
8,9,4,5,None,audio,Quod nihil possimus id qui. Quasi officia reru...,repellat,1981-12-11 16:04:11
9,10,3,1,None,text,Qui voluptatem earum temporibus rem vel sequi....,nihil,1988-02-16 13:29:14
10,11,3,2,None,image,Rem et ullam cum vitae autem reprehenderit qui...,et,2015-04-07 18:02:42

In [ ]:
# удаляем сообщения от пользователя номер 1 к пользователю номер 2
delete_query = """
DELETE FROM private_messages
WHERE sender_id = 1 AND receiver_id IN (2, 4) OR sender_id = 2;"""

push(delete_query)

Succesfully connect
####################
DELETE FROM succesfully

In [ ]:
pd.DataFrame(push("SELECT * FROM private_messages"))

Succesfully connect
####################
SELECT * succesfully

,id,sender_id,receiver_id,reply_to_id,media_type,body,filename,created_at
0,3,1,3,None,text,Voluptas qui consequatur quae sunt et consequa...,excepturi,1998-10-28 20:08:01
1,9,4,5,None,audio,Quod nihil possimus id qui. Quasi officia reru...,repellat,1981-12-11 16:04:11
2,10,3,1,None,text,Qui voluptatem earum temporibus rem vel sequi....,nihil,1988-02-16 13:29:14
3,11,3,2,None,image,Rem et ullam cum vitae autem reprehenderit qui...,et,2015-04-07 18:02:42

In [ ]:
# пробуем удалить пользователя номер 3
push("""DELETE FROM users
WHERE id = 3;""")

Succesfully connect
####################
Connection refused...
(1451, 'Cannot delete or update a parent row: a foreign key constraint fails (`stepik`.`channel_subscribers`, CONSTRAINT `channel_subscribers_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`))')

In [ ]:
# сначала удаляем его подписки на каналы
push("""DELETE FROM channel_subscribers
WHERE user_id = 3;""")

Succesfully connect
####################
DELETE FROM succesfully

In [ ]:
# удаляем сообщения пользователя номер 3
push("""DELETE FROM private_messages
WHERE sender_id = 3 OR receiver_id = 3;""")

Succesfully connect
####################
DELETE FROM succesfully

In [ ]:
# добавим флаг для удаленных сообщений (вместо физического удаления строк)
push("ALTER TABLE private_messages ADD COLUMN is_deleted BIT NOT NULL DEFAULT 0;")

Succesfully connect
####################

ALTER TABLE succesfully

In [ ]:
# отмечаем сообщения удаленными
push("""UPDATE private_messages
SET is_deleted = 1
WHERE sender_id = 2 AND receiver_id = 1;""")

Succesfully connect
####################
UPDATE private_messages succesfully

In [ ]:
pd.DataFrame(push("SELECT * FROM private_messages"))

Succesfully connect
####################
SELECT * succesfully

,id,sender_id,receiver_id,reply_to_id,media_type,body,filename,created_at,is_deleted
0,9,4,5,None,audio,Quod nihil possimus id qui. Quasi officia reru...,repellat,1981-12-11 16:04:11,b'\x00'

## 3.5 Сервисы для генерации данных

Сервисы для генерации данных: <br>
http://filldb.info/ <br>
http://www.generatedata.com/ <br>
https://sourceforge.net/p/benerator/wiki/Home/ <br>
http://www.dominicgiles.com/datagenerator.html <br>

# 4 Основы SELECT запросов

## 4.1 Фильтрация (WHERE + LIKE)

In [ ]:
# Данные пользователя 
select_query = """
SELECT *
FROM users
WHERE id = 1;"""

display(pd.DataFrame(push(select_query)))

select_query = """
SELECT *
FROM profiles
WHERE user_id = 1;"""

display(pd.DataFrame(push(select_query)))

Succesfully connect
####################
SELECT * succesfully

,id,firstname,lastname,login,email,password_hash,phone,date_of_birth,is_deleted
0,1,Kelsie,Olson,None,xheidenreich@example.net,None,9548492646,2000-01-01,b'\x00'

Succesfully connect
####################
Connection refused...
(1146, "Table 'stepik.profiles' doesn't exist")

Empty DataFrame
Columns: []
Index: []

In [ ]:
# Все каналы со словом 'sql' в названии
select_query = """
SELECT *
FROM channels 
WHERE  title LIKE '%sql%';"""

display(pd.DataFrame(push(select_query)))

select_query = """
SELECT *
FROM channels 
WHERE  title LIKE '%SQL%';"""

display(pd.DataFrame(push(select_query)))

Succesfully connect
####################
SELECT * succesfully

,id,title,icon,invite_link,settings,owner_user_id,is_private,created_at
0,1,General SQL news,None,https://t.me/mysql_news,None,1,b'\x01',2025-03-13 16:49:57

Succesfully connect
####################
SELECT * succesfully

,id,title,icon,invite_link,settings,owner_user_id,is_private,created_at
0,1,General SQL news,None,https://t.me/mysql_news,None,1,b'\x01',2025-03-13 16:49:57

In [ ]:
# Уточним регистр букв при фильтрации
select_query = r"""
SELECT *
FROM channels 
WHERE  title COLLATE utf8mb4_0900_as_cs LIKE '%sql%';"""

display(pd.DataFrame(push(select_query)))

select_query = """
SELECT *
FROM channels 
WHERE  title COLLATE utf8mb4_0900_as_cs LIKE '%SQL%';"""

display(pd.DataFrame(push(select_query)))

Succesfully connect
####################
SELECT * succesfully

Empty DataFrame
Columns: []
Index: []

Succesfully connect
####################
SELECT * succesfully

,id,title,icon,invite_link,settings,owner_user_id,is_private,created_at
0,1,General SQL news,None,https://t.me/mysql_news,None,1,b'\x01',2025-03-13 16:49:57

In [ ]:
# Пользователи с именами на букву ‘K’
select_query = """
SELECT *
FROM users 
WHERE firstname LIKE 'K%';"""

display(pd.DataFrame(push(select_query)))

Succesfully connect
####################
SELECT * succesfully

,id,firstname,lastname,login,email,password_hash,phone,date_of_birth,is_deleted
0,1,Kelsie,Olson,None,xheidenreich@example.net,None,9548492646,2000-01-01,b'\x00'

In [ ]:
# Пользователи с фамилией из 4 букв
select_query = """
SELECT *
FROM users 
WHERE firstname LIKE '____';"""

display(pd.DataFrame(push(select_query)))

Succesfully connect
####################
SELECT * succesfully

,id,firstname,lastname,login,email,password_hash,phone,date_of_birth,is_deleted
0,3,Lori,Koch,None,damaris34@example.net,None,9192291407,1995-01-01,b'\x00'
1,107,Sam2,Kuphal2,None,telly.miller222@example.net,None,9917826222,2021-01-01,b'\x00'

## 4.2 Сортировка (ORDER BY)

In [ ]:
# Генерация данных
insert_query = """
INSERT INTO `private_messages`(sender_id, receiver_id, media_type, body, filename, created_at)
VALUES
(1,2,'text','Eveniet suscipit ullam occaecati consequatur hic. Nulla est in molestiae odit. Placeat perferendis consequatur qui omnis id vel autem.','officiis','2010-04-07 09:01:02'),
(2,1,'audio','Non repudiandae maiores molestiae vel doloribus. Quis facere blanditiis est magnam est ut vero.','qui','1971-05-29 07:31:20'),
(1,3,'text','Voluptas qui consequatur quae sunt et consequatur. Rem alias sed cupiditate explicabo voluptate. Officiis repellat porro accusamus eveniet quos. Laborum dolores sed enim aut.','excepturi','1998-10-28 20:08:01'),
(1,4,'video','Est delectus tempora exercitationem atque tempora reiciendis nulla voluptatem. Cupiditate non fugit blanditiis quasi ad et autem expedita. Aut est provident odio quasi possimus.','vitae','2001-12-03 15:54:43'),
(1,2,'video','Est ducimus amet et asperiores. Reiciendis debitis qui ipsa. Nemo laboriosam ea aut omnis voluptates quisquam accusantium. Quibusdam totam similique aut.','optio','1970-09-18 20:39:35'),
(1,2,'video','Quis cupiditate quis maxime et placeat consectetur ut quis. Voluptas unde voluptatem deserunt in dolorum maxime. Sunt fugiat sit tenetur placeat at.','laboriosam','1980-05-11 03:39:43'),
(2,1,'audio','Voluptatum nihil rem laboriosam delectus aperiam consequuntur et modi. Laudantium molestias corporis quo omnis ut ea. At minima iure et voluptatum culpa deleniti non. Sint laboriosam molestias dolor vel. Quibusdam omnis quas ullam dolor.','sit','1988-08-19 10:30:44'),
(2,4,'audio','Nemo eos sed aspernatur voluptates perspiciatis tenetur. Voluptas sunt magnam vero nam earum. Magnam eum vitae qui. Vel atque accusantium in non rem non et.','consectetur','1984-06-28 16:22:44'),
(4,5,'audio','Quod nihil possimus id qui. Quasi officia rerum eum doloribus est voluptas maxime. Et debitis enim non enim fugit.','repellat','1981-12-11 16:04:11'),
(3,1,'text','Qui voluptatem earum temporibus rem vel sequi. Et quasi vel qui est autem aliquam. Modi est voluptatem aut rerum ea velit. Voluptate et eligendi debitis nostrum nihil dolorum.','nihil','1988-02-16 13:29:14'),
(3,2,'image','Rem et ullam cum vitae autem reprehenderit quia. Enim a ipsam id ut aliquam est error. Quis dolorum omnis expedita eaque maiores illo.','et','2015-04-07 18:02:42')
;"""
push(insert_query)

Succesfully connect
####################
INSERT INTO succesfully

In [ ]:
# личные сообщения
select_query = """
SELECT *
FROM private_messages 
WHERE sender_id = 1;"""

display(pd.DataFrame(push(select_query)))

select_query = """
SELECT *
FROM private_messages 
WHERE receiver_id = 1;"""

display(pd.DataFrame(push(select_query)))

Succesfully connect
####################
SELECT * succesfully

,id,sender_id,receiver_id,reply_to_id,media_type,body,filename,created_at,is_deleted
0,12,1,2,None,text,Eveniet suscipit ullam occaecati consequatur h...,officiis,2010-04-07 09:01:02,b'\x00'
1,14,1,3,None,text,Voluptas qui consequatur quae sunt et consequa...,excepturi,1998-10-28 20:08:01,b'\x00'
2,15,1,4,None,video,Est delectus tempora exercitationem atque temp...,vitae,2001-12-03 15:54:43,b'\x00'
3,16,1,2,None,video,Est ducimus amet et asperiores. Reiciendis deb...,optio,1970-09-18 20:39:35,b'\x00'
4,17,1,2,None,video,Quis cupiditate quis maxime et placeat consect...,laboriosam,1980-05-11 03:39:43,b'\x00'

Succesfully connect
####################
SELECT * succesfully

,id,sender_id,receiver_id,reply_to_id,media_type,body,filename,created_at,is_deleted
0,13,2,1,None,audio,Non repudiandae maiores molestiae vel doloribu...,qui,1971-05-29 07:31:20,b'\x00'
1,18,2,1,None,audio,Voluptatum nihil rem laboriosam delectus aperi...,sit,1988-08-19 10:30:44,b'\x00'
2,21,3,1,None,text,Qui voluptatem earum temporibus rem vel sequi....,nihil,1988-02-16 13:29:14,b'\x00'

In [ ]:
# диалог между user_id = 1 и user_id = 2
select_query = """
SELECT *
FROM private_messages 
WHERE sender_id = 1 AND receiver_id = 2 
    OR sender_id = 2 AND receiver_id = 1
ORDER BY created_at desc;"""

display(pd.DataFrame(push(select_query)))

Succesfully connect
####################
SELECT * succesfully

,id,sender_id,receiver_id,reply_to_id,media_type,body,filename,created_at,is_deleted
0,12,1,2,None,text,Eveniet suscipit ullam occaecati consequatur h...,officiis,2010-04-07 09:01:02,b'\x00'
1,18,2,1,None,audio,Voluptatum nihil rem laboriosam delectus aperi...,sit,1988-08-19 10:30:44,b'\x00'
2,17,1,2,None,video,Quis cupiditate quis maxime et placeat consect...,laboriosam,1980-05-11 03:39:43,b'\x00'
3,13,2,1,None,audio,Non repudiandae maiores molestiae vel doloribu...,qui,1971-05-29 07:31:20,b'\x00'
4,16,1,2,None,video,Est ducimus amet et asperiores. Reiciendis deb...,optio,1970-09-18 20:39:35,b'\x00'

In [ ]:
#	непрочитанные сообщения

# добавим колонку is_read DEFAULT FALSE
add_column_query = """
ALTER TABLE private_messages
ADD COLUMN is_read BIT DEFAULT false NOT NULL;"""

push(add_column_query)

Succesfully connect
####################
ALTER TABLE succesfully

In [ ]:
# сколько у меня непрочитанных сообщений от пользователя Х
select_query = """
SELECT COUNT(*)
FROM private_messages 
WHERE sender_id = 2 and receiver_id = 1
	AND is_read = 0;"""

display(pd.DataFrame(push(select_query)))

Succesfully connect
####################
SELECT COUNT(*) succesfully

   COUNT(*)
0         2

In [ ]:
# сколько у меня всего непрочитанных сообщений
select_query = """
SELECT COUNT(*)
FROM private_messages 
WHERE receiver_id = 1 
	AND is_read = 0;"""

display(pd.DataFrame(push(select_query)))

Succesfully connect
####################
SELECT COUNT(*) succesfully

   COUNT(*)
0         3

In [ ]:
# отметим сообщения, как прочитанные
# эмулируем ситуацию, что пользователь прочитал определенный диалог

update_query = """
UPDATE private_messages
SET is_read = 1
WHERE receiver_id = 1 AND sender_id = 2;"""

push(update_query)

Succesfully connect
####################
UPDATE private_messages succesfully

In [ ]:
# сколько у меня всего непрочитанных сообщений
select_query = """
SELECT COUNT(*)
FROM private_messages 
WHERE receiver_id = 1 
	AND is_read = 0;"""

display(pd.DataFrame(push(select_query)))

Succesfully connect
####################
SELECT COUNT(*) succesfully

   COUNT(*)
0         1

## 4.3 Агрегирующие функции (COUNT, MIN, MAX, AVG, SUM)

In [ ]:
display(pd.DataFrame(push('SELECT * FROM private_messages')))

Succesfully connect
####################
SELECT * succesfully

,id,sender_id,receiver_id,reply_to_id,media_type,body,filename,created_at,is_deleted,is_read
0,9,4,5,None,audio,Quod nihil possimus id qui. Quasi officia reru...,repellat,1981-12-11 16:04:11,b'\x00',b'\x00'
1,12,1,2,None,text,Eveniet suscipit ullam occaecati consequatur h...,officiis,2010-04-07 09:01:02,b'\x00',b'\x00'
2,13,2,1,None,audio,Non repudiandae maiores molestiae vel doloribu...,qui,1971-05-29 07:31:20,b'\x00',b'\x01'
3,14,1,3,None,text,Voluptas qui consequatur quae sunt et consequa...,excepturi,1998-10-28 20:08:01,b'\x00',b'\x00'
4,15,1,4,None,video,Est delectus tempora exercitationem atque temp...,vitae,2001-12-03 15:54:43,b'\x00',b'\x00'
5,16,1,2,None,video,Est ducimus amet et asperiores. Reiciendis deb...,optio,1970-09-18 20:39:35,b'\x00',b'\x00'
6,17,1,2,None,video,Quis cupiditate quis maxime et placeat consect...,laboriosam,1980-05-11 03:39:43,b'\x00',b'\x00'
7,18,2,1,None,audio,Voluptatum nihil rem laboriosam delectus aperi...,sit,1988-08-19 10:30:44,b'\x00',b'\x01'
8,19,2,4,None,audio,Nemo eos sed aspernatur voluptates perspiciati...,consectetur,1984-06-28 16:22:44,b'\x00',b'\x00'
9,20,4,5,None,audio,Quod nihil possimus id qui. Quasi officia reru...,repellat,1981-12-11 16:04:11,b'\x00',b'\x00'
10,21,3,1,None,text,Qui voluptatem earum temporibus rem vel sequi....,nihil,1988-02-16 13:29:14,b'\x00',b'\x00'
11,22,3,2,None,image,Rem et ullam cum vitae autem reprehenderit qui...,et,2015-04-07 18:02:42,b'\x00',b'\x00'

In [ ]:
# диалог между user_id = 1 и user_id = 2
select_query = """
SELECT *
FROM private_messages 
WHERE (sender_id = 1 AND receiver_id = 2 
    OR sender_id = 2 AND receiver_id = 1) AND media_type = 'image'
;"""

display(pd.DataFrame(push(select_query)))

Succesfully connect
####################
SELECT * succesfully

Empty DataFrame
Columns: []
Index: []

In [ ]:
# сколько у меня непрочитанных сообщений от пользователя Х
select_query = """
SELECT COUNT(*)
from private_messages 
WHERE sender_id = 2 AND receiver_id = 1
	AND is_read = 1;"""

display(pd.DataFrame(push(select_query)))

Succesfully connect
####################
SELECT COUNT(*) succesfully

   COUNT(*)
0         2

In [ ]:
# сколько у меня всего непрочитанных сообщений " \
select_query = """
SELECT COUNT(*)
FROM private_messages 
WHERE receiver_id = 1 
	AND is_read = 0;"""

display(pd.DataFrame(push(select_query)))

Succesfully connect
####################
SELECT COUNT(*) succesfully

   COUNT(*)
0         1

In [ ]:
print(pd.DataFrame(push('SHOW COLUMNS FROM users '))['Field'].to_list())

Succesfully connect
####################
SHOW COLUMNS succesfully
['id', 'firstname', 'lastname', 'login', 'email', 'password_hash', 'phone', 'date_of_birth', 'is_deleted']

In [ ]:
# COUNT, MIN, MAX, AVG, SUM
# год рождения каждого пользователя
select_query = """
SELECT YEAR(date_of_birth)
FROM users;"""

display(pd.DataFrame(push(select_query)))

Succesfully connect
####################
SELECT YEAR(date_of_birth) succesfully

   YEAR(date_of_birth)
0               2000.0
1               2021.0
2               1995.0
3               1999.0
4               2011.0
5               2011.0
6               2000.0
7                  NaN
8               2021.0

In [ ]:
# год рождения самого старшего пользователя" \
select_query = """
SELECT MIN(YEAR(date_of_birth))
FROM users;"""

display(pd.DataFrame(push(select_query)))

Succesfully connect
####################
SELECT MIN(YEAR(date_of_birth)) succesfully

   MIN(YEAR(date_of_birth))
0                      1995

In [ ]:
# год рождения самого младшего пользователя
select_query = """
SELECT MAX(YEAR(date_of_birth))
FROM users;"""

display(pd.DataFrame(push(select_query)))

Succesfully connect
####################
SELECT MAX(YEAR(date_of_birth)) succesfully

   MAX(YEAR(date_of_birth))
0                      2021

In [ ]:
# среднее значение года рождения"
select_query = """
SELECT AVG(YEAR(date_of_birth)) AS AVG_YEAR
FROM users;"""

display(pd.DataFrame(push(select_query)))

Succesfully connect
####################
SELECT AVG(YEAR(date_of_birth)) succesfully

    AVG_YEAR
0  2007.2500

In [ ]:
# округлим предыдущее значение
select_query = """
SELECT ROUND(AVG(YEAR(date_of_birth))) AS AVG_YEAR
FROM users;"""

display(pd.DataFrame(push(select_query)))

Succesfully connect
####################
SELECT ROUND(AVG(YEAR(date_of_birth))) succesfully

  AVG_YEAR
0     2007

## 4.4 Группировка (GROUP BY)

In [ ]:
push('DROP TABLE IF EXISTS user_settings')

create_table_query = """
CREATE TABLE user_settings(
    user_id BIGINT UNSIGNED NOT NULL,
    is_premium_account BIT,
    is_night_mode_enabled BIT,
    color_scheme ENUM('classic', 'day', 'tinted', 'night'),
    app_language ENUM('english', 'french', 'russian', 'german', 'belorussian', 'croatian', 'dutch'),
    status_text VARCHAR(70),
    notifications_and_sounds JSON,
    created_at DATETIME DEFAULT NOW()

    # CONSTRAINT fk_user_settings_user_id
    # FOREIGN KEY (user_id) REFERENCES users(id)
    # ON UPDATE CASCADE
    # ON DELETE RESTRICT
);"""

push(create_table_query)

Succesfully connect
####################
DROP TABLE succesfully
Succesfully connect
####################
CREATE TABLE succesfully

In [ ]:
push("""
INSERT INTO `user_settings` VALUES
(7,1,0,'classic','french','Voluptatem dignissimos minima magnam accusamus in. Nostrum facilis mol',NULL,'2004-11-01 22:49:30'),
(8,0,0,'night','belorussian','Accusantium incidunt voluptas sed facilis. Nam quas fugit magnam dolor',NULL,'2009-11-17 06:37:41'),
(6,0,1,'day','german','Ex aut eligendi et et ut ea nostrum. Quis illum recusandae vitae aut i',NULL,'1993-12-27 18:51:24'),
(4,1,0,'tinted','dutch','Aut quam qui id eligendi voluptatum reiciendis. Voluptatibus consequat',NULL,'2002-11-18 13:28:08'),
(9,0,0,'tinted','belorussian','Dolorum aliquid dicta non fugit debitis labore. Est nulla modi dolor o',NULL,'2015-06-07 00:46:10'),
(12,0,1,'tinted','dutch','Aut aut quam quidem nesciunt nostrum enim. Enim eos excepturi neque pe',NULL,'1984-10-07 06:33:23'),
(18,0,0,'day','dutch','Officia enim tenetur eos et. Deleniti dolore quasi fugiat omnis. Tenet',NULL,'2001-06-25 17:05:30'),
(13,1,1,'tinted','english','Assumenda ex suscipit voluptas hic molestias reprehenderit. Et ut dolo',NULL,'1986-11-24 05:46:59'),
(19,1,0,'classic','german','Vitae ut labore in eos. Minima sapiente vel consectetur et quasi est d',NULL,'1993-07-20 06:20:33'),
(3,0,1,'classic','belorussian','Quod dolorum velit soluta nihil. Quia animi et porro voluptatem totam.',NULL,'1978-12-02 08:27:54'),
(5,0,0,'tinted','croatian','Voluptas natus et eos illo. At fugit reprehenderit qui aut ea voluptat',NULL,'1974-09-26 08:34:59'),
(20,0,1,'day','belorussian','Aut vitae est perspiciatis molestiae neque porro. Eum ipsam saepe omni',NULL,'1970-01-16 04:32:11'),
(15,1,1,'day','english','Perferendis tempora consectetur soluta impedit. Recusandae quam ut con',NULL,'2017-07-24 17:01:41'),
(16,1,0,'night','english','Totam aliquam sed iste enim sint. Sint qui laboriosam quia rerum nam a',NULL,'2012-04-17 00:42:52'),
(17,0,1,'day','belorussian','Totam totam iusto similique nulla. Dolores ut saepe soluta quasi aperi',NULL,'1992-09-20 05:44:21'),
(11,0,1,'night','french','Ut error sed et quaerat nesciunt. Quo laudantium illo adipisci dicta a',NULL,'1983-09-14 16:30:55'),
(10,1,0,'tinted','dutch','In autem neque nulla laudantium. Culpa unde laudantium est. Et pariatu',NULL,'2006-01-10 12:02:51'),
(2,0,1,'classic','belorussian','Omnis voluptates voluptatum odio modi quasi. Quibusdam sed debitis et ',NULL,'2007-10-25 07:38:32')
""")

Succesfully connect
####################
INSERT INTO succesfully

In [ ]:
add_foreign_key_query = """
ALTER TABLE user_settings
ADD CONSTRAINT fk_language_id_id
FOREIGN KEY (language_id) REFERENCES languages(id)
ON DELETE CASCADE
ON UPDATE CASCADE;
"""
push(add_property_query)

Succesfully connect
####################
ALTER TABLE succesfully

In [ ]:
# вся таблица user_settings
select_query = """
SELECT *
FROM user_settings"""

pd.DataFrame(push(select_query))

Succesfully connect
####################
SELECT * succesfully

,user_id,is_premium_account,is_night_mode_enabled,color_scheme,app_language,status_text,notifications_and_sounds,created_at
0,2,b'\x00',b'\x01',classic,belorussian,Omnis voluptates voluptatum odio modi quasi. Q...,None,2007-10-25 07:38:32
1,3,b'\x00',b'\x01',classic,belorussian,Quod dolorum velit soluta nihil. Quia animi et...,None,1978-12-02 08:27:54
2,4,b'\x01',b'\x00',tinted,dutch,Aut quam qui id eligendi voluptatum reiciendis...,None,2002-11-18 13:28:08
3,5,b'\x00',b'\x00',tinted,croatian,Voluptas natus et eos illo. At fugit reprehend...,None,1974-09-26 08:34:59
4,6,b'\x00',b'\x01',day,german,Ex aut eligendi et et ut ea nostrum. Quis illu...,None,1993-12-27 18:51:24
5,7,b'\x01',b'\x00',classic,french,Voluptatem dignissimos minima magnam accusamus...,None,2004-11-01 22:49:30
6,8,b'\x00',b'\x00',night,belorussian,Accusantium incidunt voluptas sed facilis. Nam...,None,2009-11-17 06:37:41
7,9,b'\x00',b'\x00',tinted,belorussian,Dolorum aliquid dicta non fugit debitis labore...,None,2015-06-07 00:46:10
8,10,b'\x01',b'\x00',tinted,dutch,In autem neque nulla laudantium. Culpa unde la...,None,2006-01-10 12:02:51
9,11,b'\x00',b'\x01',night,french,Ut error sed et quaerat nesciunt. Quo laudanti...,None,1983-09-14 16:30:55
10,12,b'\x00',b'\x01',tinted,dutch,Aut aut quam quidem nesciunt nostrum enim. Eni...,None,1984-10-07 06:33:23
11,13,b'\x01',b'\x01',tinted,english,Assumenda ex suscipit voluptas hic molestias r...,None,1986-11-24 05:46:59
12,15,b'\x01',b'\x01',day,english,Perferendis tempora consectetur soluta impedit...,None,2017-07-24 17:01:41
13,16,b'\x01',b'\x00',night,english,Totam aliquam sed iste enim sint. Sint qui lab...,None,2012-04-17 00:42:52
14,17,b'\x00',b'\x01',day,belorussian,Totam totam iusto similique nulla. Dolores ut ...,None,1992-09-20 05:44:21
15,18,b'\x00',b'\x00',day,dutch,Officia enim tenetur eos et. Deleniti dolore q...,None,2001-06-25 17:05:30
16,19,b'\x01',b'\x00',classic,german,Vitae ut labore in eos. Minima sapiente vel co...,None,1993-07-20 06:20:33
17,20,b'\x00',b'\x01',day,belorussian,Aut vitae est perspiciatis molestiae neque por...,None,1970-01-16 04:32:11

In [ ]:
# количество пользователей, сгруппированное по языкам
select_query = """
SELECT 
	COUNT(*),
	app_language
FROM user_settings
GROUP BY app_language;"""

pd.DataFrame(push(select_query))

Succesfully connect
####################

SELECT COUNT(*), succesfully

   COUNT(*) app_language
0         6  belorussian
1         4        dutch
2         1     croatian
3         2       german
4         2       french
5         3      english

In [ ]:
# то же, но с сортировкой по убыванию
select_query = """
SELECT 
	COUNT(*) AS cnt,
	app_language
FROM user_settings
GROUP BY app_language 
ORDER BY cnt DESC;"""

pd.DataFrame(push(select_query))

Succesfully connect
####################
SELECT COUNT(*) succesfully

   cnt app_language
0    6  belorussian
1    4        dutch
2    3      english
3    2       german
4    2       french
5    1     croatian

In [ ]:
# вся таблица подписчиков каналов
select_query = """
SELECT *
FROM channel_subscribers;"""

pd.DataFrame(push(select_query))

Succesfully connect
####################
SELECT * succesfully

   channel_id  user_id   status          created_at          updated_at
0           1        2     left 2025-03-13 16:49:57 2025-03-13 16:49:57
1           1        4  removed 2025-03-13 16:49:57 2025-03-13 16:49:57

In [ ]:
# самый популярный канал по кол-ву пользователей
select_query = """
SELECT 
	count(*) AS cnt,
	channel_id 
FROM channel_subscribers
GROUP BY channel_id 
ORDER BY cnt DESC 
LIMIT 1;"""

pd.DataFrame(push(select_query))

Succesfully connect
####################
SELECT count(*) succesfully

   cnt  channel_id
0    2           1

In [ ]:
pd.DataFrame(push('SELECT * FROM channel_subscribers'))

Succesfully connect
####################
SELECT * succesfully

   channel_id  user_id   status          created_at          updated_at
0           1        2     left 2025-03-13 16:49:57 2025-03-13 16:49:57
1           1        4  removed 2025-03-13 16:49:57 2025-03-13 16:49:57

In [ ]:
# то же, но с учетом статуса подписки
select_query = """
SELECT 
	count(*) AS cnt,
	channel_id 
FROM channel_subscribers
WHERE status = 'removed'
GROUP BY channel_id 
ORDER BY cnt DESC 
LIMIT 1;"""

pd.DataFrame(push(select_query))

Succesfully connect
####################
SELECT count(*) succesfully

   cnt  channel_id
0    1           1

## 4.5 Фильтрация (HAVING)

In [ ]:
insert_query = """ 
INSERT INTO `stories` VALUES
(1,3,NULL,'delectus',934918,'2016-06-02 14:12:41'),
(2,4,NULL,'error',7,'1980-07-02 13:00:43'),
(3,1,NULL,'ullam',1,'2011-09-22 13:21:39'),
(4,7,NULL,'sequi',73295000,'1991-07-03 04:40:57'),
(5,2,NULL,'aliquam',0,'2018-04-06 11:16:38'),
(6,2,NULL,'eos',834663,'2005-07-04 02:45:25'),
(7,9,NULL,'qui',9828218,'2008-08-19 18:28:21'),
(8,1,NULL,'sapiente',538,'2009-12-11 00:55:51'),
(9,7,NULL,'ut',12,'1976-11-24 17:52:27'),
(10,6,NULL,'reiciendis',7,'1975-12-05 23:26:09'),
(11,9,NULL,'quaerat',211025,'2009-04-07 01:58:55');"""

push(insert_query)

Succesfully connect
####################
Connection refused...
(1452, 'Cannot add or update a child row: a foreign key constraint fails (`stepik`.`stories`, CONSTRAINT `stories_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`))')

In [ ]:
# все сториз
select_query = """
SELECT *
FROM stories;"""

pd.DataFrame(push(select_query))

Succesfully connect
####################
SELECT * succesfully

Empty DataFrame
Columns: []
Index: []

In [ ]:
# сториз указанного пользователя (одного)
select_query = """
SELECT *
FROM stories 
WHERE user_id = 1;"""

pd.DataFrame(push(select_query))

Succesfully connect
####################
SELECT * succesfully

Empty DataFrame
Columns: []
Index: []

In [ ]:
# сториз нескольких пользователей (заданы множеством номеров)
select_query = """
SELECT *
FROM stories 
WHERE user_id IN (2,3,4,5);"""

pd.DataFrame(push(select_query))

Succesfully connect
####################
SELECT * succesfully

Empty DataFrame
Columns: []
Index: []

In [ ]:
# то же с фильтрцией HAVING
select_query = """
SELECT *
FROM stories 
HAVING user_id IN (2,3,4,5);"""

pd.DataFrame(push(select_query))

Succesfully connect
####################
SELECT * succesfully

Empty DataFrame
Columns: []
Index: []

In [ ]:
# то же, плюс сортировка
select_query = """
SELECT *
FROM stories 
WHERE user_id IN (2,3,4,5)
ORDER BY id;"""

pd.DataFrame(push(select_query))

Succesfully connect
####################
SELECT * succesfully

Empty DataFrame
Columns: []
Index: []

In [ ]:
select_query = """
SELECT *
FROM stories 
HAVING user_id IN (2,3,4,5)
ORDER BY id;"""

pd.DataFrame(push(select_query))

Succesfully connect
####################
SELECT * succesfully

Empty DataFrame
Columns: []
Index: []

## 4.6 Отсутствие значения (NULL) и логическое условие IF

In [ ]:
# все записи в таблице users
select_query = """
SELECT *
FROM users;"""

pd.DataFrame(push(select_query))

Succesfully connect
####################
SELECT * succesfully

,id,firstname,lastname,login,email,password_hash,phone,date_of_birth,is_deleted
0,1,Kelsie,Olson,None,xheidenreich@example.net,None,9548492646,2000-01-01,b'\x00'
1,2,Lucile,Rolfson,None,dbartell@example.net,None,9258387168,2021-01-01,b'\x00'
2,3,Lori,Koch,None,damaris34@example.net,None,9192291407,1995-01-01,b'\x00'
3,4,Sam,Kuphal,None,telly.miller@example.net,None,9917826315,1999-01-01,b'\x00'
4,5,Celestino,Cruickshank,None,flavio.hammes2@example.com,None,9686686722,2011-01-01,b'\x00'
5,93,Gregory,Jenkins,None,weimann.richard@example.com,None,9860971258,2011-01-01,b'\x00'
6,101,Eleonore,Ward,None,antonietta333@example.com,None,9397815333,2000-01-01,b'\x00'
7,106,Miguel,Watsica,hassan_kuphal,hassan.kuphal@example.org,None,9824696112,None,b'\x00'
8,107,Sam2,Kuphal2,None,telly.miller222@example.net,None,9917826222,2021-01-01,b'\x00'

In [ ]:
# запись со значением '0' в поле phone
select_query = """
SELECT *
FROM users
WHERE phone = 0;"""

pd.DataFrame(push(select_query))

Succesfully connect
####################
SELECT * succesfully

Empty DataFrame
Columns: []
Index: []

In [ ]:
# все записи без телефонов (NULL в поле phone)
select_query = """
SELECT *
FROM users
WHERE date_of_birth IS NULL;"""

pd.DataFrame(push(select_query))

Succesfully connect
####################
SELECT * succesfully

,id,firstname,lastname,login,email,password_hash,phone,date_of_birth,is_deleted
0,106,Miguel,Watsica,hassan_kuphal,hassan.kuphal@example.org,None,9824696112,None,b'\x00'

In [ ]:
# все записи с указанным телефоном (любое значение, кроме NULL)
select_query = """
SELECT *
FROM users
WHERE date_of_birth IS NOT NULL;"""

pd.DataFrame(push(select_query))

Succesfully connect
####################
SELECT * succesfully

,id,firstname,lastname,login,email,password_hash,phone,date_of_birth,is_deleted
0,1,Kelsie,Olson,None,xheidenreich@example.net,None,9548492646,2000-01-01,b'\x00'
1,2,Lucile,Rolfson,None,dbartell@example.net,None,9258387168,2021-01-01,b'\x00'
2,3,Lori,Koch,None,damaris34@example.net,None,9192291407,1995-01-01,b'\x00'
3,4,Sam,Kuphal,None,telly.miller@example.net,None,9917826315,1999-01-01,b'\x00'
4,5,Celestino,Cruickshank,None,flavio.hammes2@example.com,None,9686686722,2011-01-01,b'\x00'
5,93,Gregory,Jenkins,None,weimann.richard@example.com,None,9860971258,2011-01-01,b'\x00'
6,101,Eleonore,Ward,None,antonietta333@example.com,None,9397815333,2000-01-01,b'\x00'
7,107,Sam2,Kuphal2,None,telly.miller222@example.net,None,9917826222,2021-01-01,b'\x00'

## 4.7 Пейджинг (LIMIT + OFFSET)

## 4.8 Условия, ветвления (IF, CASE)

In [7]:
numbers = [5, 3, 8, 6, 1, 9, 2, 7, 4, 0]

result = numbers[2:8:2]

print(numbers)

[5, 3, 8, 6, 1, 9, 2, 7, 4, 0]

21

# 5  Сложные SELECT запросы

## 5.1 Вложенные запросы (подзапросы)

## 5.2 Объединения (JOIN)

## 5.3 Объединения (CROSS JOIN, INNER JOIN)

## 5.4 Объединения (LEFT JOIN, RIGHT JOIN)

## 5.5 Объединения (FULL OUTER JOIN)

## 5.6 Вложенные запросы VS объединения

## 5.7 Соединения (UNION)

## 5.8 Оконные функции

## 5.9 Общие табличные выражения (CTE)

## 5.10 Рекурсивные табличные выражения